<div class="header">
{if $va_header}
	<img src="{$va_header}" border="0" />
{/if}
</div>

<br />

{if $not_title != 1}
<div id="FormTtl">
	{if $formWord.word14 != ""}
		{$formWord.word14|nl2br}
	{else}
		{$formData.form_name}
	{/if}
</div>
<br />
{/if}

<div id="Form">
		<!--エラーメッセージ-->
		{if $arrErr}
			<br />
			<div class="errmsg">
			{foreach from=$arrErr item=err}
				<p>{$err|escape}</p>
			{/foreach}
			</div>
			<br />
		{/if}

		<p>{$formData.agree_text|nl2br}</p>

		{if $formData.agree == "3"}
			<div id="agree">
				{if $formData.agree_type != 1}
					<input type="radio" name="agree" value="1" {if $arrForm.agree == "1"}checked{/if} />{$GLOBALS.msg.agree1}
					<input type="radio" name="agree" value="" {if $arrForm.agree == ""}checked{/if} />{$GLOBALS.msg.agree2}
				{else}
					<input type="checkbox" name="agree" value="1" {if $arrForm.agree == "1"}checked{/if} />
					{$formData.agree_chktext|default:$GLOBALS.msg.agreechk}
				{/if}
			</div>

		{elseif $formData.agree == "4"}
			<input type="hidden" name="agree" value="1" />
		{/if}
		<div class="btn">
			<div>
				<span class="red">
				Passport copy is necessary for registration in the next page.<br/>
				Please prepare the copy (JPEG image or PDF, up to 1MB) of your passport.
				</span>
			</div><br/>

			<input type="button" value="{$GLOBALS.msg.btn_next}" onclick="f_next();" />
		</div>
</div>

<!-- フッター-->
<div class="footer">{$formData.contact|nl2br}</div>