{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
            {*テキスト*}
            {if $_formItem.item_type == "0"}
	            {$_formItem.item_memo}<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="5" />

				{assign var="item_id"   value="104"}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var="edata"     value="edata`$item_id`"}
				{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
					&nbsp;
					{$_formItem.item_memo}<input type="text" name="{$edata}" id="{$edata}" value="{$arrForm.$edata|escape}" size="5" />
				{/if}
				{assign var="item_id"   value="105"}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var="edata"     value="edata`$item_id`"}
				{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
					&nbsp;
					{$_formItem.item_memo}<input type="text" name="{$edata}" id="{$edata}" value="{$arrForm.$edata|escape}" size="5" />
				{/if}
            {/if}
        </td>
    </tr>
{/if}
