<table class="listtbl" id="entrylist">
	<tr>
		<th><input type="checkbox" name="all" id="all" value="" /></th>
		<th class="">登録No.</th>
		<th class="width280">応募者</th>
		{if $GLOBALS.userData.lang == "2"}
		     {if $formitemview.60 != "1"}
		         <th>国名</th>
		     {/if}
		     {if $formitemview.114 != "1"}
		         <th>Country</th>
		     {/if}
		{/if}

		<th>状態</th>
		{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}<th>支払い方法</th>{/if}
		{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}<th>支払いステータス</th>{/if}
		{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit == "2"}<th>決済取引番号</th>{/if}
		<th width="70px">受付日</th>
		<th width="70px">更新日</th>
		<th class="width100">処理</th>
	</tr>

	{foreach from=$arrData.list item=entry}
	<tr class="entry_row {if $entry.invalid_flg ==1}disabled{/if}">
		<td class="c">
			<input type="hidden"   name="eid[{$entry.eid|escape}]" value="0">
			<input type="checkbox" name="eid[{$entry.eid|escape}]" value="1" {if $arrEid[$arrForm.page][$entry.eid] == 1}checked{/if} />
		</td>
		<td>{$entry.entry_no}</td>
		<td>{$entry.edata1|escape} {$entry.edata2|escape}</td>
		{if $GLOBALS.userData.lang == "2"}
		     {if $formitemview.60 != "1"}
		         <td>{$entry.edata60|escape}</td>
		     {/if}
		     {if $formitemview.114 != "1"}
		         <td>{$GLOBALS.country[$entry.edata114]}</td>
		     {/if}
		 {/if}

		<td>{if $entry.invalid_flg ==0}{$GLOBALS.entryStatusList[$entry.status]|default:"-"}{else}欠番{/if}</td>

		{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}
			<td>{$GLOBALS.method_J[$entry.payment_method]}</td>
		{/if}


		{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}
			<td>{$GLOBALS.paymentstatusList[$entry.payment_status]}</td>
		{/if}

		{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit == "2"}
			<td>{$entry.order_id}</td>
		{/if}

		<td>{$entry.rdate|date_format:"%Y-%m-%d %H:%M:%S"}</td>
		<td>{$entry.udate|date_format:"%Y-%m-%d %H:%M:%S"}</td>
		<td class="c" nowrap>
			<input type="button" value="詳細" onclick="f_detail('{$entry.eid|escape}');" />
			<input type="button" value="編集" onclick="f_edit('2','{$entry.eid|escape}');" />

			<!--<input type="button" value="削除" onclick="f_edit('3','{$entry.entry_id}');" />-->
		</td>
	</tr>
	{/foreach}

</table>
