<br />
<table class="listtbl">
<caption>お支払い情報</caption>
<tr>
	<th class="width150">支払い方法</th>
	<td>{$GLOBALS.method_J[$arrPayment.payment_method]}</td>
</tr>
<tr>
	<th class="width150">金額</th>
	<td>{$arrPayment.price|number_format}円</td>
</tr>
<tr>
    <th class="width150">明細</th>
    <td>
        <table class="payment_detail">
            <tr>
                <td>項目</td>
                <td>単価</td>
                <td>数量</td>
            </tr>
            {foreach from=$payment_detail key=_key item=detail}
			{if $_key == 0}{php}continue;{/php}{/if}
             <tr>
                <td>{$va_ather_header[$detail.key]} {$detail.name|del_tags}</td>
                <td>{if $detail.price|is_numeric}{$detail.price|number_format}円{else}{$detail.price}{/if}</td>
                <td>{$detail.quantity|escape}</td>

            </tr>
            {/foreach}
        </table>
    </td>
</tr>

<tr>
	<th class="width150">ステータス</th>
	<td>{$GLOBALS.paymentstatusList[$arrPayment.payment_status]}</td>
</tr>
{if $arrPayment.payment_method == "1"}
	<tr>
		<th class="width150">クレジット</th>
		<td>
			<ul class="nonstyle">
				<li>{$GLOBALS.card_type_J[$arrPayment.c_company]|escape}
					{$GLOBALS.jpo1_J[$arrPayment.c_method]|escape}
					{if $arrPayment.c_split != ""}{$arrPayment.c_split|escape}回{/if}
				</li>
				<li>クレジット番号:{$arrPayment.c_number|escape}</li>
				<li>有効期限:{$arrPayment.c_date|escape}</li>
				<li>名義人:{$arrPayment.c_holder|escape}</li>
				<li>セキュリティコード:{$arrPayment.c_scode|escape}</li>
			</ul>
		</td>
	</tr>
{elseif $arrPayment.payment_method == "2"}
	<tr>
		<th class="width150">振込情報</th>
		<td>
			<ul class="nonstyle">
				<li>お振込み人名義:{$arrPayment.lessee|escape}</li>
				<li>お支払銀行名:{$arrPayment.bank|escape}</li>
				<li>お振込み日:{$arrPayment.closure|escape}</li>
			</ul>
		</td>
	</tr>
{/if}
</table>