{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	{obi mode="input"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
        	{foreach from=$birthDates item=birthDate}
        		{assign var=_formItem    value=$birthDateItems.$birthDate}
        		{assign var=edata    value="edata`$birthDate`"}
                <select name="{$edata}" class="{$edata}" {attr}>
                    <option vlaue=""></option>
                    {foreach from=$_formItem.select key=s_key item=item name=select}
                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
                        {/if}
                    {/foreach}
                </select>
                {if $_formItem.item_memo != ""}{$_formItem.item_memo}{/if}
	        {/foreach}

	        
        </td>
    </tr>
{/if}
