{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}

{if $_formItem.disp != "1"}
	{obi mode="confirm"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>
        <td>
            {foreach from=$birthDates item=birthDate}
            	{assign var=edata    value="edata`$birthDate`"}
				{assign var=data     value=$arrForm.$edata}
        		{assign var=_formItem    value=$birthDateItems.$birthDate}
                {$_formItem.select[$data]}
                {if $_formItem.item_memo != ""}{$_formItem.item_memo}{/if}
            {/foreach}
        </td>
    </tr>
{/if}
