<!--ファイルアップロード1-->
{if $_formItem.disp != "1"}
	{assign var=filecheck value=$arrForm.amount|@in_array:$filecheck}
	{if $filecheck}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}

		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}

			<input type="file" name="edata51" class="{$edata}" size="40" value="" {attr}/>
			<input type="hidden" name="n_data51" value="{$arrForm.n_data51}" />
			<input type="hidden" name="hd_file51" value="{$arrForm.hd_file51}" />
			<input type="hidden" name="file_upload51" value="{$arrForm.file_upload51}" />

			{if $arrForm.hd_file51 != ""}
				<br />
				{if $arrForm.n_data51 == $arrForm.hd_file51}
					<a href="javascript:f_down('51','1');">{$arrForm.hd_file51}</a>
				{else}
					<a href="javascript:f_down('51','2');">{$arrForm.hd_file51}</a>
				{/if}

                {if $_formItem.need != "1" || $admin_flg|strlen > 0}
				&nbsp;<input type="checkbox" name="file_del51" value="1"{if $arrForm.file_del51 == "1"} checked{/if} />Delete
				{/if}
			{/if}

		</td>
	</tr>
	{/if}
{/if}