{if $eid == ""}
    <div class="bname">{if $formData.lang == $smarty.const.LANG_JPN}お支払い金額{else}Fee{/if}</div>

    <!--支払金額説明 -->
    {if $formWord.word8 != ""}
        <div class="bcomment">{$formWord.word8|nl2br}</div>
    {/if}


    {if $formData.pricetype == "2"}
        <table class="rtbl fee2" id="money_fee_area">
            <tr>
                <th class="iname">{$v_head.price_header}&nbsp;</th>
                <th class="iname">{$v_head.price_head0}</th>
                {* 表示形式がearly+lateのみ表示 *}
                {if $disp == 2}<th class="iname">{$v_head.price_head1}</th>{/if}
            </tr>

            {foreach from=$va_price key=p_key item=p_item name=select}
                <tr>
                    {foreach from=$p_item key=p_key2 item=price}
                        {if $p_key2 == "p3" || $p_key2 == "key"}
                        {elseif $p_key2 == "name"}
                            <td class="iname">
                                <input type="radio" name="amount" class="amount" id="amount_{$p_key|escape}" value="{$p_key|escape}" {if $arrForm.amount == $p_key && $arrForm.amount != ""}checked{/if} />{$price}
                            </td>
                        {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                            <td class="cent">
                                <div class="inner_price1">
                                {if $price|is_numeric}
                                    {show_price}
                                {else}
                                    {$price}
                                {/if}
                                </div>
                                <span id="{$p_key2}_{$p_key}" style="display:none;">{$price}</span>
                            </td>
                        {/if}

                    {/foreach}
                </tr>
            {/foreach}

        </table>
        
    {elseif $formData.pricetype == "1"}
    	{if $hide_fee_area}
        		<input type="hidden" name="amount" value="hide" />
        {else}
	        <table class="rtbl fee1" id="money_fee_area">
	            <tr>
	                <th class="iname">&nbsp;</th>
	                <th class="iname">{$v_head.price_head0}</th>
	                {* 表示形式がearly+lateのみ表示 *}
	                {if $disp == 2}<th class="iname">{$v_head.price_head1}</th>{/if}
	            </tr>
	            {foreach from=$va_price key=p_key item=p_item name=select}
	                <tr>
	                    <td class="iname">{$v_head.price_header}&nbsp;</td>
	                    {foreach from=$p_item key=p_key2 item=price}
	                        {if $p_key2 == "key"}
	                        {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
	                            <td class="cent">
	                                {if $price|is_numeric}
	                                    {show_price}
	                                {else}
	                                    {$price}
	                                {/if}
	                                <input type="hidden" name="amount" value="{$p_key|escape}" />
	                                <span id="{$p_key2}_{$p_key}" style="display:none;">{$price}</span>
	                                </td>
	                            {/if}
	                        {/foreach}
	                    </tr>
	                {/foreach}
	            </table>
			{/if}

        {/if}
        {if $formData.kessai_flg == "1" && $formData.ather_price_flg != "1" && $formData.ather_price != ""}
            <br />

            <table class="rtbl" id="money_option_area">
                <tr>
                    <th class="iname">{$v_head.ather_price_header}&nbsp;</th>
                    <th class="iname">{$v_head.ather_price_head0}</th>
                    {* 表示形式がearly+lateのみ表示 *}
                    {if $disp == 2}<th class="iname">{$v_head.ather_price_head1}</th>{/if}
                    <th class="iname">&nbsp;</th>
                </tr>
                {foreach from=$va_ather_price key=p_key item=p_item name=select}
                    <tr>
                        {foreach from=$p_item key=p_key2 item=price}
                            {if $p_key2 != "limit" && $p_key2 != "tani"}
                                {if $p_key2 == "name"}
                                    <td class="iname">
                                        {$price}
                                    </td>
                                {elseif $p_key2 == "tani2"}
                                    {assign var=ather_price value=ather_price`$p_key`}
                                    <td>
                                        <select name="ather_price{$p_key}" id="p1_{$p_key}"
                                        {if $ather_price|array_key_exists:$arrQuotaDisabled && $arrQuotaDisabled[$ather_price] <= 0}disabled{/if} 
                                        >
                                            <option value="">0</option>
                                            {section name=cnt start=1 loop=$p_item.limit+1}
                                                {assign var="index" value=$smarty.section.cnt.index}
                                                {assign var="selected" value=""}
                                                {if $index == $arrForm[$ather_price]}{assign var="selected" value="selected"}{/if}
                                                <option value="{$index}" {$selected}>{$index}</option>
                                            {/section}
                                        </select>&nbsp;{$price}
{*<input type="text" name="ather_price{$p_key}" value="{$arrForm[$ather_price]|escape}" style="width:24px;" />{$price}*}
                                </td>
                            {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                                <td class="cent">
                                    <div class="inner_price2">
                                    {if $price|is_numeric}
                                        {show_price}
                                    {else}
                                        {$price}
                                    {/if}
                                    </div>
                                    <span id="option_{$p_key2}_{$p_key}" style="display:none;">{$price}</span>
                                </td>
                            {/if}
                        {/if}

                    {/foreach}
                </tr>
            {/foreach}
        </table>
    {/if}
{else}
    {*外部ファイルの読み込みがある場合 *}
    {if $money_edit_inc_flg == "1"}
        {assign var=tpl value=`$tpl_edit_name`}
        {include file="$includeDir`$tpl`"}
    {else}
        {include file="Usr/form/Usr_money_edit_e.html"}
    {/if}
{/if}


{if $method_layout_hidden}
    {foreach from=$va_method key=p_key item=item name=select}
        <input type="hidden" name="method" value="{$p_key|escape}" />
    {/foreach}
{else}
    <div class="bname">{if $formData.lang == $smarty.const.LANG_JPN}お支払い方法選択{else}Payment Method{/if}</div>

    <table class="rtbl"><tr><td>
    {assign var="method" value=$arrForm.method}
    {if $eid != ""}
        {$va_method.$method}
        <input type="hidden" name="method" value="{$method|escape}" />
    {else}
        {foreach from=$va_method key=p_key item=item name=select}
            <input type="radio" name="method" class="method" id="method_{$p_key|escape}" value="{$p_key|escape}" {if $method == $p_key}checked{/if} />{$item}
        {/foreach}
    {/if}
    </td></tr></table>
{/if}

<!--支払方法説明 -->
{if $formWord.word9 != ""}
    <br />
    <div class="bcomment">{$formWord.word9|nl2br}</div>
{/if}
