<div class="bname">お支払い金額</div>

<!--支払金額説明 -->
{if $formWord.word8 != ""}
    <div class="bcomment">{$formWord.word8|nl2br}</div>
{/if}

{if $arrPayment|@count > 0}
    <table class="rtbl">
        <tr>
            <th class="iname">項目</td>
            <th class="iname">単価</td>
            <th class="iname">数量</td>
        </tr>

        {foreach from=$arrPayment item=detail}
         <tr>
            <td class="iname">
                {if $detail.type == 0}
                    {$detail.name|show_amount}
                {else}
                    {$detail.name}
                {/if}
            </td>

            <td class="cent">
                {if $detail.price|is_numeric}
                    {$yen_mark}{$detail.price|number_format}
                {else}
                    {$detail.price}
                {/if}
            </td>

            <td>
                {$detail.quantity|escape}
                {if $detail.type == 0}
                    <input type="hidden" name="amount" value="{$detail.key|escape}" />
                {else}
                    <input type="hidden" name="ather_price{$detail.key}" value="{$detail.quantity|escape}" />
                {/if}
            </td>
        </tr>
        {/foreach}
    </table>
{/if}


