{include file="include/usr_header.html"}

{literal}
<script language="JavaScript">

    function f_next(){
        var f = document.frm;
        f.mode.value = 'page';
        f.submit();
    }

    function f_back(){
        var f = document.frm;
        f.mode.value = 'back';
        f.submit();
    }

    function f_logout(){
        var f = document.frm;
        f.mode.value = 'logout';
        f.action = '../Usr_login.php?form_id={/literal}{$formData.form_id|escape}{literal}';
        f.submit();
    }


</script>
{/literal}


<form name="frm" method="post" enctype="multipart/form-data">

    <div class="header">

    {if $va_header}
        <img src="{$va_header}" border="0" />
    {/if}

    </div>

    {if $not_title != 1}
    <div id="FormTtl">
        {if $formWord.word14 != ""}
            {$formWord.word14|nl2br}
        {else}
            {$formData.form_name}
        {/if}
    </div>
    {/if}

    <!--管理者代行モードの場合-->
    {if $admin_flg != ""}
        <div id="UserID">
        <span id="admin_login">管理者　代行処理中&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        {if $eid != ""}
            ログインID:{$va_userdata.e_user_id}&nbsp;&nbsp;<a href="javascript:f_logout();">ログアウト</a>

        {/if}
        </div>
        <br />
    {else}
        {if $eid != ""}
            <div id="UserID">ログインID:{$va_userdata.e_user_id}&nbsp;&nbsp;<a href="javascript:f_logout();">ログアウト</a></div>
            <br />
        {/if}
    {/if}



    <div id="Form">

        <!--エラーメッセージ-->
        {if $arrErr}
            <br />
            <div class="errmsg">
            {foreach from=$arrErr item=err}
                <p>{$err|escape}</p>
            {/foreach}
            </div>
        {/if}


        <!-- 決済フォーム　-->
        <div class="bname">{if $formData.lang == $smarty.const.LANG_JPN}お支払情報{else}Payment Information{/if}</div>

        {*外部ファイルの読み込みがある場合 *}
        {if $payment_inc_flg == "1"}
            {assign var=tpl value=`$tpl_payment_name`}
            {include file="$includeDir`$tpl`"}

        {else}
            {if $total_price != 0}

                <!--支払情報 -->
                {if $formWord.word10 != ""}
                    <div class="bcomment">{$formWord.word10|nl2br}</div>
                {/if}

                {if $arrForm.method == "1"}
	                {include file="Usr/form/Usr_payment_parts.html"}

                    <table class="rtbl">
                    <tr>
                        <td class="iname">
                            {if $formData.lang == $smarty.const.LANG_JPN}カード会社{else}Card Type{/if}<span class="red">&nbsp;{$need_mark}</span>
                        </td>
                        <td>
                            {if $formWord.word31 != ""}{$formWord.word31}<br />{/if}
                            {foreach from=$va_card_type key=c_key item=item name=select}
                                <input type="radio" name="card_type" value="{$c_key}" {if $arrForm.card_type == $c_key}checked{/if} />{$item}
                            {/foreach}
                        </td>
                    </tr>
                    <tr>
                        <td class="iname">
                            {if $formData.lang == $smarty.const.LANG_JPN}クレジットカード番号{else}Card Number{/if}<span class="red">&nbsp;{$need_mark}</span>
                        </td>
                        <td>
                            {if $formWord.word32 != ""}{$formWord.word32}<br />{/if}
                            <input type="text" name="cardNumber" value="{$arrForm.cardNumber|escape}" size="30" /><br/>
                            {if $formData.lang == $smarty.const.LANG_JPN}
                            ※ハイフン（ - ）やスペース（空白）を除いて数字のみ入力ください。  
                            {else}
                            No spaces or dashes
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <td class="iname">
                            {if $formData.lang == $smarty.const.LANG_JPN}有効期限{else}Expiration Date{/if}<span class="red">&nbsp;{$need_mark}</span>
                        </td>
                        <td>
                            {if $formWord.word33 != ""}{$formWord.word33}<br />{/if}
                            <select name="cardExpire1">
                                <option value=""></option>
                                {html_options options=$month selected=$arrForm.cardExpire1}
                            </select>&nbsp;{if $formData.lang == $smarty.const.LANG_JPN}月{else}Month{/if}&nbsp;&nbsp;
                            <select name="cardExpire2">
                                <option value=""></option>
                                {html_options options=$year selected=$arrForm.cardExpire2}
                            </select>&nbsp;{if $formData.lang == $smarty.const.LANG_JPN}年{else}Year{/if}
                        </td>
                    </tr>

                    <tr>
                        <td class="iname">
                            {if $formData.lang == $smarty.const.LANG_JPN}カード名義人{else}Card Holder's Name{/if}<span class="red">&nbsp;{$need_mark}</span>
                        </td>
                        <td>
                            {if $formWord.word34 != ""}{$formWord.word34}<br />{/if}
                            <input type="text" name="cardHolder" value="{$arrForm.cardHolder|escape}" size="50" />
                            {if $formData.lang == $smarty.const.LANG_JPN}
                                <br/>
                                ※参加者名とカード名義人が異なる場合は、登録完了後、カード名義人様よりEメールまたは
                                FAX等書面にて<br/>登録事務局までご連絡ください。ご連絡いただけない場合は、お支払いをお受けできない場合がございます。
                            {else}
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <td class="iname">
                            {if $formData.lang == $smarty.const.LANG_JPN}セキュリティコード{else}Security Code{/if}<span class="red">&nbsp;{$need_mark}</span>
                        </td>
                        <td>
                            {if $formWord.word35 != ""}{$formWord.word35}<br />{/if}
                            <input type="text" name="securityCode" value="{$arrForm.securityCode|escape}" maxlength="4" />
                            {if $formData.lang == $smarty.const.LANG_JPN}
                                <br />※カード裏面のご署名欄右上に印字されている3桁の番号
                                <br />（AMEXの場合はカード表面右上に印字されている4桁の番号）
                            {else}
                                <br />[ Visa / MasterCard / JCB / Diners Club ]
                                <br />3-digit number printed on the back of your card. It appears after your credit card number (either 16-digit or only the last 4 digit).
                                <br />
                                <br />[ AMEX ]
                                <br />4-digit code printed on the front of your card. It appears after and to the right of your main credit card number.
                            {/if}
                        </td>
                    </tr>
                    </table>

                    {if $formWord.word16 != ""}
                        <br />
                        <div class="bcomment">{$formWord.word16|nl2br}</div>
                    {/if}

                {/if}


                {if $arrForm.method == "2"}
                    <table class="rtbl">

                    <tr>
                        <td class="iname">{if $formData.lang == $smarty.const.LANG_JPN}お振込み人名義{else}Name of remitter{/if}</td>
                        <td>
                            {if $formWord.word28 != ""}{$formWord.word28}<br />{/if}
                            <input type="text" name="lessee" value="{$arrForm.lessee|escape}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="iname">{if $formData.lang == $smarty.const.LANG_JPN}お支払銀行名{else}Name of the bank where you make remittance{/if}</td>
                        <td>
                            {if $formWord.word29 != ""}{$formWord.word29}<br />{/if}
                            <input type="text" name="bank" value="{$arrForm.bank|escape}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="iname">{if $formData.lang == $smarty.const.LANG_JPN}お振込み日{else}Date of remittance{/if}</td>
                        <td>
                            {if $formWord.word30 != ""}{$formWord.word30}<br />{/if}
                            <input type="text" name="closure" value="{$arrForm.closure|escape}" />
                        </td>
                    </tr>
                    </table>

                    {if $formWord.word15 != ""}
                        <br />
                        <div class="bcomment">{$formWord.word15|nl2br}</div>
                    {/if}

                {/if}
            {/if}
        {/if}
    </div>
    <!-- /Form -->

    <div class="btn">
    <input type="button" value="{$GLOBALS.msg.btn_return}" onclick="f_back();" />
    <input type="button" value="{$GLOBALS.msg.btn_next}" onclick="f_next();" />
    <br /><br />
    <div><span class="{$back_coution_class|default:"red"}">{$GLOBALS.msg.browser_back}</span></div>
    </div>

    <!-- フッター-->
    <div class="footer">{$formData.contact|nl2br}</div>


    <input type="hidden" name="eid" value="{$eid|escape}" />
    <input type="hidden" name="admin_flg" value="{$admin_flg|escape}" />
    <input type="hidden" name="mode" value="" />
    <input type="hidden" name="block" value="{$block|escape}" />


</form>
{include file="include/usr_footer.html"}