{include file="include/usr_header.html" onload=$onload}
{literal}
<script>
  function OnLoadEvent() {
	if(document.getElementById("reload").value == "1") return;
	document.getElementById("reload").value = "1";

    document.ACSCall.submit();
  }
</script>
{/literal}

<form name="ACSCall" action="{$ACSUrl}" method="POST">
	<div class="header">

	{if $va_header}
		<img src="{$va_header}" border="0" />
	{/if}

	</div>

	{if $not_title != 1}
	<div id="FormTtl">
		{if $formWord.word14 != ""}
			{$formWord.word14|nl2br}
		{else}
			{$formData.form_name}
		{/if}
	</div>
	{/if}

	<!--管理者代行モードの場合-->
	{if $admin_flg != ""}
		<div id="UserID">
		<span id="admin_login">管理者　代行処理中&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		{if $eid != ""}
			{$GLOBALS.msg.login_id}:{$va_userdata.e_user_id}&nbsp;&nbsp;<a href="javascript:f_logout();">ログアウト</a>
		{/if}
		</div>
		<br />
	{else}
		{if $eid != ""}
			<div id="UserID">{$GLOBALS.msg.login_id}:{$va_userdata.e_user_id}&nbsp;&nbsp;<a href="javascript:f_logout();">ログアウト</a></div>
			<br />
		{/if}
	{/if}


	<div id="Form">
		<!--エラーメッセージ-->
		{if $arrErr}
			<br />
			<div class="errmsg">
			{foreach from=$arrErr item=err}
				<p>{$err|escape}</p>
			{/foreach}
			</div>
		{/if}


		<!-- フォーム説明-->
		<div id="FormDesc">{$GLOBALS.msg.3d_send}</div>
	</div>


	<div class="btn">
		<input type="submit" value="{$GLOBALS.msg.btn_3d_send}">
		<div><span class="{$back_coution_class|default:"red"}">{$GLOBALS.msg.browser_back}</span></div>
	</div>

	<!-- フッター-->
	<div class="footer">{$formData.contact|nl2br}</div>


	<input type="hidden" name="reload" id="reload" value="0" />
	<input type="hidden" name="PaReq" value="{$PaReq}">
	<input type="hidden" name="TermUrl" value="{$TermUrl}{if $admin_flg == "1"}&admin_flg=2{/if}">
	<input type="hidden" name="MD" value="{$MD}">

</form>
{include file="include/usr_footer.html"}
