{include file="include/usr_header.html" onload=$onload}

{literal}
<script language="JavaScript">

	function f_submit(){
		if(document.getElementById("reload").value == "1") return;
		document.getElementById("reload").value = "1";
		var f = document.frm;
		f.mode.value = 'complete';
		f.submit();
	}

	function f_back(){
		var f = document.frm;
		f.mode.value = 'back';
		f.submit();
	}

	function f_logout(){
		var f = document.frm;
		f.mode.value = 'logout';
		f.action = '../Usr_login.php?form_id={/literal}{$formData.form_id|escape}{literal}';
		f.submit();
	}

</script>
{/literal}


<form name="frm" method="post" id="confirm">
	<input type="hidden" name="reload" id="reload" value="0" />

	<div class="header">

	{if $va_header}
		<img src="{$va_header}" border="0" />
	{/if}

	</div>

	<br />

	{if $not_title != 1}
	<div id="FormTtl">
		{if $formWord.word14 != ""}
			{$formWord.word14|nl2br}
		{else}
			{$formData.form_name}
		{/if}
	</div>
	{/if}

	<!--管理者代行モードの場合-->
	{if $admin_flg != ""}
		<div id="UserID">
		<span id="admin_login">管理者　代行処理中&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		{if $eid != ""}
			{$GLOBALS.msg.login_id}:{$va_userdata.e_user_id}&nbsp;&nbsp;<a href="javascript:f_logout();">{$GLOBALS.msg.btn_logout}</a>
		{/if}
		</div>
		<br />
	{else}
		{if $eid != ""}
			<div id="UserID">{$GLOBALS.msg.login_id}:{$va_userdata.e_user_id}&nbsp;&nbsp;<a href="javascript:f_logout();">{$GLOBALS.msg.btn_logout}</a></div>
			<br />
		{/if}
	{/if}

	<div id="Form">
		{if $arrErr}
			<br />
			<div class="errmsg">
			{foreach from=$arrErr item=err}
				<p>{$err|escape}</p>
			{/foreach}
			</div>
		{/if}

		<!-- フォーム説明-->
		<div id="FormDesc">
		{if $eid > 0}
			{* 編集用 *}
			{if $formWord.word39 != ""}
				{$formWord.word39|nl2br}
			{else}
				{$GLOBALS.msg.cofirm_desc_e}
			{/if}
		{else}
			{* 新規登録用 *}
			{if $formWord.word38 != ""}
				{$formWord.word38|nl2br}
			{else}
				{$GLOBALS.msg.cofirm_desc_i}
			{/if}
		{/if}
		</div>


		<!--ブロック１ -->
		{if $formData.group1 != ""}
			<div class="bname">{$formData.group1}</div>
		{/if}

        {if $block1_confirm_inc_flg == "1"}
            {assign var=tpl value=`$tpl_block1_confirm_name`}
            {include file="$includeDir`$tpl`"}
        {else}
			{include file="Usr/form/parts/block_confirm.html" group_id="1"}
        {/if}


		<!--ブロック2 共著者ありの場合のみ表示-->
		{if $formData.group2_use != "1"}
			{if $arrForm.edata29 == "1"}
				<!-- 入力した数　ループ-->
				{section name=counter loop=$arrForm.edata30}
					{if $formData.group2 != ""}
						<div class="bname">{$formData.group2}&nbsp;{$smarty.section.counter.iteration}</div>
					{/if}

					{if $block2_confirm_inc_flg == "1"}
						{assign var=tpl value=`$tpl_block2_confirm_name`}
			            {include file="$includeDir`$tpl`"}
					{else}
						{include file="Usr/form/parts/block_confirm.html" group_id="2"}
					{/if}
				{/section}
			{/if}
		{/if}


		<!--ブロック3 -->
		{if $formData.group3_use != "1"}
			{*if $formData.group3 != ""}
				<div class="bname">{$formData.group3}</div>
			{/if*}

			{if $block3_confirm_inc_flg == "1"}
				{assign var=tpl value=`$tpl_block3_confirm_name`}
	            {include file="$includeDir`$tpl`"}
			{else}
				{include file="Usr/form/parts/block_confirm.html" group_id="3"}
			{/if}
		{/if}


		<!--　参加フォームの場合は　決済情報の内容確認を表示-->
		{if $formData.kessai_flg == "1"}
			{if $payment_confirm_inc_flg == "1"}
				{assign var=tpl value=`$tpl_payment_confirm_name`}
	            {include file="$includeDir`$tpl`"}
			{else}
				{include file="Usr/form/Usr_payment_confirm_`$langR`.html"}
			{/if}
		{/if}
	</div>


	<div class="btn">
		{$entry_confirm_btn_text_before|default:""}
		<input type="button" value="{$GLOBALS.msg.btn_return}" onclick="f_back();" />
		<input type="button" value="{$GLOBALS.msg.btn_regist}" onclick="f_submit();" />
		<br /><br />
		<div><span class="{$back_coution_class|default:"red"}">{$GLOBALS.msg.browser_back}</span></div>
	</div>

	<!-- フッター-->
	<div class="footer">{$formData.contact|nl2br}</div>


	<input type="hidden" name="eid" value="{$eid|escape}" />
	<input type="hidden" name="admin_flg" value="{$admin_flg|escape}" />
	<input type="hidden" name="mode" value="" />
	<input type="hidden" name="block" value="{$block|escape}" />

	{$embed}
</form>
{include file="include/usr_footer.html"}