{include file="include/usr_header.html" onload=$onload}
{literal}
<script language="JavaScript">
	function f_back(num){
		if(document.getElementById("reload").value == "1") return;
		document.getElementById("reload").value = "1";

		var f=document.CUP_FORM;
		f.mode.value = 'authErr';

		if(num == '1'){
			f.block.value = '1';
		}
		else if(num == '2'){
			f.block.value = 'pay';
		}

		f.submit();
	}
</script>
{/literal}

<form name="CUP_FORM" action="Usr_entry.php?form_id={$form_id}{if $smarty.get.admin_flg == "1"}&admin_flg=2{/if}" method="post">
	<input type="hidden" name="reload" id="reload" value="0" />
	<input type="hidden" name="mode"  value="page">
	<input type="hidden" name="block" value="pay3d">
	{foreach from=$arrErr item=item}
		<input type="hidden" name="arrErr[]" value="{$item}">
	{/foreach}
	<input type="hidden" name="order_id"    value="{$order_id}">
	<input type="hidden" name="forward"     value="{$forward}">
	<input type="hidden" name="method"      value="{$method}">
	<input type="hidden" name="paytimes"    value="{$paytimes}">
	<input type="hidden" name="approval_no" value="{$approval_no}">
	<input type="hidden" name="tran_id"     value="{$tran_id}">
	<input type="hidden" name="tran_date"   value="{$tran_date}">
	<input type="hidden" name="chk_string"  value="{$chk_string}">
	<input type="hidden" name="c_field1"    value="{$c_field1}">
	<input type="hidden" name="c_field2"    value="{$c_field2}">
	<input type="hidden" name="c_field3"    value="{$c_field3}">
	{$embed}


	<div class="header">

	{if $va_header}
		<img src="{$va_header}" border="0" />
	{/if}

	</div>

	{if $not_title != 1}
	<div id="FormTtl">
		{if $formWord.word14 != ""}
			{$formWord.word14|nl2br}
		{else}
			{$formData.form_name}
		{/if}
	</div>
	{/if}

	<!--管理者代行モードの場合-->
	{if $admin_flg != ""}
		<div id="UserID">
		<span id="admin_login">管理者　代行処理中&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		{if $eid != ""}
			{$GLOBALS.msg.login_id}:{$va_userdata.e_user_id}&nbsp;&nbsp;<a href="javascript:f_logout();">ログアウト</a>
		{/if}
		</div>
		<br />
	{else}
		{if $eid != ""}
			<div id="UserID">{$GLOBALS.msg.login_id}:{$va_userdata.e_user_id}&nbsp;&nbsp;<a href="javascript:f_logout();">ログアウト</a></div>
			<br />
		{/if}
	{/if}


	<div id="Form">
		<!--エラーメッセージ-->
		{if $arrErr}
			<br />
			<div class="errmsg">
			{foreach from=$arrErr item=err}
				<p>{$err|escape}</p>
			{/foreach}
			</div>
		{/if}


		<!-- フォーム説明-->
		{if !$arrErr}
		<div id="FormDesc">{$GLOBALS.msg.3d_result}</div>
		{/if}
	</div>


	{if !$arrErr}
	<div class="btn">
		<input type="submit" value="{$GLOBALS.msg.btn_3d_result}">
		<div><span class="{$back_coution_class|default:"red"}">{$GLOBALS.msg.browser_back}</span></div>
	</div>
	{else}
		<!-- 決済処理でエラーが発生した場合　-->
		<div class="btn">
			<input type="button" value="{$GLOBALS.msg.btn_change_payment}" onclick="f_back('2');" />
			<input type="button" value="{$GLOBALS.msg.btn_change_fee}" onclick="f_back('1');" />
		</div>
	{/if}


	<!-- フッター-->
	<div class="footer">{$formData.contact|nl2br}</div>
</form>

{include file="include/usr_footer.html"}
