{include file="include/usr_header.html" onload=$onload}

{literal}
<script language="JavaScript">

	function f_next(){
		var f = document.frm;
		if(f.block.value == '3'){
			f.mode.value = 'confirm';
		}
		else{
			f.mode.value = 'page';
		}
		//f.action = 'Usr_entry.php';
		f.submit();
	}

	function f_back(){
		var f = document.frm;
		f.mode.value = 'back';
		f.submit();
	}

	function f_logout(){
		var f = document.frm;
		f.mode.value = 'logout';
		f.action = '../Usr_login.php?form_id={/literal}{$formData.form_id|escape}{literal}';
		f.submit();
	}

	function f_down(num, type){

		var f = document.frm;
		f.mode.value = 'download';
		f.down_num.value = num;
		f.down_type.value = type;
		f.submit();

	}
</script>
{/literal}


<form name="frm" method="post" enctype="multipart/form-data">

	<div class="header">

	{if $va_header}
		<img src="{$va_header}" border="0" />
	{/if}

	</div>

	{if $not_title != 1}
	<div id="FormTtl">
		{if $formWord.word14 != ""}
			{$formWord.word14|nl2br}
		{else}
			{$formData.form_name}
		{/if}
	</div>
	{/if}

	<!--管理者代行モードの場合-->
	{if $admin_flg != ""}
		<div id="UserID">
		<span id="admin_login">管理者　代行処理中&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		{if $eid != ""}
			{$GLOBALS.msg.login_id}:{$va_userdata.e_user_id}&nbsp;&nbsp;<a href="javascript:f_logout();">ログアウト</a>
		{/if}
		</div>
		<br />
	{else}
		{if $eid != ""}
			<div id="UserID">{$GLOBALS.msg.login_id}:{$va_userdata.e_user_id}&nbsp;&nbsp;<a href="javascript:f_logout();">ログアウト</a></div>
			<br />
		{/if}
	{/if}



	<div id="Form">

		{if $arrErr}
			<!--エラーメッセージ-->
			<br />
			<div class="errmsg">
			{foreach from=$arrErr item=err}
				<p>{$err|escape}</p>
			{/foreach}
			</div>
		{/if}


		<!-- メンテナンスメッセージ -->
		<div id="FormDesc">{$mainteMsg|nl2br}</div>
	</div>


	<!-- フッター-->
	<div class="footer">{$formData.contact|nl2br}</div>


	<input type="hidden" name="eid" value="{$eid|escape}" />
	<input type="hidden" name="admin_flg" value="{$admin_flg|escape}" />
	<input type="hidden" name="mode" value="" />
	<input type="hidden" name="block" value="{$block|escape}" />
	<input type="hidden" name="down_num" value="" />
	<input type="hidden" name="down_type" value="" />

</form>
{include file="include/usr_footer.html"}