
{*外部ファイルの読み込みがある場合 *}
{if $payment_confirm_inc_flg == "1"}

	{assign var=tpl value=`$tpl_payment_confirm_name`}
    {include file="$includeDir`$tpl`"}

{else}
	{if $formData.credit != "0"}
		{* 新規登録 *}
        {if $eid == ""}
	            <div class="bname">Amount of Payment</div>
	
	            <table class="rtbl">
	                <tr>
	                    <td>{strip}
	                        <ul>
	                        {if !$hide_fee_area}
								{assign var="amount_price" value=$va_price[$arrForm.amount].p1}
		                        {if $formData.pricetype == "1"}
		                            <li>
		                            {$v_head.price_header}&nbsp;:&nbsp;
									{if $amount_price|is_numeric}{$yen_mark}{$amount_price|number_format}{else}{$amount_price}{/if}
		                            </li>
		                        {else}
		                            <li>
		                            {$va_price[$arrForm.amount].name|strip_tags}&nbsp;:&nbsp;
									{if $amount_price|is_numeric}{$yen_mark}{$amount_price|number_format}{else}{$amount_price}{/if}
		                            </li>
		                        {/if}
		                    {/if}
	
	                        {*　その他決済方法がある場合*}
	                        {if $formData.kessai_flg == "1" && $formData.ather_price_flg != "1" && $formData.ather_price != ""}
	
	                            {foreach from=$va_ather_price key=p_key item=p_item name=select}
	
	                                {assign var=ather_price value=ather_price`$p_key`}
	                                {assign var=sum value=sum`$p_key`}
	
	                                {if $arrForm[$ather_price] != "" && $arrForm[$ather_price] != "0"}
	                                    <li>
	                                    {$p_item.name|strip_tags}&nbsp;:&nbsp;{$yen_mark}{$arrForm[$sum]|number_format}&nbsp;
										（
	                                     {if $p_item.p1|is_numeric}{$yen_mark}{$p_item.p1|number_format}{else}{$p_item.p1}{/if}
										  × {$arrForm[$ather_price]|escape}{$p_item.tani} ）
	                                    </li>
	                                {/if}
	
	                            {/foreach}
	
	                        {/if}
	                        </ul>
							{/strip}
	
	                        <span class="total">
	                        <br />Amount of Total Payment&nbsp;:&nbsp;
	                        {$yen_mark}{$arrForm.total_price|number_format}
	                        </span>
	                    </td>
	                </tr>
	            </table>

		{* 編集 *}
		{else}
            <div class="bname">Amount of Payment</div>

            <table class="rtbl">
                <tr>
                    <td>{strip}
                        <ul>
                        
				        {foreach from=$arrPayment item=detail}
                            <li>
								{* 金額 *}
								
								{if $detail.type == 0}
									{if !$hide_fee_area}
							            {$detail.name|show_amount|strip_tags}&nbsp;:&nbsp;
								        {if $detail.price|is_numeric}
								            {$yen_mark}{$detail.price|number_format}
								        {else}
								            {$detail.price}
								        {/if}
								    {/if}

								{* その他決済 *}
								{else}
						            {$detail.name|strip_tags}&nbsp;:&nbsp;
							        {if $detail.price|is_numeric}
							            {$yen_mark}{$detail.price|number_format}
							        {else}
							            {$detail.price}
							        {/if}
									（
								        {if $detail.price|is_numeric}
								            {$yen_mark}{$detail.price|number_format}
								        {else}
								            {$detail.price}
								        {/if} × {$detail.quantity|escape}
									 ）
								{/if}
                            </li>
				        {/foreach}
                        </ul>
						{/strip}
                        <span class="total">

                        <br />Amount of Total Payment&nbsp;:&nbsp;
                        {$yen_mark}{$payment_price|number_format}
                        </span>
                    </td>
                </tr>
            </table>

        {/if}


		{if $payment_confirm_disp_flg == "1"}
			<div class="bname">Payment</div>
				<table class="rtbl">
					<tr>
						<td>{$va_method[$arrForm.method]}</td>
					</tr>
			</table>

			<!-- 決済フォーム　-->
			<div class="bname">Payment Information</div>

			{if $arrForm.method == "1"}
				<table class="rtbl">
					<tr>
						<td class="iname">
							Card Type<span class="red">&nbsp;*</span>
						</td>
						<td>
							{$va_card_type[$arrForm.card_type]}
						</td>
					</tr>
					<tr>
						<td class="iname">
							Card Number<span class="red">&nbsp;*</span>
						</td>
						<td>
							{if $arrForm.cardNumber != ""}**************{/if}
						</td>
					</tr>
					<tr>
						<td class="iname">
							Expiration Date<span class="red">&nbsp;*</span>
						</td>
						<td>
							{$arrForm.cardExpire1|escape}{if $arrForm.cardExpire1 != ""}Month{/if}&nbsp;&nbsp;{$arrForm.cardExpire2|escape}{if $arrForm.cardExpire2 != ""}Year{/if}
						</td>
					</tr>
		<!--
					<tr>
						<td class="iname">
							支払区分<span class="red">&nbsp;*</span>
						</td>
						<td>
							{$va_jpo1[$arrForm.jpo1]}
						</td>
					</tr>

					<tr>
						<td class="iname">
							支払回数
						</td>
						<td>
							{if $arrForm.jpo2 != ""}
								{$arrForm.jpo2}回
							{/if}

						</td>
					</tr>

		-->
					<tr>
						<td class="iname">
							Card Holder's Name<span class="red">&nbsp;*</span>
						</td>
						<td>
							{$arrForm.cardHolder|escape}
						</td>
					</tr>

					<tr>
						<td class="iname">
							Security Code<span class="red">&nbsp;*</span>
						</td>
						<td>
						    {if $arrForm.securityCode != ""}
							   ***
							{/if}
						</td>
					</tr>
				</table>

			{elseif $arrForm.method == "2"}
				<table class="rtbl">
					<tr>
						<td class="iname">
							Name of remitter
						</td>
						<td>
							{$arrForm.lessee|escape}
						</td>
					</tr>
					<tr>
						<td class="iname">
							Name of the bank where you make remittance
						</td>
						<td>
							{$arrForm.bank|escape}
						</td>
					</tr>
					<tr>
						<td class="iname">
							Date of remittance
						</td>
						<td>
							{$arrForm.closure|escape}
						</td>
					</tr>
				</table>
			{/if}
		{/if}
	{/if}
{/if}

