{* クレジットカードの説明文 *}
{if $formData.lang == $smarty.const.LANG_JPN}

<div>
    【クレジットカード情報の取扱について】<br/>
    参加登録時のクレジットカード情報は次の通りお取扱いいたします。参加登録時におかれましては、予めこれらをご了承の上、クレジットカード情報をご提供いただけますようお願いいたします。<br/>
</div>
<br/>

<div>
    【クレジットカード情報の利用目的】<br/>
    本大会の参加費の支払い手続きに使用いたします。<br/>
</div>
<br/>

<div>
    【クレジットカード情報の取得社名】<br/>
    株式会社ICSコンベンションデザイン　（参加登録事務局）<br/>
</div>
<br/>

<div>
    【決済業務の外部委託】<br/>
    クレジットカードでの代金決済業務を委託した株式会社JTBビジネスイノベーターズに提供いたします。<br/>
</div>
<br/>

<div>
    【保存期間】<br/>
    お預かりしたクレジットカード情報は6ヶ月保存した後削除させていただきます。<br/>
</div>
<br/>
<br/>

<div>
    <input type="hidden"   name="credit_agree" value="0" />
    <input type="checkbox" name="credit_agree" value="1" />上記【クレジットカード情報の取扱について】に同意する<br/>
</div>
<br/>


{else}

<div>
    <b>[How we handle your credit card information]</b><br/>
    <br/>
    ICS Convention Design, Inc. will use the credit card information provided through this form as follows:<br/>
</div>
<br/>

<div>
    <b>Name of Collector of Credit Card Data</b><br/>
    ICS Convention Design, Inc.<br/>
</div>
<br/>

<div>
    <b>Outsourcing of Payment Processing</b><br/>
    ICS Convention Design, Inc. consigns all operations necessary to process payments for the registration fee by credit card to JTB BUSINESS INNOVATORS Corp.<br/>
</div>
<br/>

<div>
    <b>Retention Period</b><br/>
    The credit card data is saved for 6 month, after which it is erased.<br/>
</div>
<br/>
<br/>

<div>
    <input type="hidden"   name="credit_agree" value="0" />
    <input type="checkbox" name="credit_agree" value="1" />I agree with the above-mentioned matter.<br/>
</div>
<br/>
<br/>

*If the credit card holder name differs from that of the participant, the payment may be canceled by the Registration Office.<br/>
<br/>

{/if}
