{include file="include/usr_header.html"}

{literal}
<script language="JavaScript">

	function f_next(){
		var f=document.frm;
		f.mode.value = 'agree';
		f.submit();
	}

</script>
{/literal}


<form name="frm" method="post">

    {if $agree_inc_flg == "1"}
        {include file="$includeDir`$tpl_agree`"}
    {else}
		<div class="header">
		{if $va_header}
			<img src="{$va_header}" border="0" />
		{/if}
		</div>

		<br />

		{if $not_title != 1}
		<div id="FormTtl">
			{if $formWord.word14 != ""}
				{$formWord.word14|nl2br}
			{else}
				{$formData.form_name}
			{/if}
		</div>
		<br />
		{/if}

		<div id="Form">
				<!--エラーメッセージ-->
				{if $arrErr}
					<br />
					<div class="errmsg">
					{foreach from=$arrErr item=err}
						<p>{$err|escape}</p>
					{/foreach}
					</div>
					<br />
				{/if}

				<p>{$formData.agree_text|nl2br}</p>

				{if $formData.agree == "3"}
					<div id="agree">
						{if $formData.agree_type != 1}
							<input type="radio" name="agree" value="1" {if $arrForm.agree == "1"}checked{/if} />{$GLOBALS.msg.agree1}
							<input type="radio" name="agree" value="" {if $arrForm.agree == ""}checked{/if} />{$GLOBALS.msg.agree2}
						{else}
							<input type="checkbox" name="agree" value="1" {if $arrForm.agree == "1"}checked{/if} />
							{$formData.agree_chktext|default:$GLOBALS.msg.agreechk}
						{/if}
					</div>

				{elseif $formData.agree == "4"}
					<input type="hidden" name="agree" value="1" />
				{/if}
				<div class="btn"><input type="button" value="{$GLOBALS.msg.btn_next}" onclick="f_next();" /></div>
		</div>

		<!-- フッター-->
		<div class="footer">{$formData.contact|nl2br}</div>
    {/if}


	<input type="hidden" name="form_id" value="{$formData.form_id|escape}" />
	<input type="hidden" name="eid" value="{$eid|escape}" />
	<input type="hidden" name="admin_flg" value="{$admin_flg|escape}" />
	<input type="hidden" name="mode" value="" />


</form>
{include file="include/usr_footer.html"}