{include file="include/usr_header.html" onload=$onload}

{literal}
<script language="JavaScript">

	function f_next(){
		var f = document.frm;
		if(f.block.value == '3'){
			f.mode.value = 'confirm';
		}
		else{
			f.mode.value = 'page';
		}
		//f.action = 'Usr_entry.php';
		f.submit();
	}

	function f_back(){
		var f = document.frm;
		f.mode.value = 'back';
		f.submit();
	}

	function f_logout(){
		var f = document.frm;
		f.mode.value = 'logout';
		f.action = '../Usr_login.php?form_id={/literal}{$formData.form_id|escape}{literal}';
		f.submit();
	}

	function f_down(num, type){

		var f = document.frm;
		f.mode.value = 'download';
		f.down_num.value = num;
		f.down_type.value = type;
		f.submit();

	}
</script>
{/literal}


<form name="frm" method="post" enctype="multipart/form-data">

	<div class="header">

	{if $va_header}
		<img src="{$va_header}" border="0" />
	{/if}

	</div>

	{if $not_title != 1}
	<div id="FormTtl">
		{if $formWord.word14 != ""}
			{$formWord.word14|nl2br}
		{else}
			{$formData.form_name}
		{/if}
	</div>
	{/if}

	<!--管理者代行モードの場合-->
	{if $admin_flg != ""}
		<div id="UserID">
		<span id="admin_login">管理者　代行処理中&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		{if $eid != ""}
			{$GLOBALS.msg.login_id}:{$va_userdata.e_user_id}&nbsp;&nbsp;<a href="javascript:f_logout();">{$GLOBALS.msg.btn_logout}</a>
		{/if}
		</div>
		<br />
	{else}
		{if $eid != ""}
			<div id="UserID">{$GLOBALS.msg.login_id}:{$va_userdata.e_user_id}&nbsp;&nbsp;<a href="javascript:f_logout();">{$GLOBALS.msg.btn_logout}</a></div>
			<br />
		{/if}
	{/if}



	<div id="Form">

		<!--エラーメッセージ-->
		{if $arrErr}
			<br />
			<div class="errmsg">
			{foreach from=$arrErr item=err}
				<p>{$err|escape}</p>
			{/foreach}
			</div>
		{/if}


		<!-- フォーム説明-->
		<div id="FormDesc">{$formData.form_desc|nl2br}</div>


		{if $block == "1"}


			<!--ブロック１ -->
			{if $formData.group1 != ""}
				<div class="bname">{$formData.group1}</div>
			{/if}

			<!--ブロック１説明 -->
			{if $formWord.word5 != ""}
				<div class="bcomment">{$formWord.word5|nl2br}</div>
			{/if}

            {if $block1_inc_flg == "1"}
                {assign var=tpl value=`$tpl_block1_name`}
                {include file="$includeDir`$tpl`"}
            {else}
 				{include file="Usr/form/parts/block.html" group_id="1"}
            {/if}

			<!--ページ下部　コメント-->
			{if $formWord.word17 != ""}
				<br />
				<div class="bcomment">{$formWord.word17|nl2br}</div>
			{/if}

			<!--　参加フォームの場合は　金額と決済タイプ表示-->
			{if $formData.kessai_flg == "1"}
				{if $money_inc_flg == "1"}
					{assign var=tpl value=`$tpl_name`}
	                {include file="$includeDir`$tpl`"}
				{else}
					{include file="Usr/form/Usr_money.html"}
				{/if}
			{/if}
			<!-- ここまで-->
		{/if}



		{if $block == "2"}

			<!-- 入力した数　ループ-->
			{section name=counter loop=$arrForm.edata30}
				<!--ブロック2 -->
				{if $formData.group2 != ""}
					<div class="bname">{$formData.group2}&nbsp;{$smarty.section.counter.iteration}</div>
				{/if}


				<!--ブロック2説明 -->
				{if $formWord.word6 != ""}
					<div class="bcomment">{$formWord.word6|nl2br}</div>
				{/if}


	            {if $block2_inc_flg == "1"}
	                {assign var=tpl value=`$tpl_block2_name`}
	                {include file="$includeDir`$tpl`"}
	            {else}
	 				{include file="Usr/form/parts/block.html" group_id="2"}
	            {/if}
			{/section}


			<!--ページ下部　コメント-->
			{if $formWord.word18 != ""}
				<br />
				<div class="bcomment">{$formWord.word18|nl2br}</div>
			{/if}

		{/if}

		{if $block == "3"}

			{*
			<!--ブロック3 -->
			{if $formData.group3 != ""}
				<div class="bname">{$formData.group3}</div>
			{/if}
			*}

			{if $block3_inc_flg == "1"}
				{assign var=tpl value=`$tpl_block3_name`}
                {include file="$includeDir`$tpl`"}
			{else}
 				{include file="Usr/form/parts/block.html" group_id="3"}
			{/if}
			<br />

			<!--ページ下部　コメント-->
			{if $formWord.word19 != ""}
				<br />
				<div class="bcomment">{$formWord.word19|nl2br}</div>
			{/if}
		{/if}
	</div>

	<!--同意書-->
	{if $block == "1"}
		{if $formData.agree == "1" || $formData.agree == "2"}

			<p id="agree_text">{$formData.agree_text|nl2br}</p>

			{if $formData.agree == "1"}
				<div id="agree">
					{if $formData.agree_type != 1}
						<input type="radio" name="agree" value="1" {if $arrForm.agree == "1"}checked{/if} />{$GLOBALS.msg.agree1}
						<input type="radio" name="agree" value="" {if $arrForm.agree == ""}checked{/if} />{$GLOBALS.msg.agree2}
					{else}
						<input type="checkbox" name="agree" value="1" {if $arrForm.agree == "1"}checked{/if} />
						{$formData.agree_chktext|default:$GLOBALS.msg.agreechk}
					{/if}
				</div>

			{elseif $formData.agree == "4"}
				<input type="hidden" name="agree" value="1" />
			{/if}
			<br />
		{/if}
	{/if}


	<div class="btn">
		{if $block != "1"}
			<input type="button" value="{$GLOBALS.msg.btn_return}" onclick="f_back();" />
		{/if}

		<input type="button" value="{$GLOBALS.msg.btn_next}" onclick="f_next();" />

		<br /><br />
		<div><span class="{$back_coution_class|default:"red"}">{$GLOBALS.msg.browser_back}</span></div>
	</div>

	<!-- フッター-->
	<div class="footer">{$formData.contact|nl2br}</div>


	<input type="hidden" name="eid" value="{$eid|escape}" />
	<input type="hidden" name="admin_flg" value="{$admin_flg|escape}" />
	<input type="hidden" name="mode" value="" />
	<input type="hidden" name="block" value="{$block|escape}" />
	<input type="hidden" name="down_num" value="" />
	<input type="hidden" name="down_type" value="" />

</form>
{include file="include/usr_footer.html"}