@charset "utf-8";
/* CSS Document */


/*--------------------------------------------------
共通設定
---------------------------------------------------*/

/*********************
 Body
**********************/
body {
	font-family:Arial,"ＭＳ ゴシック","osaka－等幅",Osaka;
	font-size:13px;
	margin:0;
	padding:5px;
}

/*********************
 リンク設定
**********************/
a:link,
a:visited{
	color:#00008B;
}

a:hover{
	color:#ff0000;
}

/*********************
 input,textarea設定
**********************/
input[type='text'],
input[type='password'],
input[type='file'],
textarea{
/*	border:1px solid #c0c0c0;*/
	padding:1px;
	/* 20150824 Firefox ver.40.0.2 Bug Fix : Sovic */
	font-family:MS UI Gothic;
}

/*********************
 フォント系
**********************/
.small {
	font-size: 10px;
}
.middle{
	font-size: 16px;
}

.c {
	text-align: center;
}

.r {
	text-align: right;
}

.l {
	text-align: left;
}
.red {
	color: red;
}

/*********************
 ボックス系
**********************/
.clear {
	clear: both;
}
/* 余白　*/
.mb10{
	margin: 5px 0;
}


/*********************
幅
**********************/
.width100{
	width: 100px;
}

.width120{
	width: 120px;
}

.width150{
	width: 150px;
}
.width220{
	width: 220px;
}
.width280{
	width: 280px;
}
/*********************
 エラーメッセージ系
**********************/
.errmsg {
	border: 1px solid red;
	color: red;
	padding: 10px;
	margin-bottom: 10px;
}

.errmsg p {
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

.error {
    background-color:#FED0D0;
    border:1px solid #f00;
}

/*********************
 エラーメッセージ系
**********************/
.attention {
	border: 1px solid #FF0000;
	color: #FF0000;
	padding: 10px;
	margin: 10px 0;
}

/*********************
 メッセージボックス
**********************/
.msgbox {
	border: 1px solid #666;
	color: #666;
	padding: 10px;
	margin-bottom: 10px;	
}

.msgbox p {
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

/*********************
角丸
**********************/
.actionblock {
	/*background: #f0f0f0;*/
	background:#f0f7ff;
	margin-bottom: 10px;
}

.actionblock p {
	margin: 10px 20px;
	font-size: 13px;
	font-weight: bold;
}

.actionblock p.small, 
.actionblock p .small {
	font-size: 12px;
	font-weight: normal;
}

.actionblock span.rtop,
.actionblock span.rbottom {
	display:block;
	background: #fff;
}

.actionblock span.rtop span,
.actionblock span.rbottom span {
	display:block;
	height: 1px;
	overflow: hidden;
	background: #f0f7ff;
	/*background: #f0f0f0;*/
}

.actionblock span.r1 {
	margin: 0 5px;
}

.actionblock span.r2 {
	margin: 0 3px;
}

.actionblock span.r3 {
	margin: 0 2px;
}

.actionblock span.rtop span.r4, 
span.rbottom span.r4 {
	margin: 0 1px;
	height: 2px;
}




/*--------------------------------------------------
画面設定
---------------------------------------------------*/
/*********************
 管理者　メイン
**********************/
#main{
	width: 100%;
	margin: 0 auto;
	min-height: 600px;  
	height: auto;  

}


/*********************
 利用者メイン
**********************/
#user_main{
	width: 920px;
	margin: 0 auto;
	height: auto;  

}


/*********************
 メニュー
**********************/
#menu{
	width: 200px;
}


#menu a{
	display:block;
	cursor:pointer;
	text-decoration: none;
}	
#menu .menu, 
#menu .uname, 
#menu .logout{
	width: 90%;
	padding:5px;
	margin:5px 0;
	text-align: center;

}

#menu .uname{
	/*background-color:#4b7cdf;*/	
	color:#4b7cdf;

}
#menu .menu{

	background-color:#4b7cdf;
	color:#ffffff;
	
	
	
}

#menu .logout{
	background-color:#bcbcbc;
	color:#ffffff;
}

#menu a:hover{
	background-color:#cce3ff;
	color:#1054a3;	
}




/*********************
 管理者コンテンツ部分
**********************/
#contents {
	width:980px;
	/*width:auto;*/
	/*margin: 20px auto;*/
}

/* タイトル　*/
#contents .ttl{
	border-bottom: 1px solid #e6e6e6;
}

#contents h2 {
	background: #FFFFFF;
	font-size: 14px;
	font-weight: normal;
}

/* テーブル　*/
table.listtbl{
	border-collapse: collapse;
	width: 100%;
}
table.listtbl th {
	border: 1px solid #e6e6e6;
	background: #f5f5f5;
	font-weight: normal;
	padding: 5px;
	/*width: 20%;*/
}
table.listtbl td {
	border: 1px solid #e6e6e6;
	padding: 5px;
}
table.listtbl caption {
	border-bottom:1px solid #e6e6e6;
	text-align : left;
	margin-bottom:5px;
}

/* テーブル内　ul */
ul.nonstyle {
	margin: 0;
	padding: 0;
}

ul.nonstyle li {
	list-style: none;
	line-height: 1.4;
}





/* ボタン*/
.btn {
	margin: 15px;
	text-align: center;
}
input[type="submit"],
input[type="button"],
input[type="reset"] {
	border: 1px solid #cccccc;
	background-color: #eeeeee;
	height: 24px;
	padding: 0 10px;
	font-size: 12px;
	letter-spacing: 1px;
	cursor: hand;
}









/*--------------------------------------------------
機能別設定
---------------------------------------------------*/
/*********************
フォーム登録・編集
**********************/
#progress {
	border-collapse: collapse;
	border: 0 #ff0000 solid;

}

#progress .now,
#progress .other{
	 padding: 3px;
	 height: 30px;
	 width: 80px;
	 text-align: center;
}

#progress .now{
	background-color: #808080;
	color:#ffffff;
}

#progress .other{
	background-color: #f1f1f1;
}
#progress .ico{
	background-image: url(/htdocs/images/common/arrow.png);
	background-repeat:no-repeat; 
	margin-top:8px;
	width: 16px;
	height: 25px;

}



/*********************
ログイン
**********************/
#Login{
	
	text-align: center;
	border: 1px solid #cccccc;
	background-color: #f6f6f6;
	width: 500px;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	
}


#Login table{
    font-size:13px;
	border-collapse: collapse;
	/*width: 100%;*/
}

#Login input[type="text"],
#Login input[type="password"] {
	 font-family: tahoma;
}

/*********************
応募フォーム
**********************/
#Form{
	padding:5px;
}	
.header{
	
	text-align: center;
	/*padding:10px;*/
	/*height: 171px;*/
}	


.footer{
	background-color: #f6f6f6;
	text-align: center;
	padding:5px;
}	

/*********************
Mng　管理画面
**********************/

.pageswitch {
	margin: 10px;
	text-align: center;
}

.pageswitch li {
	display: inline;
	border: 1px solid #e6e6e6;
	padding: 5px;
	width: auto;
}

.pageswitch li.active {
	background: #f5f5f5;
}


table.payment_detail{
    border-collapse: collapse;
}

table.payment_detail td {
    border: 1px solid #e6e6e6;
    padding: 5px;
}


dl.list { margin:0; }
dl.list dt { line-height: 26px; min-height: 26px; width: 145px; float: left; }
dl.list dd { line-height: 26px; min-height: 26px; margin-left: 145px; }
