@charset "utf-8";
/* CSS Document */




/*--------------------------------------------------
画面設定
---------------------------------------------------*/

/*********************
 利用者メイン
**********************/
#user_main{
	width: 920px;
	margin: 0 auto;
	height: auto;  

}


/*********************
利用者コンテンツ部分
**********************/
#user_contents {
	/*width:920px;*/
	margin: 10px auto;
}

/* タイトル　*/
#user_contents .ttl{
	border-bottom: 1px solid #e6e6e6;
}

#user_contents h2 {
	background: #FFFFFF;
	font-size: 14px;
	font-weight: normal;
}



/*--------------------------------------------------
機能別設定
---------------------------------------------------*/
/**********************
論文・参加フォーム
***********************/
#admin_login{
	
	font-size: 16px;
	color: red;
}	

#UserID{
	text-align: right;
	/*border: 1px solid #e6e6e6;*/
	
}	

/* 同意書　*/
#agree_text{
	margin-top:5px;
	margin-bottom:5px;
	padding:10px;
	border: 1px solid #e6e6e6;
}
#agree{
	margin-top:20px;
	margin-bottom:20px;
	text-align: center;
	
}



/* 論文タイトル*/
#FormTtl{
	font-size: 23px;
	font-weight: bold;
	margin-top:20px;
	margin-bottom:20px;
	color:#003CC7;
		
}

#FormDesc{
	padding:5px;
	margin-bottom:20px;
	border: 1px solid #e6e6e6;
		
}

div#FormDesc span.red {
    font-size: 110%;
}

/* テーブル　*/
table.rtbl{
	border-collapse: collapse;
	width: 100%;
}
table.rtbl .iname {
	border: 1px solid #e6e6e6;
	background: #f5f5f5;
	font-weight: normal;
	padding: 8px;
	width: 23%;
}
table.rtbl td {
	border: 1px solid #e6e6e6;
	padding: 8px;
}

table.rtbl td.top {
    vertical-align:top;
}

body:nth-of-type(1) table.rtbl td {
	padding: 5px !important;
}

table.rtbl ul {
	margin: 0 0 0 1em;
	padding: 0;
}
table.rtbl .total {
	text-decoration: underline;
	font-size:120%;
	font-weight: bold;
}

table.rtbl .cent {
	text-align : center;
}

table.layout {
	border: none !important;
}

table.layout td {
	border: none !important;
	padding: 0 !important;
}

/*項目名*/
table.rtbl .item{
	
}

/*　グループタイトル */
.bname{
	border: 1px solid #e6e6e6;
	background: #f5f5f5;
	padding: 5px;
	margin-top:30px;
	margin-bottom:10px;
	font-weight: bold;

		
}	

/* 各グループの説明*/
.bcomment{
	padding: 5px;
	margin-bottom:10px;
		
}	

/*********************
応募フォーム
**********************/
#Form{
	padding:5px;
}	
.header{
	text-align: center;
}	


.footer{
	background-color: #f6f6f6;
	text-align: center;
	padding: 10px 5px;
}	

.m0 { margin:0; }

/* 料金テーブル */
.inner_price1 { 
    text-align: right;
    width: 30%;
    margin: 0 auto;
}
.inner_price2 { 
    text-align: right;
    width: 35%;
    margin: 0 auto;
}
