{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--姓-->
	{assign var=key_c value=`$edata``$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{$arrForm[$key_c]|escape}
		</td>
	</tr>
{/if}
