{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--所属機関-->
	{assign var=key32 value=`$edata``$smarty.section.counter.index`}
	{assign var=sel32 value=$arrForm[$key32]}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>


			{foreach from=$arrForm.kikanlist key=s_key item=item name=select}

				{assign var=chk32 value=$key32`$s_key`}

				{if $arrForm[$chk32] == $s_key}{$item}<br />{/if}

			{/foreach}


		</td>
	</tr>
{/if}