{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--会員・非会員-->
	{assign var=key_c value=`$edata``$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $arrForm[$key_c] == "1"}
				{$va_kaiin[1]}

			{else}
				{$va_kaiin[0]}
			{/if}

		</td>
	</tr>
{/if}
