{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            {*テキスト*}
            {if $_formItem.item_type == "0"}
                <input type="text"  name="{$edata}" value="{$arrForm.$edata|escape}" size="40" />
            {/if}
        </td>
    </tr>

    <tr>
        <td class="iname">
            {$_formItem.item_name}（確認用）{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>
        <td>
            ※確認のため再入力してください。<br />
            <input type="text" name="chkemail_28" value="{$arrForm.chkemail_28|escape}" size="40" />
        </td>
    </tr>
{/if}
