{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.mode.value = 'confirm';
		f.submit();
	}


</script>
{/literal}

<div class="ttl">
	<h2>パスワード変更</h2>
</div>
{show_err var=$arrErr}
<br />
<form name="frm" method="post">
<input type="hidden" name="mode" value="" />
{$embed}
<table class="listtbl">
	<tr>
		<th>現在のパスワード</th>
		<td><input type="password" name="password" size="30" value="{$arrForm.password}" /></td>
	</tr>
	<tr>
		<th>新しいパスワード</th>
		<td><input type="password" name="newpassword" size="30" value="{$arrForm.newpassword}" /></td>
	</tr>
	<tr>
		<th>新しいパスワード（確認）</th>
		<td><input type="password" name="newpassword2" size="35" value="{$arrForm.newpassword2}" /></td>
	</tr>				
</table>

<div class="btn">
	<input type="button" value="次へ" onclick="f_submit();" />
</div>

</form>
{include file="include/footer.html"}