{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            {*ラジオ*}
            {if $_formItem.item_type == "2"}
                {foreach from=$_formItem.select key=s_key item=item name=select}
                    <input type="radio" name="{$edata}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}
                {/foreach}

				{* etc7 *}
				{assign var="item_id"   value="72"}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var=edata    value="edata`$item_id`"}
	            {if $_formItem.item_type == "0"}
	                &nbsp;<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="40" />
				{/if}
            {/if}
        </td>
    </tr>
{/if}
