{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}

{if $_formItem.disp != "1"}
</table>
<table class="rtbl f16schedule" id="tbl3_3_">
	<tr>
		<td class="iname f16r1">Date/ Month</td>
		<td class="iname f16r2">Activity</td>
		<td class="iname f16r3">Hotel</td>
	</tr>

	{* Schedule最初の行 *}
	<tr>
		<td>{$arrForm.edata73|cnvDateFormat|date_format:"%d %B"|escape}</td>
		<td>{$arrForm.edata157|escape}</td>

		<td>
			<dl class="list">
			{* etc1 *}
			{assign var="item_id"   value="54"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{assign var=data     value=$arrForm.$edata}
			{if $_formItem.disp != "1" && $_formItem.item_type == "4"}
				<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
				<dd>{$_formItem.select[$data]|default:"&nbsp;"}</dd>
			{/if}

			{* etc2 *}
			{assign var="item_id"   value="55"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
				<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
				<dd>{$arrForm.$edata|escape|nl2br|default:"&nbsp;"}</dd>
			{/if}

			{* etc3 *}
			{assign var="item_id"   value="56"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
				<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
				<dd>{$arrForm.$edata|escape|nl2br|default:"&nbsp;"}</dd>
			{/if}

			{* etc4 *}
			{assign var="item_id"   value="67"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
				<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
				<dd>{$arrForm.$edata|escape|nl2br|default:"&nbsp;"}</dd>
			{/if}
			</dl>
		</td>
	</tr>


	{* Schedule滞在日数の行 *}
	{section name=cnt start=0 loop=$arrForm.edata143}
    {assign var="index" value=$smarty.section.cnt.index}
	<tr class="f16schedule" id="f16row{$index}">
		<td>
			{assign var="etc34" value=$arrForm.edata158[$index]}
			{assign var="i"     value=$etc34|form54_dateindex}
			{$etc34|cnvDateFormat|date_format:"%d %B"|escape}
		</td>
		<td>
			{* etc5 *}
			{assign var="item_id"   value="68"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{assign var=data     value=$arrForm.$edata.$i}
			{if $_formItem.disp != "1" && $_formItem.item_type == "2"}
				{foreach from=$_formItem.select key=s_key item=item name=select}
					{$_formItem.select[$data]}<br/>
				{/foreach}
			{/if}

			{* etc6 *}
			{assign var="item_id"   value="99"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{if $_formItem.disp != "1" && $_formItem.item_type == "1"}
				{*{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br/>*}
				{$arrForm.$edata.$i|escape|nl2br}
			{/if}
		</td>

		<td>
			<dl class="list">
			{* etc7 *}
			{assign var="item_id"   value="100"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{assign var=data     value=$arrForm.$edata.$i}
			{if $_formItem.disp != "1" && $_formItem.item_type == "4"}
				<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
				<dd>{$_formItem.select[$data]|default:"&nbsp;"}</dd>
			{/if}

			{* etc8 *}
			{assign var="item_id"   value="101"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
				<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
				<dd>{$arrForm.$edata.$i|escape|nl2br|default:"&nbsp;"}</dd>
			{/if}

			{* etc9 *}
			{assign var="item_id"   value="102"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
				<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
				<dd>{$arrForm.$edata.$i|escape|nl2br|default:"&nbsp;"}</dd>
			{/if}

			{* etc10 *}
			{assign var="item_id"   value="103"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
				<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
				<dd>{$arrForm.$edata.$i|escape|nl2br|default:"&nbsp;"}</dd>
			{/if}
			</dl>
		</td>
	</tr>
	{/section}


	{* Schedule最後の行 *}
	<tr>
		<td>{$arrForm.edata77|cnvDateFormat|date_format:"%d %B"|escape}</td>
		<td>{$arrForm.edata159|escape}</td>
		<td>&nbsp;</td>
	</tr>

{/if}
