{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
</table>
<table class="rtbl f16schedule" id="tbl3_3_">
	<tr>
		<td class="iname f16r1">Date / Month</td>
		<td class="iname f16r2">Activity</td>
		<td class="iname f16r3">Hotel</td>
	</tr>

	<tr>
		<td>{$arrForm.edata73|cnvDateFormat|date_format:"%d %B"|escape}</td>
		<td>
			{* etc12 *}
            {assign var="etc12" value=""}
			{assign var="item_id"   value="75"}
			{assign var="_formItem" value=$arrItemData.1.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{assign var=data     value=$arrForm.$edata}
            {if $_formItem.item_type == "4"}
                {assign var="etc12" value=$_formItem.select[$data]|trim}
			{/if}

			{* etc13 *}
            {assign var="etc13" value=""}
			{assign var="item_id"   value="76"}
			{assign var="_formItem" value=$arrItemData.1.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{assign var=data     value=$arrForm.$edata}
            {if $_formItem.item_type == "4"}
                {assign var="etc13" value=$_formItem.select[$data]|trim}
			{/if}

			{* edata114 *}
            {assign var="edata114" value=$GLOBALS.country[$arrForm.edata114]}

			{* etc11 *}
            {assign var="etc11" value=""}
			{assign var="item_id"   value="74"}
			{assign var="_formItem" value=$arrItemData.1.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{assign var=data     value=$arrForm.$edata}
            {if $_formItem.item_type == "0"}
                {assign var="etc11" value=$data}
			{/if}

			{* Chinaで表示を分岐 *}
			{* etc33 *}
			{assign var="etc33" value="Arrival at `$etc12` from `$edata114` via `$etc11`"}
			{if $arrForm.edata142 == 1}
				{assign var="etc33" value="Arrival at `$etc12` from `$etc13`, `$edata114` via `$etc11`"}
			{/if}
			{$etc33}<input type="hidden" name="edata157" value="{$etc33}" />
		</td>
		<td>
			<dl class="list">
			{* etc1 *}
			{assign var="item_id"   value="54"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{if $_formItem.disp != "1" && $_formItem.item_type == "4"}
				<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
				<dd>
				<select name="{$edata}" id="{$edata}">
					<option vlaue=""></option>
					{foreach from=$_formItem.select key=s_key item=item name=select}
						{if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
							<option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
						{/if}
					{/foreach}
				</select>
			</dl>

			{if $_formItem.item_memo != ""}<p class="m0">{$_formItem.item_memo}</p>{/if}

			<dl class="list">
				{* Hotel Address # etc11 *}
				{assign var="item_id"   value="104"}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var="edata"     value="edata`$item_id`"}
				<input type="hidden" name="{$edata}" value="{$arrForm.$edata|escape}" />
                {assign var="data" value=$arrForm.$edata}{*$_formItem.select[$data]*}

				{* Hotel Phone #etc12 *}
				{assign var="item_id"   value="105"}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var="edata"     value="edata`$item_id`"}
				<input type="hidden" name="{$edata}" value="{$arrForm.$edata|escape}" />
                {assign var="data" value=$arrForm.$edata}{*$_formItem.select[$data]*}

				{* Error:Hotel Other *}
				{if $errorgroup.0|@count > 0}<p class="m0 red">Enter Hotel Other.</p>{/if}
				{if $errorgroup.3|@count > 0}<p class="m0 red">NOT enter other hotel information below.</p>{/if}
				</dd>
			{/if}

			{* etc2 *}
			{assign var="item_id"   value="55"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var="edata"     value="edata`$item_id`"}
			{assign var="attr"      value="class=''"}
			{if $item_id|in_array:$errorgroup.0}{assign var="attr" value="class='error'"}{/if}
			{if $item_id|cat:"0"|in_array:$errorgroup.3}{assign var="attr" value="class='error'"}{/if}
			{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
				<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
				<dd><input type="text" name="{$edata}" id="{$edata}" value="{$arrForm.$edata|escape}" size="40" {$attr} /></dd>
			{/if}

			{* etc3 *}
			{assign var="item_id"   value="56"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var="edata"     value="edata`$item_id`"}
			{assign var="attr"      value="class=''"}
			{if $item_id|in_array:$errorgroup.0}{assign var="attr" value="class='error'"}{/if}
			{if $item_id|cat:"0"|in_array:$errorgroup.3}{assign var="attr" value="class='error'"}{/if}
			{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
				<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
				<dd><input type="text" name="{$edata}" id="{$edata}" value="{$arrForm.$edata|escape}" size="40" {$attr} /></dd>
			{/if}

			{* etc4 *}
			{assign var="item_id"   value="67"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var="edata"     value="edata`$item_id`"}
			{assign var="attr"      value="class=''"}
			{if $item_id|in_array:$errorgroup.0}{assign var="attr" value="class='error'"}{/if}
			{if $item_id|cat:"0"|in_array:$errorgroup.3}{assign var="attr" value="class='error'"}{/if}
			{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
				<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
				<dd><input type="text" name="{$edata}" id="{$edata}" value="{$arrForm.$edata|escape}" size="40" {$attr} /></dd>
			{/if}
			</dl>
		</td>
	</tr>

	{assign var="item_id"   value="99"}
	{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
	{assign var=edata    value="edata`$item_id`"}
	{if $_formItem.disp != "1"}
		{* Schedule滞在日数の行 *}
		{section name=cnt start=0 loop=$arrForm.edata143}
	    {assign var="index" value=$smarty.section.cnt.index}
	    {assign var="first" value=$smarty.section.cnt.first}
		<tr id="f16row{$index}">
			<td>
				{assign var="etc34" value=$arrForm.edata73|form54_dateplus:$index+1}
				{assign var="i"     value=$etc34|form54_dateindex}
				{$etc34|cnvDateFormat|date_format:"%d %B"|escape}
				<input type="hidden" name="edata158[{$index}]" value="{$etc34}" />

			</td>

			<td class="top">
				{* etc5 *}
				{assign var="item_id"   value="68"}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var=edata    value="edata`$item_id`"}
				{if $_formItem.disp != "1" && $_formItem.item_type == "2"}
					{foreach from=$_formItem.select key=s_key item=item name=select}
						<input type="radio" name="{$edata}[{$i}]" value="{$s_key}" {if $arrForm.$edata.$i == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
					{/foreach}
				{/if}


				{* etc6 *}
				{assign var="item_id"   value="99"}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var="attr"      value="class=''"}
				{if $item_id|cat:'9'|in_array:$errorgroup.2.$i}{assign var="attr" value="class='error'"}{/if}
				{assign var=edata       value="edata`$item_id`"}
				{if $_formItem.disp != "1" && $_formItem.item_type == "1"}
					{*{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br/>*}
					{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}

					{* Error:Hotel Other *}
					{if $errorgroup.2.$i|@count > 0}<p class="m0 red">12th ACN is not held on this date.</p>{/if}
					<textarea rows="5" name="{$edata}[{$i}]" id="{$edata}_{$index}" cols="30" {$attr}>{$arrForm.$edata.$i|form54_term99:$etc34}</textarea>

					{if !$first}<p class="m0"><input type="button" value="Copy above" class="f16col_1" id="btn1_copy_{$index}" /></p>{/if}
				{/if}
			</td>

			<td>
				<dl class="list">
				{* etc7 *}
				{assign var="item_id"   value="100"}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var=edata    value="edata`$item_id`"}
				{if $_formItem.disp != "1" && $_formItem.item_type == "4"}
					{assign var="id" value="`$edata`_`$index`"}
					<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
					<dd>
						<select name="{$edata}[{$i}]" id="{$id}">
						<option vlaue=""></option>
						{foreach from=$_formItem.select key=s_key item=item name=select}
							{if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
								<option value="{$s_key}" {if $arrForm.$edata.$i == $s_key}selected{/if}>{$item}</option>
							{/if}
						{/foreach}
					</select>
				</dl>

				{if $_formItem.item_memo != ""}<p class="m0">{$_formItem.item_memo}</p>{/if}

				<dl class="list">
					{* Hotel Address # etc13 *}
					{assign var="item_id"   value="106"}
					{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
					{assign var="edata"     value="edata`$item_id`"}
					<input type="hidden" name="{$edata}[{$i}]" value="{$arrForm.$edata.$i|escape}" />
	                {assign var="data" value=$arrForm.$edata.$i}{*$_formItem.select[$data]*}

					{* Hotel Phone #etc14 *}
					{assign var="item_id"   value="107"}
					{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
					{assign var="edata"     value="edata`$item_id`"}
					<input type="hidden" name="{$edata}[{$i}]" value="{$arrForm.$edata.$i|escape}" />
	                {assign var="data" value=$arrForm.$edata.$i}{*$_formItem.select[$data]*}

					{* Error:Hotel Other *}
					{if $errorgroup.1.$i|@count > 0}<p class="m0 red">Enter Hotel Other.</p>{/if}
					{if $errorgroup.4.$i|@count > 0}<p class="m0 red">NOT enter other hotel information below.</p>{/if}
					</dd>
				{/if}

				{* etc8 *}
				{assign var="item_id"   value="101"}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var="attr"      value="class=''"}
				{if $item_id|in_array:$errorgroup.1.$i}{assign var="attr" value="class='error'"}{/if}
				{if $item_id|cat:'9'|in_array:$errorgroup.4.$i}{assign var="attr" value="class='error'"}{/if}
				{assign var=edata    value="edata`$item_id`"}
				{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
					{assign var="id" value="`$edata`_`$index`"}
					<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
					<dd><input type="text" name="{$edata}[{$i}]" id="{$id}" value="{$arrForm.$edata.$i|escape}" size="40" {$attr} /></dd>
				{/if}

				{* etc9 *}
				{assign var="item_id"   value="102"}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var="attr"      value="class=''"}
				{if $item_id|in_array:$errorgroup.1.$i}{assign var="attr" value="class='error'"}{/if}
				{if $item_id|cat:'9'|in_array:$errorgroup.4.$i}{assign var="attr" value="class='error'"}{/if}
				{assign var=edata    value="edata`$item_id`"}
				{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
					{assign var="id" value="`$edata`_`$index`"}
					<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
					<dd><input type="text" name="{$edata}[{$i}]" id="{$id}" value="{$arrForm.$edata.$i|escape}" size="40" {$attr} /></dd>
				{/if}

				{* etc10 *}
				{assign var="item_id"   value="103"}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var="attr"      value="class=''"}
				{if $item_id|in_array:$errorgroup.1.$i}{assign var="attr" value="class='error'"}{/if}
				{if $item_id|cat:'9'|in_array:$errorgroup.4.$i}{assign var="attr" value="class='error'"}{/if}
				{assign var=edata    value="edata`$item_id`"}
				{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
					{assign var="id" value="`$edata`_`$index`"}
					<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
					<dd><input type="text" name="{$edata}[{$i}]" id="{$id}" value="{$arrForm.$edata.$i|escape}" size="40" {$attr} /></dd>
				{/if}
				</dl>

				<p class="m0"><input type="button" value="Copy above" class="f16col_2" id="btn2_copy_{$index}" /></p>
			</td>
		</tr>
		{/section}


		{* Schedule最後の行 *}
		<tr>
			<td>{$arrForm.edata77|cnvDateFormat|date_format:"%d %B"|escape}</td>
			<td>
				{* etc17 *}
	            {assign var="etc17" value=""}
				{assign var="item_id"   value="80"}
				{assign var="_formItem" value=$arrItemData.1.$item_id}
				{assign var=edata    value="edata`$item_id`"}
				{assign var=data     value=$arrForm.$edata}
	            {if $_formItem.item_type == "4"}
	                {assign var="etc17" value=$_formItem.select[$data]|trim}
				{/if}

				{* etc16 *}
	            {assign var="etc16" value=""}
				{assign var="item_id"   value="79"}
				{assign var="_formItem" value=$arrItemData.1.$item_id}
				{assign var=edata    value="edata`$item_id`"}
				{assign var=data     value=$arrForm.$edata}
	            {if $_formItem.item_type == "4"}
	                {assign var="etc16" value=$_formItem.select[$data]|trim}
				{/if}

				{* edata114 *}
	            {assign var="edata114" value=$GLOBALS.country[$arrForm.edata114]}

				{* etc15 *}
	            {assign var="etc15" value=""}
				{assign var="item_id"   value="78"}
				{assign var="_formItem" value=$arrItemData.1.$item_id}
				{assign var=edata    value="edata`$item_id`"}
				{assign var=data     value=$arrForm.$edata}
	            {if $_formItem.item_type == "0"}
	                {assign var="etc15" value=$data}
				{/if}


				{* Chinaで表示を分岐 *}
				{* etc35 *}
				{assign var="etc35" value="Departute from `$etc17` to `$edata114` via `$etc15`"}
				{if $arrForm.edata142 == 1}
					{assign var="etc35" value="Departute from `$etc17` to `$etc16`, `$edata114` via `$etc15`"}
				{/if}
				{$etc35}<input type="hidden" name="edata159" value="{$etc35}" />
			</td>
			<td>&nbsp;</td>
		</tr>
	{/if}
{/if}
