<tr>
	<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
	<td>{assign var=key value="edata`$item_id`"}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}:

		{assign var="item_id"   value=116}
		{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
		{assign var=key value="edata`$item_id`"}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}
	</td>
</tr>
