<tr>
	<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
	<td>{assign var=key value="edata`$item_id`"}
		<!--{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}-->

		<!--{if $arrData[$key]|strlen > 0}
			:
			{assign var="item_id"   value=72}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=key value="edata`$item_id`"}
			{include file="Mng/entry/include_detail.html"
					 val=$arrData[$key]
				     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}
		{/if}-->
		<!-- <input type="text" name="edata25" value="{$arrData.edata25|@debug_print_var}" style="width:200px;"> -->
		<input type="text" name="edata25" value="{$arrData.edata25|escape}" style="width:200px;">
	</td>
</tr>
