</table>

<br/>

<p>Accompanying Person(s)</p>

{section name=cnt start=0 loop=$max_persons}
    {assign var="index" value=$smarty.section.cnt.index}

	<table class="listtbl">
	<caption>Accompanying Person {$index+1}</caption>
	{edataXX group_id=$group_id item_id=108}
	<tr>
		<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
		<td>{$arrData[$edata].$index|escape}</td>
	</tr>

	{* Title *}
	{edataXX group_id=$group_id item_id=109}
	{assign var="data" value=$data.$index}
	{if $_formItem.disp != "1" &&  $_formItem.item_type == "2"}
	<tr>
		<th class="width150">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</th>
		<td>{assign var=key value=$edata}
			{include file="Mng/entry/include_detail.html"
					 val=$arrData[$key].$index
				     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}
		</td>
	</tr>
	{/if}

	{* Family Name *}
	{edataXX group_id=$group_id item_id=110}
	{assign var="data" value=$data.$index}
	{if $_formItem.disp != "1" &&  $_formItem.item_type == "0"}
	<tr>
		<th class="width150">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</th>
		<td>{$arrData[$edata].$index|escape}</td>
	</tr>
	{/if}

	{* Given Name *}
	{edataXX group_id=$group_id item_id=111}
	{assign var="data" value=$data.$index}
	{if $_formItem.disp != "1" &&  $_formItem.item_type == "0"}
	<tr>
		<th class="width150">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</th>
		<td>{$arrData[$edata].$index|escape}</td>
	</tr>
	{/if}

	{* Middle Name *}
	{edataXX group_id=$group_id item_id=112}
	{assign var="data" value=$data.$index}
	{if $_formItem.disp != "1" &&  $_formItem.item_type == "0"}
	<tr>
		<th class="width150">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</th>
		<td>{$arrData[$edata].$index|escape}</td>
	</tr>
	{/if}

	{* Gender *}
	{edataXX group_id=$group_id item_id=113}
	{assign var="data" value=$data.$index}
	{if $_formItem.disp != "1" &&  $_formItem.item_type == "2"}
	<tr>
		<th class="width150">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</th>
		<td>{assign var=key value=$edata}
			{include file="Mng/entry/include_detail.html"
					 val=$arrData[$key].$index
				     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}
		</td>
	</tr>
	{/if}

	{* Date of birth *}
	{edataXX group_id=$group_id item_id=145}
	{if $_formItem.disp != "1" &&  $_formItem.item_type == "4"}
	<tr>
		<th class="width150">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</th>
		<td>{assign var=key value=$edata}
			{assign var="data" value=$data.$index}
			Date {include file="Mng/entry/include_detail.html"
					 val=$arrData[$key].$index
				     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}&nbsp;&nbsp;

			{* Month *}
			{edataXX group_id=$group_id item_id=146}
			{assign var=key value=$edata}
			{assign var="data" value=$data.$index}
			{if $_formItem.disp != "1" &&  $_formItem.item_type == "4"}
			Month {include file="Mng/entry/include_detail.html"
					 val=$arrData[$key].$index
				     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}&nbsp;&nbsp;
			{/if}

			{* Year *}
			{edataXX group_id=$group_id item_id=147}
			{assign var=key value=$edata}
			{assign var="data" value=$data.$index}
			{if $_formItem.disp != "1" &&  $_formItem.item_type == "4"}
			Yeer {include file="Mng/entry/include_detail.html"
					 val=$arrData[$key].$index
				     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}&nbsp;&nbsp;
			{/if}
		</td>
	</tr>
	{/if}

	{* Nationality *}
	{edataXX group_id=$group_id item_id=148}
	{assign var="data" value=$data.$index}
	{if $_formItem.disp != "1" &&  $_formItem.item_type == "4"}
	<tr>
		<th class="width150">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</th>
		<td>{assign var=key value=$edata}
			{include file="Mng/entry/include_detail.html"
					 val=$arrData[$key].$index
				     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}
		</td>
	</tr>
	{/if}

	{* University / Institute / Company Name *}
	{edataXX group_id=$group_id item_id=149}
	{if $_formItem.disp != "1" &&  $_formItem.item_type == "0"}
	<tr>
		<th class="width150">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</th>
		<td>{$arrData[$edata].$index|escape}</td>
	</tr>
	{/if}

	{* Occupation *}
	{edataXX group_id=$group_id item_id=150}
	{if $_formItem.disp != "1" &&  $_formItem.item_type == "0"}
	<tr>
		<th class="width150">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</th>
		<td>{$arrData[$edata].$index|escape}</td>
	</tr>
	{/if}

	{* 1 *}
	{edataXX group_id=$group_id item_id=151}
	{if $_formItem.disp != "1" &&  $_formItem.item_type == "0"}
	<tr>
		<th class="width150">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</th>
		<td>{$arrData[$edata].$index|escape}</td>
	</tr>
	{/if}

	{* 2 *}
	{edataXX group_id=$group_id item_id=152}
	{if $_formItem.disp != "1" &&  $_formItem.item_type == "0"}
	<tr>
		<th class="width150">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</th>
		<td>{$arrData[$edata].$index|escape}</td>
	</tr>
	{/if}

	</table>
	<br/>
{/section}
<table>
