{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(mode, type){
		var f = document.frm;
		f.mode.value = mode;
		if(typeof type !== "undefined" && type.length > 0){
			f.type.value = type;
		}
		f.submit();
	}


	function f_back(){
		var f = document.frm;

		f.action = '../index.php';
		f.mode.value = 'back';
		f.submit();
	}

	function f_down(num){

		var f = document.frm;
		f.mode.value = 'download';
		f.down_num.value = num;
		f.submit();

	}

	$(function(){
		$("#edata136 input:radio").bind("change", function(){
		    var chk = $(this).filter(":checked").val();
		    if(typeof chk == 'undefined'){ return; }

		    if(chk == 1){
		        $("#edata136_").text({/literal}'{$edata136url.1}'{literal});
			}
			if(chk == 2){
		        $("#edata136_").text({/literal}'{$edata136url.2}'{literal});
			}
		}).change();
	});

</script>
{/literal}

<div class="ttl"><h2>エントリー詳細</h2></div>
<br />

<form name="frm" method="post" id="form{$form_id}detail" action="?eid={$eid}#option">
	<input type="hidden" name="mode" value="" />
	<input type="hidden" name="type" value="" />
	<input type="hidden" name="down_num" value="" />
	<input type="hidden" name="form_id" value="{$arrForm.form_id|escape}" />
	{$embed}
	<br />


	{* カスタマイズファイルを取得 *}
	{setIncFormItemMng}

	{* ブロック1 *}
	{if $arrData}
		<table class="listtbl">
		<caption>{$arrForm.group1|default:"group1"}	<input type="button" value="戻る" id="backbtn" onclick="f_back();" />
</caption>
			{* ID、PASS*}
			{if $arrForm.edit_flg == "1"}
				<tr>
					<th class="width150">ID</th>
					<td>{$arrData.e_user_id}</td>
				</tr>
				<tr>
					<th class="width150">PASSWORD</th>
					<td>{$arrData.e_user_passwd}</td>
				</tr>
			{/if}

			{assign var=group_id value="1"}
			{foreach from=$arrItemData.$group_id key=_key item=_formItem}
				{assign var="item_id" value=$_formItem.item_id}

				{* 共著者に関する項目はブロック2で表示するため非表示 *}
				{if $arrForm.type == "3" && ($item_id == "29" || $item_id == "30" || $item_id == "31")}
					{php}continue;{/php}
				{/if}

				{if $formItem[$item_id].disp != "1"}
				{* カスタマイズあり *}
				{if $exitems.$item_id}
					{include file=$exitems.$item_id item_id=$item_id}

				{* カスタマイズなし *}
				{else}
					<tr>
						<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
						<td>{assign var=key value="edata`$item_id`"}
							{include file="Mng/entry/include_detail.html"
									 val=$arrData[$key]
								     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
							}
							<!-- デバッグ用 -->
						</td>
					</tr>
				{/if}
				{/if}
			{/foreach}
		</table>
		<br />
	{/if}


	{* ブロック2 共著者あり *}
	{if $arrAff}
		<table class="listtbl">
			<caption>{$arrForm.group2|default:"group2"}</caption>
		</table>

		{foreach from=$arrAff item=aff name=loopaff}
			<table class="listtbl">
			<tr>
				<th colspan="2">{$smarty.foreach.loopaff.iteration}</th>
			</tr>

			{assign var=group_id value="2"}
			{foreach from=$arrItemData.$group_id key=_key item=_formItem}
				{assign var="item_id" value=$_formItem.item_id}

				{if $formItem[$item_id].disp != "1"}
				{* カスタマイズあり *}
				{if $exitems.$item_id}
					{include file=$exitems.$item_id item_id=$item_id}

				{* カスタマイズなし *}
				{else}
					<tr>
						<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
						<td>{assign var=key value="edata`$item_id`"}
							{if $item_id == "32"}
								{include file="Mng/entry/include_detail.html" val=$aff[$key] type=3 arrval=$arrData.edata31}
							{else}
								{include file="Mng/entry/include_detail.html"
									     val=$aff[$key] type=$formItem[$item_id].item_type
									     arrval=$formItem[$item_id].item_select}
							{/if}
						</td>
					</tr>
					{/if}
				{/if}
			{/foreach}
			</table>
			<br />
		{/foreach}
	{/if}

	{* ブロック3 *}
	{if $arrData && $arrForm.group3_use != "1"}
			{assign var=group_id value="3"}
			{assign var=pregroup value="0"}

			<table class="listtbl">
			{foreach from=$arrItemData.$group_id key=_key item=_formItem}
				{assign var="item_id" value=$_formItem.item_id}

				{if $formItem[$item_id].disp != "1"}

				{if $pregroup != $_formItem.group3}
					{assign var=pregroup value=$_formItem.group3}
					{assign var=title_id value=$pregroup-1}
					</table><br/>
					<table class="listtbl">
					<caption>{$formData.arrgroup3[$title_id]|default:"group3"}</caption>
				{/if}

				{* カスタマイズあり *}
				{if $exitems.$item_id}
					{include file=$exitems.$item_id item_id=$item_id}

				{* カスタマイズなし *}
				{else}
				<tr>
					<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
					<td>{assign var=key value="edata`$item_id`"}
						{include file="Mng/entry/include_detail.html"
								 val=$arrData[$key]
							     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
						}
					</td>
				</tr>
				{/if}
				{/if}
			{/foreach}
		</table>
		<br />
	{/if}


	{if $arrPayment}
		{* カスタマイズあり *}
		{if $exitems.pay}
			{include file=$exitems.pay}
		{else}
			<br />
			<table class="listtbl">
			<caption>お支払い情報</caption>
			<tr>
				<th class="width150">支払い方法</th>
				<td>{$GLOBALS.method_J[$arrPayment.payment_method]}</td>
			</tr>
			<tr>
				<th class="width150">金額</th>
				<td>{$arrPayment.price|number_format}円</td>
			</tr>
		    <tr>
		        <th class="width150">明細</th>
		        <td>
		            <table class="payment_detail">
		                <tr>
		                    <td>項目</td>
		                    <td>単価</td>
		                    <td>数量</td>

		                </tr>
		                {foreach from=$payment_detail item=detail}
		                 <tr>
		                    <td>{$detail.name|del_tags}</td>
		                    <td>{if $detail.price|is_numeric}{$detail.price|number_format}円{else}{$detail.price}{/if}</td>
		                    <td>{$detail.quantity|escape}</td>

		                </tr>
		                {/foreach}
		            </table>
		        </td>
		    </tr>

			<tr>
				<th class="width150">ステータス</th>
				<td>{$GLOBALS.paymentstatusList[$arrPayment.payment_status]}</td>
			</tr>
			{if $arrPayment.payment_method == "1"}
				<tr>
					<th class="width150">クレジット</th>
					<td>
						<ul class="nonstyle">
							<li>{$GLOBALS.card_type_J[$arrPayment.c_company]|escape}
								{$GLOBALS.jpo1_J[$arrPayment.c_method]|escape}
								{if $arrPayment.c_split != ""}{$arrPayment.c_split|escape}回{/if}
							</li>
							<li>クレジット番号:{$arrPayment.c_number|escape}</li>
							<li>有効期限:{$arrPayment.c_date|escape}</li>
							<li>名義人:{$arrPayment.c_holder|escape}</li>
							<li>セキュリティコード:{$arrPayment.c_scode|escape}</li>
						</ul>
					</td>
				</tr>
			{elseif $arrPayment.payment_method == "2"}
				<tr>
					<th class="width150">振込情報</th>
					<td>
						<ul class="nonstyle">
							<li>お振込み人名義:{$arrPayment.lessee|escape}</li>
							<li>お支払銀行名:{$arrPayment.bank|escape}</li>
							<li>お振込み日:{$arrPayment.closure|escape}</li>
						</ul>
					</td>
				</tr>
			{/if}
			</table>
		{/if}
	{/if}
	<br/>


	{if $arrErr}
		<div class="errmsg">
		{foreach from=$arrErr item=err}
			<p>{$err|escape}</p>
		{/foreach}
		</div>
	{/if}

	{edataXX group_id=1 item_id=135}
	{assign var="data" value=$arrData.$edata}
    {if $_formItem.item_type == "3" || $_formItem.item_type == "4"}
	<table class="listtbl" id="option">
		<caption>処理ステータス</caption>
		<tr>
			<th class="width150">{$_formItem.item_name}</th>
			<td>
		    {if $_formItem.item_type == "3"}
            {foreach from=$_formItem.select key=s_key item=item name=select}
                {assign var=key26 value=`$edata``$s_key`}
                <input type="checkbox" name="{$edata}{$s_key}" value="{$s_key}" {if $arrData[$key26] == $s_key}checked{/if} />{$item}<br />
            {/foreach}
			{/if}
		    {if $_formItem.item_type == "4"}
            <select name="{$edata}">
                <option vlaue=""></option>
                {foreach from=$_formItem.select key=s_key item=item name=select}
                    {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
                        <option value="{$s_key}" {if $arrData.$edata == $s_key}selected{/if}>{$item}</option>
                    {/if}
                {/foreach}
            </select>
			{/if}
			</td>
		</tr>
	</table>
	<br/>
	{/if}

	{edataXX group_id=1 item_id=136}
	{assign var="data" value=$arrData.$edata}
    {if $_formItem.item_type == "2"}
	<table class="listtbl">
		<caption>送付方法</caption>
		<tr>
			<th class="width150">{$_formItem.item_name}</th>
			<td id="edata136">
            {foreach from=$_formItem.select key=s_key item=item name=select}
                <input type="radio" name="{$edata}" value="{$s_key}" {if $arrData.$edata == $s_key}checked{/if} />{$item}&nbsp;
            {/foreach}
			</td>
		</tr>
		<tr>
			<th class="width150">追跡確認用URL</th>
			<td id="edata136_"></td>
	</table>
	<br/>
	{/if}

	{edataXX group_id=1 item_id=137}
    {if $_formItem.item_type == "0"}
	<link rel="stylesheet" type="text/css" href="{$smarty.const.APP_ROOT}htdocs/css/js/jquery.ui.theme.css">
	<link rel="stylesheet" type="text/css" href="{$smarty.const.APP_ROOT}htdocs/css/js/jquery.ui.datepicker.css">
	<script type="text/javascript" src="{$smarty.const.APP_ROOT}htdocs/js/jquery.ui.core.js"></script>
	<script type="text/javascript" src="{$smarty.const.APP_ROOT}htdocs/js/jquery.ui.datepicker.js"></script>
	{section name=cnt start=0 loop=1}
	    {assign var="index" value=$smarty.section.cnt.index}

		<table class="listtbl">
			<caption>Item Number</caption>
			{assign var="data" value=$arrData.$edata}
			<tr>
				<th class="width150">{$_formItem.item_name}</th>
				<td><input type="text" name="{$edata}" value="{$data|escape}" size="30" /></td>
			</tr>

			{edataXX group_id=1 item_id=138}
			{assign var="data" value=$arrData.$edata}
		    {if $_formItem.item_type == "0"}
			<tr>
				<th class="width150">{$_formItem.item_name}</th>
				<td><input type="text" name="{$edata}" id="{$edata}_{$index}" 
									   value="{$data|escape}" size="10" readonly />
					{literal}
					<script>
					$(function(){
						$("#{/literal}{$edata}_{$index}{literal}").datepicker({
							dateFormat: "yy/mm/dd"
					       ,hideIfNoPrevNext:true
						   ,showOn: "button"
				           ,buttonImageOnly:true
						   ,buttonImage: "{/literal}{$smarty.const.APP_ROOT}{literal}htdocs/css/js/images/calendar.gif"
						});
					});
					</script>
					{/literal}
				</td>
			</tr>
			{/if}

			{edataXX group_id=1 item_id=139}
			{assign var="data" value=$arrData.$edata}
		    {if $_formItem.item_type == "0"}
			<tr>
				<th class="width150">{$_formItem.item_name}</th>
				<td><input type="text" name="{$edata}" id="{$edata}_{$index}" 
 									   value="{$data|escape}" size="10" readonly />
					{literal}
					<script>
					$(function(){
						$("#{/literal}{$edata}_{$index}{literal}").datepicker({
							dateFormat: "yy/mm/dd"
					       ,hideIfNoPrevNext:true
						   ,showOn: "button"
				           ,buttonImageOnly:true
						   ,buttonImage: "{/literal}{$smarty.const.APP_ROOT}{literal}htdocs/css/js/images/calendar.gif"
						});
					});
					</script>
					{/literal}
				</td>
			</tr>
			{/if}
		</table>
		<br/>
	{/section}
	{/if}


	{edataXX group_id=1 item_id=140}
    {if $_formItem.item_type == "1"}
	<table class="listtbl">
		<tr>
			<th class="width150">{$_formItem.item_name}</th>
			<td><textarea rows="10" name="{$edata}" cols="80">{$arrData.$edata}</textarea></td>
		</tr>
	</table>
	<br/>
	{/if}

	<table class="listtbl">
		<caption>書類</caption>
		<tr>
			<th class="width150">書類ダウンロード</th>
			<td>
				<input type="button" value="Cover Letter" onclick="f_submit('phpword', '1');" />
				<input type="button" value="招へい理由書" onclick="f_submit('phpword', '2');" />
				<input type="button" value="身元保証書"   onclick="f_submit('phpword', '3');" />
				<input type="button" value="日程表"       onclick="f_submit('phpword', '4');" />
				<input type="button" value="申請人名簿"   onclick="f_submit('phpword', '5');" />
			</td>
		</tr>
	</table>

	<br />
	<div class="btn">
		<input type="button" value="保存" onclick="f_submit('save');" />
	</div>

</form>
{include file="include/footer.html"}