<div class="actionblock">
	<span class="rtop">
		<span class="r1"></span>
		<span class="r2"></span>
		<span class="r3"></span>
		<span class="r4"></span>
	</span>
	<p>一括処理</p>
    <p class="small">
		チェックしたエントリー情報に対して一括処理を行います。<br />
        {foreach from=$upload_file_field item=file_view key=k name=file_view}
            {if $file_view != '1'}
				また、ファイルダウンロードボタンをクリックすると、アップロードファイルの一括ダウンロードを行います。
				{php}break;{/php}
            {/if}
        {/foreach}
	</p>
	<p>
		<input type="button" value="初期状態戻す" onclick="f_status('0');" />
		{if $GLOBALS.userData.type == "1"}<input type="button" value="採択" onclick="f_status('1');" />
			<input type="button" value="不採択" onclick="f_status('2');" />
		{/if}

		<input type="button" value="キャンセル" onclick="f_status('99');" />

		<input type="button" value="削除" onclick="f_status('4');" />

		<input type="button" value="メール送信(送付通知 通常)" onclick="f_sendmail();" />


		{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}
			{$form.chg_status}
			<input type="button" value="ステータス変更" onclick="f_status('5');" />
		{/if}

		<br/><br/>
        {foreach from=$upload_file_field item=file_view key=k name=file_view}
            {if $file_view != '1'}
                <input type="button" value="ファイル一括DL&nbsp;{$k|escape}" onclick="file_download('{$k}');" />
            {/if}
        {/foreach}


        <input type="button" value="一括書類DL(zip)" onclick="file_download('word');" />


        <select name="chg_edata135" id="chg_edata135">
            <option value="">↓選択</option>
            {html_options options=$arrItemData.1.135.select selected=$arrForm.deliv_date_id}
        </select>
		<input type="button" value="処理ステータス変更" onclick="f_chg_edata135();" />
	</p>

	<span class="rbottom">
		<span class="r4"></span>
		<span class="r3"></span>
		<span class="r2"></span>
		<span class="r1"></span>
	</span>
</div>

{literal}
<script>

function f_chg_edata135(){
	var chk = $("#chg_edata135 option:selected").val();
	if((typeof chk == 'undefined') || (chk.length == 0)){
		alert('処理ステータスを選択してください。');
		return;
	}

	f_status("135"+chk);
}

</script>
{/literal}