<table class="listtbl">
	<tr>
		<th class="width220">登録No.</th>
		<td><input type="text" name="s_entry_no" size="20" value="{$arrForm.s_entry_no|escape}" />～<input type="text" name="e_entry_no" size="20" value="{$arrForm.e_entry_no}" /></td>
	</tr>
	<tr>
		<th>応募者名</th>
		<td><input type="text" name="user_name" size="50" value="{$arrForm.user_name|escape}" /></td>
	</tr>
	<tr>
		<th>応募者名（カナ）</th>
		<td><input type="text" name="user_name_kana" size="50" value="{$arrForm.user_name_kana|escape}" /></td>
	</tr>
	{if $GLOBALS.userData.lang == "2"}
	   {if $formitemview.60 != "1"}
		  <tr>
			 <th>国名</th>
			 <td><input type="text" name="country" size="50" value="{$arrForm.country|escape}" /></td>
		  </tr>
        {/if}
       {if $formitemview.114 != "1"}
          <tr>
             <th>Country</th>
             <td>
                <select name="country_list">
                    <option value=""></option>
                    {html_options options=$GLOBALS.country selected=$arrForm.country_list}
                </select>
             </td>
          </tr>
        {/if}
	{/if}

	{edataXX group_id=1 item_id=135}
	<tr>
		<th>処理ステータス</th>
		<td>
            {foreach from=$_formItem.select key=s_key item=item name=select}
                {assign var=key26 value=`$edata``$s_key`}
                <input type="checkbox" name="{$edata}{$s_key}" class="{$edata}" value="{$s_key}" {if $arrForm[$key26] == $s_key}checked{/if} />{$item}
            {/foreach}<!--{$arrForm.edata1351|@debug_print_var}-->
			{assign var="s_key" value=99}
            {assign var=key26 value=`$edata``$s_key`}
            <input type="checkbox" name="{$edata}{$s_key}" id="edata135" value="{$s_key}" {if $arrForm[$key26] == $s_key}checked{/if} />Blank
		</td>
	</tr>

	<tr>
		<th>状態</th>
		<td>
			{if $GLOBALS.userData.type == "1"}
				<input type="checkbox" name="status1" value="1"{if $arrForm.status1 == "1"} checked{/if} />採択
				<input type="checkbox" name="status2" value="2"{if $arrForm.status2 == "2"} checked{/if} />初期状態
				<input type="checkbox" name="status3" value="3"{if $arrForm.status3 == "3"} checked{/if} />不採択
				<input type="checkbox" name="status4" value="4"{if $arrForm.status4 == "4"} checked{/if} />キャンセル
			{else}
				<input type="checkbox" name="status2" value="2"{if $arrForm.status2 == "2"} checked{/if} />初期状態
				<input type="checkbox" name="status4" value="4"{if $arrForm.status4 == "4"} checked{/if} />キャンセル

			{/if}
		</td>
	</tr>

	<tr>
		<th>受付期間</th>
		<td>
			<select name="syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.syear}
			</select>年
			<select name="smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.smonth}
			</select>月
			<select name="sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.sday}
			</select>日～
			<select name="eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.eyear}
			</select>年
			<select name="emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.emonth}
			</select>月
			<select name="eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.eday}
			</select>日
		</td>
	</tr>
	<tr>
		<th>更新期間</th>
		<td>
			<select name="upd_syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.upd_syear}
			</select>年
			<select name="upd_smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.upd_smonth}
			</select>月
			<select name="upd_sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.upd_sday}
			</select>日～
			<select name="upd_eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.upd_eyear}
			</select>年
			<select name="upd_emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.upd_emonth}
			</select>月
			<select name="upd_eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.upd_eday}
			</select>日
		</td>
	</tr>

	<tr>
		<th>ビザ書類送付日</th>
		<td>
			<select name="edata138sy">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.edata138sy}
			</select>年
			<select name="edata138sm">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.edata138sm}
			</select>月
			<select name="edata138sd">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.edata138sd}
			</select>日～
			<select name="edata138ey">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.edata138ey}
			</select>年
			<select name="edata138em">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.edata138em}
			</select>月
			<select name="edata138ed">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.edata138ed}
			</select>日
		</td>
	</tr>

	<tr>
		<th>送付通知日-通常</th>
		<td>
			<select name="send_sy" id="send_sy">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.send_sy}
			</select>年
			<select name="send_sm" id="send_sm">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.send_sm}
			</select>月
			<select name="send_sd" id="send_sd">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.send_sd}
			</select>日～
			<select name="send_ey" id="send_ey">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.send_ey}
			</select>年
			<select name="send_em" id="send_em">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.send_em}
			</select>月
			<select name="send_ed" id="send_ed">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.send_ed}
			</select>日&nbsp;
			<input type="checkbox" name="send" id="blank" value="1" {if $arrForm.send == 1}checked{/if} />Blank
		</td>
	</tr>

	{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}
	<tr>
		<th>お支払い方法</th>
		<td>
			{$form.payment_method}
		</td>
	</tr>
	<tr>
		<th>お支払いステータス</th>
		<td>
			{$form.payment_status}
		</td>
	</tr>
	{/if}
	<tr>
		<th>ソート順</th>
		<td>
			<select name="sort_name">
				{html_options options=$sort_name selected=$arrForm.sort_name}
			</select>&nbsp;の
			<select name="sort">
				{html_options options=$sort selected=$arrForm.sort}
			</select>
		</td>
	</tr>

	<tr>
		<th>表示件数</th>
		<td>
			<select name="limit">
				{html_options values=$arrLimit output=$arrLimit selected=$arrForm.limit}
			</select>
		</td>
	</tr>

</table>

<div class="btn">
	<input type="button" value="検索" onclick="f_submit('');" />
	<input type="button" value="検索条件クリア" onclick="f_clear();" />
	<input type="button" value="新規エントリー登録" onclick="f_edit('1','');" />
	<input type="button" value="エントリー情報CSV出力" onclick="f_csv('1');" />
	{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}
		<input type="button" value="決済情報CSV出力" onclick="f_csv('2');" />
		<input type="button" value="エントリー+決済情報CSV出力" onclick="f_csv('3');" />
	{/if}
</div>
<br/>



<div class="ttl">
	フォーム設定更新
</div>
<br/>

<table class="listtbl">
	<tr>
		<th class="width220">登録者リストアップロード</th>
		<td><input type="file" name="form54_list" size="40" value="" /></td>
	</tr>

{*
	<tr>
		<th>滞在可能日数</th>
		<td>&nbsp;</td>
	</tr>

	<tr>
		<th>同伴者人数</th>
		<td>&nbsp;</td>
	</tr>
*}
</table>

<div class="btn">
	<input type="button" value="更新" onclick="f_modesubmit('pref');">
</div>
<br/>


{literal}
<script language="JavaScript">
	function f_modesubmit(mode){

		var f = document.frm;
		f.action = 'index.php';
		f.target = '_self';
		f.mode.value = mode
		f.submit();
	}

	$(function(){
		$("#blank").change(function(){
			$('#send_sy').prop('disabled', false).css("background-color", "#fff");
			$('#send_sm').prop('disabled', false).css("background-color", "#fff");
			$('#send_sd').prop('disabled', false).css("background-color", "#fff");
			$('#send_ey').prop('disabled', false).css("background-color", "#fff");
			$('#send_em').prop('disabled', false).css("background-color", "#fff");
			$('#send_ed').prop('disabled', false).css("background-color", "#fff");

			if($("#blank:checked").val() == 1){
				$('#send_sy').prop('disabled', true).css("background-color", "#eee");
				$('#send_sm').prop('disabled', true).css("background-color", "#eee");
				$('#send_sd').prop('disabled', true).css("background-color", "#eee");
				$('#send_ey').prop('disabled', true).css("background-color", "#eee");
				$('#send_em').prop('disabled', true).css("background-color", "#eee");
				$('#send_ed').prop('disabled', true).css("background-color", "#eee");
			}
		}).change();

		$("#edata135").change(function(){
			$('.edata135').prop('disabled', false).css("background-color", "#fff");

			if($("#edata135:checked").val() == 99){
				$('.edata135').prop('disabled', true).css("background-color", "#eee");
			}
		}).change();
	});

</script>
{/literal}
