{assign var=edata    value="edata`$item_id`"}
<script src="https://ajaxzip3.googlecode.com/svn/trunk/ajaxzip3/ajaxzip3-https.js" charset="UTF-8"></script>
{if $_formItem.disp != "1"}
    <tr class ="edata26">
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            {*テキスト*}
            {if $_formItem.item_type == "0"}
                <input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="4" maxlength="3">
            {/if}
            -
            {if $_formItem.item_type == "0"}
            	{edataXX group_id=$group_id item_id=27}
<!--             	<input type="text" name="{$edata}" size="5" maxlength="4" onKeyUp="AjaxZip3.zip2addr('edata26','edata27','edata18','edata19','edata20');"> -->
				<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="5" maxlength="4">
            {/if}
            {if $_formItem.item_type == "0"}
            	<input type="button" name="kensaku" size="4" value="住所検索" onClick="AjaxZip3.zip2addr('edata26','edata27','edata18','edata19','edata20');">
            {/if}
        </td>
    </tr>
{/if}
</body>
</html>