{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    <tr class ="edata82">
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            {*テキスト*}
            {if $_formItem.item_type == "0"}
                <input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" maxlength="3" size="{$_formItem.size|default:"40"}" {attr}/>
            {/if}
            -
            {if $_formItem.item_type == "0"}
            	{edataXX group_id=$group_id item_id=83}
            	<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" maxlength="4" size="{$_formItem.size|default:"40"}" {attr}/>
            {/if}
            -
            {if $_formItem.item_type == "0"}
            	{edataXX group_id=$group_id item_id=115}
            	<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" maxlength="4" size="{$_formItem.size|default:"40"}" {attr}/>
            {/if}
        </td>
    </tr>
{/if}