{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    <tr class ="edata76">
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            {*テキスト*}
            {if $_formItem.item_type == "0"}
                <input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="4" maxlength="3"/>
<!--                 <input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="4" maxlength="3"> -->
            {/if}
            -
            {if $_formItem.item_type == "0"}
            	{edataXX group_id=$group_id item_id=77}
            	<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="5" maxlength="4"/>
<!--             	<input type="text" name="{$edata}" size="5" maxlength="4" onKeyUp="AjaxZip3.zip2addr('edata76','edata77','edata78','edata79','edata80');"> -->
            {/if}
            {if $_formItem.item_type == "0"}
            	<input type="button" name="kensaku" size="4" value="住所検索" onClick="AjaxZip3.zip2addr('edata76','edata77','edata78','edata79','edata80');">
            {/if}
        </td>
    </tr>
{/if}