{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}
{assign var=xdata    value="edata71"}

{if $_formItem.disp != "1"}
{if $arrForm.$xdata == "2"}

    	<tr class ="edata76">
        	<td class="iname">
            	{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        	</td>

        	<td>
            	{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            	{*テキスト*}
            	{if $_formItem.item_type == "0"}
                	{$arrForm.$edata|escape}
            	{/if}
            	-
            	{if $_formItem.item_type == "0"}
            		{edataXX group_id=$group_id item_id=77}
            		{$arrForm.$edata|escape}
				{/if}
        	</td>
    	</tr>
{/if}
{/if}
