{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--郵便番号-->
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			<script type="text/javascript" src="/htdocs/js/ajaxzip3-https.js"></script>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
			<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="10"
				   onkeyup="AjaxZip3.zip2addr(this,'','edata18','edata19');" />
		</td>
	</tr>
{/if}
