#case1{
    background-color: lightseagreen;
	color : white;
}

#case2{
    background-color: coral;
	color : white;
}

#case3{
	background-color: royalblue;
	color : white;
}

#case4{
	background-color: gainsboro;
}

.notice{
	font-size : 12px;
}

table.rtbl .iname{
    width: 95px;
}