<tr>
	<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
    <td>
        {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
		{assign var=key value="edata`$item_id`"}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}
        -
    	{edataXX group_id=$group_id item_id=83}
		{assign var=key value=$edata}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}
        -
    	{edataXX group_id=$group_id item_id=115}
		{assign var=key value=$edata}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}
    </td>
</tr>
