{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            {*テキスト*}
            {if $_formItem.item_type == "0"}
                <input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="40" />

            {*テキストエリア*}
            {elseif $_formItem.item_type == "1"}
                <textarea rows="5" name="{$edata}" cols="85">{$arrForm.$edata}</textarea>

            {*ラジオ*}
            {elseif $_formItem.item_type == "2"}
                {foreach from=$_formItem.select key=s_key item=item name=select}
                    <input type="radio" name="{$edata}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
                {/foreach}

            {*チェックボックス*}
            {elseif $_formItem.item_type == "3"}

                {foreach from=$_formItem.select key=s_key item=item name=select}

                    {assign var=key26 value=`$edata``$s_key`}
                    <input type="checkbox" name="{$edata}{$s_key}" value="{$s_key}" {if $arrForm[$key26] == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm[$key26] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
                {/foreach}

            {*セレクト*}
            {else $_formItem.item_type == "4"}
                <select name="{$edata}" class="{$edata}">
                    <option vlaue=""></option>
                    {foreach from=$_formItem.select key=s_key item=item name=select}
                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
                        {/if}
                    {/foreach}
                </select>
            {/if}
        </td>
    </tr>
{/if}

{literal}
<script language="javascript">
var num = 0
var control = false;
$(".edata83").bind("change", function(){
	trigger();
}).change();

$(".edata115").bind("change", function(){
	trigger();
});

function trigger(){
	if(control) return;

	control = true;

    num  = $(".edata115 option:selected").val();
    if(!$.isNumeric(num)) num = 0;
    if($(".edata83").filter(":checked").val() != 1) num=0;

	var arrQuery = $("form[name='frm']").serializeArray()
	var postData = {};
	for(var key in arrQuery){
		var name = arrQuery[key]['name'];
		var val  = arrQuery[key]['value'];
		postData[name] =  val;
	}
	postData['mode'] = 'ajax';
	postData['num']  = num;

	$("#block2").remove();
	var insertArea = $(".edata115").closest(".rtbl");
	insertArea.after("<div id='block2' style='text-align: center;margin: 15px 0;'><img src='../../htdocs/images/spinner.gif'></div>");

     $.ajax({
        type: "POST",
        url: "?form_id=49",
        data: postData,
        cache: false,
        dataType: "html",
        error: function(XMLHttpRequest, textStatus, errorThrown){
            alert(textStatus);
        },
        success: function(result){
			$("#block2").remove();
			insertArea.after("<div id='block2'></div>");
			$("#block2").html(result);
        }
    });
	control = false;
}

</script>
{/literal}
