</table>

<div class="bname">その他情報</div>
<table class="rtbl">
{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            {*チェックボックス*}
            {if $_formItem.item_type == "3"}

                {foreach from=$_formItem.select key=s_key item=item name=select}
                    {assign var=key26 value=`$edata``$s_key`}
                    <input type="checkbox" name="{$edata}{$s_key}" value="{$s_key}" {if $arrForm[$key26] == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm[$key26] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}

					{if $smarty.foreach.select.last}
						{assign var="item_id"   value="69"}
						{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
						{assign var="edata"     value="edata`$item_id`"}
						{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
							<input type="text" name="{$edata}" id="{$edata}" value="{$arrForm.$edata|escape}" size="40" />
						{/if}
					{/if}
					<br />
                {/foreach}
            {/if}
        </td>
    </tr>
{/if}
