{assign var=formItem value=$_formItem}
{assign var=edata    value="edata`$item_id`"}

{if $formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$formItem.item_name}<span class="red">&nbsp;*</span>
			<link rel="stylesheet" type="text/css" href="{$smarty.const.SSL_URL_CUSTOM}8/session.css">
        </td>

        <td>
            {if $formItem.item_memo != ""}{$formItem.item_memo}<br />{/if}<br/>

			{assign var=_formItem value=$arrItemData.3}
			{assign var="space" value="`$smarty.const.SSL_URL_CUSTOM`8/spacer.gif"}
			{assign var="opt"   value="height='1' alt=''"}
			{assign var="sp50"  value="<img src='`$space`' `$opt` width='50'  /><br />"}
			{assign var="sp195" value="<img src='`$space`' `$opt` width='195' /><br />"}


			<div id="page" class="agenda">
				<div class="h4" id="01PM">
				<h4>Day 1 - 30, May, 2014. PM</h4></div>

				<h5 class="mt20 mb20 normal">Breakout Session by Room</h5>
				<table>
					<tr>
						<th>{$sp50}Room</th>
						<th>{$sp195}<strong>Hall （2nd Floor）<br />English-Japanese simultaneous interpretation available</th>
						<th>{$sp195}<strong>Room1 （3rd Floor）<br />No simultaneous interpretation</th>
						<th>{$sp195}<strong>Room2 （3rd Floor）</strong><br />No simultaneous interpretation</th>
					</tr>

					<tr>
						{assign var=item_id  value=56}
						{assign var=edata    value="edata`$item_id`"}
						{strip}
						<td class="time">13：05<br />-<br />14：05</td>
						<td class="orange">
							<h5><input type="radio" name="{$edata}" value="1" {if $arrForm.$edata == 1}checked{/if} />
							<strong>Track</strong> Audit and Assurance</h5>
						</td>
						<td class="yellow">
							<h5><input type="radio" name="{$edata}" value="2" {if $arrForm.$edata == 2}checked{/if} />
							<strong>Track</strong> Security and Risk</h5>
						</td>
						<td class="green">
							<h5><input type="radio" name="{$edata}" value="3" {if $arrForm.$edata == 3}checked{/if} />
							<strong>Track</strong> Government and Managemant</h5>
						</td>
						{/strip}
					</tr>

					<tr>
						{assign var=item_id  value=67}
						{assign var=edata    value="edata`$item_id`"}
						{strip}
						<td class="time">14：15<br />-<br />15：15</td>
						<td class="yellow">
							<h5><input type="radio" name="{$edata}" value="1" {if $arrForm.$edata == 1}checked{/if} />
							<strong>Track</strong> Security and Risk</h5>
						</td>
						<td class="orange">
							<h5><input type="radio" name="{$edata}" value="2" {if $arrForm.$edata == 2}checked{/if} />
							<strong>Track</strong> Audit and Assurance</h5>
						</td>
						<td class="green">
							<h5><input type="radio" name="{$edata}" value="3" {if $arrForm.$edata == 3}checked{/if} />
							<strong>Track</strong> Government and Managemant</h5>
						</td>
						{/strip}
					</tr>

					<tr>
						<td class="time">15：15<br />-<br />15：40</td>
						<td colspan="3" class="break">Coffee Break</td>
					</tr>

					<tr>
						{assign var=item_id  value=68}
						{assign var=edata    value="edata`$item_id`"}
						{strip}
						<td class="time">15：40<br />-<br />16：40</td>
						<td class="green">
							<h5><input type="radio" name="{$edata}" value="1" {if $arrForm.$edata == 1}checked{/if} />
							<strong>Track</strong> Government and Managemant</h5>
						</td>
						<td class="orange">
							<h5><input type="radio" name="{$edata}" value="2" {if $arrForm.$edata == 2}checked{/if} />
							<strong>Track</strong> Audit and Assurance</h5>
						</td>
						<td class="yellow">
							<h5><input type="radio" name="{$edata}" value="3" {if $arrForm.$edata == 3}checked{/if} />
							<strong>Track</strong> Security and Risk</h5>
						</td>
						{/strip}
					</tr>
				</table>
				<p>&nbsp;</p>


				<div class="h4" id="02PM">
				<h4>Day 2 - 31, May, 2014. PM</h4></div>

				<h5 class="mt20 mb20 normal">Breakout Session by Room</h5>
				<table>
					<tr>
						<th>{$sp50}Room</th>
						<th>{$sp195}<strong>Hall （2nd Floor）</strong><br />English-Japanese simultaneous interpretation available</th>
						<th>{$sp195}<strong>Room1 （3rd Floor）</strong><br />No simultaneous interpretation</th>
						<th>{$sp195}<strong>Room2 （3rd Floor）</strong><br />No simultaneous interpretation</th>
					</tr>

					<tr>
						{assign var=item_id  value=99}
						{assign var=edata    value="edata`$item_id`"}
						{strip}
						<td class="time">13：05<br />-<br />14：05</td>
						<td class="orange">
							<h5><input type="radio" name="{$edata}" value="1" {if $arrForm.$edata == 1}checked{/if} />
							<strong>Track</strong> Audit and Assurance</h5>
						</td>
						<td class="green">
							<h5><input type="radio" name="{$edata}" value="2" {if $arrForm.$edata == 2}checked{/if} />
							<strong>Track</strong> Government and Managemant</h5>
						</td>
						<td class="yellow">
							<h5><input type="radio" name="{$edata}" value="3" {if $arrForm.$edata == 3}checked{/if} />
							<strong>Track</strong> Security and Risk</h5>
						</td>
						{/strip}
					</tr>

					<tr>
						{assign var=item_id  value=100}
						{assign var=edata    value="edata`$item_id`"}
						{strip}
						<td class="time">14：15<br />-<br />15：15</td>
						<td class="yellow">
							<h5><input type="radio" name="{$edata}" value="1" {if $arrForm.$edata == 1}checked{/if} />
							<strong>Track</strong> Security and Risk</h5>
						</td>
						<td class="orange">
							<h5><input type="radio" name="{$edata}" value="2" {if $arrForm.$edata == 2}checked{/if} />
							<strong>Track</strong> Audit and Assurance</h5>
						</td>
						<td class="green">
							<h5><input type="radio" name="{$edata}" value="3" {if $arrForm.$edata == 3}checked{/if} />
							<strong>Track</strong> Government and Managemant</h5>
						</td>
						{/strip}
					</tr>

					<tr>
						<td class="time">15：15<br />-<br />15：40</td>
						<td colspan="3" class="break">Coffee Break</td>
					</tr>

					<tr>
						{assign var=item_id  value=101}
						{assign var=edata    value="edata`$item_id`"}
						{strip}
						<td class="time">15：40<br />-<br />16：40</td>
						<td class="green">
							<h5><input type="radio" name="{$edata}" value="1" {if $arrForm.$edata == 1}checked{/if} />
							<strong>Track</strong> Government and Managemant</h5>
						</td>
						<td class="yellow">
							<h5><input type="radio" name="{$edata}" value="2" {if $arrForm.$edata == 2}checked{/if} />
							<strong>Track</strong> Security and Risk</h5>
						</td>
						<td class="orange">
							<h5><input type="radio" name="{$edata}" value="3" {if $arrForm.$edata == 3}checked{/if} />
							<strong>Track</strong> Audit and Assurance</h5>
						</td>
						{/strip}
					</tr>
				</table>
				<p>&nbsp;</p>
			</div>

        </td>
    </tr>
{/if}