            <footer>
                <address>
                    {if $searchLang == $smarty.const.LANG_JPN}
                        {if $arrData.$exhibit_post}〒{$arrData.$exhibit_post|escape}<br>{/if}
                        {if $arrData.$exhibit_addr}{$arrData.$exhibit_addr|escape}<br>{/if}
                        {if $arrData.$exhibit_bill}{$arrData.$exhibit_bill|escape}<br>{/if}
                        {if $arrData.$exhibit_tel}Tel: {$arrData.$exhibit_tel|escape}<br>{/if}
                        {if $arrData.$exhibit_fax}Fax: {$arrData.$exhibit_fax|escape}<br>{/if}
                    {else}
                        {if $arrData.$exhibit_bill}{$arrData.$exhibit_bill|escape}<br>{/if}
                        {if $arrData.$exhibit_addr}{$arrData.$exhibit_addr|escape}<br>{/if}
                        {if $arrData.$exhibit_tel}Tel: {$arrData.$exhibit_tel|escape}<br>{/if}
                        {if $arrData.$exhibit_fax}Fax: {$arrData.$exhibit_fax|escape}<br>{/if}
                    {/if}
                    {if ($arrData.$exhibit_web && $arrData.$exhibit_web != "http://") || $arrData.$exhibit_mail}
                            {if $arrData.$exhibit_mail}E-Mail : <a href="mailto:{$arrData.$exhibit_mail|escape}">{$arrData.$exhibit_mail|escape}</a><br>{/if}
                            {if $arrData.$exhibit_web && $arrData.$exhibit_web != "http://"}Web : <a target="_blank" href="{$arrData.$exhibit_web|escape}">{$arrData.$exhibit_web|escape}</a><br>{/if}
                    {/if}
                </address>
            </footer>
            </div>
        </article>
    </body>
</html>