            <footer>
                <div class="container">
                    <p>Copyright&copy; CITE Japan 2015 All Rights Reserved.</p>
                </div>
            </footer>
        </div>
    </body>
</html>