<h2 id="freeword_search"><img src="{$smarty.const.APP_ROOT}customDir/55/images/h2_01_ja.png" alt="出展社検索"></h2>
<form class="col-md-offset-1 col-md-10" method="post" action="?form_id={$form_id}&lang={$searchLang}">
    <input type="hidden" name="mode" value="search" />
    <h3>フリーワード検索</h3>
    <div class="col-md-offset-1 col-md-10">
        <input type="text" name="free_word" value="" />
        <input type="submit" value="キーワード検索">
    </div>
</form>
