<section class="container result">
    <div class="search_result col-xs-12">
        <h2><img src="{$smarty.const.APP_ROOT}customDir/55/images/h2_03_ja.png" alt="出展者検索結果"></h2>
        <div class="results">
            <p><strong>【検索条件（フリーキーワード）】 : </strong>[ {$arrForm.free_word|escape} ]</p>
            <p>該当出展者件数： {$arrData.search|@count|default:0} 件</p>
            {if $arrData.search}
            <ul>
                {foreach from=$arrData.search key=key item=_arrData}
                    <li><a href="javascript:void(0);return false;" onclick="popup({$_arrData.eid});">{$_arrData.exhibit_name}</a></li>
                {/foreach}
            </ul>
            {else}
                <p class="error">検索キーワードに該当する出展者はありませんでした。</p>
            {/if}
        </div>
    </div>
</section>
