<h2 id="freeword_search"><img src="{$smarty.const.APP_ROOT}customDir/55/images/h2_01_en.png" alt="Exhibitor Search"></h2>
<form class="col-md-offset-1 col-md-10" method="post"  action="?form_id={$form_id}&lang={$searchLang}">
    <input type="hidden" name="mode" value="search" />
    <h3>Keyword Search</h3>
    <div class="col-md-offset-1 col-md-10">
        <input type="text" name="free_word" value="" />
        <input type="submit" value="Search">
    </div>
</form>
