<section class="container result">
    <div class="search_result col-xs-12">
        <h2><img src="{$smarty.const.APP_ROOT}customDir/55/images/h2_03_en.png" alt="Exhibitor Search Result"></h2>
        <div class="results">
            <p class="en"><strong>Exhibitor Search by : </strong>[ {$arrForm.free_word|escape} ]</p>
            <p>Results {$arrData.search|@count|default:0} Found.</p>
            {if $arrData.search}
            <ul>
                {foreach from=$arrData.search key=key item=_arrData}
                    <li><a href="javascript:void(0);return false;" onclick="popup({$_arrData.eid});">{$_arrData.exhibit_name}</a></li>
                {/foreach}
            </ul>
            {else}
                <p class="error">No Results Found.</p>
            {/if}
        </div>
    </div>
</section>