<nav class="en_search cf">
    <p class="show-btn"><span class="switch-btn-in"><img src="{$smarty.const.APP_ROOT}customDir/55/images/en_lang_menu_en.png" alt="In alphabetal order"></span></p>
    <ul class="hide-content">
        <li><a href="#en_a">A</a></li>
        <li><a href="#en_b">B</a></li>
        <li><a href="#en_c">C</a></li>
        <li><a href="#en_d">D</a></li>
        <li><a href="#en_e">E</a></li>
        <li><a href="#en_f">F</a></li>
        <li><a href="#en_g">G</a></li>
        <li><a href="#en_h">H</a></li>
        <li><a href="#en_i">I</a></li>
        <li><a href="#en_j">J</a></li>
        <li><a href="#en_k">K</a></li>
        <li><a href="#en_l">L</a></li>
        <li><a href="#en_m">M</a></li>
        <li><a href="#en_n">N</a></li>
        <li><a href="#en_o">O</a></li>
        <li><a href="#en_p">P</a></li>
        <li><a href="#en_q">Q</a></li>
        <li><a href="#en_r">R</a></li>
        <li><a href="#en_s">S</a></li>
        <li><a href="#en_t">T</a></li>
        <li><a href="#en_u">U</a></li>
        <li><a href="#en_v">V</a></li>
        <li><a href="#en_w">W</a></li>
        <li><a href="#en_x">X</a></li>
        <li><a href="#en_y">Y</a></li>
        <li><a href="#en_z">Z</a></li>
    </ul>
</nav>
