{include file="Usr/include/55/search/55header.html" onload=$onload}
{literal}
<script language="javascript">
function popup(eid){
	var lang = {/literal}'{$searchLang}'{literal};
	var url  = "{/literal}{$smarty.const.DOMAIN}{literal}Usr/search/Usr_detail.php?eid="+eid+"&lang="+lang;
	window.open(url, "popup55",'width=800,height=700');
	return false;
}
</script>
{/literal}

<aside class="container search">
    <ul>
        {if $searchLang == $smarty.const.LANG_JPN}
        <li class="col-xs-12 col-fb-offset-2 col-fb-4 col-md-offset-3 col-md-3"><a href="#freeword_search">フリーワード検索<br><span>(1ワード/部分一致)</span></a></li>
        <li class="col-xs-12 col-fb-4 col-md-3"><a href="#exhibitor_list">出展者一覧へ<br><span>(50音順)</span></a></li>
        {else}
        <li class="col-xs-12 col-fb-offset-2 col-fb-4 col-md-offset-3 col-md-3"><a href="#freeword_search">Keyword Search<br><span>(one word/partially coincide)</span></a></li>
        <li class="col-xs-12 col-fb-4 col-md-3"><a href="#exhibitor_list">Exhibitor List<br><span>(in alphabetical order)</span></a></li>
        {/if}
    </ul>
    <div class="search_box col-xs-12">
        {* フリーワード検索 *}
        {if $searchLang == $smarty.const.LANG_JPN}
            {include file="Usr/include/55/search/55search_word_jp.html"}
        {else}
            {include file="Usr/include/55/search/55search_word_en.html"}
        {/if}
    </div>
</aside>

{* フリーワード検索結果 *}
{if $arrForm.mode == "search"}
    {if $searchLang == $smarty.const.LANG_JPN}
        {include file="Usr/include/55/search/55search_word_result_jp.html"}
    {else}
        {include file="Usr/include/55/search/55search_word_result_en.html"}
    {/if}
{/if}

<article class="container main">
    <div class="entry_list col-xs-12">
        {if $searchLang == $smarty.const.LANG_JPN}
            <h2 id="exhibitor_list"><img src="{$smarty.const.APP_ROOT}customDir/55/images/h2_02_ja.png" alt="出展社検索"></h2>
        {else}
            <h2 id="exhibitor_list"><img src="{$smarty.const.APP_ROOT}customDir/55/images/h2_02_en.png" alt="Exhibitor List"></h2>
        {/if}

        {if $arrData.list}
            {* 五十音順、az順 *}
            {if $searchLang == $smarty.const.LANG_JPN}
                {include file="Usr/include/55/search/55search_jp.html"}
            {else}
                {include file="Usr/include/55/search/55search_en.html"}
            {/if}
    
            {foreach from=$arrMap key=index  item=_arrMap}
                {if $searchLang == $smarty.const.LANG_ENG && $index <= 9}{php}continue;{/php}{/if}
                {assign var="cf" value=$_arrMap.0}
                        {* 該当の五十音az順の出展があるかチェック *}
                        {assign var="disp" value=0}
                        {foreach from=$_arrMap.1 key=_key item=index}
                            {if $arrData.list.$index}
                                {assign var="disp" value=1}
                                {php}break;{/php}
                            {/if}
                        {/foreach}
    
                        {* 該当の五十音az順の出展がある場合 *}
                        {if $disp == 1}
                            <div class="list_body">
                                <dl id="{$cf.0}">
                                    <dt><span>{$cf.1}</span></dt>
                                    {foreach from=$_arrMap.1 key=_key item=index}
                                        {if $arrData.list.$index}
                                            {foreach from=$arrData.list.$index key=key item=_arrData}
                                                {* 日本語#63 英語#82 *}
                                                <dd><a href="javascript:void(0);return false;" onclick="popup({$_arrData.eid});">{$_arrData.exhibit_name}</a></dd>
                                            {/foreach}
                                        {/if}
                                    {/foreach}
                                </dl>
                                <p class="back"><a href="#">PAGE TOP</a></p>
                            </div>
                        {* 該当の五十音az順の出展がない場合 *}
                        {else}
                            {*
                            {if $searchLang == $smarty.const.LANG_JPN}
                                <dd>只今、出展者なし</dd>
                            {else}
                                <dd>No Exhibitor yet.</dd>
                            {/if}
                            *}
                        {/if}
            {/foreach}
        {else}
            {if $searchLang == $smarty.const.LANG_JPN}
                <p class="error">現在、出展者の登録がありません。</p>
            {else}
                <p class="error">No Exhibitor yet.</p>
            {/if}
        {/if}
    </div>
</article>


{include file="Usr/include/55/search/55footer.html"}