{include file="Usr/include/55/search/55header.html" onload=$onload}

<article class="container main">
    <div class="entry_list col-xs-12">
    </div>
</article>


{include file="Usr/include/55/search/55footer.html"}