{include file="Usr/include/55/search/55header_pop.html" onload=$onload}

{if $arrData|@count > 0}
    {if $searchLang == $smarty.const.LANG_JPN  && $arrData.edata27 == 1}
        {assign var="exhibit_name"  value="edata28"}
        {assign var="exhibit_web"   value="edata69"}
        {assign var="exhibit_mail"  value="edata70"}
        {assign var="exhibit_mem01" value="edata75"}
        {assign var="exhibit_mem02" value="edata76"}
        {assign var="exhibit_mem03" value="edata77"}
        {assign var="exhibit_mem04" value="edata78"}
        {assign var="exhibit_mem05" value="edata79"}
        {assign var="exhibit_item"  value="edata80"}
        {assign var="exhibit_addr"  value="edata71"}
        {assign var="exhibit_bill"  value="edata141"}
        {assign var="exhibit_post"  value="edata72"}
        {assign var="exhibit_tel"   value="edata73"}
        {assign var="exhibit_fax"   value="edata74"}
    {else}
        {assign var="exhibit_name"  value="edata81"}
        {assign var="exhibit_web"   value="edata83"}
        {assign var="exhibit_mail"  value="edata115"}
        {assign var="exhibit_mem01" value="edata119"}
        {assign var="exhibit_mem02" value="edata120"}
        {assign var="exhibit_mem03" value="edata121"}
        {assign var="exhibit_mem04" value="edata122"}
        {assign var="exhibit_mem05" value="edata123"}
        {assign var="exhibit_item"  value="edata124"}
        {assign var="exhibit_addr"  value="edata116"}
        {assign var="exhibit_bill"  value="edata142"}
        {assign var="exhibit_post"  value=""}
        {assign var="exhibit_tel"   value="edata117"}
        {assign var="exhibit_fax"   value="edata118"}
    {/if}
    <header class="cf">
        <p class="number">{$arrData.e_user_id|escape}</p>
        <h1>{$arrData.$exhibit_name|escape}</h1>
    </header>
    
    <section>
        {if $searchLang == $smarty.const.LANG_JPN}
            <h2><span class="item">出展品目</span></h2>
        {else}
            <h2><span class="item">Exhibits</span></h2>
        {/if}
        <ul class="item_list">
            {if $arrData.$exhibit_mem01}<li>{$arrData.$exhibit_mem01|escape}</li>{/if}
            {if $arrData.$exhibit_mem02}<li>{$arrData.$exhibit_mem02|escape}</li>{/if}
            {if $arrData.$exhibit_mem03}<li>{$arrData.$exhibit_mem03|escape}</li>{/if}
            {if $arrData.$exhibit_mem04}<li>{$arrData.$exhibit_mem04|escape}</li>{/if}
            {if $arrData.$exhibit_mem05}<li>{$arrData.$exhibit_mem05|escape}</li>{/if}
        </ul>
        <!--{*
        上記の入力項目(リストor文章)が分かりませんが、テキスト入力でリストでなければただの段落＋改行で構いません。
        <p class="item_list">TEGO Cistus:ピンクロックローズ抽出物由来のポリフェノールで抗酸化効果でアンチエイジング。<br />TEGO Cistus:ピンクロックローズ抽出物由来のポリフェノールで抗酸化効果でアンチエイジング。</p>
        *}-->
        {if $searchLang == $smarty.const.LANG_JPN}
            <h2><span class="desc">見どころ</span></h2>
        {else}
            <h2><span class="desc">Overview</span></h2>
        {/if}
        <p class="description">{$arrData.$exhibit_item|escape|nl2br}</p>
    </section>

{* 不正なパラメータ *}
{else}
    <div class="error">
        <h1>Not Found.</h1>
        <p class="button"><a href="javascript:void(0);" onlick="window.close();return false;">Back to Exhibitor Search</a></p>
    </div>
    {literal}
    <style>
        footer { display:none; }
    </style>
    {/literal}
{/if}

{include file="Usr/include/55/search/55footer_pop.html"}