{getMaySelectItemId group=$may17 arrForm=$arrData}
{edataXX item_id=$item_id group_id=1}
<tr>
    <th>May 17</th>
    <td>
        {$formItem[$item_id].item_name|default:$ini.defname}<br/>
        {assign var=key value="edata`$item_id`"}
        {include file="Mng/entry/include_detail.html"
                 val=$arrData[$key]
                 type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
        }
    </td>
</tr>