{if $total_price != 0}
	{if $arrForm.method == "1"}
        {include file="Usr/form/Usr_payment_parts.html"}

		<table class="rtbl">
		<tr>
			<td class="iname">
				カード会社<span class="red">&nbsp;{$need_mark}</span>
			</td>
			<td>
			    {if $formWord.word31 != ""}{$formWord.word31}<br />{/if}
				{foreach from=$va_card_type key=c_key item=item name=select}
					<input type="radio" name="card_type" value="{$c_key}" {if $arrForm.card_type == $c_key}checked{/if} />{$item}
				{/foreach}
			</td>
		</tr>
		<tr>
			<td class="iname">
				クレジットカード番号<span class="red">&nbsp;{$need_mark}</span>
			</td>
			<td>
			    {if $formWord.word32 != ""}{$formWord.word32}<br />{/if}
				<input type="text" name="cardNumber" value="{$arrForm.cardNumber|escape}" size="30" /><br/>
				※ハイフン（ - ）やスペース（空白）を除いて数字のみ入力ください。  
			</td>
		</tr>
		<tr>
			<td class="iname">
				有効期限<span class="red">&nbsp;{$need_mark}</span>
			</td>
			<td>
			    {if $formWord.word33 != ""}{$formWord.word33}<br />{/if}
				<select name="cardExpire1">
					<option value=""></option>
					{html_options options=$month selected=$arrForm.cardExpire1}
				</select>&nbsp;月&nbsp;&nbsp;
				<select name="cardExpire2">
					<option value=""></option>
					{html_options options=$year selected=$arrForm.cardExpire2}
				</select>&nbsp;年
			</td>
		</tr>

		<tr>
			<td class="iname">
				カード名義人<span class="red">&nbsp;{$need_mark}</span>
			</td>
			<td>
			    {if $formWord.word34 != ""}{$formWord.word34}<br />{/if}
				<input type="text" name="cardHolder" value="{$arrForm.cardHolder|escape}" size="50" /><br/>
				※参加者名とカード名義人が異なる場合は、登録完了後、カード名義人様よりEメールまたは
				FAX等書面にて<br/>登録事務局までご連絡ください。ご連絡いただけない場合は、お支払いをお受けできない場合がございます。
			</td>
		</tr>

<!--
		<tr>
			<td class="iname">
				支払区分<span class="red">&nbsp;{$need_mark}</span>

			</td>
			<td>
				<select name="jpo1">
					<option value=""></option>
					{html_options options=$va_jpo1 selected=$arrForm.jpo1}
				</select>

			</td>
		</tr>
		<tr>
			<td class="iname">
				支払回数
			</td>
			<td>
				<input type="text" name="jpo2" value="{$arrForm.jpo2}" size="10" />&nbsp;回
			</td>
		</tr>
-->

		<tr>
			<td class="iname">
				セキュリティコード<span class="red">&nbsp;{$need_mark}</span>
			</td>
			<td>
			    {if $formWord.word35 != ""}{$formWord.word35}<br />{/if}
				<input type="text" name="securityCode" value="{$arrForm.securityCode|escape}" maxlength="4" />
				<br />※カード裏面のご署名欄右上に印字されている3桁の番号
			</td>
		</tr>
		</table>

		{if $formWord.word16 != ""}
			<br />
			<div class="bcomment">{$formWord.word16|nl2br}</div>
		{/if}

	{/if}


	{if $arrForm.method == "2"}
		<table class="rtbl">

		<tr>
			<td class="iname">お振込み人名義</td>
			<td>
			    {if $formWord.word28 != ""}{$formWord.word28}<br />{/if}
			    <input type="text" name="lessee" value="{$arrForm.lessee|escape}" />
			</td>
		</tr>
		<tr>
			<td class="iname">お支払銀行名</td>
			<td>
			    {if $formWord.word29 != ""}{$formWord.word29}<br />{/if}
			    <input type="text" name="bank" value="{$arrForm.bank|escape}" />
			</td>
		</tr>
		<tr>
			<td class="iname">お振込み日</td>
			<td>
			    {if $formWord.word30 != ""}{$formWord.word30}<br />{/if}
			    <input type="text" name="closure" value="{$arrForm.closure|escape}" />
			</td>
		</tr>
		</table>

		{if $formWord.word15 != ""}
			<br />
			<div class="bcomment">{$formWord.word15|nl2br}</div>
		{/if}
	{/if}
{/if}