<!--会員・非会員-->
{if $_formItem.disp != "1"}
	{assign var=key41 value=edata41`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}


		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
			<input type="radio" name="edata41{$smarty.section.counter.index}" value="1" {if $arrForm[$key41] == "1"}checked{/if} />&nbsp;{$va_kaiin[1]}							<input type="radio" name="edata41{$smarty.section.counter.index}" value="2" {if $arrForm[$key41] == "2"}checked{/if} />&nbsp;{$va_kaiin[2]}
		</td>
	</tr>
{/if}