{if $_formItem.disp != "1"}
    <!--共著者の有無-->
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}

        </td>
        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            <input type="radio" name="edata29" value="1" {if $arrForm.edata29 == "1"}checked{/if} />&nbsp;{$va_coAuthor[1]}
            <input type="radio" name="edata29" value="2" {if $arrForm.edata29 == "2"}checked{/if} />&nbsp;{$va_coAuthor[2]}

        </td>
    </tr>
{/if}