{if $_formItem.disp != "1"}
    <!--Country List-->
    <tr class="row{$item_id}">
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>
        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
                <select name="edata114" class="{$edata}" {attr}>
                    <option value=""></option>
                    {html_options options=$GLOBALS.country selected=$arrForm.edata114}
                </select>
        </td>
    </tr>
{/if}

