{if $_formItem.disp != "1"}
    <!--会員・非会員-->
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>
        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            <input type="radio" name="edata8" value="1" id="{$edata}_1" class="{$edata}" {if $arrForm.edata8 == "1"}checked{/if} {attr}/><label class="{$edata}_label">{$va_kaiin[1]}</label>

            <input type="radio" name="edata8" value="2" id="{$edata}_2" class="{$edata}" {if $arrForm.edata8 == "2"}checked{/if} {attr}/><label class="{$edata}_label">{$va_kaiin[2]}</label>

        </td>
    </tr>
{/if}

