{if $_formItem.disp != "1"}
    <!--連絡先(勤務先・自宅)-->
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}

        </td>
        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            <input type="radio" name="edata16" id="{$edata}_1" class="{$edata}" value="1" {if $arrForm.edata16 == "1"}checked{/if} {attr}/><label class="{$edata}_label">{$va_contact[1]}</label>

            <input type="radio" name="edata16" id="{$edata}_2" class="{$edata}" value="2" {if $arrForm.edata16 == "2"}checked{/if} {attr}/><label class="{$edata}_label">{$va_contact[2]}</label>

        </td>
    </tr>
{/if}


