<!--メールアドレス-->
{if $_formItem.disp != "1"}
	{assign var=key40 value=edata40`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
			<input type="text" name="edata40{$smarty.section.counter.index}" value="{$arrForm[$key40]|escape}" size="40" />

		</td>
	</tr>
{/if}