<!--Middle Name(initial)-->
{if $_formItem.disp != "1"}
	{assign var=key62 value=edata62`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
			<input type="text" name="edata62{$smarty.section.counter.index}" value="{$arrForm[$key62]|escape}" size="{$_formItem.size|default:"30"}" />
		</td>
	</tr>
{/if}