{if $formItem[29].disp != "1"}
    {if $formItem[30].disp != "1"}
        <!--共著者の数-->
        <tr>
            <td class="iname">
                {$formItem[30].item_name}{if $formItem[30].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
            </td>
            <td>
                {if $formItem[30].item_memo != ""}{$formItem[30].item_memo}<br />{/if}

                    <!--input type="text" name="edata30" value="{$arrForm.edata30|escape}" size="30" / -->
                <select name="edata30">
                    <option vlaue=""></option>
                        {foreach from=$formItem[30].select key=s_key item=item name=select}
                            <option value="{$s_key}" {if $arrForm.edata30 == $s_key}selected{/if}>{$item}</option>
                        {/foreach}
                </select>
            </td>
        </tr>
    {/if}
{/if}