<!--所属機関-->
{if $formItem[32].disp != "1"}
	{assign var=key32 value=edata32`$smarty.section.counter.index`}

	<tr>
		<td class="iname">
			{$formItem[32].item_name}{if $formItem[32].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}

		</td>
		<td>
			{if $formItem[32].item_memo != ""}{$formItem[32].item_memo}<br />{/if}
			<!--
			<select name="edata32{$smarty.section.counter.index}">
				<option vlaue=""></option>
					{foreach from=$arrForm.kikanlist item=item name=select key=k }
						<option value="{$k}" {if $arrForm[$key32] == $k}selected{/if}>{$item}</option>
					{/foreach}
			</select>
			-->
				{foreach from=$arrForm.kikanlist key=s_key item=item name=select}
					{assign var=chk32 value=$key32`$s_key`}
					<input type="checkbox" name="edata32{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk32] == $s_key}checked{/if} {if $formItem[32].disable[$s_key] == "1" && $arrForm[$chk32] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
				{/foreach}
		</td>
	</tr>
{/if}