<!--抄録本文英語-->
{if $_formItem.disp != "1"}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}

			<textarea name="edata50" class="{$edata}" rows="{$_formItem.rows|default:"10"}" cols="{$_formItem.cols|default:"85"}" {attr}>{$arrForm.edata50|escape}</textarea>

		</td>
	</tr>
{/if}