<!--Title (Prof.・Dr.・Mr.・Ms.)-->
{if $_formItem.disp != "1"}
	{assign var=key61 value=edata61`$smarty.section.counter.index`}

	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}

			{foreach from=$GLOBALS.titleList key=s_key item=item name=select}
				<input type="radio" name="edata61{$smarty.section.counter.index}" id="{$edata}_{$s_key}" class="{$edata}"value="{$s_key}" {if $arrForm[$key61] == $s_key}checked{/if} {attr}/>{$item}
			{/foreach}



		</td>
	</tr>
{/if}
