<!--発表形式-->
{if $_formItem.disp != "1"}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}

		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}

				<select name="edata48" class="{$edata}" {attr}>
					<option vlaue=""></option>
						{foreach from=$_formItem.select key=s_key item=item name=select}
							<option value="{$s_key}" {if $arrForm.edata48 == $s_key}selected{/if}>{$item}</option>
						{/foreach}
				</select>

		</td>
	</tr>
{/if}