{if $_formItem.disp != "1"}
    <!--ファックス番号-->
    <tr class="row{$item_id}">
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>
        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            <input type="text" name="edata24" class="{$edata}" value="{$arrForm.edata24|escape}" size="{$_formItem.size|default:"30"}" {attr}/>

        </td>
    </tr>
{/if}


