@charset "utf-8";
/* CSS Document */

/* Visa Application Form用CSS */

#form16 .f16schedule .f16r1 { width: 15% !important; }
#form16 .f16schedule .f16r2 { width: 35% !important; }
#form16 .f16schedule .f16r3 { width: 50% !important; }

#form16 #auth {
    background: #fff;
    text-align: left;
    width: 70%;
    margin: 0 auto;
}

#form16 #auth #auth_notice {
    border: 1px solid red;
    padding: 5px;
    background-color: #FEE5E5;
}

#form16 #auth #auth_notice_memo {
    border: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

#form16 optgroup {
    background: #D9D9D9;
}
#form16 option {
    background: #FFFFFF;
}

#form16 #Login { width:600px; }

#form16 #confirm_desc3,
#form16 #confirm_desc4 { display:none; }


/* Mng用CSS */

.f16mng_schedule .f16r1 { width: 10% !important; }
.f16mng_schedule .f16r2 { width: 45% !important; }
.f16mng_schedule .f16r3 { width: 45% !important; }

#form16detail #backbtn {
    float: right;
    margin-top: -12px;
}
