<tr>
	<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
	<td>
		{assign var=key value="edata`$item_id`"}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}
		{if $formItem[$item_id].item_memo != ""}{$formItem[$item_id].item_memo}{/if}
		
		{assign var=item_id value="64"}
		{assign var=key value="edata`$item_id`"}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}
		{if $formItem[$item_id].item_memo != ""}{$formItem[$item_id].item_memo}{/if}
		
		{assign var=item_id value="69"}
		{assign var=key value="edata`$item_id`"}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}
		{if $formItem[$item_id].item_memo != ""}{$formItem[$item_id].item_memo}{/if}

		{* その他 *}
		{edataXX group_id=$group_id item_id=121}
		{assign var="data" value=$data.$index}
		{if $_formItem.disp != "1"}
			{assign var=key value=$edata}
			{include file="Mng/entry/include_detail.html"
					 val=$arrData[$key]
				     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}
		{/if}
	</td>
</tr>