.content aside.search .search_box h2 {
  background: url("../images/h2_bg_ie.png") repeat-x 0 0 #f9e6ca;
}
.content article.main .entry_list h2 {
  background: url("../images/h2_bg_ie.png") repeat-x 0 0 #f9e6ca;
}
.content article.main .entry_list .list_body p.back a {
  background: url("../images/up_ie.png") no-repeat 0 50%;
}
.content section.result .search_result h2 {
  background: url("../images/h2_bg_ie.png") repeat-x 0 0 #f9e6ca;
}
