body {
  background: #FDFDEC;
}

.row {
  border: 1px solid #90000a;
  background: #F9E6CA;
}
.row header {
  border-bottom: 1px solid #90000a;
  background: #90000a;
  display: table;
  width: 100%;
}
.row header h1 {
  display: table-cell;
  width: 80%;
  margin: 0;
  padding: .3em .5em .3em .5em;
  font-size: 1.5rem;
  line-height: 1.3;
  background: #fff;
}
.row header p {
  display: table-cell;
  width: 20%;
  margin: 0;
  padding: .3em;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}
.row .information {
  padding: 20px 10px;
  list-style: none;
  font-size: 1.3rem;
  font-weight: bold;
}
.row section {
  padding: 10px;
}
.row section h2 {
  font-size: 1.3rem;
  line-height: 1;
}
.row section h2 span {
  padding: 1px 10px;
}
.row section h2 span.item {
  margin-right: 3px;
  background: #000;
  color: #fff;
}
.row section h2 span.desc {
  margin-left: 3px;
  background: #ccc;
}
.row section p.item_list {
  text-align: center;
  margin: 2em 0;
}
.row section ul {
  margin: 2em 0;
  padding-left: 1.5em;
  font-size: 1.3rem;
}
.row section p {
  font-size: 1.3rem;
}
.row footer {
  padding: 10px;
}
.row footer address {
  padding: 1em 5px;
  font-size: 1.3rem;
  border-top: 3px dotted #90000a;
  border-bottom: 3px dotted #90000a;
}
.row .error {
  padding: 50px 0;
}
.row .error h1 {
  font-size: 1.6rem;
  text-align: center;
}
.row .error p.button {
  padding: 30px 0;
  text-align: center;
}
.row .error p.button a {
  margin: 0 auto;
  padding: 5px 10px;
  display: block;
  width: 13em;
  border: 3px solid #90000a;
  text-decoration: none;
}
.row .error p.button a:hover {
  background: #90000a;
  color: #fff;
}

@media (min-width: 768px) {
  .container {
    margin-top: 20px;
    width: 640px;
  }
  .container .row header h1 {
    width: 80%;
    padding: .3em;
    font-size: 1.9rem;
  }
  .container .row header p {
    width: 20%;
    padding: .3em;
    font-size: 1.9rem;
  }
  .container .row .information {
    padding: 20px 40px;
    font-size: 1.5rem;
  }
  .container .row section {
    padding: 20px;
  }
  .container .row footer {
    padding: 0 20px 30px 20px;
  }
}
