/* Style for Phone Size (Default) */
/* Style for header */
header h1 {
  margin-bottom: 10px;
  padding: 0;
  font-size: 10px;
  line-height: 1;
  text-align: center;
}
header h1 img {
  vertical-align: bottom;
  max-width: 300px;
}
header p.lang {
  text-align: center;
  margin-top: 10px;
}
header p.lang img {
  max-width: 100px;
}

/* Style for content */
.content {
  background: #fdfdec;
  box-shadow: 0 -3px 4px #aaaaaa;
}
.content section.main_image {
  background-origin: border-box;
  background: url(../images/gradation.png) no-repeat 50% 50%;
  background-size: cover;
}
.content section.main_image img {
  width: 100%;
  vertical-align: bottom;
}
.content hr {
  height: 0px;
  margin-top: 0;
  margin-bottom: 13px;
  border-top: 3px solid #e60012;
  color: #fff;
}
.content aside.search {
  margin-top: 40px;
  margin-bottom: 40px;
}
.content aside.search ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none outside;
}
.content aside.search ul li {
  margin-bottom: 30px;
}
.content aside.search ul li a {
  display: block;
  padding: 15px 0;
  text-align: center;
  border: 2px solid #f3b765;
  border-radius: 5px;
  line-height: 1.2;
  text-decoration: none;
  font-weight: bold;
  background: url("../images/button.png") repeat-x left bottom;
  box-shadow: 1px 1px 2px #aaa;
  color: #333;
}
.content aside.search ul li a span {
  font-size: .8em;
}
.content aside.search ul li a:hover {
  background-color: #aaa;
  color: #666;
}
.content aside.search .search_box {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f9e6ca;
}
.content aside.search .search_box h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background: url("../images/h2_bg.png") repeat-x 0 0 #f9e6ca;
  background-size: contain;
  background-clip: content-box;
  font-size: 10px;
  line-height: 1;
}
.content aside.search .search_box h2 img {
  width: 280px;
  vertical-align: bottom;
}
.content aside.search .search_box form h3 {
  padding-top: 3px;
  background: url("../images/search.png") repeat 0 0;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}
.content aside.search .search_box form input[type="text"] {
  width: 100%;
}
.content aside.search .search_box form div {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content aside.search .search_box form input[type="submit"] {
  display: block;
  margin: 20px auto;
  padding: 5px;
}
.content aside.search .search_box .error {
  text-align: center;
}
.content aside.search .search_box .error h3 {
  color: #90000a;
}
.content aside.search .search_box .error p {
  margin-bottom: 30px;
}
.content article.main {
  margin-top: 20px;
  padding-bottom: 30px;
}
.content article.main .entry_list {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #F9E6CA;
}
.content article.main .entry_list h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background: url("../images/h2_bg.png") repeat-x 0 0 #f9e6ca;
  background-size: contain;
  background-clip: content-box;
  font-size: 10px;
  line-height: 1;
}
.content article.main .entry_list h2 img {
  width: 280px;
  vertical-align: bottom;
}
.content article.main .entry_list nav.ja_search .show-btn {
  display: block;
}
.content article.main .entry_list nav.ja_search .show-btn img {
  width: 100%;
}
.content article.main .entry_list nav.ja_search ul {
  display: none;
  padding: 0;
  border-top: 1px dotted #888;
}
.content article.main .entry_list nav.ja_search ul li {
  margin: 0;
  padding: 0;
  list-style: none outside;
  border-bottom: 1px dotted #888;
}
.content article.main .entry_list nav.ja_search ul li a {
  display: block;
  padding: 8px 4px 6px 30px;
  text-decoration: none;
  background: url("../images/left.png") no-repeat 0 50%;
  background-size: contain;
  background-clip: padding-box;
  line-height: 1;
}
.content article.main .entry_list nav.ja_search ul li a:hover {
  background-color: #fff;
}
.content article.main .entry_list nav.en_search .show-btn {
  display: block;
}
.content article.main .entry_list nav.en_search .show-btn img {
  width: 100%;
}
.content article.main .entry_list nav.en_search ul {
  display: none;
  padding: 0;
  border-top: 1px dotted #888;
}
.content article.main .entry_list nav.en_search ul li {
  margin: 0;
  padding: 0;
  list-style: none outside;
  border-bottom: 1px dotted #888;
}
.content article.main .entry_list nav.en_search ul li a {
  display: block;
  padding: 8px 4px 6px 30px;
  text-decoration: none;
  background: url("../images/left.png") no-repeat 0 50%;
  background-size: contain;
  background-clip: padding-box;
  line-height: 1;
}
.content article.main .entry_list nav.en_search ul li a:hover {
  background-color: #fff;
}
.content article.main .entry_list .list_body {
  line-height: 2;
  padding: 30px 0 0 0;
  border-bottom: 1px solid #888;
}
.content article.main .entry_list .list_body dl {
  font-size: 1.4rem;
  margin: 0;
  padding: 0 0 15px 0;
}
.content article.main .entry_list .list_body dl dt {
  margin-bottom: 10px;
  padding: 4px;
  background: #fff;
  border: 2px solid #d0a4a1;
}
.content article.main .entry_list .list_body dl dt span {
  display: block;
  background: url("../images/list.png") 0 0 white;
  text-align: center;
  font-weight: bold;
}
.content article.main .entry_list .list_body dl dd {
  margin: 0;
  border-bottom: 1px dotted #888;
}
.content article.main .entry_list .list_body dl dd a {
  display: block;
  padding: 3px 0 3px 28px;
  background: url("../images/listmark.png") no-repeat 0 50%;
}
.content article.main .entry_list .list_body dl dd a:hover {
  background-color: #fff;
}
.content article.main .entry_list .list_body p.back {
  text-align: right;
  font-size: 1.1rem;
}
.content article.main .entry_list .list_body p.back a {
  padding-left: 16px;
  background: url("../images/up.png") no-repeat 0 50%;
  background-size: contain;
  background-clip: padding-box;
}
.content article.main .entry_list p.error {
  text-align: center;
  color: #90000a;
  font-weight: bold;
}
.content section.result {
  margin-bottom: 40px;
}
.content section.result .search_result {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #F9E6CA;
}
.content section.result .search_result h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background: url("../images/h2_bg.png") repeat-x 0 0 #f9e6ca;
  background-size: contain;
  background-clip: content-box;
  font-size: 10px;
  line-height: 1;
}
.content section.result .search_result h2 img {
  width: 280px;
  vertical-align: bottom;
}
.content section.result .search_result .results {
  padding: 10px 0;
}
.content section.result .search_result .results p {
  font-size: 1.4rem;
}
.content section.result .search_result .results p strong {
  margin-left: -0.5em;
}
.content section.result .search_result .results p.error {
  text-align: center;
  padding: 30px 0;
  color: #90000a;
}
.content section.result .search_result .results p.button {
  padding: 30px 0;
  text-align: center;
}
.content section.result .search_result .results p.button a {
  margin: 0 auto;
  padding: 5px 10px;
  display: block;
  width: 13em;
  border: 3px solid #90000a;
  text-decoration: none;
}
.content section.result .search_result .results p.button a:hover {
  background: #90000a;
  color: #fff;
}
.content section.result .search_result .results p.en strong {
  margin-left: 0;
}
.content section.result .search_result .results ul {
  padding: 10px 0px 10px 20px;
  border-top: 2px solid #90000a;
  border-bottom: 2px solid #90000a;
}
.content section.result .search_result .results ul li {
  margin: .3em 0;
}
.content section.result .search_result .results ul li a {
  display: block;
  padding: .2em 10px .2em 5px;
}
.content section.result .search_result .results ul li a:hover {
  background: #fff;
}
.content footer {
  background: #000;
}
.content footer p {
  margin: 0;
  padding: 5px 0;
  font-family: "Lusitana",serif;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-align: right;
}

/* Style for Phone & Tablet (phablet) Size */
@media (min-width: 558px) {
  header h1 {
    text-align: left;
    margin: 3px 0 0 0;
    padding: 0;
  }
  header h1 img {
    padding: 8px 0 13px 1px;
    max-width: 182px;
    vertical-align: bottom;
  }
  header p.lang {
    margin: 0;
    padding: 16px 0 0 0;
    text-align: right;
    max-width: none;
  }
  header p.lang img {
    width: 76px;
  }

  section.main_image {
    background-size: cover;
  }
}
/* Style for Tablet (max width size fixed 720px) */
@media (min-width: 768px) {
  header h1 {
    text-align: left;
    margin: 3px 0 0 0;
    padding: 0;
  }
  header h1 img {
    padding: 8px 0 13px 1px;
    max-width: 182px;
    vertical-align: bottom;
  }
  header p.lang {
    margin: 0;
    padding: 16px 0 0 0;
    text-align: right;
    max-width: none;
  }
  header p.lang img {
    width: 76px;
  }

  .content {
    font-size: 1.3rem;
  }
  .content section.main_image {
    background-size: cover;
  }
  .content aside.search .search_box {
    padding-bottom: 0;
  }
  .content article.main {
    margin-top: 20px;
  }
  .content article.main .entry_list nav.ja_search {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px dotted #888;
  }
  .content article.main .entry_list nav.ja_search ul {
    position: relative;
    left: 50%;
    float: left;
    border: none;
  }
  .content article.main .entry_list nav.ja_search ul li {
    position: relative;
    left: -50%;
    float: left;
    border: none;
  }
  .content article.main .entry_list nav.ja_search ul li:before {
    float: left;
    content: "|";
  }
  .content article.main .entry_list nav.ja_search ul li:last-child:after {
    float: right;
    content: "|";
  }
  .content article.main .entry_list nav.ja_search ul li a {
    font-size: 1.4rem;
    display: inline;
    padding: 0 10px;
    text-decoration: none;
    background: none;
  }
  .content article.main .entry_list nav.ja_search ul li a:hover {
    background: #fff;
  }
  .content article.main .entry_list nav.en_search {
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #888;
  }
  .content article.main .entry_list nav.en_search ul {
    position: relative;
    left: 50%;
    float: left;
    margin: 10px auto;
    border: none;
  }
  .content article.main .entry_list nav.en_search ul li {
    position: relative;
    left: -50%;
    float: left;
    border: none;
  }
  .content article.main .entry_list nav.en_search ul li:before {
    float: left;
    content: "|";
  }
  .content article.main .entry_list nav.en_search ul li:last-child:after {
    float: right;
    content: "|";
  }
  .content article.main .entry_list nav.en_search ul li a {
    font-size: 1.4rem;
    display: inline;
    padding: 0 3px;
    text-decoration: none;
    background: none;
  }
  .content article.main .entry_list nav.en_search ul li a:hover {
    background: #fff;
  }
  .content article.main .entry_list nav.en {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px dotted #888;
  }
  .content article.main .entry_list .list_body {
    line-height: 2;
    padding: 30px 0 0 0;
    border-bottom: 1px dotted #888;
  }
  .content article.main .entry_list .list_body dl {
    margin: 0;
    padding: 0 0 15px 0;
  }
  .content article.main .entry_list .list_body dl dt {
    float: left;
    width: 6em;
    background: #fff;
  }
  .content article.main .entry_list .list_body dl dd {
    margin-left: 7em;
    border: none;
  }
  .content article.main .entry_list .list_body dl dd a {
    display: inline;
    background: url("../images/listmark.png") no-repeat 0 50%;
  }
  .content article.main .entry_list .list_body dl dd a:hover {
    background-color: transparent;
  }
  .content article.main .entry_list .list_body p {
    text-align: right;
    font-size: 1.1rem;
  }
  .content section.result .search_result {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #F9E6CA;
  }
  .content section.result .search_result .results {
    padding: 10px 50px;
  }
  .content section.result .search_result .results p {
    margin: 0;
  }
  .content section.result .search_result .results p strong {
    margin-left: -0.5em;
  }
  .content section.result .search_result .results p.en strong {
    margin-left: 0;
  }
  .content section.result .search_result .results ul {
    padding: 20px;
    border-top: 2px solid #90000a;
    border-bottom: 2px solid #90000a;
  }
  .content section.result .search_result .results ul li {
    margin: .5em 0;
  }
  .content section.result .search_result .results ul li a {
    display: inline;
  }
  .content section.result .search_result .results ul li a:hover {
    background: none;
  }
}
/* Style for PC (max width size fixed 960px) */
@media (min-width: 992px) {
  header h1 {
    text-align: left;
    margin: 3px 0 0 0;
    padding: 0;
  }
  header h1 img {
    padding: 8px 0 13px 1px;
    max-width: 182px;
    vertical-align: bottom;
  }
  header p.lang {
    margin: 0;
    padding: 16px 0 0 0;
    text-align: right;
    max-width: none;
  }
  header p.lang img {
    width: 76px;
  }

  section.main_image {
    background-size: cover;
  }
}
