<div class="header">

{if $va_header}
	<img src="{$va_header}" border="0" />
{/if}

</div>

{if $not_title != 1}
<div id="FormTtl">
	{if $formWord.word14 != ""}
		{$formWord.word14|nl2br}
	{else}
		{$formData.form_name}
	{/if}
</div>
{/if}

<div id="Form">
	<!--エラーメッセージ-->
	{if $arrErr}
		<br />
		<div class="errmsg">
		{foreach from=$arrErr item=err}
			<p>{$err|escape}</p>
		{/foreach}
		</div>
	{/if}

	<div id="Login">
		<p>Please fill in your Registration ID and registered E-mail at registration as follows.</p>

		{if $msg}<div class="errmsg">{$msg}</div>{/if}
		<br />

		<table>
			<tr>
				<td class="r">Registration ID：</td>
				<td class="l"><input type="text" name="auth_id" value="{$arrForm.auth_id}" size="12" /></td>
			</tr>
			<tr>
				<td class="r">E-mail：</td>
				<td class="l"><input type="text" name="auth_mail" value="{$arrForm.auth_mail}" size="30" /></td>
			</tr>
		</table>

		<div class="btn">
			<input type="submit" value="{$GLOBALS.msg.btn_login}" name="submit" />
		</div>
	</div>
</div>
<br/>



<!-- フッター-->
<div class="footer" id="auth">
	<div class="red middle" id="auth_notice">
	<p><b>*Please note:</b></p>
	<ul>
		<li>You can proceed with the visa application only if you have already paid Congress registration fee.<br/>
	 Since Paid status will be updated every Tuesday(JST) on our system, so you may not be able to log in our system in case you have finished your registration and payment recently.</li>
		<li>Book a flight and reserve a hotel in advance since this information is requested for the documents.</li>
		<li>The Japanese Local Organising Committee will issue the visa documents only for the stay of within 11 days including congress period.</li>
	</ul>
	</div>
</div>
