.bname.obi131,
.bname.obi71 {
    background:#ffdfb6;
    border-color: #ff8a00;
    color: #000000;
}

.custom7 {
    width: 40%;
    display: inline-block;
}

/*tr.row64 br,
tr.row120 br, {
	display: none;
}*/