{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.action = 'Mng_mailsend.php';
		f.mode.value = 'confirm';
		f.submit();
	}
	function f_back(){
		var f = document.frm;
		f.action = '../index.php';
		f.mode.value = 'back';
		f.submit();
	}

	function f_open(){

		var f = document.frm;
		var url = './Mng_word_replace.php';

		newwin=window.open(url, 'WIN', 'width=900, height=500, menubar=no, toolbar=no, scrollbars=yes');

		newwin.focus();
	}

</script>
{/literal}

<div class="ttl">
	<h2>メール送信</h2>
</div>

<br />
{show_err var=$arrErr}
<form name="frm" method="post">

{* 配信内容 *}
{if $mailbody_inc_flg == "1"}
	{assign var=tpl value=`$tpl_mailbody`}
    {include file="$includeDir`$tpl`"}
{else}
	{include file="Mng/mail/parts/send/mailbody.html"}
{/if}


{* 配信先一覧 *}
{if $mailsend_inc_flg == "1"}
	{assign var=tpl value=`$tpl_mailsend`}
    {include file="$includeDir`$tpl`"}
{else}
	{include file="Mng/mail/parts/send/mailsend.html"}
{/if}


<div class="btn">
	<input type="button" value="一覧へ戻る" onclick="f_back();" />
	<input type="button" value="次へ" onclick="f_submit();" />

</div>

<input type="hidden" name="mode" value="" />


</form>
{include file="include/footer.html"}