{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.action = 'Mng_mailsend.php';
		f.mode.value = 'complete';

		f.submit();
	}
	function f_back(){
		var f = document.frm;
		f.mode.value = 'back';
		f.action = 'Mng_mailsend.php';
		f.submit();
	}

</script>
{/literal}

<div class="ttl">
	<h2>メール送信確認</h2>
</div>

<br />
<p>※内容をご確認の上、「送信」ボタンをクリックしてください。</p>

<form name="frm" method="post">
{$embed}
<input type="hidden" name="mail_ttl" value="{$arrForm.mail_ttl|escape}" />
<input type="hidden" name="mail_body" value="{$arrForm.mail_body|escape}" />
<div class="mb10">■配信メール内容</div>
<table class="listtbl">
	<tr>
		<th class="width120">タイトル</th>
		<td>{$arrForm.mail_ttl|escape}</td>
	</tr>
	<tr>
		<th>本文</th>
		<td>{$arrForm.mail_body|escape|nl2br}</td>
	</tr>
</table>
<br />


{* 配信先一覧 *}
{if $mailsend_confirm_inc_flg == "1"}
	{assign var=tpl value=`$tpl_mailsend_confirm`}
    {include file="$includeDir`$tpl`"}
{else}
	{include file="Mng/mail/parts/send/mailsend_confirm.html"}
{/if}


<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
	<input type="button" value="送信" onclick="f_submit();" />
</div>

<input type="hidden" name="mode" value="" />


</form>
{include file="include/footer.html"}