{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_search(){
		var f = document.frm;
		f.mode.value = 'search';
		f.submit();
	}

	function f_submit(a){
		var f = document.frm;
		if(a != "") {
			f.page.value = a;
		} else {
			f.mode.value = 'search';
		}
		f.submit();
	}

	function f_edit(id){
		var f = document.frm;
		f.action ='Mng_maildetail.php';
		f.send_id.value = id;
		f.submit();
	}


</script>
{/literal}

<div class="ttl">
	<h2>メール送信履歴</h2>
</div>

<br />
<form name="frm" method="post">

<!--エラーメッセージ-->
{if $arrErr}
<div class="errmsg">
{foreach from=$arrErr item=err}
	<p>{$err|escape}</p>
{/foreach}
</div>
{/if}


{* 検索拡張 *}
{if $history_search_flg == "1"}
	{assign var=tpl value=`$tpl_history_search`}
    {include file="$includeDir`$tpl`"}
{else}
	{include file="Mng/mail/parts/history/history_search.html"}
{/if}


<div class="btn">
	<input type="button" value="検索" onclick="f_search();" />
</div>

<input type="hidden" name="mode" value="" />
<input type="hidden" name="page" value="" />

<br />
<br />


{* 送信履歴一覧 *}
{if $mailhistoryt_inc_flg == "1"}
	{assign var=tpl value=`$tpl_mailhistory`}
    {include file="$includeDir`$tpl`"}
{else}
	{include file="Mng/mail/parts/history/mailhistory.html"}
{/if}

</form>
{include file="include/footer.html"}