{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(a){
		var f = document.frm;
		if(a != "") {
			f.page.value = a;
		} else {
			f.page.value = '';
		}
		f.submit();
	}

	function f_back(){
		var f = document.frm;
		f.mode.value = 'search';
		f.action = 'Mng_mailhistory.php';
		f.submit();
	}

</script>
{/literal}

<div class="ttl">
	<h2>配信メール詳細</h2>
</div>

<br />
<form name="frm" method="post">

<div class="mb10">■配信メール内容</div>
<table class="listtbl">
	<tr>
		<th class="width120">タイトル</th>
		<td>{$va_mail.subject|escape}</td>
	</tr>
	<tr>
		<th>本文</th>
		<td>{$va_mail.body|escape|nl2br}</td>
	</tr>
	<tr>
		<th>配信日</th>
		<td>{$va_mail.rdate|date_format:"%Y-%m-%d %H:%M:%S"}</td>
	</tr>
</table>
<br /><br />


{* 配信先一覧 *}
{if $maildetail_inc_flg == "1"}
	{assign var=tpl value=`$tpl_maildetail`}
    {include file="$includeDir`$tpl`"}
{else}
	{include file="Mng/mail/parts/detail/maildetail.html"}
{/if}


<div class="btn">
	<input type="button" value="一覧へ戻る" onclick="f_back();" />
</div>

<input type="hidden" name="mode" value="" />
<input type="hidden" name="page" value="" />
<input type="hidden" name="send_id" value="{$send_id|escape}" />



</form>
{include file="include/footer.html"}