{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}

{if $_formItem.disp != "1"}
    <tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}

		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}

            {* 第1日目：セッション1 *}
			{assign var=item_id  value=56}
			{assign var=formItem value=$arrItemData[3][$item_id]}
			{assign var=edata    value="edata`$item_id`"}
			{assign var=data     value=$arrForm.$edata}
            {if $formItem.item_type == "2"}
				{$formItem.item_name}：{$formItem.select[$data]}<br/>
            {/if}


            {* 第1日目：セッション2 *}
			{assign var=item_id  value=67}
			{assign var=formItem value=$arrItemData[3][$item_id]}
			{assign var=edata    value="edata`$item_id`"}
			{assign var=data     value=$arrForm.$edata}
            {if $formItem.item_type == "2"}
				{$formItem.item_name}：{$formItem.select[$data]}<br/>
            {/if}


            {* 第1日目：セッション3 *}
			{assign var=item_id  value=68}
			{assign var=formItem value=$arrItemData[3][$item_id]}
			{assign var=edata    value="edata`$item_id`"}
			{assign var=data     value=$arrForm.$edata}
            {if $formItem.item_type == "2"}
				{$formItem.item_name}：{$formItem.select[$data]}<br/>
            {/if}


            {* 第2日目：セッション4 *}
			{assign var=item_id  value=99}
			{assign var=formItem value=$arrItemData[3][$item_id]}
			{assign var=edata    value="edata`$item_id`"}
			{assign var=data     value=$arrForm.$edata}
            {if $formItem.item_type == "2"}
				{$formItem.item_name}：{$formItem.select[$data]}<br/>
            {/if}


            {* 第2日目：セッション5 *}
			{assign var=item_id  value=100}
			{assign var=formItem value=$arrItemData[3][$item_id]}
			{assign var=edata    value="edata`$item_id`"}
			{assign var=data     value=$arrForm.$edata}
            {if $formItem.item_type == "2"}
				{$formItem.item_name}：{$formItem.select[$data]}<br/>
            {/if}


            {* 第2日目：セッション6 *}
			{assign var=item_id  value=101}
			{assign var=formItem value=$arrItemData[3][$item_id]}
			{assign var=edata    value="edata`$item_id`"}
			{assign var=data     value=$arrForm.$edata}
            {if $formItem.item_type == "2"}
				{$formItem.item_name}：{$formItem.select[$data]}<br/>
            {/if}
        </td>
    </tr>
{/if}