{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
        </td>

        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            {*セレクト*}
            {if $_formItem.item_type == "4"}
				<select name="edata27" id="edata27">
				    <option value=""></option>
					<optgroup label="Asia" class="opt1">
					{foreach from=$opt1 key=s_key item=item name=select}
					    <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
					{/foreach}
					</optgroup>


					<optgroup label="Laten America" class="opt2">
					{foreach from=$opt2 key=s_key item=item name=select}
					    <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
					{/foreach}
					</optgroup>


					<optgroup label="Europe/Africa" class="opt3">
					{foreach from=$opt3 key=s_key item=item name=select}
					    <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
					{/foreach}
					</optgroup>


					<optgroup label="North America" class="opt4">
					    <optgroup label="Canada" class="opt4-1">
						{foreach from=$opt4_1 key=s_key item=item name=select}
						    <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
						{/foreach}
					    </optgroup>

					    <optgroup label="Islands" class="opt4-2">
						{foreach from=$opt4_2 key=s_key item=item name=select}
						    <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
						{/foreach}
					    </optgroup>

					    <optgroup label="Midwestern United States" class="opt4-3">
						{foreach from=$opt4_3 key=s_key item=item name=select}
						    <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
						{/foreach}
					    </optgroup>

					    <optgroup label="Northeastern United States" class="opt4-4">
						{foreach from=$opt4_4 key=s_key item=item name=select}
						    <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
						{/foreach}
					    </optgroup>

					    <optgroup label="Southeastern United States" class="opt4-5">
						{foreach from=$opt4_5 key=s_key item=item name=select}
						    <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
						{/foreach}
					    </optgroup>

					    <optgroup label="Southwestern United States" class="opt4-6">
						{foreach from=$opt4_6 key=s_key item=item name=select}
						    <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
						{/foreach}
					    </optgroup>

					    <optgroup label="Western United States" class="opt4-7">
						{foreach from=$opt4_7 key=s_key item=item name=select}
						    <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
						{/foreach}
					    </optgroup>
					</optgroup>

					<optgroup label="Oceania" class="opt5">
					{foreach from=$opt5 key=s_key item=item name=select}
					    <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
					{/foreach}
					</optgroup>
				</select>

{literal}
<style>
.opt1, .opt2, .opt3, .opt4, .opt5 {
	background:#D9D9D9;
	font-style:normal;
}

.opt4-1, .opt4-2, .opt4-3, .opt4-4, .opt4-5, .opt4-6, .opt4-7 {
	background:#ffffff;
	font-style:normal;
}

#edata27 option { background:#ffffff; }
#edata27 optgroup { margin-bottom:15px; }
#edata27 .opt4 { margin-bottom:0; }
</style>
{/literal}
            {/if}
        </td>
    </tr>
{/if}
