{assign var=formItem value=$_formItem}
{assign var=edata    value="edata`$item_id`"}

{if $formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$formItem.item_name}<span class="red">&nbsp;*</span>
			<link rel="stylesheet" type="text/css" href="{$smarty.const.SSL_URL_CUSTOM}7/session.css">
        </td>

        <td>
            {if $formItem.item_memo != ""}{$formItem.item_memo}<br />{/if}<br/>

			{assign var=_formItem value=$arrItemData.3}
			{assign var="space" value="`$smarty.const.SSL_URL_CUSTOM`7/spacer.gif"}


			<div id="page" class="agenda">
				<div class="h4" id="01PM">
				<h4>第一日　2014年5月30日（金）午後の部</h4></div>

				<h5 class="mt20 mb20 normal">ブレイクアウトセッション（会場別）</h5>
				<table>
					<tr>
						<th><img src="{$space}" width="50" height="1" alt="" /><br />会場</th>
						<th><img src="{$space}" width="195" height="1" alt="" /><br/><strong>ホール（2階）</strong><br/>日英同時通訳あり</th>
						<th><img src="{$space}" width="195" height="1" alt="" /><br/><strong>ルーム1（3階）</strong><br/>日英同時通訳なし</th>
						<th><img src="{$space}" width="195" height="1" alt="" /><br/><strong>ルーム2（3階）</strong><br/>日英同時通訳なし</th>
					</tr>

					<tr>
						{assign var=item_id  value=56}
						{assign var=edata    value="edata`$item_id`"}
						{strip}
						<td class="time">13：05<br />-<br />14：05</td>
						<td class="orange">
							<h5><input type="radio" name="{$edata}" value="1" {if $arrForm.$edata == 1}checked{/if} />
							<strong>トラック</strong> 監査/保証</h5>
						</td>
						<td class="yellow">
							<h5><input type="radio" name="{$edata}" value="2" {if $arrForm.$edata == 2}checked{/if} />
							<strong>トラック</strong> セキュリティ/リスク</h5>
						</td>
						<td class="green">
							<h5><input type="radio" name="{$edata}" value="3" {if $arrForm.$edata == 3}checked{/if} />
							<strong>トラック</strong> ガバナンス/マネジメント</h5>
						</td>
						{/strip}
					</tr>


					<tr>
						{assign var=item_id  value=67}
						{assign var=edata    value="edata`$item_id`"}
						{strip}
						<td class="time">14：15<br />-<br />15：15</td>
						<td class="yellow">
							<h5><input type="radio" name="{$edata}" value="1" {if $arrForm.$edata == 1}checked{/if} />
							<strong>トラック</strong> セキュリティ/リスク</h5>
						</td>
						<td class="orange">
							<h5><input type="radio" name="{$edata}" value="2" {if $arrForm.$edata == 2}checked{/if} />
							<strong>トラック</strong> 監査/保証</h5>
						</td>
						<td class="green">
							<h5><input type="radio" name="{$edata}" value="3" {if $arrForm.$edata == 3}checked{/if} />
							<strong>トラック</strong> ガバナンス/マネジメント</h5>
						</td>
						{/strip}
					</tr>

					<tr>
						<td class="time">15：15<br />-<br />15：40</td>
						<td colspan="3" class="break">コーヒーブレイク</td>
					</tr>

					<tr>
						{assign var=item_id  value=68}
						{assign var=edata    value="edata`$item_id`"}
						{strip}
						<td class="time">15：40<br />-<br />16：40</td>
						<td class="green">
							<h5><input type="radio" name="{$edata}" value="1" {if $arrForm.$edata == 1}checked{/if} />
							<strong>トラック</strong> ガバナンス/マネジメント</h5>
						</td>
						<td class="orange">
							<h5><input type="radio" name="{$edata}" value="2" {if $arrForm.$edata == 2}checked{/if} />
							<strong>トラック</strong> 監査/保証</h5>
						</td>
						<td class="yellow">
							<h5><input type="radio" name="{$edata}" value="3" {if $arrForm.$edata == 3}checked{/if} />
							<strong>トラック</strong> セキュリティ/リスク</h5>
						</td>
						{/strip}
					</tr>
				</table>
		        <p>&nbsp;</p>


				<div class="h4" id="02PM">
				<h4>第二日　2014年5月31日（土）午後の部</h4></div>

				<h5 class="mt20 mb20 normal">ブレイクアウトセッション（会場別）</h5>
				<table>
					<tr>
						<th><img src="{$space}" width="50" height="1" alt="" /><br />会場</th>
						<th><img src="{$space}" width="195" height="1" alt="" /><br/><strong>ホール（2階）</strong><br/>日英同時通訳あり</th>
						<th><img src="{$space}" width="195" height="1" alt="" /><br/><strong>ルーム1（3階）</strong><br/>日英同時通訳なし</th>
						<th><img src="{$space}" width="195" height="1" alt="" /><br/><strong>ルーム2（3階）</strong><br/>日英同時通訳なし</th>
					</tr>

					<tr>
						{assign var=item_id  value=99}
						{assign var=edata    value="edata`$item_id`"}
						{strip}
						<td class="time">13：05<br />-<br />14：05</td>
						<td class="orange">
							<h5><input type="radio" name="{$edata}" value="1" {if $arrForm.$edata == 1}checked{/if} />
							<strong>トラック</strong> 監査/保証</h5>
						</td>
						<td class="green">
							<h5><input type="radio" name="{$edata}" value="2" {if $arrForm.$edata == 2}checked{/if} />
							<strong>トラック</strong> ガバナンス/マネジメント</h5>
						</td>
						<td class="yellow">
							<h5><input type="radio" name="{$edata}" value="3" {if $arrForm.$edata == 3}checked{/if} />
							<strong>トラック</strong> セキュリティ/リスク</h5>
						</td>
						{/strip}
					</tr>

					<tr>
						{assign var=item_id  value=100}
						{assign var=edata    value="edata`$item_id`"}
						{strip}
						<td class="time">14：15<br />-<br />15：15</td>
						<td class="yellow">
							<h5><input type="radio" name="{$edata}" value="1" {if $arrForm.$edata == 1}checked{/if} />
							<strong>トラック</strong> セキュリティ/リスク</h5>
						</td>
						<td class="orange">
							<h5><input type="radio" name="{$edata}" value="2" {if $arrForm.$edata == 2}checked{/if} />
							<strong>トラック</strong> 監査/保証</h5>
						</td>
						<td class="green">
							<h5><input type="radio" name="{$edata}" value="3" {if $arrForm.$edata == 3}checked{/if} />
							<strong>トラック</strong> ガバナンス/マネジメント</h5>
						</td>
						{/strip}
					</tr>

					<tr>
						<td class="time">15：15<br />-<br />15：40</td>
						<td colspan="3" class="break">コーヒーブレイク</td>
					</tr>

					<tr>
						{assign var=item_id  value=101}
						{assign var=edata    value="edata`$item_id`"}
						{strip}
						<td class="time">15：40<br />-<br />16：40</td>
						<td class="green">
							<h5><input type="radio" name="{$edata}" value="1" {if $arrForm.$edata == 1}checked{/if} />
							<strong>トラック</strong> ガバナンス/マネジメント</h5>
						</td>
						<td class="yellow">
							<h5><input type="radio" name="{$edata}" value="2" {if $arrForm.$edata == 2}checked{/if} />
							<strong>トラック</strong> セキュリティ/リスク</h5>
						</td>
						<td class="orange">
							<h5><input type="radio" name="{$edata}" value="3" {if $arrForm.$edata == 3}checked{/if} />
							<strong>トラック</strong> 監査/保証</h5>
						</td>
						{/strip}
					</tr>
				</table>
		        <p>&nbsp;</p>
			</div>

        </td>
    </tr>
{/if}