{if $_formItem.disp != "1"}
    <!--Title (Prof.・Dr.・Mr.・Ms.)-->
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}

        </td>
        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            {foreach from=$GLOBALS.titleList item=title name=loop key=key}
                {if $title != "PhD"}
                    <input type="radio" name="edata57" id="{$edata}_{$key}" class="{$edata}" value="{$key}" {if $arrForm.edata57 == $key}checked{/if} {attr}/><label class="{$edata}_label">{$title}</label>
                {/if}
            {/foreach}

        </td>
    </tr>
{/if}

