{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--会員・非会員-->
	<tr class="row{$item_id}">
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
			<input type="radio" name="{$edata}" id="{$edata}_1" class="{$edata}" value="1" {if $arrForm.$edata == "1"}checked{/if}  {attr}/><label class="{$edata}_label">{$va_kaiin[1]}</label>{$_formItem.sep|default:""}
			<input type="radio" name="{$edata}" id="{$edata}_2" class="{$edata}" value="2" {if $arrForm.$edata == "2"}checked{/if}  {attr}/><label class="{$edata}_label">{$va_kaiin[2]}</label>{$_formItem.sep|default:""}
		</td>
	</tr>
{/if}
