{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}

            {*ラジオ*}
            {if $_formItem.item_type == "2"}
                {foreach from=$_formItem.select key=s_key item=item name=select}
                    <input type="radio" name="{$edata}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}

					{if $smarty.foreach.select.first}
						{assign var="item_id"   value="74"}
						{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
						{assign var="edata1"     value="edata`$item_id`"}
						{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							{$_formItem.item_name}
							<input type="text" name="{$edata1}" id="{$edata1}" value="{$arrForm.$edata1|escape}" size="5" />
							{$_formItem.item_memo}
						{/if}
					{/if}
					<br />
                {/foreach}

            {/if}
        </td>
    </tr>
{/if}
