{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
			<div style="position: relative;height:110px;">
	            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
				{if $formItem[26].item_memo != ""}<div class="alignLB nowrap">{$formItem[26].item_memo}</div>{/if}
			</div>
        </td>

        <td>
            {*テキスト*}
            {if $_formItem.item_type == "0"}
                <input type="text" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" size="{$_formItem.size|default:"40"}" {attr}/>

            {*テキストエリア*}
            {elseif $_formItem.item_type == "1"}
                <textarea name="{$edata}" class="{$edata}" rows="{$_formItem.rows|default:"5"}" cols="{$_formItem.cols|default:"85"}" {attr}>{$arrForm.$edata}</textarea>

            {*ラジオ*}
            {elseif $_formItem.item_type == "2"}
                {foreach from=$_formItem.select key=s_key item=item name=select}
                    <input type="radio" name="{$edata}" id="{$edata}_{$s_key}" class="{$edata}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {attr} /><label class="{$edata}_label">{$item}</label>{$_formItem.sep|default:"<br />"}
                {/foreach}

            {*チェックボックス*}
            {elseif $_formItem.item_type == "3"}

                {foreach from=$_formItem.select key=s_key item=item name=select}

                    {assign var=key26 value=`$edata``$s_key`}
                    <span id="chk_{$edata}_{$s_key}">
                        <input type="checkbox" name="{$edata}{$s_key}" id="{$edata}_{$s_key}" class="{$edata}" value="{$s_key}" {if $arrForm[$key26] == $s_key}checked{/if} {attr} /><label class="{$edata}_label">{$item}</label>{$_formItem.sep|default:"<br />"}
                    </span>
                {/foreach}

            {*セレクト*}
            {else $_formItem.item_type == "4"}
                <select name="{$edata}" class="{$edata}" {attr}>
                    <option vlaue=""></option>
                    {foreach from=$_formItem.select key=s_key item=item name=select}
                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
                        {/if}
                    {/foreach}
                </select>
            {/if}


			<div id="area1_box">
			{edataXX group_id=$group_id item_id=124}
			{assign var="data" value=$data.$index}
			{if $_formItem.item_type == "0"}
				<p>ご訪問希望日時</p>
                <p>{$_formItem.item_name}&nbsp;
				   <input type="text" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" size="{$_formItem.size|default:"40"}" {attr}/><p>
			{/if}
			{edataXX group_id=$group_id item_id=125}
			{assign var="data" value=$data.$index}
			{if $_formItem.item_type == "0"}
                <p>{$_formItem.item_name}&nbsp;
				   <input type="text" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" size="{$_formItem.size|default:"40"}" {attr}/><p>
			{/if}
			</div>

        </td>
    </tr>
{/if}
