{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            住所 / Address{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
			{* 郵便番号 *}
			{edataXX group_id=$group_id item_id=71}
			{assign var="data" value=$data.$index}
			〒{$arrForm.$edata|escape}


			{* 都道府県 *}
			{edataXX group_id=$group_id item_id=72}
			{assign var="data" value=$data.$index}
			{$arrForm.$edata|escape}


			{* 市町村・区・郡 *}
			{edataXX group_id=$group_id item_id=73}
			{assign var="data" value=$data.$index}
			{$arrForm.$edata|escape}


			{edataXX group_id=$group_id item_id=74}
			{assign var="data" value=$data.$index}
			{$arrForm.$edata|escape}<br/>


			{edataXX group_id=$group_id item_id=75}
			{assign var="data" value=$data.$index}
			{$arrForm.$edata|escape}
        </td>
    </tr>
{/if}
