{if $_formItem.disp != "1"}
    <!--メールアドレス-->
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>
        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            <input type="text" name="edata25" class="{$edata}" value="{$arrForm.edata25|escape}" size="{$_formItem.size|default:"40"}" {attr}/>

        </td>
    </tr>

    {if $_formItem.mail == "1"}
        <tr>
            <td class="iname">
                メールアドレス(確認用) /<br/> E-mail address(toconfirm){if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
            </td>
            <td>
                Please fill in again to confirm<br />
                <input type="text" name="chkemail" class="{$edata}" value="{$arrForm.chkemail|escape}" size="{$_formItem.size|default:"40"}" {attr}/>
            </td>
        </tr>
    {/if}
{/if}
