{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            住所 / Address{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>

			<table class="layout">
			<tr>
				<td width="140">{* 郵便番号 *}
					{edataXX group_id=$group_id item_id=71}
					{assign var="data" value=$data.$index}
		            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
					{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br/>
	                <input type="text" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" size="{$_formItem.size|default:"40"}" {attr}/>
				</td>

				<td>{* 都道府県 *}
					{edataXX group_id=$group_id item_id=72}
					{assign var="data" value=$data.$index}
		            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
					{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br/>
	                <input type="text" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" size="{$_formItem.size|default:"40"}" {attr}/>
				</td>

				<td>{* 市町村・区・郡 *}
					{edataXX group_id=$group_id item_id=73}
					{assign var="data" value=$data.$index}
		            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
					{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br/>
	                <input type="text" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" size="{$_formItem.size|default:"40"}" {attr}/>
				</td>
		    </tr>

			<tr>
				<td colspan="3">
					{edataXX group_id=$group_id item_id=74}
					{assign var="data" value=$data.$index}
		            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
					{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br/>
	                <input type="text" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" size="{$_formItem.size|default:"40"}" {attr}/>
				</td>
			</tr>

			<tr>
				<td colspan="3">
					{edataXX group_id=$group_id item_id=75}
					{assign var="data" value=$data.$index}
		            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
					{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br/>
	                <input type="text" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" size="{$_formItem.size|default:"40"}" {attr}/>
				</td>
			</tr>
			</table>

        </td>
    </tr>
{/if}
