</table>

{assign var=formItem value=$formItem.$item_id}
{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}


<div class="bname">Accompanying person(s)</div>
<b>Accompanying Person 1</b>
<br />

<table class="rtbl">
{if $formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$formItem.item_name}{if $formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
        </td>
        <td>
            {*テキスト、テキストエリア*}
            {if $formItem.item_type == "0" || $formItem.item_type == "1"}
                {$data|escape|nl2br}
            {*ラジオ、セレクト*}
            {elseif $formItem.item_type == "2" || $formItem.item_type == "4"}
                {$formItem.select[$data]}
            {*チェック*}
            {elseif $formItem.item_type == "3"}
                {foreach from=$formItem.select key=s_key item=item name=select}

                    {assign var=key26 value=$edata`$s_key`}

                    {if $arrForm[$key26] == $s_key}{$item}<br />{/if}

                {/foreach}
            {/if}
        </td>
    </tr>
{/if}
