{if $formData.credit != "0"}
    {* 新規登録 *}
    {if $eid == ""}
        <div class="bname">お支払い金額</div>

        <table class="rtbl">
            <tr>
                <td>{strip}
                    <ul>
                    {if !$hide_fee_area}
                        {assign var="amount_price" value=$va_price[$arrForm.amount].p1}
                        {if $formData.pricetype == "1"}
                            <li>
                            {$v_head.price_header}&nbsp;:&nbsp;
                            {if $amount_price|is_numeric}{$amount_price|number_format}円{else}{$amount_price}{/if}
                            </li>
                        {else}
                            <li>
                            {$va_price[$arrForm.amount].name|del_tags}&nbsp;:&nbsp;
                            {if $amount_price|is_numeric}{$amount_price|number_format}円{else}{$amount_price}{/if}
                            </li>
                        {/if}
                    {/if}

                    {*　その他決済方法がある場合*}
                    {if $formData.kessai_flg == "1" && $formData.ather_price_flg != "1" && $formData.ather_price != ""}

                        {foreach from=$va_ather_price key=p_key item=p_item name=select}

                            {assign var=ather_price value=ather_price`$p_key`}
                            {assign var=sum value=sum`$p_key`}

                            {if $arrForm[$ather_price] != "" && $arrForm[$ather_price] != "0"}
                                <li>
                                {$p_item.name|del_tags}&nbsp;:&nbsp;{$arrForm[$sum]|number_format}円&nbsp;
                                （
                                 {if $p_item.p1|is_numeric}{$p_item.p1|number_format}円{else}{$p_item.p1}{/if}
                                  × {$arrForm[$ather_price]|escape}{$p_item.tani} ）
                                </li>
                            {/if}

                        {/foreach}

                    {/if}
                    </ul>
                    {/strip}

                    <span class="total">
                    <br />お支払合計金額&nbsp;:&nbsp;
                    {$arrForm.total_price|number_format}円
                    </span>
                </td>
            </tr>
        </table>

    {* 編集 *}
    {else}
        <div class="bname">Amount of Payment</div>
        <table class="rtbl">
            <tr>
                <td>{strip}
                    <ul>
                    {foreach from=$arrPayment item=detail}
                        <li>
                            {* 金額 *}
                            {if $detail.type == 0}
                                {if !$hide_fee_area}
                                    {$detail.name|show_amount|del_tags}&nbsp;:&nbsp;
                                    {if $detail.price|is_numeric}
                                        {$yen_mark}{$detail.price|number_format}
                                    {else}
                                        {$detail.price}
                                    {/if}
                                
                                {/if}
                            {* その他決済 *}
                            {else}
                                {$detail.name|del_tags}&nbsp;:&nbsp;
                                {if $detail.price|is_numeric}
                                    {$yen_mark}{$detail.price|number_format}
                                {else}
                                    {$detail.price}
                                {/if}
                                （
                                    {if $detail.price|is_numeric}
                                        {$yen_mark}{$detail.price|number_format}
                                    {else}
                                        {$detail.price}
                                    {/if} × {$detail.quantity|escape}
                                 ）
                            {/if}
                        </li>
                    {/foreach}
                    </ul>
                    {/strip}

                    <span class="total">
                    <br />Amount of Total Payment&nbsp;:&nbsp;
                    {$payment_price|number_format}円
                    </span>
                </td>
            </tr>
        </table>
    {/if}


    {if $payment_confirm_disp_flg == "1"}
            <div class="bname">お支払い方法 </div>
            <table class="rtbl">
                <tr>
                    <td>{$va_method[$arrForm.method]}</td>
                </tr>
            </table>

            <!-- 決済フォーム　-->
            <div class="bname">お支払情報</div>

        {if $arrForm.method == "1"}
            <table class="rtbl">
                <tr>
                    <td class="iname">
                        カード会社<span class="red">&nbsp;{$need_mark}</span>
                    </td>
                    <td>
                        {$va_card_type[$arrForm.card_type]}
                    </td>
                </tr>
                <tr>
                    <td class="iname">
                        クレジットカード番号<span class="red">&nbsp;{$need_mark}</span>
                    </td>
                    <td>
                        {if $arrForm.cardNumber != ""}**************{/if}
                    </td>
                </tr>
                <tr>
                    <td class="iname">
                        有効期限<span class="red">&nbsp;{$need_mark}</span>
                    </td>
                    <td>
                        {$arrForm.cardExpire1|escape}{if $arrForm.cardExpire1 != ""}月{/if}&nbsp;&nbsp;{$arrForm.cardExpire2|escape}{if $arrForm.cardExpire2 != ""}年{/if}
                    </td>
                </tr>
    <!--
                <tr>
                    <td class="iname">
                        支払区分<span class="red">&nbsp;{$need_mark}</span>
                    </td>
                    <td>
                        {$va_jpo1[$arrForm.jpo1]}
                    </td>
                </tr>

                <tr>
                    <td class="iname">
                        支払回数
                    </td>
                    <td>
                        {if $arrForm.jpo2 != ""}
                            {$arrForm.jpo2}回
                        {/if}

                    </td>
                </tr>

    -->
                <tr>
                    <td class="iname">
                        カード名義人<span class="red">&nbsp;{$need_mark}</span>
                    </td>
                    <td>
                        {$arrForm.cardHolder|escape}
                    </td>
                </tr>

                <tr>
                    <td class="iname">
                        セキュリティコード<span class="red">&nbsp;{$need_mark}</span>
                    </td>
                    <td>
                        {if $arrForm.securityCode != ""}
                           ***
                        {/if}
                    </td>
                </tr>
            </table>
        {elseif $arrForm.method == "2"}
            <table class="rtbl">
                <tr>
                    <td class="iname">
                        お振込み人名義
                    </td>
                    <td>
                        {$arrForm.lessee|escape}
                    </td>
                </tr>
                <tr>
                    <td class="iname">
                        お支払銀行名
                    </td>
                    <td>
                        {$arrForm.bank|escape}
                    </td>
                </tr>
                <tr>
                    <td class="iname">
                        お振込み日
                    </td>
                    <td>
                        {$arrForm.closure|escape}
                    </td>
                </tr>
            </table>
        {/if}
    {/if}
{/if}
