{if $eid == ""}
        <div class="bname">Fee</div>

        <!--支払金額説明 -->
        {if $formWord.word8 != ""}
            <div class="bcomment">{$formWord.word8|nl2br}</div>
        {/if}



            {*
                金額<span class="red">&nbsp;{$need_mark}</span><br />
                {if $formData.pricetype == "1"}
                    {$formData.price|number_format}円
                    <input type="hidden" name="amount" value="{$formData.price}" />
                {else}
                    {foreach from=$va_price key=p_key item=item name=select}
                        <input type="radio" name="amount" value="{$p_key}" {if $arrForm.amount == $p_key}checked{/if} />{$item}&nbsp;:&nbsp;{$p_key|number_format}円<br />
                    {/foreach}
                {/if}
            *}

        {if $formData.pricetype == "2"}
            <input type="hidden" name="amount" value="0" />

        {elseif $formData.pricetype == "1"}
            <input type="hidden" name="amount" value="0" />

        {/if}

        {if $formData.kessai_flg == "1" && $formData.ather_price_flg != "1" && $formData.ather_price != ""}
            <table class="rtbl" id="feearea1">
                <tr>
                    <th class="iname">{$va_ather_header[0]}&nbsp;</th>
                    <th class="iname">{$v_head.price_head0}</th>
                    {* 表示形式がearly+lateのみ表示 *}
                    {if $disp == 2}<th class="iname">{$v_head.price_head1}</th>{/if}
                </tr>
                {foreach from=$va_ather_price1 key=p_key item=p_item name=select}
                    <tr>
                        {foreach from=$p_item key=p_key2 item=price}
                            {if $p_key2 != "limit" && $p_key2 != "tani" && $p_key2 != "tani2"}
                                {if $p_key2 == "name"}
                                    <td class="iname">
	                                    {assign var=ather_price value=ather_price`$p_key`}
	                                    <input type="radio" name="ather_price{$p_key}" value="1" {if $arrForm[$ather_price] == 1}checked{/if}/>
                                        {$price}
                                    </td>
                                {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                                    <td class="cent">
                                        {if $price|is_numeric}
                                            {$yen_mark}{$price|number_format}
                                        {else}
                                            {$price}
                                        {/if}

                                    </td>
                                {/if}
                            {/if}

                        {/foreach}
                    </tr>
                {/foreach}
            </table>
			<br/>

            <table class="rtbl" id="feearea2">
                <tr>
                    <th class="iname">{$va_ather_header[2]}&nbsp;</th>
                    <th class="iname">{$v_head.ather_price_head0}</th>
                </tr>
                {foreach from=$va_ather_price2 key=p_key item=p_item name=select}
                    <tr>
                        {foreach from=$p_item key=p_key2 item=price}
                            {if $p_key2 != "limit" && $p_key2 != "tani" && $p_key2 != "p2" && $p_key2 != "tani2"}
                                {if $p_key2 == "name"}
                                    <td class="iname">
	                                    {assign var=ather_price value=ather_price`$p_key`}
	                                    <input type="radio" name="ather_price{$p_key}" value="1" {if $arrForm[$ather_price] == 1}checked{/if}/>{$price}
                                    </td>
                                {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                                    <td class="cent">
                                        {if $price|is_numeric}
                                            {$yen_mark}{$price|number_format}
                                        {else}
                                            {$price}
                                        {/if}

                                    </td>
                                {/if}
                            {/if}

                        {/foreach}
                    </tr>
                {/foreach}
            </table>
			<script type="text/javascript" src="{$smarty.const.APP_ROOT}htdocs/js/jquery-1.10.2.min.js"></script>
			<script type="text/javascript" src="{$smarty.const.APP_ROOT}htdocs/js/jquery-extend.js"></script>
			{literal}
			<script type="text/javascript">
				$(function(){
					$.createRadioGroup("#feearea1");
					$.createRadioGroup("#feearea2");
				});
			</script>
			{/literal}
        {/if}
{else}
	{*外部ファイルの読み込みがある場合 *}
	{if $money_edit_inc_flg == "1"}
		{assign var=tpl value=`$tpl_edit_name`}
        {include file="$includeDir`$tpl`"}
	{else}
		{include file="Usr/form/Usr_money_edit_e.html"}
	{/if}
{/if}


	<div class="bname">Payment Method</div>

	<table class="rtbl">
		<tr>
			<td>
				{foreach from=$va_method key=p_key item=item name=select}
					<input type="radio" name="method" value="{$p_key}" checked />{$item}
				{/foreach}
			</td>
		</tr>
	</table>

	<!--支払方法説明 -->
	{if $formWord.word9 != ""}
		<br />
		<div class="bcomment">{$formWord.word9|nl2br}</div>
	{/if}
