@charset "utf-8";
/* CSS Document */

tr#money_option_area_1          { background:#EBF1DE !important; }
tr#money_option_area_1 td.iname { background:#EBF1DE !important; }
tr#money_option_area_3          { background:#EBF1DE !important; }
tr#money_option_area_3 td.iname { background:#EBF1DE !important; }
tr#money_option_area_5          { background:#EBF1DE !important; }
tr#money_option_area_5 td.iname { background:#EBF1DE !important; }
tr#money_option_area_7          { background:#EBF1DE !important; }
tr#money_option_area_7 td.iname { background:#EBF1DE !important; }
tr#money_option_area_9          { background:#EBF1DE !important; }
tr#money_option_area_9 td.iname { background:#EBF1DE !important; }


tr#money_option_area_11          { background:#FFFFCC !important; }
tr#money_option_area_11 td.iname { background:#FFFFCC !important; }
tr#money_option_area_12          { background:#FFFFCC !important; }
tr#money_option_area_12 td.iname { background:#FFFFCC !important; }
tr#money_option_area_13          { background:#FFFFCC !important; }
tr#money_option_area_13 td.iname { background:#FFFFCC !important; }
tr#money_option_area_14          { background:#FFFFCC !important; }
tr#money_option_area_14 td.iname { background:#FFFFCC !important; }
