{include file="include/usr_header.html" _title="`$fData.form_name``$_title`"}

<div class="header">

	{if $fData.head_image}
		<img src="{$smarty.const.IMG_URL}header/{$fData.head_image}" border="0" />
	{/if}

	</div>

	<div id="FormTtl">
		{$fData.form_name} パスワード再発行 {$extends_msg}
	</div>
	<br />


<form name="frm" id="frm" method="post" action="?form_id={$form_id|escape}">
<input type="hidden" name="form_id" id="form_id" value="{$form_id|escape}" />
<input type="hidden" name="mode"    id="mode"    value="do" />
	<div id="Login">
		<p>{$msg}</p>
		{show_err var=$arrErr}
		<br />
		<table>
			<tr>
				<td class="r">{$GLOBALS.msg.passwd_user_id}：</td>
				<td><input type="text" name="user_id" value="{$arrForm.user_id|escape}" size="30" autocomplete="off" /></td>
			</tr>
			<tr>
				<td class="r">{$GLOBALS.msg.passwd_mailaddress}：</td>
				<td><input type="text" name="mailaddress" value="{$arrForm.mailaddress|escape}" size="30" autocomplete="off" /></td>
			</tr>
		</table>
		<div class="btn">
			<input type="submit" value="{$GLOBALS.msg.passwd_btn}" name="submit_btn" />
		</div>
	</div>

</form>
{include file="include/usr_footer.html"}