{include file="include/usr_header.html" _title="`$fData.form_name``$_title`"}

<div class="header">

	{if $fData.head_image}
		<img src="{$smarty.const.IMG_URL}header/{$fData.head_image}" border="0" />
	{/if}

	</div>

	<div id="FormTtl">
        {$fData.form_name} パスワード再発行 {$extends_msg}
	</div>
	<br />


<form name="frm" id="frm" method="post" action="?form_id={$form_id|escape}">
<input type="hidden" name="form_id" id="form_id" value="{$form_id|escape}" />
<input type="hidden" name="mode"    id="mode"    value="do" />
	<div id="Login">
		<p>{$msg}</p>
	</div>

</form>
{include file="include/usr_footer.html"}