{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}

{if $_formItem.disp != "1"}
	{obi mode="confirm"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>
        <td>
            {*テキスト、テキストエリア*}
            {if $_formItem.item_type == "0" || $_formItem.item_type == "1"}
                {$data|escape|nl2br}
            {*ラジオ、セレクト*}
            {elseif $_formItem.item_type == "2" || $_formItem.item_type == "4"}
                {$_formItem.select[$data]}
            {*チェック*}
            {elseif $_formItem.item_type == "3"}
                {foreach from=$_formItem.select key=s_key item=item name=select}
                    {assign var=key26 value=$edata`$s_key`}
                    {if $arrForm[$key26] == $s_key}
                        <span class="membershipno">{$item}</span>
                        {edataXX group_id=$group_id item_id=$arrMemberShipNoMap.$s_key}
                        Membership No. : {$arrForm.$edata|escape}
                        {edataXX group_id=$group_id item_id=26}
                        <br />
                    {/if}

                {/foreach}
            {/if}
        </td>
    </tr>
{/if}
