<div class="header">
{if $va_header}
	<img src="{$va_header}" border="0" />
{/if}
</div>

<br />

{if $not_title != 1}
<div id="FormTtl">
	{if $formWord.word14 != ""}
		{$formWord.word14|nl2br}
	{else}
		{$formData.form_name}
	{/if}
</div>
<br />
{/if}

<div id="Form">
		<!--エラーメッセージ-->
		{if $arrErr}
			<br />
			<div class="errmsg">
			{foreach from=$arrErr item=err}
				<p>{$err|escape}</p>
			{/foreach}
			</div>
			<br />
		{/if}

		<p>{$formData.agree_text|nl2br}</p>

		{if $formData.agree == "3"}
			<div id="agree">
				<input type="checkbox" name="agree" value="1" {if $arrForm.agree == "1"}checked{/if} />
				I agree with the above-mentioned matter and register for the Conference.
			</div>
		{/if}
		<div class="btn"><input type="button" value="{$GLOBALS.msg.btn_next}" onclick="f_next();" /></div>
</div>

<!-- フッター-->
<div class="footer">{$formData.contact|nl2br}</div>
