{if $eid == ""}
        <div class="bname">Fee</div>

        <!--支払金額説明 -->
        {if $formWord.word8 != ""}
            <div class="bcomment">{$formWord.word8|nl2br}</div>
        {/if}



            {*
                金額<span class="red">&nbsp;*</span><br />
                {if $formData.pricetype == "1"}
                    {$formData.price|number_format}円
                    <input type="hidden" name="amount" value="{$formData.price}" />
                {else}
                    {foreach from=$va_price key=p_key item=item name=select}
                        <input type="radio" name="amount" value="{$p_key}" {if $arrForm.amount == $p_key}checked{/if} />{$item}&nbsp;:&nbsp;{$p_key|number_format}円<br />
                    {/foreach}
                {/if}
            *}

        {if $formData.pricetype == "2"}
            <table class="rtbl">
                <tr>
                    <th class="iname">{$v_head.price_header}&nbsp;</th>
                    <th class="iname">{$v_head.price_head0}</th>
                    {* 表示形式がearly+lateのみ表示 *}
                    {if $disp == 2}<th class="iname">{$v_head.price_head1}</th>{/if}
                </tr>

                {foreach from=$va_price key=p_key item=p_item name=select}
                    <tr>
                        {foreach from=$p_item key=p_key2 item=price}
                        	{if $p_key2 == "p3" || $p_key2 == "key"}
                            {elseif $p_key2 == "name"}
                                <td class="iname">
                                    <input type="radio" name="amount" value="{$p_key}" {if $arrForm.amount == $p_key && $arrForm.amount != ""}checked{/if} />{$price}
                                </td>
                            {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                                <td class="cent">
                                    {if $price|is_numeric}
                                        {$yen_mark}{$price|number_format}
                                    {else}
                                        {$price}
                                    {/if}

                                </td>
                            {/if}

                        {/foreach}
                    </tr>
                {/foreach}

            </table>
        {elseif $formData.pricetype == "1"}
            <table class="rtbl">
                <tr>
                	<th class="iname">&nbsp;</th>
                    <th class="iname">{$v_head.price_head0}</th>
                    {* 表示形式がearly+lateのみ表示 *}
                    {if $disp == 2}<th class="iname">{$v_head.price_head1}</th>{/if}
                </tr>
                {foreach from=$va_price key=p_key item=p_item name=select}
                    <tr>
                    	<td class="iname">{$v_head.price_header}&nbsp;</td>
                        {foreach from=$p_item key=p_key2 item=price}
							{if $p_key2 == "key"}
                            {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                                <td class="cent">
                                    {if $price|is_numeric}
                                        {$yen_mark}{$price|number_format}
                                    {else}
                                        {$price}
                                    {/if}
                                    <input type="hidden" name="amount" value="{$p_key}" />
                                </td>
                            {/if}
                        {/foreach}
                    </tr>
                {/foreach}


            </table>

        {/if}
        {if $formData.kessai_flg == "1" && $formData.ather_price_flg != "1" && $formData.ather_price != ""}
            <br />

            <table class="rtbl">
                <tr>
                    <th class="iname">{$v_head.ather_price_header}&nbsp;</th>
                    <th class="iname">{$v_head.ather_price_head0}</th>
                    {* 表示形式がearly+lateのみ表示 *}
                    {if $disp == 2}<th class="iname">{$v_head.ather_price_head1}</th>{/if}
                    <th class="iname">{*<span class="red">Please Select</span>*}&nbsp;</th>
                </tr>
                {foreach from=$va_ather_price key=p_key item=p_item name=select}
					{if $p_key != 0}{php}continue;{/php}{/if}
                    <tr>
                        {foreach from=$p_item key=p_key2 item=price}
                            {if $p_key2 != "limit" && $p_key2 != "tani"}
                                {if $p_key2 == "name"}
                                    <td class="iname">
                                        {$price}&nbsp;<span class="red">[Sold out]</span>
                                    </td>
                                {elseif $p_key2 == "tani2"}
                                    {assign var=ather_price value=ather_price`$p_key`}
                                    <td>
					                    {html_radios name=ather_price`$p_key` options=$arrOtherPrice01 
													 selected=$arrForm[$ather_price] separator="<br/>" label_ids=true}
									</td>
                                {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                                    <td class="cent">
                                        {if $price|is_numeric}
                                            {$yen_mark}{$price|number_format}
                                        {else}
                                            {$price}
                                        {/if}

                                    </td>
                                {/if}
                            {/if}

                        {/foreach}
                    </tr>
                {/foreach}
            </table>
            <br />



            <table class="rtbl">
                <tr>
                    <th class="iname">{$v_head.ather_price_header}&nbsp;</th>
                    <th class="iname">{$v_head.ather_price_head0}</th>
                    {* 表示形式がearly+lateのみ表示 *}
                    {if $disp == 2}<th class="iname">{$v_head.ather_price_head1}</th>{/if}
                    <th class="iname">&nbsp;</th>
                </tr>
                {foreach from=$va_ather_price key=p_key item=p_item name=select}
					{if $p_key != 1}{php}continue;{/php}{/if}
                    <tr>
                        {foreach from=$p_item key=p_key2 item=price}
                            {if $p_key2 != "limit" && $p_key2 != "tani"}
                                {if $p_key2 == "name"}
                                    <td class="iname">
                                        {$price}
                                    </td>
                                {elseif $p_key2 == "tani2"}
                                    {assign var=ather_price value=ather_price`$p_key`}
                                    <td>
										<select name="ather_price{$p_key}">
											<option value=""></option>
						                    {html_options options=$arrOtherPrice02 selected=$arrForm[$ather_price]}
						                </select>
									</td>
                                {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                                    <td class="cent">
                                        {if $price|is_numeric}
                                            {$yen_mark}{$price|number_format}
                                        {else}
                                            {$price}
                                        {/if}

                                    </td>
                                {/if}
                            {/if}

                        {/foreach}
                    </tr>
                {/foreach}
            </table>
            <br />



            <table class="rtbl" id="otherprice3">
                <tr>
                    <th class="iname">Category</th>
                    <th class="iname">Additional Paper fee (limited to 1 paper)<sup>*7</sup></th>
                </tr>
                {foreach from=$va_ather_price key=p_key item=p_item name=select}
					{if $p_key == 0 || $p_key == 1}{php}continue;{/php}{/if}
                    <tr>
                        {foreach from=$p_item key=p_key2 item=price}
                            {if $p_key2 != "limit" && $p_key2 != "tani"}
                                {if $p_key2 == "name"}
                                    <td class="iname">
										{assign var=ather_price value=ather_price`$p_key`}
										<input type="radio" name="ather_price{$p_key}" value="1"
										 {if $arrForm[$ather_price] == 1}checked{/if} />
                                        {$price}
                                    </td>
                                {elseif $p_key2 == "tani2"}
								{* 前期,後期は同じ金額が前提→前期の金額のみ表示する *}
                                {elseif $p_key2 == "p1"}
                                    <td class="cent">
                                        {if $price|is_numeric}
                                            {$yen_mark}{$price|number_format}
                                        {else}
                                            {$price}
                                        {/if}

                                    </td>
                                {/if}
                            {/if}

                        {/foreach}
                    </tr>
                {/foreach}
            </table>
			<script type="text/javascript" src="{$smarty.const.APP_ROOT}htdocs/js/jquery-1.10.2.min.js"></script>
			{literal}
			<script type="text/javascript">
				$(function(){
					$("#otherprice3 [type='radio']").bind("click",(function(){
						$.each($(this).closest("#otherprice3").find("[type='radio']"),function(){
							$(this).prop('checked', false);
						})
						$(this).prop('checked', true);
					}))
				});
			</script>
			<style>
				/*.rtbl td.iname:first-child { width:285px; }*/
			</style>
			{/literal}

        {/if}
{else}
	{include file="Usr/form/Usr_money_edit_e.html"}
{/if}

	<div class="bname">Payment Method</div>

	<table class="rtbl">
		<tr>
			<td>
				{foreach from=$va_method key=p_key item=item name=select}
					<input type="radio" name="method" value="{$p_key}" checked />{$item}
				{/foreach}
			</td>
		</tr>
	</table>

	<!--支払方法説明 -->
	{if $formWord.word9 != ""}
		<br />
		<div class="bcomment">{$formWord.word9|nl2br}</div>
	{/if}
