@charset "utf-8";
/* CSS Document */

/* JFW-IFF 来場事前登録フォーム用CSS */

.wr { float:left; width:170px; }

.pbr { position:absolute; bottom:5px; right:5px; height:30px; }

.chk_area td {
	border: none !important;
	vertical-align: top;
}

.chk_area {
width: 100%;
}

.row_iff     .iname { background-color: #ffedfd !important; }
.row_fbs     .iname { background-color: #cff9ff !important; }
.row_iff_fbs .iname { /*background-color: #e7e3ff !important;*/ }
