{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(a){

		var f = document.frm;
		f.action = 'index.php';
		f.target = '_self';

		if(a != "") {
			f.page.value = a;
			//f.mode.value = '';
			f.mode.value = 'search';
		} else {

			f.mode.value = 'search';
		}

		f.submit();
	}

	function f_clear(){
		var f = document.frm;
		f.action = 'index.php';
		f.target = '_self';
		f.mode.value = 'clear';
		f.submit();
	}

	function f_detail(id) {
		var f = document.frm;
		f.action = 'entry/Mng_entry_detail.php?eid='+id;
		f.target = '_self';
		f.submit();
	}

	function f_edit(mode, id){
		var f = document.frm;

		if(mode == '1' || mode == '2'){
			var f = document.frm;
			var form_id = f.form_id.value;
			if(mode == '2'){
				f.action = '../Usr/form/Usr_entry.php?form_id='+ form_id + '&admin_flg=2&eid='+ id;
			}
			else{
				f.action = '../Usr/form/Usr_entry.php?form_id='+ form_id + '&admin_flg=2';
			}

			f.target = '_blank';
			f.submit();
		}

		if(mode == '2'){
			f.entry_id.value = id;
		}

		f.submit();
	}

	function f_back(id){
		var f = document.frm;

		f.act.value = 'search';
		f.action = 'index.php';
		f.submit();
	}

	function f_sendmail(){
		var f = document.frm;
		f.action = 'mail/Mng_mailsend.php';
		f.target = '_self';
		f.submit();
	}

	function f_status(stat){
		var f = document.frm;
		f.action = 'entry/Mng_edit_plural.php';
		f.target = '_self';
		f.set_stat.value = stat;

		f.submit();
	}

	function f_csv(num){
		var f = document.frm;

		f.action = 'index.php';
		f.target = '_self';

		if(num == '1'){
			f.mode.value = 'entry_csv';
		}
		else if(num == '2'){
			f.mode.value = 'payment_csv';
		}
		else if(num == '3'){
			f.mode.value = 'all_csv';
		}

		f.submit();

	}

	function f_view(id){

	}


    function file_download(file_num){
        var f = document.frm;

        if(!confirm('ファイル'+ file_num + 'の一括ダウンロードを行います。よろしければ「OK」をクリックしてください。\n「OK」をクリックするとダウンロードファイルの作成を開始します。\nファイルの作成が完了すると管理者宛てにメールで通知されます。')){
            return;
        }

        f.action = 'index.php';
        f.target = '_self';
        f.mode.value = 'file_download';
        f.file_num.value = file_num;
        f.submit();


    }


	$(function(){
		// 全チェック on/off
		$("#entrylist input:checkbox#all").bind("click", function(){
			$(".entry_row input").prop({'checked':$(this).is(':checked')});
		});
	});


</script>
<style>
tr.disabled { background:#E6E6E6;}
</style>
{/literal}

<div class="ttl">
	<h2>エントリー管理&nbsp;（{$GLOBALS.userData.form_name}）</h2>
</div>

<br />
<form name="frm" method="post" enctype="multipart/form-data">
<input type="hidden" name="page" value="" />
<input type="hidden" name="invalid" value="0" />

<!--エラーメッセージ-->
{if $arrErr}
	<div class="errmsg">
	{foreach from=$arrErr item=err}
		<p>{$err|escape}</p>
	{/foreach}
	</div>
{/if}


{* 一括処理 *}
{if $search_inc_flg == "1"}
	{assign var=tpl value=`$tpl_search`}
    {include file="$includeDir`$tpl`"}
{else}
	{include file="Mng/entry/parts/search.html"}
{/if}


<input type="hidden" name="mode" value="" />
<input type="hidden" name="form_id"   value="{$userData.form_id|escape}" />
<input type="hidden" name="pre_page"  value="{$arrForm.page|default:1|escape}" />
<input type="hidden" name="pre_limit" value="{$arrForm.limit|default:$limit|escape}" />
<input type="hidden" name="file_num"  value="" />

<br />
<p>登録件数： <b>{$arrData.count}</b>件</p>

{if $arrData.list}

	{* 一括処理 *}
	{if $operation_inc_flg == "1"}
		{assign var=tpl value=`$tpl_operation`}
	    {include file="$includeDir`$tpl`"}
	{else}
		{include file="Mng/entry/parts/operation.html"}
	{/if}


	{* エントリー一覧 *}
	{if $entrylist_inc_flg == "1"}
		{assign var=tpl value=`$tpl_entrylist`}
	    {include file="$includeDir`$tpl`"}
	{else}
		{include file="Mng/entry/parts/entrylist.html"}
	{/if}

	<input type="hidden" name="set_stat" value="" />

	{show_pager data=$pager}

{/if}
</form>
{include file="include/footer.html"}