{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(a){

		var f = document.frm;
		f.action = 'Mng_entry_error.php';
		f.target = '_self';

		if(a != "") {
			f.page.value = a;
			//f.mode.value = '';
			f.mode.value = 'search';
		} else {

			f.mode.value = 'search';
		}

		f.submit();
	}

	function f_clear(){
		var f = document.frm;
		f.action = 'Mng_entry_error.php';
		f.target = '_self';
		f.mode.value = 'clear';
		f.submit();
	}

	$(function(){
		// 全チェック on/off
		$("#entrylist input:checkbox#all").bind("click", function(){
			$(".entry_row input").prop({'checked':$(this).is(':checked')});
		});
	});


</script>
<style>
tr.disabled { background:#EFEFEF;}
</style>
{/literal}

<div class="ttl">
	<h2>決済ログ&nbsp;（{$GLOBALS.userData.form_name}）</h2>
</div>

<br />
<form name="frm" method="post">
<input type="hidden" name="page" value="" />
<input type="hidden" name="invalid" value="" />
<input type="hidden" name="payment_method[]" value="1" />

<!--エラーメッセージ-->
{if $arrErr}
	<div class="errmsg">
	{foreach from=$arrErr item=err}
		<p>{$err|escape}</p>
	{/foreach}
	</div>
{/if}


<table class="listtbl">
	<tr>
		<th>登録No.</th>
		<td><input type="text" name="s_entry_no" size="20" value="{$arrForm.s_entry_no|escape}" />～<input type="text" name="e_entry_no" size="20" value="{$arrForm.e_entry_no}" /></td>
	</tr>
	<tr>
		<th>応募者名</th>
		<td><input type="text" name="user_name" size="50" value="{$arrForm.user_name|escape}" /></td>
	</tr>
	<tr>
		<th>応募者名（カナ）</th>
		<td><input type="text" name="user_name_kana" size="50" value="{$arrForm.user_name_kana|escape}" /></td>
	</tr>
	{if $GLOBALS.userData.lang == "2"}
	   {if $formitemview.60 != "1"}
		  <tr>
			 <th>国名</th>
			 <td><input type="text" name="country" size="50" value="{$arrForm.country|escape}" /></td>
		  </tr>
        {/if}
       {if $formitemview.114 != "1"}
          <tr>
             <th>Country</th>
             <td>
                <select name="country_list">
                    <option value=""></option>
                    {html_options options=$GLOBALS.country selected=$arrForm.country_list}
                </select>
             </td>
          </tr>
        {/if}
	{/if}

	<tr>
		<th>受付期間</th>
		<td>
			<select name="syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.syear}
			</select>年
			<select name="smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.smonth}
			</select>月
			<select name="sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.sday}
			</select>日～
			<select name="eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.eyear}
			</select>年
			<select name="emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.emonth}
			</select>月
			<select name="eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.eday}
			</select>日
		</td>
	</tr>
	<tr>
		<th>更新期間</th>
		<td>
			<select name="upd_syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.upd_syear}
			</select>年
			<select name="upd_smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.upd_smonth}
			</select>月
			<select name="upd_sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.upd_sday}
			</select>日～
			<select name="upd_eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.upd_eyear}
			</select>年
			<select name="upd_emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.upd_emonth}
			</select>月
			<select name="upd_eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.upd_eday}
			</select>日
		</td>
	</tr>

	<tr>
		<th>ソート順</th>
		<td>{$sort_name[$arrForm.sort]}&nbsp;の{$sort[$arrForm.sort]}</td>
	</tr>

	<tr>
		<th>表示件数</th>
		<td>
			<select name="limit">
				{html_options values=$arrLimit output=$arrLimit selected=$arrForm.limit}
			</select>
		</td>
	</tr>

</table>

<div class="btn">
	<input type="button" value="検索" onclick="f_submit('');" />
	<input type="button" value="検索条件クリア" onclick="f_clear();" />
	{*
	<input type="button" value="エントリー情報CSV出力" onclick="f_csv('1');" />
	{if $GLOBALS.userData.type == "3"}
		<input type="button" value="決済情報CSV出力" onclick="f_csv('2');" />
		<input type="button" value="エントリー+決済情報CSV出力" onclick="f_csv('3');" />
	{/if}
	*}
</div>

<input type="hidden" name="mode" value="" />
<input type="hidden" name="form_id"   value="{$userData.form_id|escape}" />
<input type="hidden" name="pre_page"  value="{$arrForm.page|default:1|escape}" />
<input type="hidden" name="pre_limit" value="{$arrForm.limit|default:$limit|escape}" />
<input type="hidden" name="file_num"  value="" />

<br />
<p>登録件数： <b>{$arrData.count}</b>件</p>

{if $arrData.list}
	<table class="listtbl" id="entrylist">
		<tr>
			<th width="70px">決済処理日時</th>
			<th>決済取引番号</th>
			<th>カードType</th>
			<th>カード番号（末尾4桁）</th>
			<th>決済金額</th>
			<th>決済結果</th>
		</tr>

		{foreach from=$arrData.list item=entry}
		<tr class="entry_row {if $entry.invalid_flg != 0}disabled{/if}">
			<td>{$entry.rdate|date_format:"%Y-%m-%d %H:%M:%S"}</td>
			<td>{$entry.order_id}</td>
			<td>{$GLOBALS.card_type_J[$entry.c_company]|escape}</td>
			<td>{$entry.c_number|crypt_decode}</td>
			<td>{$entry.price|number_format}円</td>
			<td>{$arrStatus[$entry.invalid_flg]}<!--{$entry.invalid_flg}--></td>
		</tr>
		{/foreach}

	</table>
	<input type="hidden" name="set_stat" value="" />

	{show_pager data=$pager}

{/if}
</form>
{include file="include/footer.html"}