{include file="include/header.html" _title="$title"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.act.value = 'confirm';
		f.submit();
	}
	function f_back(){
		var f = document.frm;
		f.act.value = 'search';
		f.action = 'index.php';
		f.submit();		
	}
	function f_save(){
		var f = document.frm;
		f.act.value = 'search';
		f.action = 'Sys_formlist.php';
		f.submit();		
	}
</script>
{/literal}

<div class="ttl">
	<h2>エントリー情報</h2>
</div>

<br />

<form name="frm" method="post" enctype="multipart/form-data">

{foreach key=key item=item from=$arrForm}
	<input type="hidden" name="{$key}" value="{$item|escape}">
{/foreach}

<br />

<div class="mb10">■応募者情報</div>

	<table class="listtbl">

		<tr>
			<th class="width150">氏名</th>
			<td><input type="text" name="item1" size="70" value="{$arrForm.item1}" /></td>
		</tr>
		<tr>
			<th>氏名（かな）</th>
			<td><input type="text" name="item2" size="70" value="{$arrForm.item2}" /></td>
		</tr>
		<tr>
			<th>氏名（英字表記）</th>
			<td><input type="text" name="item3" size="70" value="{$arrForm.item3}" /></td>
		</tr>
		<tr>
			<th>所属機関</th>
			<td><input type="text" name="item12" size="70" value="{$arrForm.item12}" /></td>
		</tr>	
		<tr>
			<th>所属機関（英語表記）</th>
			<td><input type="text" name="item13" size="70" value="{$arrForm.item13}" /></td>
		</tr>		
		<tr>
			<th>雑誌掲載用所属機関</th>
			<td><input type="text" name="item14" size="70" value="{$arrForm.item14}" /></td>
		</tr>
		<tr>
			<th>雑誌掲載用所属機関<br />（英語表記）</th>
			<td><input type="text" name="item15" size="70" value="{$arrForm.item15}" /></td>
		</tr>				
		<tr>
			<th>メールアドレス</th>
			<td><input type="text" name="item6" size="70" value="{$arrForm.item6}" /></td>
		</tr>	
		<tr>
			<th>郵便番号</th>
			<td><input type="text" name="item7" size="70" value="{$arrForm.item7}" /></td>
		</tr>
		<tr>
			<th>住所</th>
			<td><input type="text" name="item8" size="70" value="{$arrForm.item8}" /></td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td><input type="text" name="item9" size="70" value="{$arrForm.item9}" /></td>
		</tr>
		<tr>
			<th>電話番号（内線）</th>
			<td><input type="text" name="item10" size="70" value="{$arrForm.item10}" /></td>
		</tr>
		<tr>
			<th>FAX</th>
			<td><input type="text" name="item11" size="70" value="{$arrForm.item11}" /></td>
		</tr>
		<tr>
			<th>その他連絡先　郵便番号</th>
			<td><input type="text" name="item16" size="70" value="{$arrForm.item16}" /></td>
		</tr>
		<tr>
			<th>その他連絡先　住所</th>
			<td><input type="text" name="item17" size="70" value="{$arrForm.item17}" /></td>
		</tr>
	
		<tr>
			<th>その他連絡先　電話番号</th>
			<td><input type="text" name="item18" size="70" value="{$arrForm.item18}" /></td>
		</tr>
	
		<tr>
			<th>その他連絡先　内線</th>
			<td><input type="text" name="item19" size="70" value="{$arrForm.item19}" /></td>
		</tr>
		<tr>
			<th>その他連絡先　FAX</th>
			<td><input type="text" name="item20" size="70" value="{$arrForm.item20}" /></td>
		</tr>
		
		<tr>
			<th>会員・非会員</th>
			<td>
				<input type="radio" name="item5" value="1" {if $arrForm.item5 == "1"}checked{/if} />会員
				<input type="radio" name="item5" value="2" {if $arrForm.item5 == "1"}checked{/if} />非会員
			</td>
		</tr>				
							
	</table>


	<br />
	<div class="mb10">■共著者情報</div>
	{section name=i start=0 loop=5}
		<p>・共著者{$smarty.section.i.iteration}</p>
		<table class="listtbl">
			<tr>
				<th class="width150">氏名</th>
				<td><input type="text" name="item21" size="70" value="{$arrForm.item21}" /></td>
			</tr>
			<tr>
				<th>氏名（かな）</th>
				<td><input type="text" name="item22" size="70" value="{$arrForm.item22}" /></td>
			</tr>
		
			<tr>
				<th>氏名（英字表記）</th>
				<td><input type="text" name="item23" size="70" value="{$arrForm.item23}" /></td>
			</tr>
	
			<tr>
				<th>会員・非会員</th>
				<td>
					<input type="radio" name="item24{$smarty.section.i.iteration}" value="1" {if $arrForm.item24 == "1"}checked{/if} />会員
					<input type="radio" name="item24{$smarty.section.i.iteration}" value="2" {if $arrForm.item24 == "2"}checked{/if} />非会員
					
				</td>
			</tr>
			<tr>
				<th>雑誌掲載用所属機関</th>
				<td><input type="text" name="item25" size="50" value="{$arrForm.item25}" /></td>
			</tr>
		
		</table>
		<br />
	{/section}
	<div class="mb10">■論文情報</div>
	<table class="listtbl">
		<tr>
			<th class="width150">発表形式</th>
			<td ><input type="text" name="item26" size="70" value="{$arrForm.item26}" /></td>
		</tr>
	
		<tr>
			<th>論文タイトル</th>
			<td><input type="text" name="item27" size="70" value="{$arrForm.item27}" /></td>
		</tr>
		<tr>
			<th>論文タイトル（英語表記）</th>
			<td><input type="text" name="item28" size="70" value="{$arrForm.item28}" /></td>
		</tr>
	
		<tr>
			<th>本文</th>
			<td>
				<textarea name="item29" cols="80" rows="10">{$arrForm.item29}</textarea>
			</td>
		</tr>
		<tr>
			<th>その他添付資料</th>
			<td>
				なし<br />
				<input type="file" name="" value="" /><br />
				<input type="file" name="" value="" /><br />
				<input type="file" name="" value="" />
				
			</td>
		</tr>		
	</table>	
	


<br />
<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
	<input type="button" value="次へ" onclick="f_submit();" />
</div>

<input type="hidden" name="act" value="" />
<input type="hidden" name="mode" value="{if $arrForm.form_id == ""}1{else}2{/if}" />
<input type="hidden" name="manager_id" value="{$arrForm.managar_id}" />
<input type="hidden" name="entry_id" value="{$arrForm.entry_id}" />


</form>
{include file="include/footer.html"}