{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}

{if $_formItem.disp != "1"}
    {getMaySelectItemId group=$may16 arrForm=$arrForm}
    {edataXX item_id=$item_id group_id=1}
    <tr>
        <td class="iname">May 16 (Sat.)</td>
        <td>
            {if !$item_id|is_null}{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br/>{/if}
            {*テキスト、テキストエリア*}
            {if $_formItem.item_type == "0" || $_formItem.item_type == "1"}
                {$data|escape|nl2br}
            {*ラジオ、セレクト*}
            {elseif $_formItem.item_type == "2" || $_formItem.item_type == "4"}
                {$_formItem.select[$data]}
            {*チェック*}
            {elseif $_formItem.item_type == "3"}
                {foreach from=$_formItem.select key=s_key item=item name=select}

                    {assign var=key26 value=$edata`$s_key`}

                    {if $arrForm[$key26] == $s_key}{$item}<br />{/if}

                {/foreach}
            {/if}
        </td>
    </tr>
{/if}
