{assign var=edata    value="edata`$item_id`"}
{if $_formItem.disp != "1"}
    <tr>
        <td class="iname" rowspan="9" style="width:15%;">May 16 (Sat.)</td>
        <td class="iname" style="width: 60%;">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td style="width:25%;">
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            {foreach from=$_formItem.select key=s_key item=item name=select}
                <input type="radio" name="{$edata}" id="{$edata}_{$s_key}" class="{$edata}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {attr} /><label class="{$edata}_label">{$item}</label>{$_formItem.sep|default:"<br />"}
            {/foreach}
        </td>
    </tr>
{/if}
