{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br />
			{/if}
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}

			{if $_formItem.item_type == "2"}
				{foreach from=$_formItem.select key=s_key item=item name=select}
					<input type="radio" name="{$edata}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}
					{if $s_key == "1"}
						{edataXX group_id=$group_id item_id=55}
						{$_formItem.item_name}:
						<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="40" />
					{/if}
					{edataXX group_id=$group_id item_id=54}
					<br />
				{/foreach}
			{/if}

		</td>
	</tr>
{/if}
