@charset "utf-8";
/* CSS Document */

/* Mng用CSS */

.f16mng_schedule .f16r1 { width: 10% !important; }
.f16mng_schedule .f16r2 { width: 45% !important; }
.f16mng_schedule .f16r3 { width: 45% !important; }

#form24detail #backbtn {
    float: right;
    margin-top: -12px;
}
