@charset "utf-8";
/* CSS Document */
div#page.agenda { 
    font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}
#page.agenda table {
    border-collapse:collapse;
    border-spacing:0;
}
#page.agenda input[type="radio"] {
    margin:0;
    position: relative;
    top: 3px;
}

#page.agenda strong,
#page.agenda th {
    font-style:normal;
    font-weight:normal;
}
#page.agenda h4,
#page.agenda h5,
#page.agenda th {
    margin:0;
    padding:0;
    text-align:left;
    font-size:100%;
    font-weight:normal;
}


#page.agenda table {font-size:80%;line-height:160%;color:#3e3e3e;}

#page.agenda div.h4 {
	border-bottom:#aaa solid 1px;
	display:block;
	padding: 0.2em 0.3em;
	margin: 10px 0;
}
#page.agenda h5.normal {
	border:#aaaaaa solid 2px;
	padding: 5px;
	font-size:85%;
	font-weight:bold;
	color:#7B7B7B;
}


/*
==== agenda ================================
*/
#page.agenda h4{
	padding: 0 0 0 0.5em;
	font-weight:bold;
	border-left:#BCDC7E solid 6px;
}

#page.agenda .h4{
	background:#7AA12D;
	color:#FFF;
}

#page.agenda table h5{
	color:#917323;
}
#page.agenda table h5 strong{
	background:#BD962D;
	padding:0px 3px;
	color:#FFF;
}
#page.agenda table td,
#page.agenda table th{
	font-size:11px;
	border:4px solid #FFFFFF;
	padding:5px;
}
#page.agenda table th{
	background:#D5E3F1;
	text-align:center;
	font-weight:bold;
	color:#006EAA;
}
#page.agenda table td{
	vertical-align:middle;
}
#page.agenda table .time{
	text-align:center;
	line-height:12px;
	vertical-align: middle;
	background:#D5E3F1 ;
}
#page.agenda table .break{
	text-align:center;
	vertical-align: middle;
	background:#EDEDED;
	font-weight:bold;
}
#page.agenda table .gry{
	background:#EFF9FF;
}

#page.agenda table .orange{
	background:#FEBB64;
}
#page.agenda table .yellow{
	background:#FBEB45;
}
#page.agenda table .green{
	background:#C4E57D;
}


strong,.strong{
	font-weight: bold;
}

/* margin */
#page.agenda .mt20 { margin-top: 20px !important;}
#page.agenda .mb20 { margin-bottom: 20px !important;}
