@charset "utf-8";
/* CSS Document */

/* IFF用CSS */

.alignLB {
	position:absolute;
	bottom:0;
	left:0;
}
div#area1_box   { margin: 5px 0 0 15px !important; }
div#area1_box p { margin:0 !important; }

.nowrap { white-space: nowrap; }

#chk_edata26_3,
#chk_edata26_4 { padding-left: 1em; }
