{if $_formItem.disp != "1"}
	{obi mode="input"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
            {*テキスト、テキストエリア*}
            {if $_formItem.item_type == "0" || $_formItem.item_type == "1"}
                {$data|escape|nl2br}
            {*ラジオ、セレクト*}
            {elseif $_formItem.item_type == "2" || $_formItem.item_type == "4"}
                {$_formItem.select[$data]}
            {*チェック*}
            {elseif $_formItem.item_type == "3"}
                {foreach from=$_formItem.select key=s_key item=item name=select}
                    {assign var=key26 value=$edata`$s_key`}
                    {if $arrForm[$key26] == $s_key}{$item}<br />{/if}
                {/foreach}
            {/if}


            {*テキスト*}
            {if $_formItem.item_type == "0"}
                <input type="hidden" name="{$edata}" value="{$arrForm.$edata|escape}" />

            {*テキストエリア*}
            {elseif $_formItem.item_type == "1"}
                <textarea name="{$edata}" rows="{$_formItem.rows|default:"5"}" cols="{$_formItem.cols|default:"85"}" {attr}>{$arrForm.$edata}</textarea>

            {*ラジオ*}
            {elseif $_formItem.item_type == "2"}
                {foreach from=$_formItem.select key=s_key item=item name=select}
                    {if $arrForm.$edata == $s_key}
                        <input type="hidden" name="{$edata}" value="{$s_key}"  />
                    {/if}
                {/foreach}

            {*チェックボックス*}
            {elseif $_formItem.item_type == "3"}

                {foreach from=$_formItem.select key=s_key item=item name=select}

                    {assign var=key26 value=`$edata``$s_key`}
                    <input type="checkbox" name="{$edata}{$s_key}" value="{$s_key}" {if $arrForm[$key26] == $s_key}checked{/if} {attr} /><label class="{$edata}_label">{$item}</label>{$_formItem.sep|default:"<br />"}
                {/foreach}

            {*セレクト*}
            {else $_formItem.item_type == "4"}
                <select name="{$edata}">
                    <option vlaue=""></option>
                    {foreach from=$_formItem.select key=s_key item=item name=select}
                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
                        {/if}
                    {/foreach}
                </select>
            {/if}
        </td>
    </tr>
{/if}
