{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}

	{assign var=key_c value=`$edata``$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}

			{*テキスト*}
			{if $_formItem.item_type == "0"}
				<input type="text" name="{$edata}{$smarty.section.counter.index}" value="{$arrForm[$key_c]|escape}" size="40" />

			{*テキストエリア*}
			{elseif $_formItem.item_type == "1"}
				<textarea rows="5" name="{$edata}{$smarty.section.counter.index}" cols="85">{$arrForm[$key_c]}</textarea>

			{*ラジオ*}
			{elseif $_formItem.item_type == "2"}
				{foreach from=$_formItem.select key=s_key item=item name=select}
					<input type="radio" name="{$edata}{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key_c] == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm[$key_c] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
				{/foreach}

			{*チェックボックス*}
			{elseif $_formItem.item_type == "3"}

				{foreach from=$_formItem.select key=s_key item=item name=select}
					{assign var=chk44 value=$key_c`$s_key`}
					<input type="checkbox" name="{$edata}{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk44] == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm[$chk44] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
				{/foreach}

			{*セレクト*}
			{else $_formItem.item_type == "4"}
				<select name="{$edata}{$smarty.section.counter.index}">
					<option vlaue=""></option>
					{foreach from=$_formItem.select key=s_key item=item name=select}
						{if !($_formItem.disable[$s_key] == "1" && $arrForm[$key_c] != $s_key && $admin_flg == "")}
							<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key_c] == $s_key}selected{/if}>{$item}</option>
						{/if}
					{/foreach}
				</select>
			{/if}
		</td>
	</tr>
{/if}