{if $_formItem.disp != "1"}
	{assign var=key_c value=edata`$item_id``$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{*テキスト、テキストエリア*}
			{if $_formItem.item_type == "0" || $_formItem.item_type == "1"}
				{$arrForm[$key_c]|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $_formItem.item_type == "2" || $_formItem.item_type == "4"}
				{foreach from=$_formItem.select key=s_key item=item name=select}
					{if $arrForm[$key_c] == $s_key}{$item}{/if}

				{/foreach}
			{else}
				{foreach from=$_formItem.select key=s_key item=item name=select}
					{assign var=chk value=$key_c`$s_key`}

					{if $arrForm[$chk] == $s_key}{$item}<br />{/if}
				{/foreach}
			{/if}

		</td>
	</tr>
{/if}
