<table class="listtbl">
	<tr>
		<th>登録No.</th>
		<td><input type="text" name="s_entry_no" size="20" value="{$arrForm.s_entry_no|escape}" />～<input type="text" name="e_entry_no" size="20" value="{$arrForm.e_entry_no}" /></td>
	</tr>
	<tr>
		<th>応募者名</th>
		<td><input type="text" name="user_name" size="50" value="{$arrForm.user_name|escape}" /></td>
	</tr>
	<tr>
		<th>応募者名（カナ）</th>
		<td><input type="text" name="user_name_kana" size="50" value="{$arrForm.user_name_kana|escape}" /></td>
	</tr>
	{if $GLOBALS.userData.lang == "2"}
	   {if $formitemview.60 != "1"}
		  <tr>
			 <th>国名</th>
			 <td><input type="text" name="country" size="50" value="{$arrForm.country|escape}" /></td>
		  </tr>
        {/if}
       {if $formitemview.114 != "1"}
          <tr>
             <th>Country</th>
             <td>
                <select name="country_list">
                    <option value=""></option>
                    {html_options options=$GLOBALS.country selected=$arrForm.country_list}
                </select>
             </td>
          </tr>
        {/if}
	{/if}

	{if $smarty.const.SHOW_ENTRY_WAY == 1 && $smarty.const.SHOW_ENTRY_WAY_SEARCH == 1}
	<tr>
		<th>登録区分</th>
		<td>
			{assign var="key"   value="entry_way"}
			{assign var="value" value="`$arrForm.$key`"}
			<input type="radio" name="{$key}" value="" {if $value == ""}checked{/if} />全て
			<input type="radio" name="{$key}" value="{$smarty.const.ENTRY_WAY_USER}"
				{if $value|strlen > 0 && $value == $smarty.const.ENTRY_WAY_USER}checked{/if} />ユーザ
			<input type="radio" name="{$key}" value="{$smarty.const.ENTRY_WAY_ADMIN}"
				{if $value|strlen > 0 && $value == $smarty.const.ENTRY_WAY_ADMIN}checked{/if} />代理登録
		</td>
	</tr>
	{/if}

	<tr>
		<th>状態</th>
		<td>
			{if $GLOBALS.userData.type == "1"}
				<input type="checkbox" name="status1" value="1"{if $arrForm.status1 == "1"} checked{/if} />採択
				<input type="checkbox" name="status2" value="2"{if $arrForm.status2 == "2"} checked{/if} />初期状態
				<input type="checkbox" name="status3" value="3"{if $arrForm.status3 == "3"} checked{/if} />不採択
				<input type="checkbox" name="status4" value="4"{if $arrForm.status4 == "4"} checked{/if} />キャンセル
			{else}
				<input type="checkbox" name="status2" value="2"{if $arrForm.status2 == "2"} checked{/if} />初期状態
                {foreach from=$arrOperation key=_status item=_label}
                    {assign var=_name value=status`$_status`}
                    <input type="checkbox" name="{$_name}" value="{$_status}" {if $arrForm.$_name == $_status} checked{/if} />{$_label}
                {/foreach}
                <input type="checkbox" name="status4" value="4"{if $arrForm.status4 == "4"} checked{/if} />キャンセル

			{/if}
		</td>
	</tr>

	<tr>
		<th>受付期間</th>
		<td>
			<select name="syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.syear}
			</select>年
			<select name="smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.smonth}
			</select>月
			<select name="sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.sday}
			</select>日～
			<select name="eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.eyear}
			</select>年
			<select name="emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.emonth}
			</select>月
			<select name="eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.eday}
			</select>日
		</td>
	</tr>
	<tr>
		<th>更新期間</th>
		<td>
			<select name="upd_syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.upd_syear}
			</select>年
			<select name="upd_smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.upd_smonth}
			</select>月
			<select name="upd_sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.upd_sday}
			</select>日～
			<select name="upd_eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.upd_eyear}
			</select>年
			<select name="upd_emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.upd_emonth}
			</select>月
			<select name="upd_eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.upd_eday}
			</select>日
		</td>
	</tr>


	{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}
	<tr>
		<th>お支払い方法</th>
		<td>
			{$form.payment_method}
		</td>
	</tr>
	<tr>
		<th>お支払いステータス</th>
		<td>
			{$form.payment_status}
		</td>
	</tr>
	{/if}
	<tr>
		<th>ソート順</th>
		<td>
			<select name="sort_name">
				{html_options options=$sort_name selected=$arrForm.sort_name}
			</select>&nbsp;の
			<select name="sort">
				{html_options options=$sort selected=$arrForm.sort}
			</select>
		</td>
	</tr>

	<tr>
		<th>表示件数</th>
		<td>
			<select name="limit">
				{html_options values=$arrLimit output=$arrLimit selected=$arrForm.limit}
			</select>
		</td>
	</tr>

</table>

<div class="btn">
	<input type="button" value="検索" onclick="f_submit('');" />
	<input type="button" value="検索条件クリア" onclick="f_clear();" />
	<input type="button" value="新規エントリー登録" onclick="f_edit('1','');" />
	<input type="button" value="エントリー情報CSV出力" onclick="f_csv('1');" />
	{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}
		<input type="button" value="決済情報CSV出力" onclick="f_csv('2');" />
		<input type="button" value="エントリー+決済情報CSV出力" onclick="f_csv('3');" />
	{/if}
</div>
