</table>

<div class="bname">Accompanying person(s)</div>
<p>
Accompanying person is limited to the <span class="red">participant's family members only</span>.<br/>
Accompanying person cannot attend any scientific sessions.<br/>
If you would like to bring more than two accompanying person, please e-mail to the Registration Office.
</p>

<b>Accompanying Person 1</b>
<br />

{assign var=formItem value=$formItem.$item_id}
{assign var=edata    value="edata`$item_id`"}

<table class="rtbl">
{if $formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$formItem.item_name}{if $formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
        </td>

        <td>
            {if $formItem.item_memo != ""}{$formItem.item_memo}<br />{/if}
            {*テキスト*}
            {if $formItem.item_type == "0"}
                <input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="40" />

            {*テキストエリア*}
            {elseif $formItem.item_type == "1"}
                <textarea rows="5" name="{$edata}" cols="85">{$arrForm.$edata}</textarea>

            {*ラジオ*}
            {elseif $formItem.item_type == "2"}
                {foreach from=$formItem.select key=s_key item=item name=select}
                    <input type="radio" name="{$edata}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {if $formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}
                {/foreach}

            {*チェックボックス*}
            {elseif $formItem.item_type == "3"}

                {foreach from=$formItem.select key=s_key item=item name=select}

                    {assign var=key26 value=`$edata``$s_key`}
                    <input type="checkbox" name="{$edata}{$s_key}" value="{$s_key}" {if $arrForm[$key26] == $s_key}checked{/if} {if $formItem.disable[$s_key] == "1" && $arrForm[$key26] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
                {/foreach}

            {*セレクト*}
            {else $formItem.item_type == "4"}
                <select name="{$edata}">
                    <option vlaue=""></option>
                    {foreach from=$formItem.select key=s_key item=item name=select}
                        {if !($formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
                        {/if}
                    {/foreach}
                </select>
            {/if}
        </td>
    </tr>
{/if}