a {
    color:#000000; 
    text-decoration: none;
}
a:visited {
    color:#000000; 
    text-decoration: none;
}
a:active {
    color:#000000; 
    text-decoration: none;
}
a:hover {
    color:#000000; 
    text-decoration: underline;
}

a.green {
    color:#006600; 
    text-decoration: none;
}
a.green:visited {
    color:#006600; 
    text-decoration: none;
}
a.green:active {
    color:#006600; 
    text-decoration: none;
}
a.green:hover {
    color:#006600; 
    text-decoration: underline;
}

a.blue {
    color:#0022cc; 
    text-decoration: none;
}
a.blue:visited {
    color:#0022cc; 
    text-decoration: none;
}
a.blue:active {
    color:#0022cc; 
    text-decoration: none;
}
a.blue:hover {
    color:#0022cc; 
    text-decoration: underline;
}

body, td, th {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 90%;
}

p {
    font-family: verdana,arial,helvetica,sans-serif;
}

th.pack {
    color: #FFFFFF;
    background: #009933;
    text-align: right;
}

td.package_info_title {
    color: #006600;
    font-weight: bold;
}    

td.channel_info_title {
    color: #006600;
    font-weight: bold;
}    

th.others {
    color: #006600;
    text-align: left;
}

em {
    font-weight: bold;
    font-style: italic;
}

span.green {
    color: #006600;
}

span.headline {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 125%;
    font-weight: bold;
    color: #ffffff;
}

span.title {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 110%;
    font-weight: bold;
    color: #006600;
}

.newsDate {
    font-size: 85%;
    font-style: italic;
    color: #66cc66;
}

.compact {
    font-family: arial, helvetica, sans-serif;
    font-size: 90%;
}

.menuWhite {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 75%;
    color: #ffffff;
}
.menuBlack {
    font-family: verdana,arial,helvetica,sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 75%;
    color: #000000;
}

.sidebar {
    font-size: 85%;
}

code, pre, tt {
    font-family: Courier, "Courier New", monospace;
    font-size: 90%;
}

pre.php {
    border-color:       black;
    border-style:       dashed;
    border-width:       1px;
    background-color:   #eeeeee;
    padding:            5px;
}

h1 {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 140%;
    font-weight: bold;
    color: #006600;
}

h2 {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 125%;
    font-weight: bold;
    color: #006600;
}

h3 {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 110%;
    font-weight: bold;
    color: #006600;
}

small {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 75%;
}

a.small {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 75%;
    text-decoration: none;
}

.tableTitle {
    font-family: verdana,arial,helvetica,sans-serif;
    font-weight: bold;
}

.tableExtras {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 85%;
    color: #FFFFFF;
}

input {
    font-family: verdana,arial,helvetica,sans-serif;
}

textarea {
    font-family: verdana,arial,helvetica,sans-serif;
}

input.small, select.small {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 75%;
}

textarea.small {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 75%;
}

form {
    margin-bottom : 0;
}

table.DHTML_Category_Expand {
    cursor: hand;
}

#docshow {
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-style: double;
}

#error {
    padding: 0.5em 0em 0.5em 0.5em;
    margin: 1em 2em 1em 2em;
    border-style: solid;
    border-color: #ff0000;
    background-color: #ffbaba;
}

#warning {
    color: #ff0000;
}

#log {
    color: gray;
}
