<tr>
	<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
	<td>{assign var=key value="edata`$item_id`"}
        {foreach from="|"|@explode:$arrData[$key] key=key item=val}
            {assign var="_item_id" value=$arrMemberShipNoMap.$val}
            {assign var="_key" value=edata`$_item_id`}
			{if $arrData.$_key|strlen > 0}
	            {$formItem[$item_id].select.$val}&nbsp;&nbsp;MembershipNo.: {$arrData.$_key}<br/>
			{/if}
            {edataXX group_id=$group_id item_id=26}
        {/foreach}
	</td>
</tr>