{include file="include/usr_header.html" _title="`$fData.form_name``$_title`"}

<div class="header">

	{if $fData.head_image}
		<img src="{$smarty.const.IMG_URL}header/{$fData.head_image}" border="0" />
	{/if}

	</div>

	<div id="FormTtl">
		{if $formWord.word14 != ""}
			{$formWord.word14|nl2br}
		{else}
			{$fData.form_name}
		{/if}
	</div>
	<br />


<form name="frm" id="frm" method="post" action="?form_id={$fData.form_id|escape}">
<input type="hidden" name="form_id" id="form_id" value="{$fData.form_id|escape}" />
<input type="hidden" name="mode"    id="mode"    value="login" />
<input type="hidden" name="eid"     id="eid"     value="" />
	<div id="Login">
		<p>{$msg}</p>
		{show_err var=$arrErr}
		<br />
		<table>
			<tr>
				<td class="r">{$GLOBALS.msg.login_id}：</td>
				<td><input type="text" name="login_id" value="{$arrForm.login_id|escape}" size="30" autocomplete="off" /></td>
			</tr>
			<tr>
				<td class="r">{$GLOBALS.msg.login_passwd}：</td>
				<td><input type="password" name="password" value="{$arrForm.password|escape}" size="30" autocomplete="off" /></td>
			</tr>
		</table>
		<div class="btn">
			<input type="submit" value="{$GLOBALS.msg.btn_login}" name="submit_btn" />
		</div>

		{if $fData.lang == $smarty.const.LANG_JPN}
			<p>{$login_msg}</p>
		{/if}
        {if $use_password_reset}
            <p>※パスワード変更・再設定は<a href="./Usr_passwd.php?form_id={$form_id}">こちら</a></p>
        {/if}
	</div>

{*<br /><br />
<!-- フッター-->
<div class="footer">{$fData.contact|nl2br}</div>*}
</form>
{include file="include/usr_footer.html"}