{include file="include/usr_header.html" _title="`$fData.form_name``$_title`"}

<form name="frm" method="post" action=>
<input type="hidden" name="form_id" value="{$form_id}" />
<input type="hidden" name="mode" value="login" />

{if $auth_inc_flg == "1"}
    {assign var=tpl value=`$tpl_auth`}
    {include file="$includeDir`$tpl`"}
{else}
	<div id="Login">
		<p>{$msg}</p>
		{show_err var=$arrErr}
		<br />
		<table>
			<tr>
				<td class="r">{$GLOBALS.msg.login_passwd}：</td>
				<td><input type="password" name="authpw" value="{$arrForm.authpw}" size="30" /></td>
			</tr>
		</table>
		<div class="btn">
			<input type="submit" value="{$GLOBALS.msg.btn_login}" name="submit" />
		</div>
	</div>
{/if}

{*<br /><br />
<!-- フッター-->
<div class="footer">{$fData.contact|nl2br}</div>*}
</form>
{include file="include/usr_footer.html"}