{include file="include/usr_header.html" _title="`$fData.form_name`"}

	<div class="header">

	{if $fData.head_image}
		<img src="{$smarty.const.IMG_URL}header/{$fData.head_image}" border="0" />
	{/if}

	</div>

	<div id="FormTtl">{$fData.form_name}</div>
	<br />

	<p>{$errorParam.errMsg|nl2br}</p>

	{if $errorParam.returnPage != ""}
	<p class="c"><br /><a href="{$errorParam.returnPage|escape}">{$errorParam.returnPageName|escape}</a></p>
	{/if}

	<!-- フッター-->
	<div class="footer">{$formData.contact|nl2br}</div>

{include file="include/usr_footer.html"}