<div class="mb10">■配信メール内容</div>
<table class="listtbl">
	<tr>
		<th class="width120">テンプレート</th>
		<td>
	        <select name="mail_template" id="mail_template">
	            <option value="">--選択してください--</option>
				{foreach from=$arrTemplate key=id item=arrItem}
		            <option value="{$id}" {if $arrForm.mail_template == $id}selected{/if} >{$arrItem[0]}</option>
				{/foreach}
	        </select>
			<input type="button" value="作成" id="actionbtn" onclick="f_modesubmit('template');">
		</td>
	</tr>

	<tr>
		<th class="width120">タイトル</th>
		<td><input type="text" name="mail_ttl" id="mail_ttl" size="80" value="{$arrForm.mail_ttl|escape}" /></td>
	</tr>
	<tr>
		<th>本文</th>
		<td>
			<textarea name="mail_body" id="mail_body" cols="80" rows="10">{$arrForm.mail_body|escape}</textarea>
			<p>※置き換え文字を使用する場合は、<a href="javascript:f_open();">こちらの一覧</a>に記載されている文字列を使用してください。</p>

<table class="listtbl" style="width:440px">
	<caption>その他の置換文字列</caption>
	<tr><td class="width150">送付方法</td><td class="width220">_SENDTYPE_</td></tr>
	<tr><td>追跡確認用URL</td><td>_URL_</td></tr>
	<tr><td>item_number</td><td>_ITEM_NUMBER_</td></tr>
	<tr><td>ビザ書類送付日</td><td>_SEND_DATE_</td></tr>
	<tr><td>ビザ書類到着予定日</td><td>_EXPECTED_ARRIVAL_</td></tr>
	<tr><td>備考</td><td>_MEMO_</td></tr>
	<tr><td>当日</td><td>_NOW_</td></tr>
</table>

		</td>
	</tr>
</table>
<br />


{literal}
<script language="JavaScript">
	function f_modesubmit(mode){
		var f = document.frm;
		f.mode.value = mode;
		f.submit();
	}

	var arrTemplate = new Array();
	$(function(){
		{/literal}
			// 戻るボタン時に入力がリセットされてしまう対策
			// その後テンプレートを選択すると反映されるようにする
			var nonChange = {if $arrForm.mode == 'back'}true;{/if}

			{foreach from=$arrTemplate key=id item=template}
				arrTemplate[{$id}] = new Object();
				arrTemplate[{$id}]['name'] = "{$template.0}";
				arrTemplate[{$id}]['title']= "{$template.1}";
				arrTemplate[{$id}]['body'] = "{$template.2}";
			{/foreach}
		{literal}

		$("#mail_template").bind("change", function(){
			if(nonChange){
				nonChange = false;
				return;
			}

	        var id = $(this).val();
			if(typeof id === "undefined") return;
			if(id.length == 0){
				$("#mail_ttl").val( "");
				$("#mail_body").val("");
				$("#actionbtn").val("作成");
				{/literal}{if $arrTemplate|@count >= 6}$("#actionbtn").attr("disabled", "disabled"){/if}{literal}
				return;
			}

			$("#actionbtn").val("編集");
			var template = arrTemplate[id];
			var body = template['body'];
			    body = body.replace(/<:br:>/g, "\n");
			    body = body.replace(/<:q:>/g, '"');
			$("#mail_ttl").val( template['title']);
			$("#mail_body").val(body);
			$("#actionbtn").prop("disabled", false);
		}).change();
	});

</script>
{/literal}
