<div class="mb10">■配信先一覧</div>
<br />
<p>配信対象： <b>{$count|escape}</b>件</p>

{if $send_list}
	<table class="listtbl">
	<tr>
		<th>登録No.:登録者</th>
{*
		<th>氏名</th>
		<th>応募者（かな）</th>
*}
		<th>メールアドレス</th>
		<th class="width120">配信結果</th>
	</tr>

	{foreach from=$send_list item=mail}
		<tr>
			<td>{$mail.e_user_id}:{$mail.edata1}&nbsp;{$mail.edata2}</td>
{*
			<td>{$mail.edata1|escape}&nbsp;{$mail.edata2|escape}</td>
			<td>{$mail.edata3|escape}&nbsp;{$mail.edata4|escape}</td>
*}
			<td>{$mail.mailaddress|escape}</td>
			<td>{if $mail.result == "1"}成功{else}失敗{/if}</td>
		</tr>
	{/foreach}

	</table>

	{show_pager data=$pager}
	<br />
{/if}
