{if $eid == ""}
        <div class="bname">お支払い金額</div>

        <!--支払金額説明 -->
        {if $formWord.word8 != ""}
            <div class="bcomment">{$formWord.word8|nl2br}</div>
        {/if}


        {if $formData.pricetype == "2"}
			{assign var="j" value=0}
			{assign var="pheader" value="|"|explode:$v_head.price_header}

            <table class="rtbl">
                <tr>
                    <th class="iname">{$pheader.$j}&nbsp;</th>
                    <th class="iname">{$v_head.price_head0}</th>
                    {* 表示形式がearly+lateのみ表示 *}
                    {if $disp == 2}<th class="iname">{$v_head.price_head1}</th>{/if}
                </tr>

				{assign var="i" value=0}
                {foreach from=$va_price key=p_key item=p_item name=select}
                    <tr>
                        {foreach from=$p_item key=p_key2 item=price}
                            {if $p_key2 == "name"}
                                <td class="iname">
                                    <input type="radio" name="amount" value="{$p_key}" id="amount_{$p_key}" {if $arrForm.amount == $p_key && $arrForm.amount != ""}checked{/if} />{$price}
                                </td>
                            {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                                <td class="cent">
                                    {if $price != "0"}
                                        {$price|number_format}円
                                    {else}
                                        -
                                    {/if}

                                </td>
                            {/if}

                        {/foreach}
                    </tr>
					{assign var="i" value=$i+1}
					{if $i%3 == 0 && !$smarty.foreach.select.last}
						{assign var="j" value=$j+1}
						</table>
						<br/>
						<table class="rtbl">
			                <tr>
			                    <th class="iname">{$pheader.$j}&nbsp;</th>
			                    <th class="iname">{$v_head.price_head0}</th>
			                    {* 表示形式がearly+lateのみ表示 *}
			                    {if $disp == 2}<th class="iname">{$v_head.price_head1}</th>{/if}
			                </tr>
					{/if}
                {/foreach}

            </table>
        {elseif $formData.pricetype == "1"}
            <table class="rtbl">
                <tr>
                	<th class="iname">&nbsp;</th>
                    <th class="iname">{$v_head.price_head0}</th>
                    {* 表示形式がearly+lateのみ表示 *}
                    {if $disp == 2}<th class="iname">{$v_head.price_head1}</th>{/if}
                </tr>
                {foreach from=$va_price key=p_key item=p_item name=select}
                    <tr>
                    	<td class="iname">{$v_head.price_header}</td>
                        {foreach from=$p_item key=p_key2 item=price}
							{if $p_key2 == "key"}
                            {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                                <td class="cent">
                                    {if $price|is_numeric}
                                        {$price|number_format}円
                                    {else}
                                        {$price}
                                    {/if}
                                    <input type="hidden" name="amount" value="{$p_key|escape}" />
                                </td>
                            {/if}
                        {/foreach}
                    </tr>
                {/foreach}
            </table>

        {/if}
        {if $formData.kessai_flg == "1" && $formData.ather_price_flg != "1" && $formData.ather_price != ""}
            <br />

            <table class="rtbl">
                <tr>
                    <th class="iname">{$v_head.ather_price_header}&nbsp;</th>
                    <th class="iname">{$v_head.ather_price_head0}</th>
                    {* 表示形式がearly+lateのみ表示 *}
                    {if $disp == 2}<th class="iname">{$v_head.ather_price_head1}</th>{/if}
                </tr>
                {foreach from=$va_ather_price key=p_key item=p_item name=select}
                    <tr>
                        {foreach from=$p_item key=p_key2 item=price}
                            {if $p_key2 != "limit" && $p_key2 != "tani"}
                                {if $p_key2 == "name"}
                                    <td class="iname">
	                                    {assign var=ather_price value=ather_price`$p_key`}
										<input type="checkbox" name="ather_price{$p_key}" value="1"
														   {if $arrForm[$ather_price] == 1}checked{/if} />
                                        {$price}
                                    </td>
                                {elseif $p_key2 == "tani2"}
                                {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                                    <td class="cent">
                                        {if $price != "0"}
                                            {$price|number_format}円
                                        {else}
                                            -
                                        {/if}

                                    </td>
                                {/if}
                            {/if}

                        {/foreach}
                    </tr>
                {/foreach}
            </table>

        {/if}
{else}
	{*外部ファイルの読み込みがある場合 *}
	{if $money_edit_inc_flg == "1"}
		{assign var=tpl value=`$tpl_edit_name`}
        {include file="$includeDir`$tpl`"}
	{else}
		{include file="Usr/form/Usr_money_edit_e.html"}
	{/if}
{/if}


	{foreach from=$va_method key=p_key item=item name=select}
		<input type="hidden" name="method" value="{$p_key|escape}" {if $arrForm.method == $p_key}checked{/if} />
	{/foreach}


	<!--支払方法説明 -->
	{if $formWord.word9 != ""}
		<br />
		<div class="bcomment">{$formWord.word9|nl2br}</div>
	{/if}
