{if $total_price != 0}

	<!--支払情報 -->
	{if $formWord.word10 != ""}
		<div class="bcomment">{$formWord.word10|nl2br}</div>
	{/if}

		{if $arrForm.method == "1"}
			<table class="rtbl">
			<tr>
				<td class="iname">
					Card Type<span class="red">&nbsp;*</span>
				</td>
				<td>
				    {if $formWord.word31 != ""}{$formWord.word31}<br />{/if}
					{foreach from=$va_card_type key=c_key item=item name=select}
						<input type="radio" name="card_type" value="{$c_key}" {if $arrForm.card_type == $c_key}checked{/if} />{$item}
					{/foreach}
				</td>
			</tr>
			<tr>
				<td class="iname">
					Card Number<span class="red">&nbsp;*</span>
				</td>
				<td>
				    {if $formWord.word32 != ""}{$formWord.word32}<br />{/if}
					<input type="text" name="cardNumber" value="{$arrForm.cardNumber|escape}" size="30" />
				</td>
			</tr>
			<tr>
				<td class="iname">
					Expiration Date<span class="red">&nbsp;*</span>
				</td>
				<td>
				    {if $formWord.word33 != ""}{$formWord.word33}<br />{/if}
					<select name="cardExpire1">
						<option value=""></option>
						{html_options options=$month selected=$arrForm.cardExpire1}
					</select>&nbsp;Month&nbsp;&nbsp;
					<select name="cardExpire2">
						<option value=""></option>
						{html_options options=$year selected=$arrForm.cardExpire2}
					</select>&nbsp;Year
				</td>
			</tr>

			<tr>
				<td class="iname">
					Card Holder's Name<span class="red">&nbsp;*</span>
				</td>
				<td>
				    {if $formWord.word34 != ""}{$formWord.word34}<br />{/if}
					<input type="text" name="cardHolder" value="{$arrForm.cardHolder|escape}" size="50" />
				</td>
			</tr>

<!--
			<tr>
				<td class="iname">
					支払区分<span class="red">&nbsp;*</span>

				</td>
				<td>
					<select name="jpo1">
						<option value=""></option>
						{html_options options=$va_jpo1 selected=$arrForm.jpo1}
					</select>

				</td>
			</tr>
			<tr>
				<td class="iname">
					支払回数
				</td>
				<td>
					<input type="text" name="jpo2" value="{$arrForm.jpo2}" size="10" />&nbsp;回
				</td>
			</tr>
-->

			<tr>
				<td class="iname">
					Security Code<span class="red">&nbsp;*</span>
				</td>
				<td>
				    {if $formWord.word35 != ""}{$formWord.word35}<br />{/if}
					<input type="text" name="securityCode" value="{$arrForm.securityCode|escape}" maxlength="4" />
				<br />[ Visa / MasterCard / JCB / Diners Club ]
				<br />3-digit number printed on the back of your card. It appears after your credit card number (either 16-digit or only the last 4 digit).
				<br />
				<br />[ AMEX ]
				<br />4-digit code printed on the front of your card. It appears after and to the right of your main credit card number.
				</td>
			</tr>
			</table>

			{if $formWord.word16 != ""}
				<br />
				<div class="bcomment">{$formWord.word16|nl2br}</div>
			{/if}

		{/if}


		{if $arrForm.method == "2"}
			<table class="rtbl">

			<tr>
				<td class="iname">Name of remitter</td>
				<td>
				    {if $formWord.word28 != ""}{$formWord.word28}<br />{/if}
				    <input type="text" name="lessee" value="{$arrForm.lessee|escape}" />
				</td>
			</tr>
			<tr>
				<td class="iname">Name of the bank where you make remittance</td>
				<td>
				    {if $formWord.word29 != ""}{$formWord.word29}<br />{/if}
				    <input type="text" name="bank" value="{$arrForm.bank|escape}" />
				</td>
			</tr>
			<tr>
				<td class="iname">Date of remittance</td>
				<td>
				    {if $formWord.word30 != ""}{$formWord.word30}<br />{/if}
				    <input type="text" name="closure" value="{$arrForm.closure|escape}" />
				</td>
			</tr>
			</table>

			{if $formWord.word15 != ""}
				<br />
				<div class="bcomment">{$formWord.word15|nl2br}</div>
			{/if}

		{/if}
{/if}