<tr>
	<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
	<td>{assign var=key value="edata`$item_id`"}
		{assign var=val value=$arrData[$key]}
		{$_formItem.select[$val]}
	</td>
</tr>