{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            {*テキスト*}
            {if $_formItem.item_type == "0"}
                <input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="40" />

            {*テキストエリア*}
            {elseif $_formItem.item_type == "1"}
                <textarea rows="5" name="{$edata}" cols="85">{$arrForm.$edata}</textarea>

            {*ラジオ*}
            {elseif $_formItem.item_type == "2"}
                {foreach from=$_formItem.select2 key=s_key1 item=item1 name=select}
					<div class="bname63">{$item63.$s_key1}</div>
	                {foreach from=$item1 key=s_key item=item name=select}
                    <input type="radio" name="{$edata}" class="{$edata} {$edata}_{$s_key1}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
	                {/foreach}
                {/foreach}
				<span id="amount"></span>

{literal}
<script>
$(function(){
	$(".edata63").bind("change", function(){
        var chk = $(this).filter(":checked").val();
        if(typeof chk == 'undefined'){ return; }

		var amount = parseInt(chk) - 1;
		$("#amount").html('<input type="hidden" name="amount" value="'+ amount +'" />');

		var array = [1,2,5,6,9,10];
		$(".edata64").prop("disabled", false);
		if(array.some(function(v){ return v == chk})){
			$("#edata64_1").prop("checked",  true);
			$("#edata64_2").prop("disabled", true);
		}

	}).change();

	$(".edata26").bind("change", function(){
        var chk = $(this).filter(":checked").val();
        if(typeof chk == 'undefined'){ return; }

		$(".edata63").prop("disabled", true);
		$(".edata63_"+chk).prop("disabled", false);
	}).change();
});
</script>
{/literal}


            {*チェックボックス*}
            {elseif $_formItem.item_type == "3"}

                {foreach from=$_formItem.select key=s_key item=item name=select}

                    {assign var=key26 value=`$edata``$s_key`}
                    <input type="checkbox" name="{$edata}{$s_key}" value="{$s_key}" {if $arrForm[$key26] == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm[$key26] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
                {/foreach}

            {*セレクト*}
            {else $_formItem.item_type == "4"}
                <select name="{$edata}">
                    <option vlaue=""></option>
                    {foreach from=$_formItem.select key=s_key item=item name=select}
                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
                        {/if}
                    {/foreach}
                </select>
            {/if}
        </td>
    </tr>
{/if}
