{assign var=formItem value=$formItem.$item_id}
{assign var=edata    value="edata`$item_id`"}

{if $formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$formItem.item_name}{if $formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
        </td>

        <td>
            {if $formItem.item_memo != ""}{$formItem.item_memo}<br />{/if}

                {foreach from=$formItem.select key=s_key item=item name=select}
                    <input type="radio" name="{$edata}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {if $formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}
                {/foreach}

        </td>
    </tr>
{/if}