{include file="include/usr_header.html" _title="`$fData.form_name``$_title`"}

<div class="header">

	{if $fData.head_image}
		<img src="{$smarty.const.IMG_URL}header/{$fData.head_image}" border="0" />
	{/if}

	</div>

	<div id="FormTtl">
        {$fData.form_name} パスワード再発行 {$extends_msg}
	</div>
	<br />


<form name="frm" id="frm" method="post" action="?form_id={$form_id|escape}">
<input type="hidden" name="form_id" id="form_id" value="{$form_id|escape}" />
<input type="hidden" name="mode"    id="mode"    value="do" />
	<div id="Login">
        パスワード再発行を受付ました。<br/>
        登録メールアドレスに仮パスワードを送信いたします。<br/>
        <br/><br/>

        <div style="text-align:left;">
        ■メール件名：パスワード再発行通知メール<br/>
        ■送信者：CITE Japan Secretariat &lt;cite@ics-inc.co.jp&gt;<br/>
        <br/>
        送信されたメールに記載の「仮パスワード」でログイン後、<br/>
        ご担当者情報内のパスワード変更用（現在のパスワード）入力欄に<br/>
        送信された仮パスワードを入力し、新しいパスワードへの変更を行って下さい。<br/>
        <br/>
        The request for the reissue of your password has been received.<br/>
        A temporary password will be sent to the registered e-mail address.<br/>
        <br/>
        - Subject of e-mail: Reissue of password<br/>
        - Mail to be sent from: CITE Japan Secretariat &lt;cite@ics-inc.co.jp&gt;<br/>
        <br/>
        Please login using the “temporary password” shown in the e-mail.<br/>
        After you log-in to the system, please change the password by entering the necessary information in the “Contact information” section.<br/>
        </div>
    </div>

</form>
{include file="include/usr_footer.html"}