{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--メールアドレス-->
	{assign var=key_c value=`$edata``$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br />
		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
			<input type="text" name="{$edata}{$smarty.section.counter.index}" value="{$arrForm[$key_c]|escape}" size="40" />

		</td>
	</tr>
{/if}
