{assign var=formItem value=$formItem.$item_id}
{assign var=edata    value="edata`$item_id`"}

{if $formItem[29].disp != "1"}
	{if $formItem.disp != "1"}
	<!--所属機関名-->
		<tr>
			<td class="iname">
				{$formItem.item_name}{if $formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
			</td>
			<td>
				{if $formItem.item_memo != ""}{$formItem.item_memo}<br />{/if}
				<textarea name="{$edata}" cols="50" rows="8">{$arrForm.$edata|escape}</textarea>
			</td>
		</tr>
	{/if}
{/if}
