{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--会員・非会員-->
	{assign var=key_c value=`$edata``$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}


		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
			<input type="radio" name="{$edata}{$smarty.section.counter.index}"
								value="1"
								{if $arrForm[$key_c] == "1"}checked{/if}
			/>&nbsp;{$va_kaiin[1]}

			<input type="radio" name="{$edata}{$smarty.section.counter.index}"
								value="2"
								{if $arrForm[$key_c] == "2"}checked{/if}
			/>&nbsp;{$va_kaiin[2]}
		</td>
	</tr>
{/if}
