{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--所属機関-->
	{assign var=key_c value=`$edata``$smarty.section.counter.index`}

	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
			{foreach from=$arrForm.kikanlist key=s_key item=item name=select}
				{assign var=chk value=$key_c`$s_key`}
				<input type="checkbox" name="{$edata}{$smarty.section.counter.index}{$s_key}"
					   value="{$s_key}"
                      {if $arrForm[$chk] == $s_key}checked{/if}
                      {if $_formItem.disable[$s_key] == "1" && $arrForm[$chk] != $s_key && $admin_flg == ""}disabled="disabled"{/if}
				/>{$item}<br />
			{/foreach}
		</td>
	</tr>
{/if}