{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--抄録本文-->
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}

			<textarea name="{$edata}" class="{$edata}" rows="{$_formItem.rows|default:"10"}" cols="{$_formItem.cols|default:"85"}" {attr}>{$arrForm.$edata|escape}</textarea>

		</td>
	</tr>
{/if}
