{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--メールアドレス-->
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
			<input type="text" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" size="{$_formItem.size|default:"40"}"
                autocomplete="off" oncopy="return false;" onpaste="return false;" {attr}/>

		</td>
	</tr>

	{if $_formItem.mail == "1"}
		<tr>
			<td class="iname">
				{$_formItem.item_name}（確認用）{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
			</td>
			<td>
				※確認のため再入力してください。<br />
				<input type="text" name="chkemail" class="{$edata}" value="" size="{$_formItem.size|default:"40"}"
                    autocomplete="off" oncopy="return false;" onpaste="return false;" {attr}/>
			</td>
		</tr>
	{/if}
{/if}
