{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--発表形式-->
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}

		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}

				<select name="{$edata}" class="{$edata}" {attr}>
					<option vlaue=""></option>
						{foreach from=$_formItem.select key=s_key item=item name=select}
							<option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
						{/foreach}
				</select>
		</td>
	</tr>
{/if}
