{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    <tr class="row_iff_fbs">
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
            {if $_formItem.item_memo != ""}<br/><p class="m0 r">{$_formItem.item_memo}</p>{/if}
        </td>

        <td>
            {*テキスト*}
            {if $_formItem.item_type == "0"}
                <input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="40" />

            {*テキストエリア*}
            {elseif $_formItem.item_type == "1"}
                <textarea rows="5" name="{$edata}" cols="85">{$arrForm.$edata}</textarea>

            {*ラジオ*}
            {elseif $_formItem.item_type == "2"}
                {foreach from=$_formItem.select key=s_key item=item name=select}
                    <input type="radio" name="{$edata}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
                {/foreach}

            {*チェックボックス*}
            {elseif $_formItem.item_type == "3"}

				<table class="chk_area" id="edata{$item_id}">
				<tr>
                {foreach from=$_formItem.select key=s_key item=item name=select}
					{assign var="index" value=$smarty.foreach.select.index}
					{if $index %3 == 0}
						<td style="width:35%;">
					{/if}

                    {assign var=key26 value=`$edata``$s_key`}
                    <input type="checkbox" name="{$edata}{$s_key}" class="{$edata}" value="{$s_key}" {if $arrForm[$key26] == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm[$key26] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />

					{if $index > 0 && $index+1 %3 == 1}</td>{/if}
                {/foreach}
				</td></tr>
				</table>

            {*セレクト*}
            {else $_formItem.item_type == "4"}
                <select name="{$edata}" class="{$edata}">
                    <option vlaue=""></option>
                    {foreach from=$_formItem.select key=s_key item=item name=select}
                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
                        {/if}
                    {/foreach}
                </select>

				{edataXX group_id=$group_id item_id=81}
				{if $_formItem.disp != "1" &&  $_formItem.item_type == "4"}
					<div id="edata81" style="margin-top:15px;">
					{$_formItem.item_name}<br/>
	                <select name="{$edata}">
	                    <option vlaue=""></option>
	                    {foreach from=$_formItem.select key=s_key item=item name=select}
	                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
	                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
	                        {/if}
	                    {/foreach}
	                </select>
					</div>
				{/if}

{literal}
<script language="JavaScript">
$(function(){
	$(".edata69").bind("change", function(){
        var chk = $(this, "option:selected").val();
        if(typeof chk == 'undefined' || chk.length == ''){
			$('#edata81 select').prop('disabled', true);
            $("#edata81").css("display", "none");
			return;
		}
		chk = parseInt(chk);

        if(jQuery.inArray(chk, [1,2,3,4]) > -1){
			$('#edata81 select').prop('disabled', false);
            $("#edata81").css("display", "");
        }
        if(jQuery.inArray(chk, [5,6,7,8]) > -1){
			$('#edata81 select').prop('disabled', true);
            $("#edata81").css("display", "none");
        }

    }).change();
});
</script>
{/literal}

            {/if}
        </td>
    </tr>
{/if}
