{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<tr>
		<td class="iname">
			住所<span class="red">&nbsp;{$need_mark}</span>
		</td>
		<td>
			〒{$arrForm.edata17|escape}
			{$va_ken[$arrForm.edata18]}
			{$arrForm.edata19|escape}
			{$arrForm.edata20|escape}
			{$arrForm.edata80|escape}
		</td>
	</tr>
{/if}
