{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--所属機関名-->
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>

		<td>
			{if $_formItem.item_memo != ""}<div style="margin-bottom:3px;">{$_formItem.item_memo}</div>{/if}

			{edataXX group_id=$group_id item_id=83}
			{if $_formItem.disp != "1" &&  $_formItem.item_type == "4"}
                <select name="{$edata}" id="{$edata}">
                    <option value="">選択してください</option>
                    {foreach from=$_formItem.select key=s_key item=item name=select}
                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
                        {/if}
                    {/foreach}
                </select>
			{/if}


			{edataXX group_id=$group_id item_id=10}
			<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="45" />


			{edataXX group_id=$group_id item_id=115}
			{if $_formItem.disp != "1" &&  $_formItem.item_type == "4"}
                <select name="{$edata}" id="{$edata}">
                    <option value="">選択してください</option>
                    {foreach from=$_formItem.select key=s_key item=item name=select}
                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
                        {/if}
                    {/foreach}
                </select>
			{/if}

{literal}
<script laguage="javascript">
$(function(){

    $("#edata83").bind("change", function(){
        var chk = $("#edata83 option:selected").val();
        if(typeof chk == 'undefined'){ return; }

		$("#edata115").prop("disabled", false).css("background", "");
		if(chk.length > 0){
			$("#edata115").prop("disabled", true).css("background", "#eee");
		}
    }).change();

    $("#edata115").bind("change", function(){
        var chk = $("#edata115 option:selected").val();
        if(typeof chk == 'undefined'){ return; }

		$("#edata83").prop("disabled", false).css("background", "");
		if(chk.length > 0){
			$("#edata83").prop("disabled", true).css("background", "#eee");
		}
    }).change();

});
</script>
{/literal}

		</td>
	</tr>
{/if}
