{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--姓 -->
	<tr>
		<td class="iname">
			氏名<span class="red">&nbsp;{$need_mark}</span>
		</td>
		<td>
			<table class="layout">
			<tr>
				{edataXX group_id=$group_id item_id=1}
				<td width="180">
				{if $_formItem.disp != "1"}
					{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
					{$_formItem.item_name}<br />
					<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="30" />
				{/if}
				</td>

				{edataXX group_id=$group_id item_id=2}
				<td width="180">
				{if $_formItem.disp != "1"}
					{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
					{$_formItem.item_name}<br />
					<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="30" />
				{/if}
				</td>
			</tr>

			<tr>
				{edataXX group_id=$group_id item_id=3}
				<td width="180">
				{if $_formItem.disp != "1"}
					{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
					{$_formItem.item_name}<br />
					<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="30" />
				{/if}
				</td>

				{edataXX group_id=$group_id item_id=4}
				<td width="180">
				{if $_formItem.disp != "1"}
					{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
					{$_formItem.item_name}<br />
					<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="30" />
				{/if}
				</td>
			</tr>
			</table>

		</td>
	</tr>
{/if}
