{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
            {if $_formItem.item_memo != ""}<p class="m0 r">{$_formItem.item_memo}</p>{/if}
        </td>

        <td>
            {*テキスト*}
            {if $_formItem.item_type == "0"}
                <input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="40" />

            {*テキストエリア*}
            {elseif $_formItem.item_type == "1"}
                <textarea rows="5" name="{$edata}" cols="85">{$arrForm.$edata}</textarea>

            {*ラジオ*}
            {elseif $_formItem.item_type == "2"}
                {foreach from=$_formItem.select key=s_key item=item name=select}
                    <input type="radio" name="{$edata}" class="{$edata}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}
                {/foreach}
{literal}
<script language="JavaScript">
$(function(){
	$(".edata71").bind("change", function(){
        var chk = $(this).filter(":checked").val();
        if(typeof chk == 'undefined'){ return; }

//		$(".edata69").prop("disabled", false);
		$(".edata72").prop("disabled", false);
		$(".edata73").prop("disabled", false);
		$(".edata79").prop("disabled", false);
		$(".edata82").prop("disabled", false);

        if(chk == 1){
			$(".edata79").prop("disabled", true);
        }
        if(chk == 2){
//			$(".edata69").prop("disabled", true);
			$(".edata72").prop("disabled", true);
			$(".edata73").prop("disabled", true);
			$(".edata82").prop("disabled", true);
        }

    }).change();
});
</script>
{/literal}

            {*チェックボックス*}
            {elseif $_formItem.item_type == "3"}

				<table class="chk_area" id="edata{$item_id}">
				<tr><td>
                {foreach from=$_formItem.select key=s_key item=item name=select}

                    {assign var=key26 value=`$edata``$s_key`}
                    <input type="checkbox" name="{$edata}{$s_key}" value="{$s_key}" {if $arrForm[$key26] == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm[$key26] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}&nbsp;
                {/foreach}
				</td></tr>
				</table>

            {*セレクト*}
            {else $_formItem.item_type == "4"}
                <select name="{$edata}">
                    <option vlaue=""></option>
                    {foreach from=$_formItem.select key=s_key item=item name=select}
                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
                        {/if}
                    {/foreach}
                </select>
            {/if}
        </td>
    </tr>
{/if}
