{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--ファックス番号-->
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="30" />
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}{/if}
		</td>
	</tr>
{/if}
