{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<tr>
		<td class="iname">
			部署・役職名
		</td>
		<td>
		{edataXX group_id=$group_id item_id=12}
		{if $_formItem.disp != "1"}
			{$arrForm.$edata|escape}
		{/if}
		&nbsp;

		{edataXX group_id=$group_id item_id=13}
		{if $_formItem.disp != "1"}
			{$arrForm.$edata|escape}
		{/if}
		</td>
	</tr>
{/if}
