{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--所属機関名-->
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{edataXX group_id=$group_id item_id=83}
			{if $_formItem.disp != "1" &&  $_formItem.item_type == "4"}
                {$_formItem.select[$data]}
			{/if}


			{edataXX group_id=$group_id item_id=10}
			{$arrForm.$edata|escape}


			{edataXX group_id=$group_id item_id=115}
			{if $_formItem.disp != "1" &&  $_formItem.item_type == "4"}
                {$_formItem.select[$data]}
			{/if}
		</td>
	</tr>
{/if}
