{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<tr>
		<td class="iname">
			住所<span class="red">&nbsp;{$need_mark}</span>
		</td>
		<td>
			<table class="layout">
			<tr>
				{edataXX group_id=$group_id item_id=17}
				<td width="140">
				{if $_formItem.disp != "1"}
					{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
					{$_formItem.item_name}<br />
					<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="10" />
				{/if}
				</td>

				{edataXX group_id=$group_id item_id=18}
				<td width="140">
				{if $_formItem.disp != "1"}
					{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
					{$_formItem.item_name}<br />
			    	<select name="{$edata}">
			    		<option value=""></option>
			    		{html_options options=$va_ken selected=$arrForm.$edata}
			    	</select>
				{/if}
				</td>

				{edataXX group_id=$group_id item_id=19}
				<td>
				{if $_formItem.disp != "1"}
					{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
					{$_formItem.item_name}<br />
					<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="30" />
				{/if}
				</td>
			</tr>

			<tr>
				{edataXX group_id=$group_id item_id=20}
				<td colspan="3">
				{if $_formItem.disp != "1"}
					{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
					{$_formItem.item_name}<br />
					<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="80" />
				{/if}
				</td>
			</tr>

			<tr>
				{edataXX group_id=$group_id item_id=80}
				<td colspan="3">
				{if $_formItem.disp != "1"}
					{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
					{$_formItem.item_name}<br />
					<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="80" />
				{/if}
				</td>
			</tr>
			</table>

		</td>
	</tr>
{/if}
