{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--姓 -->
	<tr>
		<td class="iname">
			氏名{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{$arrForm.edata1|escape}&nbsp;{$arrForm.edata2|escape}<br/>
			{$arrForm.edata3|escape}&nbsp;{$arrForm.edata4|escape}<br/>
		</td>
	</tr>
{/if}
