{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<tr>
		<td class="iname">
			部署・役職名
		</td>
		<td>
			<table class="layout">
			<tr>
				{edataXX group_id=$group_id item_id=12}
				<td width="180">
				{if $_formItem.disp != "1"}
					{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
					{$_formItem.item_name}<br />
					<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="30" />
				{/if}
				</td>

				{edataXX group_id=$group_id item_id=13}
				<td width="180">
				{if $_formItem.disp != "1"}
					{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
					{$_formItem.item_name}<br />
					<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="50" />
				{/if}
				</td>
			</tr>
			</table>
		</td>
	</tr>
{/if}
