{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	{obi mode="input"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br />
			{/if}
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}


			{*テキスト*}
			{if $_formItem.item_type == "0"}
				<input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="40" />
                {if $_formItem.disabled}
                    <input type="hidden" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" />
                {/if}

			{*テキストエリア*}
			{elseif $_formItem.item_type == "1"}
				<textarea rows="5" name="{$edata}" cols="85">{$arrForm.$edata}</textarea>

			{*ラジオ*}
			{elseif $_formItem.item_type == "2"}
				{foreach from=$_formItem.select key=s_key item=item name=select}
					<input type="radio" name="{$edata}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
				{/foreach}

			{*チェックボックス*}
			{elseif $_formItem.item_type == "3"}

				{foreach from=$_formItem.select key=s_key item=item name=select}
					{assign var=key54 value=`$edata``$s_key`}
					<input type="checkbox" name="{$edata}{$s_key}" value="{$s_key}" {if $arrForm[$key54] == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm[$key54] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
				{/foreach}

			{*セレクト*}
			{else $_formItem.item_type == "4"}
				<select name="{$edata}">
					<option vlaue=""></option>
					{foreach from=$_formItem.select key=s_key item=item name=select}
						{if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
							<option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
						{/if}
					{/foreach}
				</select>
			{/if}

		</td>
	</tr>
{/if}
