{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}

{if $_formItem.disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br /><br />
			{/if}
			{*ラジオ、セレクト*}
			{if $_formItem.item_type == "2" || $_formItem.item_type == "4"}
					{$_formItem.select[$data]}
					
					{if $data == "1"}
						{edataXX group_id=$group_id item_id=55}
						Submission No.:
						{$data|escape|nl2br}
					{/if}
					<br />
			{/if}

		</td>
	</tr>
{/if}
