{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}

{if $_formItem.disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $_formItem.item_type == "0" || $_formItem.item_type == "1"}
				{$data|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $_formItem.item_type == "2" || $_formItem.item_type == "4"}
				{$_formItem.select[$data]}
			{*チェック*}
			{elseif $_formItem.item_type == "3"}
				{foreach from=$_formItem.select key=s_key item=item name=select}
					{assign var=item_id  value="54"}
					{assign var=edata    value="edata`$item_id`"}
					{assign var=key_c value=`$edata``$s_key`}

					{if $arrForm[$key_c] == $s_key}
						{$item}

						{* edata55 *}
						{if $s_key ==2}
						{edataXX group_id=$group_id item_id=55}
						{if $_formItem.disp != "1" &&  $_formItem.item_type == "0"}
							&nbsp;&nbsp;{$arrForm.$edata|escape}
						{/if}
						{/if}


						<br />
					{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}
