{if $eid == ""}
        <div class="bname">Fee</div>

        <!--支払金額説明 -->
        {if $formWord.word8 != ""}
            <div class="bcomment">{$formWord.word8|nl2br}</div>
        {/if}



            {*
                金額<span class="red">&nbsp;*</span><br />
                {if $formData.pricetype == "1"}
                    {$formData.price|number_format}円
                    <input type="hidden" name="amount" value="{$formData.price|escape}" />
                {else}
                    {foreach from=$va_price key=p_key item=item name=select}
                        <input type="radio" name="amount" value="{$p_key|escape}" {if $arrForm.amount == $p_key}checked{/if} />{$item}&nbsp;:&nbsp;{$p_key|number_format}円<br />
                    {/foreach}
                {/if}
            *}

        {if $formData.pricetype == "2"}
            <table class="rtbl">
                <tr>
                    <th class="iname">{$v_head.price_header}&nbsp;</th>
                    <th class="iname">{$v_head.price_head0}</th>
                    {* 表示形式がearly+lateのみ表示 *}
                    {if $disp == 2}<th class="iname">{$v_head.price_head1}</th>{/if}
                </tr>

                {foreach from=$va_price key=p_key item=p_item name=select}
                    <tr>
                        {foreach from=$p_item key=p_key2 item=price}
                        	{if $p_key2 == "p3" || $p_key2 == "key"}
                            {elseif $p_key2 == "name"}
                                <td class="iname">
                                    <input type="radio" name="amount" value="{$p_key|escape}" {if $arrForm.amount == $p_key && $arrForm.amount != ""}checked{/if} />{$price}
                                </td>
                            {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                                <td class="cent">
									<div class="inner_price1">
                                    {if $price|is_numeric}
                                        {$yen_mark}{$price|number_format}
                                    {else}
                                        {$price}
                                    {/if}
									</div>
                                </td>
                            {/if}

                        {/foreach}
                    </tr>
                {/foreach}

            </table>
        {elseif $formData.pricetype == "1"}
            <table class="rtbl">
                <tr>
                	<th class="iname">&nbsp;</th>
                    <th class="iname">{$v_head.price_head0}</th>
                    {* 表示形式がearly+lateのみ表示 *}
                    {if $disp == 2}<th class="iname">{$v_head.price_head1}</th>{/if}
                </tr>
                {foreach from=$va_price key=p_key item=p_item name=select}
                    <tr>
                    	<td class="iname">{$v_head.price_header}&nbsp;</td>
                        {foreach from=$p_item key=p_key2 item=price}
							{if $p_key2 == "key"}
                            {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                                <td class="cent">
                                    {if $price|is_numeric}
                                        {$yen_mark}{$price|number_format}
                                    {else}
                                        {$price}
                                    {/if}
                                    <input type="hidden" name="amount" value="{$p_key|escape}" />
                                </td>
                            {/if}
                        {/foreach}
                    </tr>
                {/foreach}


            </table>

        {/if}
        {* 後期の場合(earlyのみ)の場合は非表示 *}
        {* 前期+後期の場合に前期のみの料金を表示 *}
        {if $formData.kessai_flg == "1" && $formData.ather_price_flg != "1" && $formData.ather_price != "" && $disp == 2}
            {assign var="disp" value="1"}
            <br />

            <table class="rtbl">
                <tr>
                    <th class="iname">{$v_head.ather_price_header}&nbsp;</th>
                    <th class="iname">{$v_head.ather_price_head0}</th>
                    {* 表示形式がearly+lateのみ表示 *}
                    {if $disp == 2}<th class="iname">{$v_head.ather_price_head1}</th>{/if}
                </tr>
                {foreach from=$va_ather_price key=p_key item=p_item name=select}
                    <tr>
                        {foreach from=$p_item key=p_key2 item=price}
                            {if $p_key2 != "limit" && $p_key2 != "tani"}
                                {if $p_key2 == "name"}
                                    <td class="iname">
	                                    {assign var=ather_price value=ather_price`$p_key`}
	                                    <input type="checkbox" name="ather_price{$p_key}" value="1" {if $arrForm[$ather_price] == 1}checked{/if}>
	                                    {$price}
                                    </td>
                                {elseif $p_key2 == "tani2"}
                                {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                                    <td class="cent">
										<div class="inner_price2">
                                        {if $price|is_numeric}
                                            {$yen_mark}{$price|number_format}
                                        {else}
                                            {$price}
                                        {/if}
										</div>
                                    </td>
                                {/if}
                            {/if}

                        {/foreach}
                    </tr>
                {/foreach}
            </table>
        {/if}
{else}
	{*外部ファイルの読み込みがある場合 *}
	{if $money_edit_inc_flg == "1"}
		{assign var=tpl value=`$tpl_edit_name`}
        {include file="$includeDir`$tpl`"}
	{else}
		{include file="Usr/form/Usr_money_edit_e.html"}
	{/if}
{/if}

	<div class="bname">Payment Method</div>

	<table class="rtbl">
		<tr>
			<td>
				{foreach from=$va_method key=p_key item=item name=select}
					<input type="radio" name="method" value="{$p_key|escape}" {if $arrForm.method == $p_key}checked{/if} />{$item}
				{/foreach}
			</td>
		</tr>
	</table>

	<!--支払方法説明 -->
	{if $formWord.word9 != ""}
		<br />
		<div class="bcomment">{$formWord.word9|nl2br}</div>
	{/if}
