{section name=cnt start=0 loop=$arrData.edata115}
{assign var="index" value=$smarty.section.cnt.index}
{assign var="first" value=$smarty.section.cnt.first}
    </table><br/>

    <table class="listtbl">
    {foreach from=$formarray key=key item=item_id}
        {edataXX group_id=$group_id item_id=$item_id}
        {assign var=key value="edata`$item_id`"}
        <tr>
            <th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
            <td>{assign var=key value="edata`$item_id`"}
                {include file="Mng/entry/include_detail.html"
                         val=$arrData[$key].$index
                         type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
                }
            </td>
    {/foreach}
{/section}
