{include file="include/header.html"}

{literal}
<script language="JavaScript">


	function f_back(bk_url){
		var f = document.frm;
		f.action = bk_url;
		f.submit();		
	}
	
	function f_view(y, m, d, i) {
		var f = document.frm;
		f.action = "index.php";
		f.mode.value = 'search';
		f.syear.value = y;
		f.smonth.value = m;
		f.sday.value = d;
		f.eyear.value = y;
		f.emonth.value = m;
		f.eday.value = d;
		f.participant_category.value = i;
		f.status2.value = 2;
		f.submit();
	}

</script>

<style>
tr#total td, tr#total th { border-top: 5px double #E6E6E6; }
</style>
{/literal}

<div class="ttl">
	<h2>{$_title}</h2>
</div>

<br />
<form name="frm">
<input type="hidden" name="mode" value="" />
<input type="hidden" name="syear" value="" />
<input type="hidden" name="smonth" value="" />
<input type="hidden" name="sday" value="" />
<input type="hidden" name="eyear" value="" />
<input type="hidden" name="emonth" value="" />
<input type="hidden" name="eday" value="" />
<input type="hidden" name="participant_category" value="" />
<input type="hidden" name="status2" value="" />

<p>登録件数： {$dataList.count|default:"0"}件</p>

{if $dataList|@count > 0}
    <table class="listtbl">
    <tr>
        <th>登録日</th>
        <th>Commendation Company数</th>
        <th>Others such as Consultant Company数</th>
		<th>TPM Awards Associate Agency Company数</th>
        <th>同伴者数</th>
    </tr>
	{assign var="cnt1" value=0}
	{assign var="cnt2" value=0}
	{assign var="cnt3" value=0}
	{assign var="cntN" value=0}
    {foreach from=$dataList.list item=entry}

        <tr>
            <td class="c">{$entry.day|date_format:"%Y年%m月%d日"}</td>
            <td class="r">
            	{if $entry.cnt1 > 0}
            		<a href="javascript:f_view('{$entry.day|date_format:"%Y"}','{$entry.day|date_format:"%m"}','{$entry.day|date_format:"%d"}', '1');">{$entry.cnt1|default:""}</a>
            	{else}0{/if}
			</td>

            <td class="r">
            	{if $entry.cnt2 > 0}
            		<a href="javascript:f_view('{$entry.day|date_format:"%Y"}','{$entry.day|date_format:"%m"}','{$entry.day|date_format:"%d"}', '2');">{$entry.cnt2|default:""}</a>
            	{else}0{/if}
			</td>

            <td class="r">
            	{if $entry.cnt3 > 0}
            		<a href="javascript:f_view('{$entry.day|date_format:"%Y"}','{$entry.day|date_format:"%m"}','{$entry.day|date_format:"%d"}', '3');">{$entry.cnt3|default:""}</a>
            	{else}0{/if}
			</td>

            <td class="r">{$entry.num|default:"0"}</td>
        </tr>
		{assign var="cnt1" value=$cnt1+$entry.cnt1}
		{assign var="cnt2" value=$cnt2+$entry.cnt2}
		{assign var="cnt3" value=$cnt3+$entry.cnt3}
		{assign var="cntN" value=$cntN+$entry.num}
    {/foreach}

    <tr id="total">
        <th>合計</th>
        <td class="r">{$cnt1}</td>
        <td class="r">{$cnt2}</td>
        <td class="r">{$cnt3}</td>
        <td class="r">{$cntN}</td>
    </tr>
    </table>
{/if}
</form>
{include file="include/footer.html"}