{include file="include/header.html"}

{literal}
<script language="JavaScript">


	function f_back(bk_url){
		var f = document.frm;
		f.action = bk_url;
		f.submit();		
	}
	
	function f_view(c, i) {
		var f = document.frm;
		f.action = "index.php";
		f.mode.value = 'search';
		f.company.value = c;
		f.participant_category.value = i;
		f.status2.value = 2;
		f.submit();
	}

</script>

<style>
tr#total td, tr#total th { border-top: 5px double #E6E6E6; }
</style>
{/literal}

<div class="ttl">
	<h2>{$_title}</h2>
</div>

<br />
<form name="frm">
<input type="hidden" name="mode"    value="" />
<input type="hidden" name="company" value="" />
<input type="hidden" name="participant_category" value="" />
<input type="hidden" name="status2" value="" />

<p>登録件数： {$dataList.count|default:"0"}件</p>

{if $dataList|@count > 0}
    <table class="listtbl">
    <tr>
        <th>Participant Category</th>
        <th>社名</th>
		<th>応募者数</th>
    </tr>
    {foreach from=$dataList.list item=entry}

        <tr>
            <td class="l">
				{if $entry.edata27 == "1"}Commendation Company{/if}
				{if $entry.edata27 == "2"}Others such as Consultant Company{/if}
				{if $entry.edata27 == "3"}TPM Awards Associate Agency{/if}
			</td>

            <td class="l">{$entry.company}</td>

            <td class="r">
				{if $entry.cnt}
            		<a href="javascript:f_view('{$entry.company}', '{$entry.edata27}');">{$entry.cnt|default:""}</a>
				{else}0{/if}
			</td>
        </tr>
    {/foreach}
    </table>
{/if}
</form>
<br/>
{include file="include/footer.html"}