<div class="mb10">■配信先一覧</div>

<table class="listtbl">
	{foreach from=$arrData item=entry}
		{pre_get_pageno eid=$entry.eid arrEid=$arrForm.eid}
		{if $page != $page_no}
			{if $page_no != 0}</table><br/><br/>{/if}

			{assign var="page_no" value=$page}
			<table class="listtbl">
				<caption>{$page_no} ページ目</caption>

				{if $GLOBALS.userData.type == "1"}
	                <col width="20%" />
	                <col width="20%" />
	                <col width="20%" />
	                <col width="10%" />
	                <col width="15%" />
	                <col width="15%" />
				{else}
	                <col width="24%" />
	                <col width="23%" />
	                <col width="23%" />
	                <col width="15%" />
	                <col width="15%" />
				{/if}

				<tr>
					<th>応募者</th>
					<th>応募者（かな）</th>
					<th>email</th>
					{if $GLOBALS.userData.type == "1"}<th>状態</th>{/if}
					<th>受付日</th>
					<th>更新日</th>
				</tr>
		{/if}

		<tr>
			<td>{$entry.edata1|escape} {$entry.edata2|escape}<input type="hidden" name="eid[]" value="{$entry.eid|escape}" /></td>
			<td>{$entry.edata3|escape} {$entry.edata4|escape}</td>
			<td>{if $entry.edata28|strlen > 0}{$entry.edata28}{else}{$entry.edata25}{/if}</td>
			{if $GLOBALS.userData.type == "1"}<td>{$GLOBALS.entryStatusList[$entry.status]|default:"-"}</td>{/if}
			<td>{$entry.rdate|escape|date_format:"%Y-%m-%d %H:%M:%S"}</td>
			<td>{$entry.udate|escape|date_format:"%Y-%m-%d %H:%M:%S"}</td>
		</tr>
	{/foreach}
</table>
