<p>配信件数： <b>{$count}</b>件</p>

{if $list}
	<table class="listtbl">
		<tr>

			<th>タイトル</th>
			<th class="width120">配信日時</th>
			<th class="width120">配信件数</th>
			<th class="width120">成功件数</th>
			<th width="80">処理</th>
		</tr>

		{foreach from=$list item=mail}
		<tr>
			<td>{$mail.subject|escape}</td>
			<td>{$mail.rdate|escape|date_format:"%Y-%m-%d %H:%M:%S"}</td>
			<td class="r">{$mail.send_num|escape}件</td>
			<td class="r">{$mail.success|escape}件</td>
			<td class="c">
				<input type="button" value="詳細" onclick="f_edit('{$mail.send_id}');" />
			</td>
		</tr>
		{/foreach}

	</table>
	<input type="hidden" name="send_id" value="" />

	{show_pager data=$pager}
{/if}
