<div class="mb10">■配信メール内容</div>
<table class="listtbl">
	<tr>
		<th class="width120">タイトル</th>
		<td><input type="text" name="mail_ttl" size="80" value="{$arrForm.mail_ttl|escape}" /></td>
	</tr>
	<tr>
		<th>本文</th>
		<td>
			<textarea name="mail_body" cols="80" rows="10">{$arrForm.mail_body|escape}</textarea>
			<p>※置き換え文字を使用する場合は、<a href="javascript:f_open();">こちらの一覧</a>に記載されている文字列を使用してください。</p>
		</td>
	</tr>
</table>
<br />
