{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.action = 'Sys_formbase.php';
		f.mode.value = 'next';
		f.submit();
	}
	function f_back(){
		var f = document.frm;
		f.action = 'Sys_formlist.php';
		f.submit();
	}
	function f_save(){
		var f = document.frm;
		f.action = 'Sys_formbase.php';
		f.mode.value = 'save';
		f.submit();
	}

$(function(){
	$("#auto_change_flg input:radio, #auto_change_flg label").bind("change", function(){
        var chk = $(this).filter(":checked").val();
        if(typeof chk == 'undefined'){ return; }

		var tr = $(".auto_change");
		if(chk == 1){
			tr.css("background-color", "#FFFFFF");
			$("input, textarea, select", tr).removeAttr("disabled");
		}
		if(chk == 0){
			tr.css("background-color", "#F5F5F5");
			$("input, textarea, select", tr).attr("disabled", "disabled");
		}
	}).change();


	var use3ds = $("#use3ds input:radio, #use3ds label").bind("change", function(){
        var chk = $(this).filter(":checked").val();
        if(typeof chk == 'undefined'){ return; }
		if(chk == 1){
			$("#use3shopname").css("background-color", "#FFFFFF");
			$("#use3shopname input").removeAttr("disabled");
		}
		if(chk == 0){
			$("#use3shopname").css("background-color", "#F5F5F5");
			$("#use3shopname input").attr("disabled", "disabled");
		}
	}).change();


	$("#type3_1 input:radio, #type3_1 label").bind("change", function(){
        var chk = $(this).filter(":checked").val();
        if(typeof chk == 'undefined'){ return; }

		var tr = $(".credit");
		if(chk == 1 || chk == 2){
			tr.css("background-color", "#FFFFFF");
			$("input, textarea, select", tr).removeAttr("disabled");
		}
		if(chk == 0){
			tr.css("background-color", "#F5F5F5");
			$("input, textarea, select", tr).attr("disabled", "disabled");
		}
	}).change();


	$("input:radio.agree_type").bind("change", function(){
        var chk = $(this).filter(":checked").val();
        if(typeof chk == 'undefined'){ return; }

		var agree_chktext = $("input:text#agree_chktext");
		agree_chktext.removeAttr("disabled");
		if(chk == 0){
			agree_chktext.attr("disabled", "disabled");
		}
	}).change();
});


</script>
{/literal}

<div class="ttl">
	<h2>フォーム登録　基本情報設定&nbsp;&nbsp;（{$user_data.user_name}）</h2>
</div>

<br />
<div>
	<table id="progress">
		<tr>
			<td class="now">基本情報</td>
			<td><div class="ico"></div></td>
			<td class="other">項目作成</td>
			<td><div class="ico"></div></td>
			<td class="other">プレビュー</td>
			<td><div class="ico"></div></td>
			<td class="other">完成</td>
		</tr>
	</table>
</div>
<br />
{show_err var=$arrErr}
<form name="frm" method="post" enctype="multipart/form-data">
<input type="hidden" name="mode" value="" />
<input type="hidden" name="form_id" value="{$arrForm.form_id}" />
<input type="hidden" name="user_id" value="{$arrForm.user_id}" />
<input type="hidden" name="temp" value="{$arrForm.temp}" />

{foreach key=key item=item from=$arrForm}
{if $key != "item_name" && $key != "item_view" && $key != "item_check" && $key != "item_len" && $key != "item_pview" && $key != "item_mail" && $key != "item_type" && $key != "item_select" && $key != "item_memo"}
{else}
{foreach key=key2 item=item2 from=$item}
{if $key != "item_check"}
	<input type="hidden" name="{$key}[{$key2}]" value="{$item2|escape}">
{else}
	{foreach item=item3 from=$item2}
	<input type="hidden" name="{$key}[{$key2}][]" value="{$item3|escape}">
	{/foreach}
{/if}
{/foreach}
{/if}
{/foreach}

<div>■フォーム基本設定</div>
<br />
<table class="listtbl">
	<tr>
		<th class="width150">フォーム名</th>
		<td><input type="text" name="form_name" size="70" value="{$arrForm.form_name}" /></td>
	</tr>
	<tr>
		<th class="width150">言語</th>
		<td>
			<input type="radio" name="lang" id="lang1" value="1"{if $arrForm.lang == "1"} checked{/if} />
			<label for="lang1">日本語</label>
			<input type="radio" name="lang" id="lang2" value="2"{if $arrForm.lang == "2"} checked{/if} />
			<label for="lang2">英語</label>
		</td>
	</tr>
	<tr>
		<th class="width150">フォーム頭文字</th>
		<td><input type="text" name="head" size="40" value="{$arrForm.head}" maxlength="21" /></td>
	</tr>
	<tr>
		<th class="width150">ログインID</th>
		<td><input type="text" name="login_id" size="20" value="{$arrForm.login_id}" /></td>
	</tr>
	<tr>
		<th class="width150">パスワード</th>
		<td><input type="password" name="password" size="20" value="{$arrForm.password}" />
			<label><input type="checkbox" name="pass_chg_flg" value="1"{if $arrForm.pass_chg_flg == "1"} checked{/if} />
			パスワード変更機能を利用する</label>
		</td>
	</tr>
	<tr>
		<th>フォーム説明</th>
		<td><textarea name="form_desc" cols="60" rows="8">{$arrForm.form_desc}</textarea></td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td><input type="text" name="form_mail" size="70" value="{$arrForm.form_mail}" /></td>
	</tr>
	<tr>
		<th>受付期間</th>
		<td>
			<select name="syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.syear}
			</select>年
			<select name="smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.smonth}
			</select>月
			<select name="sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.sday}
			</select>日
			<select name="shour">
				<option value=""></option>
				{html_options options=$shour selected=$arrForm.shour}
			</select>時 開始　
			<select name="eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.eyear}
			</select>年
			<select name="emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.emonth}
			</select>月
			<select name="eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.eday}
			</select>日
			<select name="ehour">
				<option value=""></option>
				{html_options options=$ehour selected=$arrForm.ehour}
			</select>時 終了
		</td>
	</tr>
	<tr>
		<th>システムメンテナンス</th>
		<td>
			<select name="msyear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.msyear}
			</select>年
			<select name="msmonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.msmonth}
			</select>月
			<select name="msday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.msday}
			</select>日
			<select name="mshour">
				<option value=""></option>
				{html_options options=$shour selected=$arrForm.mshour}
			</select>時 開始　
			<select name="meyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.meyear}
			</select>年
			<select name="memonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.memonth}
			</select>月
			<select name="meday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.meday}
			</select>日
			<select name="mehour">
				<option value=""></option>
				{html_options options=$ehour selected=$arrForm.mehour}
			</select>時 終了
		</td>
	</tr>
	<tr>
		<th>フォーム種別</th>
		<td>
			{foreach from=$GLOBALS.formtypeList[3] item=ftype key=key}
			<input type="hidden" name="type" value="3" />{$ftype}
			{/foreach}

			{*一次受付期間終了日</th>*}
			<input type="hidden" name="fst_syear"  value="" />
			<input type="hidden" name="fst_smonth" value="" />
			<input type="hidden" name="fst_sday"   value="" />
			<input type="hidden" name="fst_shour"  value="" />

			{*二次受付期間開始日*}
			<input type="hidden" name="fst_eyear"  value="" />
			<input type="hidden" name="fst_emonth" value="" />
			<input type="hidden" name="fst_eday"   value="" />
			<input type="hidden" name="fst_ehour"  value="" />
		</td>
	</tr>

	<tr>
		<th>決済システム</th>
		<td id="type3_1">{foreach from=$GLOBALS.credittypeList item=ftype key=key}
			<input type="radio" name="credit" id="credit{$key}" value="{$key}"{if $arrForm.credit|strlen>0 && $arrForm.credit == $key}checked{/if} />
			<label for="credit{$key}">{$ftype}</label>
			{/foreach}</td>
	</tr>
	<tr class="credit">
		<th>ショップID</th>
		<td><input type="text" name="pgcard_shop_id" size="50" value="{$arrForm.pgcard_shop_id|escape}" /></td>
	</tr>
	<tr class="credit">
		<th>ショップパスワード</th>
		<td><input type="text" name="pgcard_shop_pass" size="50" value="{$arrForm.pgcard_shop_pass|escape}" /></td>
	</tr>
	<tr class="credit">
		<th>サイトID</th>
		<td><input type="text" name="pgcard_site_id"  size="50" value="{$arrForm.pgcard_site_id|escape}" /></td>
	</tr>
	<tr class="credit">
		<th>サイトパスワード</th>
		<td><input type="text" name="pgcard_site_pass" size="50" value="{$arrForm.pgcard_site_pass|escape}" /></td>
	</tr>
	<tr id="use3ds" class="credit">
		<th>3Dセキュアの利用</th>
		<td>
			<input type="radio" name="pgcard_use3ds" id="pgcard_use3ds1" value="1"{if $arrForm.pgcard_use3ds == "1"} checked{/if} />
			<label for="pgcard_use3ds1">利用する</label>

			<input type="radio" name="pgcard_use3ds" id="pgcard_use3ds0" value="0"{if $arrForm.pgcard_use3ds == "0"} checked{/if} />
			<label for="pgcard_use3ds0">利用しない</label>
		</td>
	</tr>
	<tr id="use3shopname" class="credit">
		<th>3Dセキュア利用時のショップ名</th>
		<td>
			<input type="text" name="pgcard_3ds_shopname" size="50" value="{$arrForm.pgcard_3ds_shopname|escape}" />
			※省略時はフォーム名となります。
		</td>
	</tr>
	<tr class="credit">
		<th>金額設定タイプ</th>
		<td id="type3_2">{foreach from=$GLOBALS.pricetypeList item=ptype key=key}
			<input type="radio" name="pricetype" id="pricetype{$key}" value="{$key}"{if $arrForm.pricetype == $key}checked{/if} />
			<label for="pricetype{$key}">{$ptype}</label>
			{/foreach}</td>
	</tr>
	<tr class="credit">
		<th>表示形式</th>
		<td>
			{foreach from=$GLOBALS.auto_change_disp item=ftype key=key}
			<input type="radio" name="disp" id="formtype4{$key}" value="{$key}" {if $arrForm.disp == $key}checked{/if} />
			<label for="formtype4{$key}">{$ftype}</label>
			{/foreach}
			<br />※earlyのみの場合は、lateに該当する金額にnonを入力してください。　例）2000　non
		</td>
	</tr>
	<tr class="credit">
		<th>金額</th>
		<td id="type3_3">
			※一律タイプの場合は、事前登録料金、当日登録料金をスペースで区切って入力して下さい。　例）1000　1500<br />
			※選択タイプの場合は、項目と事前登録料金、当日登録料金をスペースで区切って入力し、改行して複数入力して下さい。<br />
			※当日登録料金を設定しない場合は、「0」または「Free」,「-」を入力して下さい。<br />
			※「-」については表示形式が「early+late」の「lateの箇所」で入力して下さい。「early」では使用できません。<br/>
			※ファイルアップロードを必須とする場合「1」、必須としない場合は「0」を入力してください。<br/>
			<dt style="float: left; margin-left: 1em;">例）</dt>
			<dd>学生　1000 1500</dd>
			<dd>会員　1500 2000</dd>
			<textarea name="price" rows="4" cols="60">{$arrForm.price}</textarea>
		</td>
	</tr>
{* -----------------自動金額@追加------------------------------- *}
	<tr class="credit">
		<th>金額：項目見出し</th>
		<td><input type="text" name="price_header" size="35" value="{$arrForm.price_header}" /></td>
	</tr>
	<tr class="credit">
		<th>見出し(early)</th>
		<td>
			<dt style="float: left; margin-left: 1em;">例）</dt>
			<dd>Early Registration Until April 11, 2011</dd>
			<input type="text" name="price_head0" size="45" value="{$arrForm.price_head0}" />&nbsp;&nbsp;
			CSV用:<input type="text" name="csv_price_head0" size="45" value="{$arrForm.csv_price_head0}" />
			</td>
	</tr>
	<tr class="credit">
		<th>見出し(late)</th>
		<td>
			<dt style="float: left; margin-left: 1em;">例）</dt>
			<dd>Late / On-site Registration From June 18, 2011</dd>
			<input type="text" name="price_head1" size="45" value="{$arrForm.price_head1}" /></td>
	</tr>
{*	<tr>
		<th>CSV用:見出し(late)</th>
		<td><input type="text" name="csv_price_head1" size="70" value="{$arrForm.csv_price_head1}" /></td>
	</tr>
*}


	<tr class="credit">
		<th>その他決済項目の利用</th>
		<td id="type3_4">
			<input type="radio" name="ather_price_flg" id="ather_price_flg0" value="0"{if $arrForm.ather_price_flg == "0"} checked{/if} />
			<label for="ather_price_flg0">利用する</label>
			<input type="radio" name="ather_price_flg" id="ather_price_flg1" value="1"{if $arrForm.ather_price_flg === "1" || $arrForm.ather_price_flg == ""} checked{/if} />
			<label for="ather_price_flg1">利用しない</label>
		</td>
	</tr>
	<tr class="credit">
		<th>その他決済項目</th>
		<td id="type3_5">
			※項目名、事前登録料金、当日登録料金、単位、制限数、コメントをスペースで区切って入力して下さい。<br />
			※複数の場合は、改行して入力てください。<br />
			※当日登録料金を設定しない場合は、「0」または「Free」,「-」を入力して下さい。<br />
			※「-」については表示形式が「early+late」の「lateの箇所」で入力して下さい。「early」では使用できません。<br/>
			<dt style="float: left; margin-left: 1em;">例）</dt>
			<dd>抄録集　7000　7000　冊　5</dd>
			<textarea name="ather_price" rows="4" cols="60">{$arrForm.ather_price}</textarea>
		</td>
	</tr>
	<tr class="credit">
		<th>その他決済：項目見出し</th>
			<td><input type="text" name="ather_price_header" size="70" value="{$arrForm.ather_price_header}" /></td>
		</tr>
	<tr class="credit">
		<th>見出し(early)</th>
		<td>
			<dt style="float: left; margin-left: 1em;">例）</dt>
			<dd>Early Registration Until April 11, 2011</dd>
			<input type="text" name="ather_price_head0" size="45" value="{$arrForm.ather_price_head0}" />&nbsp;&nbsp;
<!--			CSV用:<input type="text" name="csv_ather_price_head0" size="45" value="{$arrForm.csv_ather_price_head0}" />		-->
		</td>
	</tr>
	<tr class="credit">
		<th>見出し(late)</th>
		<td>
			<dt style="float: left; margin-left: 1em;">例）</dt>
			<dd>Late / On-site Registration</dd>
			<input type="text" name="ather_price_head1" size="45" value="{$arrForm.ather_price_head1}" /></td>
	</tr>	


{* ▽自動金額変更------------------------------------------------ *}
	<tr id="auto_change_flg">
		<th style="background-color:#7fbbff;">金額自動変更</th>
		<td bgcolor="#ffffe5">
			{foreach from=$GLOBALS.use item=ftype key=key}
			<input type="radio" name="auto_change_flg" id="formtype2{$key}" value="{$key}" {if $arrForm.auto_change_flg==$key}checked{/if} />
			<label for="formtype2{$key}">{$ftype}</label>
			{/foreach}
		</td>
	</tr>
	<tr class="auto_change">
		<th style="background-color:#7fbbff;">表示形式</th>
		<td bgcolor="#ffffe5">
			{foreach from=$GLOBALS.auto_change_disp item=ftype key=key}
			<input type="radio" name="auto_change_disp" id="formtype3{$key}" value="{$key}" {if $arrForm.auto_change_disp == $key}checked{/if} />
			<label for="formtype3{$key}">{$ftype}</label>
			{/foreach}
		</td>
	</tr>
	<tr class="auto_change">
		<th style="background-color:#7fbbff;">日時</th>
		<td style="background: #ffffe5;" >
			<select name="myear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.myear}
			</select>年
			<select name="mmonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.mmonth}
			</select>月
			<select name="mday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.mday}
			</select>日
			<select name="mhour">
				<option value=""></option>
				{html_options options=$shour selected=$arrForm.mhour}
			</select>時
		</td>
	</tr>
	<tr class="auto_change">
		<th style="background-color:#7fbbff;">金額</th>
		<td bgcolor="#ffffe5"><textarea name="auto_change_price" rows="4" cols="60">{$arrForm.auto_change_price}</textarea>
		</td>
	</tr>
	<tr class="auto_change">
		<th style="background-color:#7fbbff;">金額：見出し(early)</th>
		<td bgcolor="#ffffe5"><input type="text" name="auto_change_price_head0" size="45" value="{$arrForm.auto_change_price_head0}" />&nbsp;&nbsp;
			CSV用:<input type="text" name="csv_auto_change_price_head0" size="45" value="{$arrForm.csv_auto_change_price_head0}" />
		</td>
	</tr>	
	<tr class="auto_change">
		<th style="background-color:#7fbbff;">金額：見出し(late)</th>
		<td bgcolor="#ffffe5"><input type="text" name="auto_change_price_head1" size="45" value="{$arrForm.auto_change_price_head1}" /></td>
	</tr>
	<tr class="auto_change">
		<th style="background-color:#7fbbff;">その他決済項目</th>
		<td bgcolor="#ffffe5"><textarea name="auto_change_ather_price" rows="4" cols="60" >{$arrForm.auto_change_ather_price}</textarea>
		</td>
	</tr>
	<tr class="auto_change">
		<th style="background-color:#7fbbff;">その他決済：見出し(early)</th>
		<td bgcolor="#ffffe5"><input type="text" name="auto_change_ather_price_head0" size="45" value="{$arrForm.auto_change_ather_price_head0}" />&nbsp;&nbsp;
<!--			CSV用:<input type="text" name="csv_auto_change_ather_price_head0" size="45" value="{$arrForm.csv_auto_change_ather_price_head0}" />		-->
		</td>
	</tr>
	<tr class="auto_change">
		<th style="background-color:#7fbbff;">その他決済：見出し(late)</th>
		<td bgcolor="#ffffe5"><input type="text" name="auto_change_ather_price_head1" size="45" value="{$arrForm.auto_change_ather_price_head1}" /></td>
	</tr>
{* △自動金額変更------------------------------------------------ *}

	<tr>
		<th>編集許可</th>
		<td>{foreach from=$GLOBALS.proprietyList item=propriety key=key}
			<input type="radio" name="edit_flg" id="edit_flg{$key}" value="{$key}"{if $arrForm.edit_flg == $key}checked{/if} />
			<label for="edit_flg{$key}">{$propriety}</label>
			{/foreach}</td>
	</tr>
	<tr>
		<th>問い合わせ先</th>
		<td><textarea name="contact" cols="60" rows="5">{$arrForm.contact}</textarea></td>
	</tr>
	<tr>
		<th>ヘッダ画像</th>
		<td>
			{if $arrForm.dst_head_image != ""}
				<input type="hidden" name="dst_head_image" value="{$arrForm.dst_head_image}" />
				{assign var=image value=$arrForm.dst_head_image}
			{/if}
			{if $arrForm.temp_image != ""}
				<input type="hidden" name="temp_image" value="{$arrForm.temp_image}" />
				{assign var=image value=$arrForm.temp_image}
			{/if}
			{if $image != ""}
			<img src="{$smarty.const.IMG_URL}header/{$image}" width="300" /><br />
			<input type="checkbox" name="image_del" value="1"{if $arrForm.image_del == "1"} checked{/if} />
			削除<br />
			{/if}
			<input type="file" name="upfile" value="" />
		</td>
	</tr>
	<tr>
		<th>個人情報の確認</th>
		<td>{foreach from=$GLOBALS.agreetypeList item=ag key=key}
			<input type="radio" name="agree" id="agree{$key}" value="{$key}" {if $arrForm.agree == $key}checked{/if} />
			<label for="agree{$key}">{$ag}</label>
			{/foreach}
		</td>
	</tr>
	<tr>
		<th>個人情報本文</th>
		<td>
			<textarea name="agree_text" cols="60" rows="5">{$arrForm.agree_text}</textarea>
		</td>
	</tr>
	<tr>
		<th class="width150">Privacy Policy認証</th>
		<td>
			<input type="radio" name="agree_type" class="agree_type" id="agree_type0" value="0"{if $arrForm.agree_type != "1"} checked{/if} />
			<label for="agree_type0">ラジオボタン</label>
			<input type="radio" name="agree_type" class="agree_type" id="agree_type1" value="1"{if $arrForm.agree_type == "1"} checked{/if} />
			<label for="agree_type1">チェックボックス</label>

			：<input type="text" name="agree_chktext" id="agree_chktext" size="70" value="{$arrForm.agree_chktext}" />
		</td>
	</tr>
	<tr>
		<th class="width150">グループ項目名1</th>
		<td><input type="text" name="group1" size="70" value="{$arrForm.group1}" />
	</td>
	</tr>
	<tr>
		<th class="width150">グループ項目名2</th>
		<td>
			<input type="hidden" name="group2"     value="{$arrForm.group2}" />
			<input type="hidden" name="group2_use" value="1" />使用しない
		</td>
	</tr>
	<tr>
		<th class="width150">グループ項目名3</th>
		<td>
			{*<input type="text" name="group3" size="70" value="{$arrForm.group3}" />*}
			1.<input type="text" name="group3_1" size="70" value="{$arrForm.group3_1}" />
			<br />

			2.<input type="text" name="group3_2" size="70" value="{$arrForm.group3_2}" />
			(ファイルアップロード)
			<br />

			3.<input type="text" name="group3_3" size="70" value="{$arrForm.group3_3}" />
			(任意項目)
			<br />

			<input type="radio" name="group3_use" id="group3_use0" value="0"{if $arrForm.group3_use != "1"} checked{/if} />
			<label for="group3_use0">使用する</label>
			<input type="radio" name="group3_use" id="group3_use1" value="1"{if $arrForm.group3_use == "1"} checked{/if} />
			<label for="group3_use1">使用しない</label>
		</td>
	</tr>
	<tr>
		<th class="width150">グループ項目名3　任意項目レイアウト</th>
		<td>
		<input type="radio" name="group3_layout" id="group3_layout0" value="0"{if $arrForm.group3_layout != "1"} checked{/if} />
		<label for="group3_use0">左右</label>
		<input type="radio" name="group3_layout" id="group3_layout1" value="1"{if $arrForm.group3_layout == "1"} checked{/if} />
		<label for="group3_use1">上下</label>
		</td>
	</tr>

	<tr>
		<th>フォーム管理者　CSVDL-Basic認証設定</th>
		<td>
			{assign var=use_csvbasic value=$arrForm.use_csvbasic}
			{if $use_csvbasic|strlen == 0 || $use_csvbasic|is_null}
				{assign var=use_csvbasic value="1"}
			{/if}
			<input type="radio" name="use_csvbasic" id="use_csvbasic0" value="0"{if $use_csvbasic != "1"} checked{/if} />
			<label for="use_csvbasic0">使用する</label>

			<input type="radio" name="use_csvbasic" id="use_csvbasic1" value="1"{if $use_csvbasic == "1"} checked{/if} />
			<label for="use_csvbasic1">使用しない</label>

			<br/>
			<span>利用すると設定したBasic認証をクリアすることでエントリーCSVをダウンロードすることができます。</span>
		</td>
	</tr>
</table>

<div class="btn">
	<input type="button" value="一覧へ戻る" onclick="f_back();" />
	{if $arrForm.form_id == "" || $arrForm.temp == "1"}<input type="button" value="一次保存" onclick="f_save();" />{/if}
	<input type="button" value="次へ" onclick="f_submit();" />
</div>




</form>
{include file="include/footer.html"}