{include file="include/header.html" onload=""}
{literal}
<script language="JavaScript">
function f_submit(val){
    var f = document.frm;
    f.mode.value = val;
    f.submit();
}
</script>
{/literal}

<div class="ttl">
    <h2>フォーム取り込み / 出力</h2>
</div>
<br />


<form name="frm" method="post" action="?" enctype="multipart/form-data">
<input type="hidden" name="mode" value="" />


<div>■フォーム情報の取り込み(推奨：開発環境)</div>
<p>フォーム情報CSVをZIP形式でアップロードしてください。</p>
{show_err var=$arrErr.input}
<table class="listtbl">
    <tr>
        <th class="width150">取り込みZipファイル</th>
        <td><input type="file" name="archive" value="" /></td>
    </tr>
</table>
<div class="btn">
    <input type="button" value="CSV取り込み" onclick="f_submit('input');" />
</div>

<br />
<br />
<br />
<br />



<div>■フォーム情報の出力</div>
<p>フォーム情報CSVを形式でダウンロードを行います。</p>
{show_err var=$arrErr.output}
<table class="listtbl">
    <tr>
        <th class="width150">出力対象のフォームID</th>
        <td>
            {assign var="key" value="form_id"}
            <input type="number" name="{$key}" id="{$key}" size="20" value="{$arrForm.$key|escape}" />
        </td>
    </tr>
    <tr>
        <th class="width150">オプション</th>
        <td>
            {assign var="key" value="option"}
            <input type="checkbox" name="{$key}" class="{$key}" id="{$key}_1" value="1" {if $arrForm.$key == "1"} checked{/if} />
            <label for="user_type1">エントリー情報を含める</label>
        </td>
    </tr>
</table>
<br />
<br />
<div class="btn">
    <input type="button" value="CSV出力" onclick="f_submit('output');" />
</div>

</form>
{include file="include/footer.html"}