{include file="include/usr_header.html"}

{literal}
<script language="JavaScript">

</script>
{/literal}

<div class="ttl">
	<h2>置換文字列一覧</h2>
</div>

<br />
<form name="frm" method="post">


<table class="listtbl">
	<tr>
		<th width="150">登録ID</th>
		<td>_ID_</td>
	</tr>
	<tr>
		<th width="150">パスワード</th>
		<td>_PASSWORD_</td>
	</tr>
	<tr>
		<th width="150">登録日</th>
		<td>_INSERT_DAY_</td>
	</tr>
	<tr>
		<th width="150">更新日</th>
		<td>_UPDATE_DAY_</td>
	</tr>
	<tr>
		<th width="150">氏名（姓）</th>
		<td>_SEI_</td>
	</tr>
	<tr>
		<th width="150">氏名（名）</th>
		<td>_MEI_</td>
	</tr>
	<tr>
		<th width="150">ミドルネーム</th>
		<td>_MIDDLE_</td>
	</tr>
	<tr>
		<th width="150">敬称</th>
		<td>_TITLE_</td>
	</tr>
	<tr>
		<th width="150">所属</th>
		<td>_SECTION_</td>
	</tr>
</table>
<br />
<div>
	■使用例<br/><br />
	登録番号：_ID_<br />
	受付日：_INSERT_DAY_<br /><br />
	上記の例では、「_ID_」部分が登録IDに置換され、「_INSERT_DAY_」部分が登録日に置換されて表示されます。
</div>
</form>

{include file="include/footer.html"}