{include file="include/header.html"}

{literal}
<script type="text/JavaScript">

	function f_back(id){
		var f = document.frm;

		f.action = 'Sys_formlist.php';
		f.submit();
	}

	function f_submit(id, m){
		var f = document.frm;

		f.action = 'Sys_formadmin_edit.php';
		f.mode.value = m;
		f.formadmin_id.value = id;
		f.submit();
	}

	function f_delete(id, name) {

		if(window.confirm('['+name+']を削除します。よろしいですか？')){

			var f = document.frm;

			f.action = 'Sys_formadmin.php';
			f.mode.value = 'delete';
			f.formadmin_id.value = id;
			f.submit();

		} else {

		}

	}

</script>
{/literal}

<div class="ttl">
	<h2>管理者設定（{$formdata.form_name}）</h2>
</div>

<br />
<form name="frm" method="post">
<input type="hidden" name="formadmin_id" value="" />
<input type="hidden" name="user_id" value="{$arrForm.user_id}" />
<input type="hidden" name="form_id" value="{$arrForm.form_id}" />
<input type="hidden" name="mode" value="" />
{$embed}

<div class="l">
		<input type="button" value="新規登録" onclick="f_submit('', 'input');" />
</div>

	<!--エラーメッセージ-->
		{if $arrErr}
			<br />
			<div class="errmsg">
			{foreach from=$arrErr item=err}
				<p>{$err|escape}</p>
			{/foreach}
			</div>
		{/if}

		{if $msg != ""}
		<br />
		<div class="errmsg"><p>{$msg|escape}</p></div>
		{/if}


	<p>登録件数： {$arrData|@count|number_format}件</p>
	<table class="listtbl">
	<tr>
		<th>ログインID</th>
		<th>最終アクセス日時</th>
		<th>ロック</th>
		<th>登録日時</th>
		<th>更新日時</th>
		<th>操作</th>
	</tr>
	{foreach from=$arrData item=data}
	<tr>
		<td>{$data.login_id|escape}</td>
		<td>{$data.access_time|date_format:"%Y-%m-%d %H:%M:%S"|escape}</td>
		<td>{if $data.lock_flg == "1"}ロック{/if}</td>
		<td>{$data.rdate|date_format:"%Y-%m-%d %H:%M:%S"|escape}</td>
		<td>{$data.udate|date_format:"%Y-%m-%d %H:%M:%S"|escape}</td>
		<td>
			{if $data.super_flg != "1"}
				<input type="button" value="編集" onclick="f_submit('{$data.formadmin_id}', 'edit');" />
				<input type="button" value="削除" onclick="f_delete('{$data.formadmin_id}', '{$data.login_id}');" />

			{/if}

            {if $data.lock_flg == "1"}
                <input type="button" value="ロック解除" onclick="f_submit('{$data.formadmin_id}', 'lock_reset');" />
            {/if}
		</td>
	</tr>
	{/foreach}
	</table>

	<div class="btn">
		<input type="button" value="フォーム一覧へ戻る" onclick="f_back();" />
	</div>

</form>

{include file="include/footer.html"}