{include file="include/header.html" onload="hiddenselectbox()"}
{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.action = 'Sys_formbase.php';
		f.mode.value = 'confirm';
		f.submit();
	}
	function f_back(){
		var f = document.frm;
		f.mode.value = 'back';
		f.action = 'Sys_formbase.php';
		f.submit();
	}
	function f_save(){
		var f = document.frm;
		f.mode.value = 'save2';
		f.action = 'Sys_formbase.php';
		f.submit();
	}
	function hiddenselectbox() {
		var key = ['26', '27', '28', '43', '44', '45', '54', '55', '56'];
		var f = document.frm;
		for (var i in key) {
			var idname = 'sb' + key[i];
			var typecontrol = 'it' + key[i];
			var selElement1  = document.getElementById(typecontrol);
			var val = selElement1.options[selElement1.selectedIndex].value
			if(val == 2 || val == 3 || val == 4) {
				document.getElementById(idname).style.display = '';
				document.getElementById(idname).style.display = 'block';
			}
		}

	}
	function showselectbox(a) {
		var control = 'sb' + a;
		var typecontrol = 'it' + a;
		var selElement1  = document.getElementById(typecontrol);
		var val = selElement1.options[selElement1.selectedIndex].value;
		if(val == 2 || val == 3 || val == 4) {
			if(document.getElementById(control).style.display == 'none') {
				document.getElementById(control).style.display = 'block';
			}
		} else {
			if(document.getElementById(control).style.display == 'block') {
				document.getElementById(control).style.display = 'none';
			}
		}
	}
</script>
{/literal}

<div class="ttl">
	<h2>フォーム登録　項目作成&nbsp;&nbsp;（{$user_data.user_name}）</h2>
</div>

<br />
<div>
	<table id="progress">
		<tr>
			<td class="other">基本情報</td>
			<td><div class="ico"></div></td>
			<td class="now">項目作成</td>
			<td><div class="ico"></div></td>
			<td class="other">プレビュー</td>
			<td><div class="ico"></div></td>
			<td class="other">完成</td>
		</tr>
	</table>
</div>
<br />
<form name="frm" method="post" enctype="multipart/form-data">
<input type="hidden" name="mode" value="" />

{if $arrErr}
<div class="errmsg">
{foreach from=$arrErr item=err}
{foreach from=$err key=key item=val}
{$field[$key].defname}:{$val}<br />
{/foreach}
{/foreach}
</div>
{/if}

{foreach key=key item=item from=$arrForm}
{if $key != "item_name" && $key != "item_view" && $key != "item_check" && $key != "item_len" && $key != "item_pview" && $key != "item_mail" && $key != "item_type" && $key != "item_select" && $key != "item_memo"}
	<input type="hidden" name="{$key}" value="{$item|escape}">
{/if}
{/foreach}

<br />
{assign var=g value=0}
{assign var=g3_id value=1}
{foreach from=$field item=fld}
{assign var=key value=$fld.item_id}

{* グループ2を使用しない場合 *}
{if $arrForm.group2_use == 1 && $fld.group_id == "2"}{php}continue;{/php}{/if}
{if $arrForm.group2_use == 1 && ($key == 29 || $key == 30 || $key == 31)}{php}continue;{/php}{/if}

{if $g != $fld.group_id || $key == 51 || $key == 54}
{if $g != 0}
</table>
<br />
{/if}
{if $fld.group_id == "3"}
	{assign var=name_def value="グループ3 `$g3_id`"}
	{assign var=groupkey value="group3_`$g3_id`"}
	<div class="mb10">■{$arrForm[$groupkey]|default:$name_def|escape} 項目設定</div>
	{assign var=g3_id value=$g3_id+1}
{else}
	<div class="mb10">■{$group[$fld.group_id].title|escape}項目設定</div>
{/if}
	<table class="listtbl" style="width: auto;">
		<tr>
			<th class="width120">&nbsp;</th>
			<th>表示項目名<br />備考欄(例文等)</th>
			<th nowrap>フォーム</th>
			<th nowrap>メール</th>
			{if $arrForm.type == "1"}<th nowrap>一次審査</th>{/if}
			<th>チェック項目</th>
			<th>サイズ</th>
			<th>タイプ</th>
		</tr>
{/if}
		<tr>
			<th class="width120">{$fld.defname}</th>
			<td><input type="text" name="item_name[{$key}]" size="40" value="{$arrForm.item_name[$key]}" /><br />
			<!--input type="text" name="item_memo[{$key}]" size="40" value="{$arrForm.item_memo[$key]}" / -->
				<textarea name="item_memo[{$key}]" cols="25" rows="1">{$arrForm.item_memo[$key]}</textarea>
			</td>
			<td>{if $fld.require != "1"}
				<label><input type="checkbox" name="item_view[{$key}]" value="1"{if $arrForm.item_view[$key] == "1" || ($arrForm.form_id == "" && $fld.controltype == 1)} checked="checked"{/if} />非表示</label>
				{/if}
			</td>
			<td><label><input type="checkbox" name="item_mail[{$key}]" value="1"{if $arrForm.item_mail[$key] == "1" || ($arrForm.form_id == "" && $fld.controltype == 1)} checked="checked"{/if} />非表示</label></td>
			{if $arrForm.type == "1"}<td><label><input type="checkbox" name="item_pview[{$key}]" value="1"{if $arrForm.item_pview[$key] == "1" || ($arrForm.form_id == "" && $fld.controltype == 1)} checked="checked"{/if} />非表示</label></td>{/if}
			<td>{$forms.item_check[$key]}</td>
			<td><input type="text" name="item_len[{$key}]" size="5" value="{$arrForm.item_len[$key]}" /></td>
			<td>
				{if $fld.controltype == "1"}
				<select name="item_type[{$key}]" onchange="showselectbox('{$key}')" id="it{$key}">
				{foreach from=$GLOBALS.controltypeList item=tp key=tpkey}
				<option value="{$tpkey}"{if $tpkey == $arrForm.item_type[$key]} selected{/if}>{$tp}</option>
				{/foreach}
				</select>
				<div id="sb{$key}" style="display: {if $arrForm.item_select[$key] == ""}none{else}block{/if};">
				<textarea name="item_select[{$key}]" id="is{$key}" cols="15" rows="3">{$arrForm.item_select[$key]}</textarea>
				</div>
				{elseif $fld.controltype == "2"}
					{if $key == "51" || $key == "52" || $key == "53"}許可する拡張子<br/>{/if}
					<textarea name="item_select[{$key}]" cols="15" rows="3">{$arrForm.item_select[$key]}</textarea>
				{/if}
			</td>
		</tr>
		{assign var=g value=$fld.group_id}
{/foreach}
</table>
<br />

<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
	{if $arrForm.form_id == "" || $arrForm.temp == "1"}<input type="button" value="一次保存" onclick="f_save();" />{/if}
	<input type="button" value="次へ" onclick="f_submit();" />
</div>

</form>
{include file="include/footer.html"}