{include file="include/header.html" onload=""}
{literal}
<script language="JavaScript">
function f_back(bk_url){
    var f = document.frm;
    f.mode.value = "";

    if(bk_url == ''){
        f.action = 'index.php';
    }else{
        f.action = bk_url;
    }
    f.submit();     
}

var cnt = 0;
var zip = "";
function chkZipArchive(file){
    $.ajax({
        type: "GET",
        url: "?mode=ajax&action=chkZipArchive&file="+file,
        cache: false,
        dataType: "json",
        error: function(XMLHttpRequest, textStatus, errorThrown){
            alert(textStatus);
        },
        success: function(result){
            if(cnt > 5){
                alert("ファイルのアーカイブの生成に失敗しました。");
                return;
            }
            if(result == "1"){      // 成功
                zip = file;
                $("#download").css("display", "");
                return;
            }
            chkZipArchive(file);    // 再試行
            cnt++;
        }
    });
}


function dlZipArchive(){
    var f = document.frm;
    f.mode.value = "download";
    f.file.value = zip;
    f.submit();
}


$(document).ready(function(){
	{/literal}{$onload_jquery}{literal}
});

</script>
{/literal}

<div class="ttl">
    <h2>{$_title}</h2>
</div>

<br />
<form name="frm" method="post">
<input type="hidden" name="mode" value="" />
<input type="hidden" name="file" value="" />

<p>{$msg}</p>


<div class="btn">
    <input type="button" id="download" style="display:none;" value="ダウンロード" onclick="dlZipArchive();" />
    <input type="button" value="一覧へ戻る" onclick="f_back('{$arrForm.url}');" />
</div>


</form>
{include file="include/footer.html"}