{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_back(id){
		var f = document.frm;
		f.action = 'Sys_word.php';
		f.mode.value='back';
		f.submit();
	}

	function f_next(){
		var f = document.frm;
		f.action = 'Sys_word.php';
		f.mode.value='complete';
		f.submit();
	}
</script>
{/literal}

<div class="ttl">
	<h2>各種文言設定　内容確認（{$formdata.form_name}）</h2>
</div>

<br />
<form name="frm" method="post">
{foreach key=key item=item from=$arrForm}
	<input type="hidden" name="{$key}" value="{$item|escape}">
{/foreach}

■文言設定<br /><br />
<table class="listtbl">
	<tr>
		<th width="150">フォーム表示タイトル</th>
		<td>{$arrForm.word14|nl2br}</td>
	</tr>
	<tr>
		<th width="150">登録完了画面</th>
		<td>{$arrForm.word1|nl2br}</td>
	</tr>
	<tr>
		<th width="150">編集完了画面</th>
		<td>{$arrForm.word2|nl2br}</td>
	</tr>
	<tr>
		<th width="150">メール差出人名</th>
		<td>{$arrForm.word13}</td>
	</tr>
	<tr>
		<th width="150">登録完了メール</th>
		<td>{$arrForm.word3|nl2br}
		</td>
	</tr>
	<tr>
		<th width="150">登録完了メールタイトル</th>
		<td>{$arrForm.word11|nl2br}
		</td>
	</tr>
	<tr>
		<th width="150">編集完了メール</th>
		<td>{$arrForm.word4|nl2br}</td>
	</tr>
	<tr>
		<th width="150">編集完了メールタイトル</th>
		<td>{$arrForm.word12|nl2br}</td>
	</tr>
	<tr>
		<th width="150">グループ１　説明</th>
		<td>{$arrForm.word5|nl2br}</td>
	</tr>
	<tr>
		<th width="150">グループ１　ページ下部のコメント</th>
		<td>{$arrForm.word17|nl2br}</td>
	</tr>
	<tr>
		<th width="150">グループ2　説明</th>
		<td>{$arrForm.word6|nl2br}</td>
	</tr>
	<tr>
		<th width="150">グループ2　ページ下部のコメント</th>
		<td>{$arrForm.word18|nl2br}</td>
	</tr>
	<tr>
		<th width="150">グループ3　説明</th>
		<td>{$arrForm.word7|nl2br}</td>
	</tr>
	<tr>
		<th width="150">グループ3　ページ下部のコメント</th>
		<td>{$arrForm.word19|nl2br}</td>
	</tr>
	<tr>
		<th width="150">支払金額　説明</th>
		<td>{$arrForm.word8|nl2br}</td>
	</tr>
	<tr>
		<th width="150">支払方法　説明</th>
		<td>{$arrForm.word9|nl2br}</td>
	</tr>
	<tr>
		<th width="150">支払情報　説明</th>
		<td>{$arrForm.word10|nl2br}</td>
	</tr>
    <tr>
        <th width="150">カード会社　説明</th>
        <td>{$arrForm.word31}</td>
        
    </tr>   
    
    <tr>
        <th width="150">クレジットカード番号　説明</th>
        <td>{$arrForm.word32}</td>
    </tr>       
    <tr>
        <th width="150">有効期限　説明</th>
        <td>{$arrForm.word33}</td>
    </tr>       
    <tr>
        <th width="150">カード名義人　説明</th>
        <td>{$arrForm.word34}</td>
    </tr>  
    <tr>
        <th width="150">セキュリティコード　説明</th>
        <td>{$arrForm.word35}</td>
    </tr> 	
	<tr>
		<th width="150">銀行振込　説明</th>
		<td>{$arrForm.word15|nl2br}</td>
	</tr>
	
    <tr>
        <th width="150">お振り込み人名義　コメント</th>
        <td>
            {$arrForm.word28|nl2br}
        </td>
    </tr>   
    <tr>
        <th width="150">お支払銀行名　コメント</th>
        <td>
            {$arrForm.word29|nl2br}
        </td>
    </tr>       
    <tr>
        <th width="150">お振り込み日　コメント</th>
        <td>
            {$arrForm.word30|nl2br}
        </td>
    </tr>       	
	
	
	
	<tr>
		<th width="150">クレジット　説明</th>
		<td>{$arrForm.word16|nl2br}</td>
	</tr>
	<tr>
		<th width="150">エントリー開始前メッセージ</th>
		<td>
			{$arrForm.word26|nl2br}
		</td>
	</tr>
	<tr>
		<th width="150">エントリー終了メッセージ</th>
		<td>
			{$arrForm.word27|nl2br}
		</td>
	</tr>
	<tr>
		<th width="150">システムメンテナンス メッセージ</th>
		<td>
			{$arrForm.word36|nl2br}
		</td>
	</tr>
	<tr>
		<th width="150">確認画面メッセージ：新規登録用</th>
		<td>
			{$arrForm.word38|nl2br}
		</td>
	</tr>
	<tr>
		<th width="150">確認画面メッセージ：編集用</th>
		<td>
			{$arrForm.word39|nl2br}
		</td>
	</tr>
</table>
<br />
■背景色・フォントカラー設定<br /><br />
<table class="listtbl">
	<tr>
		<th width="200">各ブロックの見出し　背景色</th>
		<td>
			{$arrForm.word20}
		</td>
	</tr>
	<tr>
		<th width="200">各ブロックの見出し　ボーダーカラー</th>
		<td>
			{$arrForm.word24}
		</td>
	</tr>
	<tr>
		<th width="200">各ブロックの見出し　フォントカラー</th>
		<td>
			{$arrForm.word21}
		</td>
	</tr>
	<tr>
		<th width="200">各ブロックtableヘッダ　背景色</th>
		<td>
			{$arrForm.word22}
		</td>
	</tr>
	<tr>
		<th width="200">各ブロックtableヘッダ　ボーダーカラー</th>
		<td>
			{$arrForm.word25}
		</td>
	</tr>
	<tr>
		<th width="200">各ブロックtableヘッダ　フォントカラー</th>
		<td>
			{$arrForm.word23}
		</td>
	</tr>

</table>
<br />
<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
	<input type="button" value="登録" onclick="f_next();" />
</div>

<input type="hidden" name="mode" value="" />
</form>

{include file="include/footer.html"}