{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.mode.value = 'search';
		f.submit();
	}

	function f_clear(){
		var f = document.frm;
		f.mode.value = 'clear';
		f.submit();
	}

	function f_edit(mode, id){
		var f = document.frm;

		if(mode == '1' || mode == '2'){
			f.action ='Sys_formbase.php';
		}
		else if(mode == '3'){
			f.action ='Sys_formdel.php';
		}
		else if(mode == '4'){
			if(confirm('エントリー情報をリセットします。リセットするとアップロードされているファイルも削除されます。\n本当によろしいですか？')){
				f.action ='Sys_formlist.php';
				f.mode.value ='reset';
			}
			else{
				return;
			}

		}else if(mode == '5'){
			f.action ='Sys_formcopy.php';
		}
		f.form_id.value = id;

		f.submit();
	}

	function f_back(id){
		var f = document.frm;

		f.mode.value = 'search';
		f.action = '../index.php';
		f.submit();
	}
	function f_urlview(id) {
		var f = document.frm;
		f.action = 'Sys_urlview.php';
		f.form_id.value = id;
		f.submit();
	}

	function f_word(id){
		var f = document.frm;
		f.action = 'Sys_word.php';
		f.form_id.value = id;
		f.submit();
	}

	function f_formadmin(id){
		var f = document.frm;
		f.action = 'Sys_formadmin.php';
		f.form_id.value = id;
		f.submit();
	}

{/literal}{if $GLOBALS.adminData.admin_id == "2"}{literal}
	function f_move(id) {
		var f = document.frm;
		f.action = 'Sys_formlist.php';
		f.target = '_blank';
		f.mode.value = 'mnglogin';
		f.form_id.value = id;
		f.submit();
	}
{/literal}{/if}{literal}

</script>
{/literal}

<div class="ttl">
	<h2>フォーム一覧&nbsp;&nbsp;（{$userData.user_name}）</h2>
</div>

<br />
<form name="frm" method="post">
<table class="listtbl">
	<tr>
		<th>フォーム名</th>
		<td><input type="text" name="form_name" size="50" /></td>
	</tr>
	<tr>
		<th>フォーム種別</th>
		<td>
			{$form.form_type}
		</td>
	</tr>
	<tr>
		<th>受付期間</th>
		<td>
			<select name="syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.syear}
			</select>年
			<select name="smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.smonth}
			</select>月
			<select name="sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.sday}
			</select>日～
			<select name="eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.eyear}
			</select>年
			<select name="emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.emonth}
			</select>月
			<select name="eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.eday}
			</select>日
		</td>
	</tr>


</table>

<div class="btn">
	<input type="button" value="ユーザ一覧へ戻る" onclick="f_back();" />
	<input type="button" value="クリア" onclick="f_clear();" />
	<input type="button" value="検索" onclick="f_submit();" />
</div>

<input type="hidden" name="mode" value="" />
<input type="hidden" name="user_id" value="{$arrForm.user_id}" />
<input type="hidden" name="form_id" value="" />

<div class="l">
		<input type="button" value="新規登録" onclick="f_edit('1','');" />
</div>
<br />
{if $arrData.list}
	<table class="listtbl">
		<tr>
			<th>フォーム名</th>
			<th>URL</th>
			<th>投稿種別</th>
			<th>受付期間</th>
			<th>登録日</th>
			<th>更新日</th>
			<th class="width280">処理</th>
		</tr>
		{foreach from=$arrData.list item=form}
		<tr>
			<td>{$form.form_name}
				{if $GLOBALS.adminData.admin_id == "2"}
				<a href="javascript:f_move('{$form.form_id}');">Login</a>
				{/if}
			</td>
			<td class="c"><input type="button" value="URL表示" onclick="f_urlview('{$form.form_id}');" /></td>
			<td>{$GLOBALS.formtypeList[$form.type]}</td>
			<td>{$form.reception_date1|date_format:"%Y-%m-%d"}～{$form.reception_date2|date_format:"%Y-%m-%d"}</td>
			<td>{$form.rdate|date_format:"%Y-%m-%d"}</td>
			<td>{$form.udate|date_format:"%Y-%m-%d"}</td>
			<td class="c btn">
				<input type="button" value="編集" onclick="f_edit('2','{$form.form_id}');" />
				<input type="button" value="削除" onclick="f_edit('3','{$form.form_id}');" />
				<input type="button" value="複製" onclick="f_edit('5','{$form.form_id}');" /><br/>
				<input type="button" value="文言設定" onclick="f_word('{$form.form_id}');" />
				<input type="button" value="管理者設定" onclick="f_formadmin('{$form.form_id}');" />
				<input type="button" value="リセット" onclick="f_edit('4','{$form.form_id}');" />
			</td>
		</tr>
		{/foreach}

	</table>

	{show_pager data=$pager}

{literal}
<style>
.btn input { margin:2px; }
</style>
{/literal}

{/if}
</form>
<br />
<br />

{if $arrForm.user_id == ""}
<p>ユーザーIDが指定されていません。</p>
{/if}
{include file="include/footer.html"}