<table class="listtbl" id="entrylist">
	<tr>
		<th><input type="checkbox" name="all" id="all" value="" /></th>
		<th class="">登録No.</th>
		<th width="120">応募者</th>
		{if $GLOBALS.userData.lang == "2"}
		     {if $formitemview.60 != "1"}
		         <th>国名</th>
		     {/if}
		     {if $formitemview.114 != "1"}
		         <th>Country</th>
		     {/if}
		{/if}

		<th width="120">所属</th>
		<th nowrap>都道府県</th>
		<th nowrap>登録区分　&nbsp;</th>

		<th nowrap>状態</th>
		{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}<th nowrap>支払い方法</th>{/if}
		{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}<th nowrap>支払い<br/>ステータス</th>{/if}
		{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit == "2"}<th>決済取引番号</th>{/if}
		<th>受付・更新日／事務局更新日</th>
		<th width="70">処理</th>
	</tr>

	{foreach from=$arrData.list item=entry}
	<tr class="entry_row {if $entry.invalid_flg ==1}disabled{/if}">
		<td class="c">
			<input type="hidden"   name="eid[{$entry.eid|escape}]" value="0">
			<input type="checkbox" name="eid[{$entry.eid|escape}]" value="1" {if $arrEid[$arrForm.page][$entry.eid] == 1}checked{/if} />
		</td>
		<td>{$entry.entry_no}</td>
		<td>{$entry.edata1|escape} {$entry.edata2|escape}</td>
		{if $GLOBALS.userData.lang == "2"}
		     {if $formitemview.60 != "1"}
		         <td>{$entry.edata60|escape}</td>
		     {/if}
		     {if $formitemview.114 != "1"}
		         <td>{$GLOBALS.country[$entry.edata114]}</td>
		     {/if}
		 {/if}

		<td>{$entry.edata10}</td>
		<td>{assign var="val" value=$entry.edata18}{$GLOBALS.prefectureList[$val]}</td>
		<td>{if $smarty.const.ENTRY_WAY_ADMIN == $entry.entry_way}{$smarty.const.ENTRY_WAY_ADMIN_NAME}{else}{$smarty.const.ENTRY_WAY_USER_NAME}{/if}</td>

		<td>{if $entry.invalid_flg ==0}{$GLOBALS.entryStatusList[$entry.status]|default:"-"}{else}欠番{/if}</td>


		{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}
			<td>{$GLOBALS.method_J[$entry.payment_method]}</td>
		{/if}


		{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}
			<td>{$GLOBALS.paymentstatusList[$entry.payment_status]}</td>
		{/if}

		{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit == "2"}
			<td>{$entry.order_id}</td>
		{/if}

		<td>
			<table class="nonborder">
				<tr>
					<td class="r">受付日:</td>
					<td nowrap>{$entry.rdate|date_format:"%Y-%m-%d %H:%M"}</td>
				</tr>

				<tr>
					<td class="r">キャンセル受付日:</td>
					<td nowrap>{$entry.cancel_date|date_format:"%Y-%m-%d"}</td>
				</tr>

				<tr>
					<td class="r" nowrap>申込確認書兼振込依頼書送付日:</td>
					<td nowrap>{$entry.edata137|date_format:"%Y-%m-%d"}</td>
				</tr>

				<tr>
					<td class="r">振込依頼書(再)発行日:</td>
					<td nowrap>{$entry.edata138|date_format:"%Y-%m-%d"}</td>
				</tr>

				<tr>
					<td class="r">督促日:</td>
					<td nowrap>{$entry.edata139|date_format:"%Y-%m-%d"}</td>
				</tr>

				<tr>
					<td class="r">参加証発送日:</td>
					<td nowrap>{$entry.edata140|date_format:"%Y-%m-%d"}</td>
				</tr>

				<tr>
					<td class="r">入金日:</td>
					<td nowrap>{$entry.edata141|date_format:"%Y-%m-%d"}</td>
				</tr>

				<tr>
					<td class="r">返金日:</td>
					<td nowrap>{$entry.edata142|date_format:"%Y-%m-%d"}</td>
				</tr>

				<tr>
					<td class="r">更新日:</td>
					<td nowrap>{$entry.udate|date_format:"%Y-%m-%d %H:%M"}</td>
				</tr>
			</table>
		</td>
		<td class="c" nowrap>
			<input type="button" value="詳細" onclick="f_detail('{$entry.eid|escape}');" /><br/>
			<input type="button" value="編集" onclick="f_edit('2','{$entry.eid|escape}');" />

			<!--<input type="button" value="削除" onclick="f_edit('3','{$entry.entry_id}');" />-->
		</td>
	</tr>
	{/foreach}

</table>

{literal}
<style>
#entrylist {font-size: 90%;}
table.nonborder td {padding: 0; border: none;}
</style>
{/literal}