{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(mode, type){
		var f = document.frm;
		f.mode.value = mode;
		if(typeof type !== "undefined" && type.length > 0){
			f.type.value = type;
		}
		f.submit();
	}


	function f_back(){
		var f = document.frm;

		f.action = '../index.php';
		f.mode.value = 'back';
		f.submit();
	}

	function f_down(num){

		var f = document.frm;
		f.mode.value = 'download';
		f.down_num.value = num;
		f.submit();

	}

</script>
{/literal}

<div class="ttl"><h2>エントリー詳細</h2></div>
<br />

<form name="frm" method="post" id="form24detail" action="?eid={$eid}#option">
	<input type="hidden" name="mode" value="" />
	<input type="hidden" name="down_num" value="" />
	<input type="hidden" name="form_id" value="{$arrForm.form_id|escape}" />
	{$embed}
	<br />

	{* カスタマイズファイルを取得 *}
	{setIncFormItemMng}

	{* ブロック1 *}
	{if $arrData}
		<table class="listtbl">
		<caption>{$arrForm.group1|default:"group1"} <input type="button" value="戻る" id="backbtn" onclick="f_back();" /></caption>
			{* ID、PASS*}
			{if $arrForm.edit_flg == "1"}
				<tr>
					<th class="width150">ID</th>
					<td>{$arrData.e_user_id}</td>
				</tr>
				<tr>
					<th class="width150">PASSWORD</th>
					<td>{$arrData.e_user_passwd}</td>
				</tr>
			{/if}

			{assign var=group_id value="1"}
			{foreach from=$arrItemData.$group_id key=_key item=_formItem}
				{assign var="item_id" value=$_formItem.item_id}

				{* 共著者に関する項目はブロック2で表示するため非表示 *}
				{if $arrForm.type == "3" && ($item_id == "29" || $item_id == "30" || $item_id == "31")}
					{php}continue;{/php}
				{/if}

				{if $_formItem.disp != "1"}
				{obi mode="mng"}
				{* カスタマイズあり *}
				{if $exitems.$item_id}
					{include file=$exitems.$item_id item_id=$item_id}

				{* カスタマイズなし *}
				{else}
					<tr>
						<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
						<td>{assign var=key value="edata`$item_id`"}
							{include file="Mng/entry/include_detail.html"
									 val=$arrData[$key]
								     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
							}
						</td>
					</tr>
					{/if}
				{/if}
			{/foreach}
		</table>
		<br />
	{/if}


	{* ブロック2 共著者あり *}
	{if $arrAff}
		<table class="listtbl">
			<caption>{$arrForm.group2|default:"group2"}</caption>
		</table>

		{foreach from=$arrAff item=aff name=loopaff}
			<table class="listtbl">
			<tr>
				<th colspan="2">{$smarty.foreach.loopaff.iteration}</th>
			</tr>

			{assign var=group_id value="2"}
			{foreach from=$arrItemData.$group_id key=_key item=_formItem}
				{assign var="item_id" value=$_formItem.item_id}

				{if $_formItem.disp != "1"}
				{* カスタマイズあり *}
				{if $exitems.$item_id}
					{include file=$exitems.$item_id item_id=$item_id}

				{* カスタマイズなし *}
				{else}
					<tr>
						<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
						<td>{assign var=key value="edata`$item_id`"}
							{if $item_id == "32"}
								{include file="Mng/entry/include_detail.html" val=$aff[$key] type=3 arrval=$arrData.edata31}
							{else}
								{include file="Mng/entry/include_detail.html"
									     val=$aff[$key] type=$formItem[$item_id].item_type
									     arrval=$formItem[$item_id].item_select}
							{/if}
						</td>
					</tr>
					{/if}
				{/if}
			{/foreach}
			</table>
			<br />
		{/foreach}
	{/if}

	{* ブロック3 *}
	{if $arrData && $arrForm.group3_use != "1"}
			{assign var=group_id value="3"}
			{assign var=pregroup value="0"}

			<table class="listtbl">
			{foreach from=$arrItemData.$group_id key=_key item=_formItem}
				{assign var="item_id" value=$_formItem.item_id}

				{if $_formItem.disp != "1"}

				{if $pregroup != $_formItem.group3}
					{assign var=pregroup value=$_formItem.group3}
					{assign var=title_id value=$pregroup-1}
					</table><br/>
					<table class="listtbl">
					<caption>{$formData.arrgroup3[$title_id]|default:"group3"}</caption>
				{/if}

				{* カスタマイズあり *}
				{if $exitems.$item_id}
					{include file=$exitems.$item_id item_id=$item_id}

				{* カスタマイズなし *}
				{else}
				<tr>
					<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
					<td>{assign var=key value="edata`$item_id`"}
						{include file="Mng/entry/include_detail.html"
								 val=$arrData[$key]
							     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
						}
					</td>
				</tr>
				{/if}
				{/if}
			{/foreach}
		</table>
		<br />
	{/if}


	{if $arrPayment}
		{* カスタマイズあり *}
		{if $exitems.pay}
			{include file=$exitems.pay}
		{else}
			<br />
			<table class="listtbl">
			<caption>お支払い情報</caption>
			{if $payment_confirm_disp_flg == "1"}
			<tr>
				<th class="width150">支払い方法</th>
				<td>{$GLOBALS.method_J[$arrPayment.payment_method]}</td>
			</tr>
			{/if}
			<tr>
				<th class="width150">金額</th>
				<td>{$arrPayment.price|number_format}円</td>
			</tr>
		    <tr>
		        <th class="width150">明細</th>
		        <td>
		            <table class="payment_detail">
		                <tr>
		                    <td>項目</td>
		                    <td>単価</td>
		                    <td>数量</td>

		                </tr>
		                {foreach from=$payment_detail item=detail}
		                 <tr>
		                    <td>{$detail.name|del_tags}</td>
		                    <td>{if $detail.price|is_numeric}{$detail.price|number_format}円{else}{$detail.price}{/if}</td>
		                    <td>{$detail.quantity|escape}</td>

		                </tr>
		                {/foreach}
		            </table>
		        </td>
		    </tr>

			<tr>
				<th class="width150">ステータス</th>
				<td>{$GLOBALS.paymentstatusList[$arrPayment.payment_status]}</td>
			</tr>
			{if $payment_confirm_disp_flg == "1"}
			{if $arrPayment.payment_method == "1"}
				<tr>
					<th class="width150">クレジット</th>
					<td>
						<ul class="nonstyle">
							<li>{$GLOBALS.card_type_J[$arrPayment.c_company]|escape}
								{$GLOBALS.jpo1_J[$arrPayment.c_method]|escape}
								{if $arrPayment.c_split != ""}{$arrPayment.c_split|escape}回{/if}
							</li>
							<li>クレジット番号:{$arrPayment.c_number|escape}</li>
							<li>有効期限:{$arrPayment.c_date|escape}</li>
							<li>名義人:{$arrPayment.c_holder|escape}</li>
							<li>セキュリティコード:{$arrPayment.c_scode|escape}</li>
						</ul>
					</td>
				</tr>
			{elseif $arrPayment.payment_method == "2"}
				<tr>
					<th class="width150">振込情報</th>
					<td>
						<ul class="nonstyle">
							<li>お振込み人名義:{$arrPayment.lessee|escape}</li>
							<li>お支払銀行名:{$arrPayment.bank|escape}</li>
							<li>お振込み日:{$arrPayment.closure|escape}</li>
						</ul>
					</td>
				</tr>
			{/if}
			{/if}
			</table>
		{/if}
	{/if}



	<br/><br/>
	<!--エラーメッセージ-->
	{if $arrErr}
		<br />
		<div class="errmsg">
		{foreach from=$arrErr item=err}
			<p>{$err|escape}</p>
		{/foreach}
		</div>
	{/if}

	<a name="option"></a>
	{load_datepicker}

	<table class="listtbl">
		{*<caption></caption>*}
		<tr>
			<th>登録区分</th>
			<td>
				{assign var="key" value="entry_way"}
				{assign var="way" value="`$arrData.$key`"}
				{if $way|strlen > 0 && $way == $smarty.const.ENTRY_WAY_USER}{$smarty.const.ENTRY_WAY_USER_NAME}{/if}
				{if $way|strlen > 0 && $way == $smarty.const.ENTRY_WAY_ADMIN}{$smarty.const.ENTRY_WAY_ADMIN_NAME}{/if}
			</td>
		</tr>

		<tr>
			<th>申し込み受付日</th>
			<td>
				{assign var="key" value="rdate"}
				{assign var="val" value="`$arrData.$key`"}
				{* オンライン *}
				{if $way|strlen > 0 && $way == $smarty.const.ENTRY_WAY_USER}{$val|date_format:"%Y-%m-%d %H:%M"}{/if}
				{if $way|strlen > 0 && $way == $smarty.const.ENTRY_WAY_ADMIN}
					{show_datepicker edata=$key data=$val|date_format:"%Y-%m-%d" format="yy-mm-dd" attr=" " size="20"}
				{/if}
			</td>
		</tr>

		<tr>
			<th>キャンセル受付日</th>
			<td>
				{assign var="key" value="cancel_date"}
				{assign var="val" value="`$arrData.$key`"}
				{show_datepicker edata=$key data=$val|date_format:"%Y-%m-%d" format="yy-mm-dd" size="20"}
			</td>
		</tr>

		{edataXX group_id=1 item_id=137}
	    {if $_formItem.item_type == "0"}
			{assign var="data" value=$arrData.$edata}
			<tr>
				<th class="width150">{$_formItem.item_name}</th>
				<td>{show_datepicker edata=$edata data=$data|date_format:"%Y-%m-%d" format="yy-mm-dd" size="20"}</td>
			</tr>
		{/if}

		{edataXX group_id=1 item_id=138}
	    {if $_formItem.item_type == "0"}
			{assign var="data" value=$arrData.$edata}
			<tr>
				<th class="width150">{$_formItem.item_name}</th>
				<td>{show_datepicker edata=$edata data=$data|date_format:"%Y-%m-%d" format="yy-mm-dd" size="20"}</td>
			</tr>
		{/if}

		{edataXX group_id=1 item_id=139}
	    {if $_formItem.item_type == "0"}
			{assign var="data" value=$arrData.$edata}
			<tr>
				<th class="width150">{$_formItem.item_name}</th>
				<td>{show_datepicker edata=$edata data=$data|date_format:"%Y-%m-%d" format="yy-mm-dd" size="20"}</td>
			</tr>
		{/if}

		{edataXX group_id=1 item_id=140}
	    {if $_formItem.item_type == "0"}
			{assign var="data" value=$arrData.$edata}
			<tr>
				<th class="width150">{$_formItem.item_name}</th>
				<td>{show_datepicker edata=$edata data=$data|date_format:"%Y-%m-%d" format="yy-mm-dd" size="20"}</td>
			</tr>
		{/if}

		{edataXX group_id=1 item_id=141}
	    {if $_formItem.item_type == "0"}
			{assign var="data" value=$arrData.$edata}
			<tr>
				<th class="width150">{$_formItem.item_name}</th>
				<td>{show_datepicker edata=$edata data=$data|date_format:"%Y-%m-%d" format="yy-mm-dd" size="20"}</td>
			</tr>
		{/if}

		{edataXX group_id=1 item_id=142}
	    {if $_formItem.item_type == "0"}
			{assign var="data" value=$arrData.$edata}
			<tr>
				<th class="width150">{$_formItem.item_name}</th>
				<td>{show_datepicker edata=$edata data=$data|date_format:"%Y-%m-%d" format="yy-mm-dd" size="20"}</td>
			</tr>
		{/if}

		{edataXX group_id=1 item_id=143}
	    {if $_formItem.item_type == "0"}
			{assign var="data" value=$arrData.$edata}
			<tr>
				<th class="width150">{$_formItem.item_name}</th>
				<td><input type='text' name='{$edata}' id='{$edata}' value='{$data}' size='15' /></td>
			</tr>
		{/if}

		{edataXX group_id=1 item_id=144}
	    {if $_formItem.item_type == "1"}
			{assign var="data" value=$arrData.$edata}
			<tr>
				<th class="width150">{$_formItem.item_name}</th>
				<td><textarea rows="10" name="{$edata}" cols="80">{$arrData.$edata}</textarea></td>
			</tr>
		{/if}
	</table>
	<br/>


<br />
<div class="btn">
		<input type="button" value="保存" onclick="f_submit('save');" />
</div>

</form>
{literal}
<style>
.datepicker_area input {
    width: auto !important;
}
</style>
{/literal}
{include file="include/footer.html"}