<div class="actionblock">
	<span class="rtop">
		<span class="r1"></span>
		<span class="r2"></span>
		<span class="r3"></span>
		<span class="r4"></span>
	</span>
	<p>一括処理</p>
    <p class="small">
		チェックしたエントリー情報に対して一括処理を行います。<br />
        {foreach from=$upload_file_field item=file_view key=k name=file_view}
            {if $file_view != '1'}
				また、ファイルダウンロードボタンをクリックすると、アップロードファイルの一括ダウンロードを行います。
				{php}break;{/php}
            {/if}
        {/foreach}
	</p>

	<p>
		<input type="button" value="初期状態戻す" onclick="f_status('0');" />
		{if $GLOBALS.userData.type == "1"}<input type="button" value="採択" onclick="f_status('1');" />

			<input type="button" value="不採択" onclick="f_status('2');" />
		{/if}

			<input type="button" value="キャンセル" onclick="f_status('99');" />
			<input type="button" value="メール送信" onclick="f_sendmail();" />
			<input type="button" value="削除" onclick="f_status('4');" />
			{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}
			{$form.chg_status}
			<input type="button" value="ステータス変更" onclick="f_status('5');" />
		{/if}

		<br/><br/>
        {foreach from=$upload_file_field item=file_view key=k name=file_view}
            {if $file_view != '1'}
                <input type="button" value="ファイル一括DL&nbsp;{$k|escape}" onclick="file_download('{$k}');" />
            {/if}
        {/foreach}
	</p>

	<p>
		{load_datepicker}
		{assign var="key" value="ope_date"}
		{show_datepicker edata=$key data=$arrForm.$key|date_format:"%Y-%m-%d" format="yy-mm-dd" size="20"}
		&nbsp;

		{assign var="key" value="ope_date_status"}
        <select name="{$key}" id="{$key}">
			<option label="↓選択" value="">↓選択</option>
        	{html_options options=$operationDate selected=$arrForm[$key]}
        </select>

		<input type="button" value="ステータス変更" onclick="f_ope_date();" /><br/>
		<span class="small">※ 申込受付日はFAXのみが更新の対象になります。</span>
	</p>
{literal}
<script language="javascript">
function f_ope_date(){
	if($("#ope_date").val().length == 0){
		window.alert("日付を設定してください。");
		return;
	}

	if($("#ope_date_status option:selected").val().length == 0){
		window.alert("更新対象の日付を選択してください。");
		return;
	}

	f_status('6');
}
</script>
{/literal}


	<span class="rbottom">
		<span class="r4"></span>
		<span class="r3"></span>
		<span class="r2"></span>
		<span class="r1"></span>
	</span>
</div>
