<table class="listtbl">
	<tr>
		<th>登録No.</th>
		<td><input type="text" name="s_entry_no" size="20" value="{$arrForm.s_entry_no|escape}" />～<input type="text" name="e_entry_no" size="20" value="{$arrForm.e_entry_no}" /></td>
	</tr>
	<tr>
		<th>応募者名</th>
		<td><input type="text" name="user_name" size="50" value="{$arrForm.user_name|escape}" /></td>
	</tr>

	<tr>
		<th>タイトル</th>
		<td><input type="text" name="mail_ttl" size="50" value="{$arrForm.mail_ttl|escape}" /></td>
	</tr>
	<tr>
		<th>キーワード</th>
		<td><input type="text" name="keyword" size="50" value="{$arrForm.keyword|escape}" /></td>
	</tr>
	<tr>
		<th>配信日</th>
		<td>
			<select name="syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.syear}
			</select>年
			<select name="smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.smonth}
			</select>月
			<select name="sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.sday}
			</select>日～
			<select name="eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.eyear}
			</select>年
			<select name="emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.emonth}
			</select>月
			<select name="eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.eday}
			</select>日
		</td>
	</tr>
</table>
