{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.action = 'Mng_mailsend.php';
		f.mode.value = 'save';
		f.submit();
	}

	function f_back(){
		var f = document.frm;
		f.mode.value = 'back';
		f.action = 'Mng_mailsend.php';
		f.submit();
	}

	function f_open(){
		var f = document.frm;
		var url = './Mng_word_replace.php';

		newwin=window.open(url, 'WIN', 'width=900, height=500, menubar=no, toolbar=no, scrollbars=yes');
		newwin.focus();
	}

</script>
{/literal}

<div class="ttl">
	<h2>メール送信 テンプレート設定</h2>
</div>

<br />
{show_err var=$arrErr}
<form name="frm" method="post">
{$embed}
<input type="hidden" name="mail_template" value="{$arrForm.mail_template|escape}" />
<input type="hidden" name="mail_ttl"      value="{$arrForm.mail_ttl|escape}" />
<input type="hidden" name="mail_body"     value="{$arrForm.mail_body|escape}" />


<div class="mb10">■テンプレート {$type}</div>
<table class="listtbl">
	<tr>
		<th class="width120">テンプレート</th>
		<td><input type="text" name="mail_name" size="80" value="{$arrForm.mail_name|escape}" /></td>
	</tr>
	<tr>
		<th class="width120">タイトル</th>
		<td><input type="text" name="mail_ttl" size="80" value="{$arrForm.mail_ttl|escape}" /></td>
	</tr>
	<tr>
		<th>本文</th>
		<td>
			<textarea name="mail_body" cols="80" rows="10">{$arrForm.mail_body|escape}</textarea>
			<p>※置き換え文字を使用する場合は、<a href="javascript:f_open();">こちらの一覧</a>に記載されている文字列を使用してください。</p>

<table class="listtbl" style="width:440px">
	<caption>その他の置換文字列</caption>
	<tr><td class="width150">送付方法</td><td class="width220">_SENDTYPE_</td></tr>
	<tr><td>追跡確認用URL</td><td>_URL_</td></tr>
	<tr><td>item_number</td><td>_ITEM_NUMBER_</td></tr>
	<tr><td>ビザ書類送付日</td><td>_SEND_DATE_</td></tr>
	<tr><td>ビザ書類到着予定日</td><td>_EXPECTED_ARRIVAL_</td></tr>
	<tr><td>備考</td><td>_MEMO_</td></tr>
	<tr><td>当日</td><td>_NOW_</td></tr>
</table>
		</td>
	</tr>
</table>
<br />



<div class="btn">
	<input type="button" value="一覧へ戻る" onclick="f_back();" />
	<input type="button" value="保存" onclick="f_submit();" />

</div>

<input type="hidden" name="mode" value="" />


</form>
{include file="include/footer.html"}