<p>配信件数： <b>{$count}</b>件</p>

{if $list}
	<table class="listtbl">
		<tr>

			<th>登録No.：登録者</th>
			<th class="width150">配信日時</th>
			<th width="80">処理</th>
		</tr>

		{foreach from=$list item=mail}
		<tr>
			<td>
				{assign var="data" value=","|explode:$mail.entry}
				{foreach from=$data key=key item=item}
					{$item}<br/>
				{/foreach}
			</td>
			<td>{$mail.rdate|escape|date_format:"%Y-%m-%d %H:%M:%S"}</td>
			<td class="c">
				<input type="button" value="詳細" onclick="f_edit('{$mail.send_id}');" />
				<!--{$mail.success|escape}/{$mail.send_num|escape}-->
			</td>
		</tr>
		{/foreach}

	</table>
	<input type="hidden" name="send_id" value="" />

	{show_pager data=$pager}
{/if}
