{assign var=edata    value="edata`$item_id`"}
{if $_formItem.disp != "1"}
	{obi mode="input"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
            <div id="area{$item_id}" class="custom7">
            {if $_formItem.item_type == "0"}
                {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
                <input type="text" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" size="{$_formItem.size|default:"40"}" {attr} />
                {if $_formItem.disabled}
                    <input type="hidden" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" />
                {/if}
            {/if}
            </div>
            
            {edataXX group_id=$group_id item_id=78}
            <div id="area{$item_id}" class="custom7">
            {if $_formItem.item_type == "4"}
                {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
                <select name="{$edata}" class="{$edata}" {attr}>
                    <option vlaue="">Please select</option>
                    {foreach from=$_formItem.select key=s_key item=item name=select}
                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
                        {/if}
                    {/foreach}
                </select>
            {/if}
            </div>
        </td>
    </tr>
{/if}
