{include file="include/header.html"}

{literal}
<script language="JavaScript">


	function f_back(bk_url){
		var f = document.frm;
		f.action = bk_url;
		f.submit();		
	}

</script>
{/literal}

<div class="ttl">
	<h2>{$_title}</h2>
</div>

<br />
<form name="frm">

{foreach key=key item=item from=$arrForm}
	<input type="hidden" name="{$key}" value="{$item|escape}">
{/foreach}

<p>{$msg}</p>

{assign var=url value=`$smarty.const.APP_ROOT`Mng/}
<div class="btn">
	<input type="button" value="一覧へ戻る" onclick="f_back('{$arrForm.url|default:$url}');" />
</div>




</form>
{include file="include/footer.html"}