{include file="include/header.html"}
{literal}
<script language="JavaScript">
	function f_submit(_mode){
		var f = document.frm;
		f.mode.value = _mode;
		f.submit();
	}
	
	function f_delete(id){
		var f = document.frm;
		f.mode.value = "delete";
		f.id.value = id;

        if(!window.confirm('一度削除したデータは、元に戻せません。\n削除しても宜しいですか？')){
            return;
        }
		f.submit();
	}
</script>


<style>
table#passconvert {
	width: 50%;
	margin-bottom: 30px;
}
</style>
{/literal}


<div class="ttl">
	<h2>CSVダウンロード BASIC認証設定</h2>
</div>
<br />


<div>
	ユーザ名とパスワードを入力し「登録」ボタンをクリックしてください。<br/>
	パスワードが暗号化され登録されます。<br/>
	未登録の場合はBasic認証によるCSVダウンロードをすることはできません。<br/>
	<span class="red">※パスワードの複合はできませんので注意してください。</span>
</div>
<br />

<form name="frm" method="post">

<!--エラーメッセージ-->
{if $arrErr}
<div class="errmsg">
{foreach from=$arrErr item=err}
	<p>{$err|escape}</p>
{/foreach}
</div>
{/if}


{if $isCSV}
<p>
	<a href="{$CSVDL_URL}" target="_blank">ダウンロードURL</a><br/>
	<input type="text" name="csvdl_url" value="{$CSVDL_URL|escape}" style="width:400px" />
</p>
{/if}

<table class="listtbl" id="passconvert">
	<tr>
		<th class="l">ユーザ名</th>
		<th class="l">パスワード</th>
		<th class="width100">操作</th>
	</tr>
	<tr>
		<td><input type="text" name="username" value="{$arrForm.username|escape}" /></td>
		<td><input type="text" name="password" value="{$arrForm.password|escape}" /></td>
		<td class="c"><input type="button" name="add" value="登録" onclick="f_submit('input');"/></td>
	</tr>
</table>


{if $arrForm.user|@count > 0}
<table class="listtbl" style="width: 50%;">
	<tr>
		<th class="l">No.</th>
		<th class="l">ユーザ名</th>
		<th class="width100">操作</th>
	</tr>
	{foreach from=$arrForm.user key=_key item=_arrForm name="_arrForm"}
	{assign var="index" value=$smarty.foreach._arrForm.index+1}
	<tr>
		<td width=30>{$index}</td>
		<td>
			{$arrForm.user.$_key}
			<input type="hidden" name="pass[{$_key|escape}]" value="{$arrForm.pass.$_key|escape}" />
			<input type="hidden" name="user[{$_key|escape}]" value="{$arrForm.user.$_key|escape}" />
		</td>
		<td class="c"><input type="button" name="del[{$_key}]" value="削除" onclick="f_delete({$_key});"/></td>
	</tr>
	{/foreach}
</table>
{/if}

<input type="hidden" name="mode" value="input" />
<input type="hidden" name="id"   value="" />

</form>
{include file="include/footer.html"}