{if $eid == ""}
        <div class="bname">Fee</div>

        <!--支払金額説明 -->
        {if $formWord.word8 != ""}
            <div class="bcomment">{$formWord.word8|nl2br}</div>
        {/if}



            {*
                金額<span class="red">&nbsp;*</span><br />
                {if $formData.pricetype == "1"}
                    {$formData.price|number_format}円
                    <input type="hidden" name="amount" value="{$formData.price}" />
                {else}
                    {foreach from=$va_price key=p_key item=item name=select}
                        <input type="radio" name="amount" value="{$p_key}" {if $arrForm.amount == $p_key}checked{/if} />{$item}&nbsp;:&nbsp;{$p_key|number_format}円<br />
                    {/foreach}
                {/if}
            *}

        {if $formData.pricetype == "2"}
            <table class="rtbl">
                <tr>
                    <th class="iname">{$v_head.price_header}&nbsp;</th>
                    <th class="iname">{$v_head.price_head0}</th>
                    {* 表示形式がearly+lateのみ表示 *}
                    {if $disp == 2}<th class="iname">{$v_head.price_head1}</th>{/if}
                </tr>

                {foreach from=$va_price key=p_key item=p_item name=select}
                    <tr>
                        {foreach from=$p_item key=p_key2 item=price}
                        	{if $p_key2 == "p3" || $p_key2 == "key"}
                            {elseif $p_key2 == "name"}
                                <td class="iname">
                                    <input type="radio" name="amount" value="{$p_key}" {if $arrForm.amount == $p_key && $arrForm.amount != ""}checked{/if} />{$price}
                                </td>
                            {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                                <td class="cent">
                                    {if $price|is_numeric}
                                        {$yen_mark}{$price|number_format}
                                    {else}
                                        {$price}
                                    {/if}

                                </td>
                            {/if}

                        {/foreach}
                    </tr>
                {/foreach}

            </table>
        {elseif $formData.pricetype == "1"}
            <table class="rtbl">
                <tr>
                	<th class="iname">&nbsp;</th>
                    <th class="iname">{$v_head.price_head0}</th>
                    {* 表示形式がearly+lateのみ表示 *}
                    {if $disp == 2}<th class="iname">{$v_head.price_head1}</th>{/if}
                </tr>
                {foreach from=$va_price key=p_key item=p_item name=select}
                    <tr>
                    	<td class="iname">{$v_head.price_header}&nbsp;</td>
                        {foreach from=$p_item key=p_key2 item=price}
							{if $p_key2 == "key"}
                            {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                                <td class="cent">
                                    {if $price|is_numeric}
                                        {$yen_mark}{$price|number_format}
                                    {else}
                                        {$price}
                                    {/if}
                                    <input type="hidden" name="amount" value="{$p_key}" />
                                </td>
                            {/if}
                        {/foreach}
                    </tr>
                {/foreach}


            </table>

        {/if}
        {if $formData.kessai_flg == "1" && $formData.ather_price_flg != "1" && $formData.ather_price != ""}
            <br />

            <table class="rtbl">
                <tr>
                    <th class="iname">{$v_head.ather_price_header}&nbsp;</th>
                    <th class="iname">{$v_head.ather_price_head0}</th>
                    {* 表示形式がearly+lateのみ表示 *}
                    {if $disp == 2}<th class="iname">{$v_head.ather_price_head1}</th>{/if}
                    <th class="iname">&nbsp;</th>
                </tr>
                {foreach from=$va_ather_price key=p_key item=p_item name=select}
					{assign var="limit" value=$p_item.limit}
                    <tr>
                        {foreach from=$p_item key=p_key2 item=price}
                        {if $p_key2 != "limit" && $p_key2 != "tani"}
                            {if $p_key2 == "name"}
                                <td class="iname">
                                    {$price}
                                </td>
                            {elseif $p_key2 == "tani2"}
                                {assign var=ather_price value=ather_price`$p_key`}
                                <td>
								<input type="text" name="ather_price{$p_key}" value="{$arrForm[$ather_price]|escape}" style="width:24px;" />
								{$price}

								{*********************************
								****        Select ver        ****
								**********************************
								<select name="ather_price{$p_key}" >
				                    <option vlaue=""></option>
									{section name=cnt start=1 loop=$limit+1}
										{assign var="index" value=$smarty.section.cnt.index}
										<option value="{$index}" {if $arrForm[$ather_price] == $index}selected{/if}>{$index}</option>
									{/section}
								</select>
								*********************************** *}
								</td>
                            {elseif $disp == 2 || ($p_key2 == "p1" && $disp == 1)}
                                <td class="cent">
                                    {if $price|is_numeric}
                                        {$yen_mark}{$price|number_format}
                                    {else}
                                        {$price}
                                    {/if}

                                </td>
                            {/if}
                        {/if}
                        {/foreach}
                    </tr>
                {/foreach}
            </table>
        {/if}
{else}
	{include file="Usr/form/Usr_money_edit_e.html"}
{/if}

	{foreach from=$va_method key=p_key item=item name=select}
		<input type="hidden" name="method" value="{$p_key}"  />
	{/foreach}

	<!--支払方法説明 -->
	{if $formWord.word9 != ""}
		<br />
		<div class="bcomment">{$formWord.word9|nl2br}</div>
	{/if}
