{include file="include/header.html"}

{literal}
<style>
tr.disabled { background:#E6E6E6;}
ul.list span { min-width:175px; display: inline-block; }
#contents { width: auto !important; }
</style>

<script language="javascript">
function f_next(){
    $("#frm").submit();
}
</script>
{/literal}

<div class="ttl">
	<h2>{$_title}&nbsp;（{$GLOBALS.userData.form_name}）</h2>
</div>

<br />
<form name="frm" id="frm" method="post" enctype="multipart/form-data">
<input type="hidden" name="mode" value="complate" />
<input type="hidden" name="form_id"   value="{$userData.form_id|escape}" />

<!--エラーメッセージ-->
{if $arrErr}
	<div class="errmsg">
	{foreach from=$arrErr item=err}
		<p>{$err|escape}</p>
	{/foreach}
	</div>
{/if}


<div class="msgbox">
    事前登録者をCSVより取り込みます。<br/>
    CSVのフォーマットは下記とし、既存データと重複する場合はスキップしエラーメッセージを表示します。<br/>
    <ul class="list">
        <li><span>ブース番号</span>…ログインID「フォームの頭文字+ブース番号」の「ブース番号」を指定（フォーム頭文字を自動で付与）</li>
        <li><span>パスワード</span>…8文字の大小文字英数字の混合</li>
        <li><span>種別</span>…「英語」「英語・日本語」のいずれかを指定（完全一致：全角）</li>
        <li><span>出展者名</span>…種別：「英語・日本語」</li>
        <li><span>出展者名（英語表記）</span>…種別：「英語」または「英語・日本語」</li>
    </ul>
</div>



<br />
<p><input type="file" name="upfile" value=""></p>

<div class="btn">
    <input type="button" value="取り込み実行" onclick="f_next();">
</div>

</form>
{include file="include/footer.html"}