<tr>
	<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
	<td>{assign var=key value="edata`$item_id`"}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}

		{* Submission *}
        {if $arrData[$key] == 1}
    		{edataXX group_id=$group_id item_id=67}
    		{assign var="data" value=$data.$index}
			{assign var=key value=$edata}
			{include file="Mng/entry/include_detail.html"
					 val=$arrData[$key]
				     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}
        {/if}
	</td>
</tr>