{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(mode){
		var f = document.frm;
		f.mode.value = mode;
		f.submit();
	}
	
	function f_edit(mode, id){
		var f = document.frm;
		
		if(mode == '1' || mode == '2'){
			f.action ='Sys_useredit.php';
		}
		else if(mode = '3'){
			f.action ='Sys_userdel.php';
		}
		
		if(mode == '2' || mode == '3'){
			f.user_id.value = id;
		}
		
		f.submit();
	}
	
	function f_form(id){
		var f = document.frm;
		f.user_id.value = id;
		f.action = './form/Sys_formlist.php';
		f.submit();
		
	}
</script>
{/literal}

<div class="ttl">
	<h2>ユーザ一覧</h2>
</div>

<br />
<form name="frm" method="post">
<input type="hidden" name="mode" value="" />
<input type="hidden" name="user_id" value="" />
<table class="listtbl">
	<tr>
		<th>ユーザ名</th>
		<td><input type="text" name="sk_name" value="{$arrForm.sk_name|escape}" /></td>
	</tr>
</table>

<div class="btn">
	<input type="button" value="解除" onclick="f_submit('clear');" />
	<input type="button" value="検索" onclick="f_submit('search');" />
</div>


<div class="l">
		<input type="button" value="新規登録" onclick="f_edit('1','');" />
</div>
<br />
{if $arrData.list}
	<table class="listtbl">
		<tr>
			<th>ユーザ名</th>
			<th>email</th>
			<th>登録日</th>
			<th>更新日</th>
			<th class="width220">処理</th>
		</tr>

		{foreach from=$arrData.list item=data}
		<tr>
			<td>{$data.user_name}</td>
			<td>{$data.email}</td>
			<td>{$data.rdate|date_format:"%Y-%m-%d %H:%M"}</td>
			<td>{$data.udate|date_format:"%Y-%m-%d %H:%M"}</td>
			<td class="c">
				<input type="button" value="フォーム管理" onclick="f_form('{$data.user_id}');" />
				<input type="button" value="編集" onclick="f_edit('2','{$data.user_id}');" />
				<input type="button" value="削除" onclick="f_edit('3','{$data.user_id}');" />
			</td>
		</tr>			
		{/foreach}
	
	</table>

{/if}
</form>
{include file="include/footer.html"}