{include file="include/header.html" _title="$title"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.mode.value = 'complete';
		f.submit();
	}
	function f_back(){
		var f = document.frm;
		f.mode.value = 'back';
		f.submit();		
	}

</script>
{/literal}

<div class="ttl">
	<h2>ユーザ情報{if $arrForm.user_id == ""}登録{else}編集{/if}確認</h2>
</div>

<br />
<form name="frm" method="post">
<input type="hidden" name="mode" value="" />
{foreach key=key item=item from=$arrForm}
	<input type="hidden" name="{$key}" value="{$item|escape}">
{/foreach}
{$embed}
<p>内容をご確認ください。よろしければ、{if $arrForm.user_id == ""}登録{else}編集{/if}ボタンをクリックしてください。</p>
<table class="listtbl">
	<tr>
		<th class="width120">ユーザ名</th>
		<td>{$arrForm.user_name|escape}</td>
	</tr>
	<tr>
		<th>eMail</th>
		<td>{$arrForm.email|escape}</td>
	</tr>
	<tr>
		<th>住所</th>
		<td>{$arrForm.addr|escape}</td>
	</tr>
	<tr>
		<th>電話番号</th>
		<td>{$arrForm.tel|escape}</td>
	</tr>
	<tr>
		<th>FAX</th>
		<td>{$arrForm.fax|escape}</td>
	</tr>				
</table>

<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
	<input type="button" value="{if $arrForm.user_id == ""}登録{else}編集{/if}" onclick="f_submit();" />
</div>

</form>
{include file="include/footer.html"}