{include file="include/header.html" _title="$title"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.mode.value = 'complete';
		f.submit();
	}
	function f_back(){
		var f = document.frm;
		f.mode.value = 'search';
		f.action = 'index.php';
		f.submit();		
	}

</script>
{/literal}

<div class="ttl">
	<h2>ユーザ情報削除</h2>
</div>

<br />
<form name="frm" method="post">
<p>下記のユーザ情報を削除します。よろしければ「削除」ボタンをクリックしてください。<br />
	<span class="red">※ユーザ情報を削除すると、ユーザが所有するフォームの情報や応募情報等は全て削除されます。</span>
</p>
<table class="listtbl">
	<tr>
		<th class="width120">ユーザ名</th>
		<td>{$arrForm.user_name}</td>
	</tr>
	<tr>
		<th>eMail</th>
		<td>{$arrForm.email}</td>
	</tr>
	<tr>
		<th>住所</th>
		<td>{$arrForm.addr}</td>
	</tr>
	<tr>
		<th>電話番号</th>
		<td>{$arrForm.tel}</td>
	</tr>
	<tr>
		<th>FAX</th>
		<td>{$arrForm.tel}</td>
	</tr>						
</table>

<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
	<input type="button" value="削除" onclick="f_submit();" />
</div>

<input type="hidden" name="mode" value="" />
<input type="hidden" name="user_id" value="{$arrForm.user_id}" />


</form>
{include file="include/footer.html"}