{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.mode.value = 'complete';
		f.submit();
	}
	function f_back(){
		var f = document.frm;
		f.mode.value = 'back';
		f.submit();		
	}

</script>
{/literal}

<div class="ttl">
	<h2>パスワード変更</h2>
</div>
{show_err var=$arrErr}
<br />
<form name="frm" method="post">
<input type="hidden" name="mode" value="" />
{$embed}
<input type="hidden" name="password" value="{$arrForm.password}" />
<input type="hidden" name="password2" value="{$arrForm.password2}" />
<table class="listtbl">
	<tr>
		<th>パスワード</th>
		<td>{$arrForm.password|hidden}</td>
	</tr>
	<tr>
		<th>パスワード（確認）</th>
		<td>{$arrForm.password2|hidden}</td>
	</tr>				
</table>

<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
	<input type="button" value="次へ" onclick="f_submit();" />
</div>

</form>
{include file="include/footer.html"}