{include file="include/header.html"}

{literal}
<script language="JavaScript">


	function f_back(bk_url){
		var f = document.frm;
		
		if(bk_url == ''){
			f.action = 'index.php';
		}
		else{
			f.action = bk_url;
		}
		
		f.submit();		
	}

</script>
{/literal}

<div class="ttl">
	<h2>{$_title}</h2>
</div>

<br />
<form name="frm" method="post">
<input type="hidden" name="mode" value="" />

<p>{$msg}</p>


<div class="btn">
	<input type="button" value="一覧へ戻る" onclick="f_back('{$arrForm.url}');" />
</div>




</form>
{include file="include/footer.html"}