{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>
        <td>
            {*ラジオ、セレクト*}
            {if $_formItem.item_type == "4"}
                Date&nbsp;{$_formItem.select[$data]}&nbsp;&nbsp;
            {/if}

			{* etc3 *}
			{assign var="item_id"   value="28"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{assign var=data     value=$arrForm.$edata}
            {if $_formItem.item_type == "4"}
                Month&nbsp;{$_formItem.select[$data]}&nbsp;&nbsp;
			{/if}

			{* etc4 *}
			{assign var="item_id"   value="63"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{assign var=data     value=$arrForm.$edata}
            {if $_formItem.item_type == "4"}
                Year&nbsp;{$_formItem.select[$data]}
			{/if}

        </td>
    </tr>
{/if}
