{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
            {*セレクト*}
            {if $_formItem.item_type == "4"}Date
                <select name="{$edata}">
                    <option vlaue=""></option>
                    {foreach from=$_formItem.select key=s_key item=item name=select}
                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
                        {/if}
                    {/foreach}
                </select>&nbsp;&nbsp;

				{* etc3 *}
				{assign var="item_id"   value="28"}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var=edata    value="edata`$item_id`"}
	            {if $_formItem.disp != "1" && $_formItem.item_type == "4"}Month
	                <select name="{$edata}">
	                    <option vlaue=""></option>
	                    {foreach from=$_formItem.select key=s_key item=item name=select}
	                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
	                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
	                        {/if}
	                    {/foreach}
	                </select>&nbsp;&nbsp;
				{/if}

				{* etc4 *}
				{assign var="item_id"   value="63"}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var=edata    value="edata`$item_id`"}
	            {if $_formItem.disp != "1" && $_formItem.item_type == "4"}Year
	                <select name="{$edata}">
	                    <option vlaue=""></option>
	                    {foreach from=$_formItem.select key=s_key item=item name=select}
	                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
	                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
	                        {/if}
	                    {/foreach}
	                </select>
				{/if}
            {/if}
        </td>
    </tr>
{/if}
