{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>
        <td>
            {*ラジオ、セレクト*}
            {if $_formItem.item_type == "2" || $_formItem.item_type == "4"}
                {$_formItem.select[$data]}
            {/if}

			{* etc7 *}
			{assign var="item_id"   value="72"}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=edata    value="edata`$item_id`"}
			{assign var=data     value=$arrForm.$edata}
			{if $_formItem.disp != "1" && $_formItem.disp != "1"}
	            {if $_formItem.item_type == "0" || $_formItem.item_type == "1"}
	                {$data|escape|nl2br}
				{/if}
			{/if}
        </td>
    </tr>
{/if}
