{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}

{if $_formItem.disp != "1"}
	<tr class = "edata54">
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br />
			{/if}
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}

			{*ラジオ*}
			{if $_formItem.item_type == "2" || $_formItem.item_type == "4"}
				{assign var=key value="edata`$item_id`"}
				{include file="Mng/entry/include_detail.html"
				 	val=$arrData[$key]
			     	type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
				}
				<br />
			{/if}

		</td>
	</tr>
{/if}
