<!--共著者の有無-->
{if $formItem[29].disp != "1"}
    <!--所属機関名-->
    {if $formItem[31].disp != "1"}
        <tr>
            <td class="iname">
                {$formItem[31].item_name}{if $formItem[31].need == "1"}<span class="red">&nbsp;*</span>{/if}
            </td>
            <td>
                {$arrForm.edata31|escape}

            </td>
        </tr>
    {/if}

{/if}
