<!--名 -->
{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
        </td>
        <td>{$arrForm.edata2|escape}</td>
    </tr>
{/if}
