<!--ファイルアップロード1-->
{if $_formItem.disp != "1"}
	{assign var=filecheck value=$arrForm.amount|@in_array:$filecheck}
	{if $filecheck}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}

		</td>
		<td>
			{$arrForm.hd_file51}
		</td>
	</tr>
	{/if}
{/if}