<!--Title (Prof.・Dr.・Mr.・Ms.)-->
{if $_formItem.disp != "1"}
	{assign var=key61 value=edata61`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
		</td>
		<td>
			{assign var=title61 value=$arrForm[$key61]}
			{$GLOBALS.titleList[$title61]}
		</td>
	</tr>
{/if}