<!--共著者の有無-->
{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
        </td>
        <td>
            {$va_coAuthor[$arrForm.edata29]}

        </td>
    </tr>
{/if}
