<!--会員・非会員-->
{if $_formItem.disp != "1"}
	{assign var=key41 value=edata41`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
		</td>
		<td>
			{if $arrForm[$key41] == "1"}
				{$va_kaiin[1]}

			{else}
				{$va_kaiin[0]}
			{/if}

		</td>
	</tr>
{/if}