<!--連絡先(勤務先・自宅)-->
{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
        </td>
        <td>
            {$va_contact[$arrForm.edata16]}

        </td>
    </tr>
{/if}