@charset "utf-8";
/* CSS Document */
div.agenda { 
    font-family: Arial, Helvetica, sans-serif;
}
div.agenda table {
    border-collapse:collapse;
    border-spacing:0;
}
div.agenda strong, div.agenda th {
    font-style:normal;
    font-weight:normal;
}
div.agenda h4, div.agenda h5, div.agenda th {
    margin:0;
    padding:0;
    text-align:left;
    font-size:100%;
    font-weight:normal;
}


div.agenda table{font-size:80%;line-height:160%;color:#3e3e3e;}

#page.agenda div.h4 {
	border-bottom:#aaa solid 1px;
	display:block;
	padding: 0.2em 0.3em;
	margin: 10px 0;
}
#page.agenda h5 {
	border-left:#CF6C4B solid 6px;
	padding: 0 0 0 0.5em;
	margin-bottom:0.5em;
	margin-top:1em;
	font-size:95%;
	color:#CF6C4B;
	font-weight:bold;
}

/*
==== agenda ================================
*/
#page.agenda h4{
	padding: 0 0 0 0.5em;
	font-weight:bold;
	border-left:#BCDC7E solid 6px;
}

#page.agenda .h4{
	background:#7AA12D;
	color:#FFF;
}

#page.agenda table h4{
	border:0px;
	font-size:11px;
	padding:0px 0px 5px 0px;
	line-height:120%;
	font-weight:bold;
}

#page.agenda table h5{
	border-left:none !important;
	padding: 0 !important;
	margin: 0 !important;
	font-size:12px !important;
	color:#917323;
}
#page.agenda table h5 strong{
	background:#BD962D;
	padding:0px 3px;
	color:#FFF;
}
#page.agenda table td,
#page.agenda table th{
	font-size:12px;
	border:4px solid #FFFFFF;
	padding:5px;
}
#page.agenda table th{
	background:#D5E3F1;
	text-align:center;
	font-weight:bold;
	color:#006EAA;
}
#page.agenda table td{
	vertical-align:middle;
}
#page.agenda table .time{
	text-align:center;
	line-height:12px;
	vertical-align: middle;
	background:#D5E3F1 ;
}
#page.agenda table .break{
	text-align:center;
	vertical-align: middle;
	background:#EDEDED;
	font-weight:bold;
}
#page.agenda table .gry{
	background:#EFF9FF;
}

#page.agenda table .orange{
	background:#FEBB64;
}
#page.agenda table .yellow{
	background:#FBEB45;
}
#page.agenda table .green{
	background:#C4E57D;
}


#page.agenda strong, #page.agenda .strong{
	font-weight: bold;
}

/* margin */
#page.agenda .mt20 { margin-top: 20px !important;}
#page.agenda .mb20 { margin-bottom: 20px !important;}
