<tr>
	<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
	<td>{assign var=key value="edata`$item_id`"}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}

		{if $arrData[$key] == "1"}
            {edataXX group_id=$group_id item_id=55}
			{$formItem[$item_id].item_name|default:$ini.defname}:
			{assign var=key value="edata`$item_id`"}
			{include file="Mng/entry/include_detail.html"
				val=$arrData[$key]
				type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}
		{/if}
	</td>
</tr>