<tr>
	<th class="width150">住所</th>
	<td>〒{assign var=key value="edata`$item_id`"}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}
		&nbsp;

		{edataXX group_id=$group_id item_id=18}
		{assign var="data" value=$data.$index}
		{if $_formItem.disp != "1"}
			{assign var=key value=$edata}
			{include file="Mng/entry/include_detail.html"
					 val=$arrData[$key]
				     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}
		{/if}
		<br/>

		{edataXX group_id=$group_id item_id=19}
		{assign var="data" value=$data.$index}
		{if $_formItem.disp != "1"}
			{assign var=key value=$edata}
			{include file="Mng/entry/include_detail.html"
					 val=$arrData[$key]
				     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}
		{/if}

		{edataXX group_id=$group_id item_id=20}
		{assign var="data" value=$data.$index}
		{if $_formItem.disp != "1"}
			{assign var=key value=$edata}
			{include file="Mng/entry/include_detail.html"
					 val=$arrData[$key]
				     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}
		{/if}
		<br/>

		{edataXX group_id=$group_id item_id=80}
		{assign var="data" value=$data.$index}
		{if $_formItem.disp != "1"}
			{assign var=key value=$edata}
			{include file="Mng/entry/include_detail.html"
					 val=$arrData[$key]
				     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}
		{/if}
	</td>
</tr>