{include file="include/usr_header.html" _title="$_title"}

{literal}
<script language="JavaScript">

	
	function f_submit(num){
		var f = document.frm;
		
		if(num == '2'){
			f.mode.value="complete";
		}
		else{
			f.mode.value="back";
		}
		
		f.submit();
	}
	
	
</script>
{/literal}


<form name="frm" method="post">


	<div class="header">
	{if $va_header}
		{foreach from=$va_header item=file}
			<img src="{$head_path}{$file}" width="920" border="0" />
		{/foreach}	
	{/if}	
	</div>	

	<br />
	<div id="Form">


			<p>{$msg|nl2br}</p>


	</div>
<!--	
	<div class="btn">
		<input type="button" value="閉じる" onclick="self.close();" />
	</div>
-->	
	<br />	
	<div class="footer">{$formItem.contact|nl2br}</div>
	
	<input type="hidden" name="mid" value="{$mid}" />
	<input type="hidden" name="mode" value="" />

</form>
{include file="include/usr_footer.html"}