<tr>
	<th class="width150">住所 / Address</th>
	<td>
		{edataXX group_id=$group_id item_id=71}
		{assign var="data" value=$data.$index}
		{assign var=key value=$edata}
		〒
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}&nbsp;


		{edataXX group_id=$group_id item_id=72}
		{assign var="data" value=$data.$index}
		{assign var=key value=$edata}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}&nbsp;


		{edataXX group_id=$group_id item_id=73}
		{assign var="data" value=$data.$index}
		{assign var=key value=$edata}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}<br/>


		{edataXX group_id=$group_id item_id=74}
		{assign var="data" value=$data.$index}
		{assign var=key value=$edata}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}<br/>


		{edataXX group_id=$group_id item_id=75}
		{assign var="data" value=$data.$index}
		{assign var=key value=$edata}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}<br/>

	</td>
</tr>