<tr>
	<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
	<td>{assign var=key value="edata`$item_id`"}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}<br/>


		{edataXX group_id=$group_id item_id=124}
		{assign var="data" value=$data.$index}
		{assign var=key value=$edata}
		第1希望：
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}<br/>


		{edataXX group_id=$group_id item_id=125}
		{assign var="data" value=$data.$index}
		{assign var=key value=$edata}
		第2希望：
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}<br/>

	</td>
</tr>