<tr>
    <th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
    <td>西暦&nbsp;
        {assign var=key value="edata`$item_id`"}
        {include file="Mng/entry/include_detail.html"
                 val=$arrData[$key]
                 type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
        }
        {$_formItem.item_memo}

        {* その他 *}
        {edataXX group_id=$group_id item_id=63}
        {assign var=key value=$edata}
        {include file="Mng/entry/include_detail.html"
                 val=$arrData[$key]
                 type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
        }
        {$_formItem.item_memo}
    </td>
</tr>