{if $formData.credit != "0"}
    {* 新規登録 *}
    {if $eid == ""}
            <div class="bname">Amount of Payment</div>

            <table class="rtbl">
                <tr>
                    <td>{strip}
                        {*　その他決済方法がある場合*}
                        {if $formData.kessai_flg == "1" && $formData.ather_price_flg != "1" && $formData.ather_price != ""}

                            {foreach from=$va_ather_price key=p_key item=p_item name=select}
                                {find_group_id p_key=$p_key}
                                {assign var=ather_price value=ather_price`$p_key`}
                                {assign var=sum value=sum`$p_key`}

                                {if $arrForm[$ather_price] != "" && $arrForm[$ather_price] != "0"}
                                    {if $arrTableGroup.$fee_group_id.show_label_confirm && $pre_group_id != $fee_group_id}
                                        {$arrTableGroup.$fee_group_id.label|strip_tags}
                                    {/if}
                                    {if !$arrTableGroup.$fee_group_id.show_label_confirm}<br/>{/if}
                                    <ul>
                                        <li>
                                        {$p_item.name|strip_tags}&nbsp;:&nbsp;{$yen_mark}{$arrForm[$sum]|number_format}&nbsp;
                                        （
                                         {if $p_item.p1|is_numeric}{$yen_mark}{$p_item.p1|number_format}{else}{$p_item.p1}{/if}
                                          × {$arrForm[$ather_price]|escape}{if $arrTableGroup.$fee_group_id.show_unit}{$p_item.tani}{/if}）
                                        </li>
                                    </ul>
                                {/if}
                                {assign var=pre_group_id value=$fee_group_id}

                            {/foreach}
                        {/if}
                        {/strip}

                        <span class="total">
                        <br />Amount of Total Payment&nbsp;:&nbsp;
                        {$yen_mark}{$arrForm.total_price|number_format}
                        </span>
                    </td>
                </tr>
            </table>

    {* 編集 *}
    {else}
        <div class="bname">Amount of Payment</div>

        <table class="rtbl">
            <tr>
                <td>{strip}
                    <ul>
                    
                    {foreach from=$arrPayment item=detail}
                        <li>
                            {* 金額 *}
                            
                            {if $detail.type == 0}
                                {if !$hide_fee_area}
                                    {$detail.name|show_amount|strip_tags}&nbsp;:&nbsp;
                                    {if $detail.price|is_numeric}
                                        {$yen_mark}{$detail.price|number_format}
                                    {else}
                                        {$detail.price}
                                    {/if}
                                {/if}

                            {* その他決済 *}
                            {else}
                                {$detail.name|strip_tags}&nbsp;:&nbsp;
                                {if $detail.price|is_numeric}
                                    {$yen_mark}{$detail.price|number_format}
                                {else}
                                    {$detail.price}
                                {/if}
                                （
                                    {if $detail.price|is_numeric}
                                        {$yen_mark}{$detail.price|number_format}
                                    {else}
                                        {$detail.price}
                                    {/if} × {$detail.quantity|escape}
                                 ）
                            {/if}
                        </li>
                    {/foreach}
                    </ul>
                    {/strip}
                    <span class="total">

                    <br />Amount of Total Payment&nbsp;:&nbsp;
                    {$yen_mark}{$payment_price|number_format}
                    </span>
                </td>
            </tr>
        </table>

    {/if}


    {if $payment_confirm_disp_flg == "1"}
        <div class="bname">Payment</div>
            <table class="rtbl">
                <tr>
                    <td>{$va_method[$arrForm.method]}</td>
                </tr>
        </table>

        <!-- 決済フォーム　-->
        <div class="bname">Payment Information</div>

        {if $arrForm.method == "1"}
            <table class="rtbl">
                <tr>
                    <td class="iname">
                        Card Type<span class="red">&nbsp;*</span>
                    </td>
                    <td>
                        {$va_card_type[$arrForm.card_type]}
                    </td>
                </tr>
                <tr>
                    <td class="iname">
                        Card Number<span class="red">&nbsp;*</span>
                    </td>
                    <td>
                        {if $arrForm.cardNumber != ""}**************{/if}
                    </td>
                </tr>
                <tr>
                    <td class="iname">
                        Expiration Date<span class="red">&nbsp;*</span>
                    </td>
                    <td>
                        {$arrForm.cardExpire1|escape}{if $arrForm.cardExpire1 != ""}Month{/if}&nbsp;&nbsp;{$arrForm.cardExpire2|escape}{if $arrForm.cardExpire2 != ""}Year{/if}
                    </td>
                </tr>
    <!--
                <tr>
                    <td class="iname">
                        支払区分<span class="red">&nbsp;*</span>
                    </td>
                    <td>
                        {$va_jpo1[$arrForm.jpo1]}
                    </td>
                </tr>

                <tr>
                    <td class="iname">
                        支払回数
                    </td>
                    <td>
                        {if $arrForm.jpo2 != ""}
                            {$arrForm.jpo2}回
                        {/if}

                    </td>
                </tr>

    -->
                <tr>
                    <td class="iname">
                        Card Holder's Name<span class="red">&nbsp;*</span>
                    </td>
                    <td>
                        {$arrForm.cardHolder|escape}
                    </td>
                </tr>

                <tr>
                    <td class="iname">
                        Security Code<span class="red">&nbsp;*</span>
                    </td>
                    <td>
                        {if $arrForm.securityCode != ""}
                           ***
                        {/if}
                    </td>
                </tr>
            </table>

        {elseif $arrForm.method == "2"}
            <table class="rtbl">
                <tr>
                    <td class="iname">
                        Name of remitter
                    </td>
                    <td>
                        {$arrForm.lessee|escape}
                    </td>
                </tr>
                <tr>
                    <td class="iname">
                        Name of the bank where you make remittance
                    </td>
                    <td>
                        {$arrForm.bank|escape}
                    </td>
                </tr>
                <tr>
                    <td class="iname">
                        Date of remittance
                    </td>
                    <td>
                        {$arrForm.closure|escape}
                    </td>
                </tr>
            </table>
        {/if}
    {/if}
{/if}
