{include file="include/header.html" _title="$_title"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.mode.value = 'search';
		f.submit();
	}
	
	function f_edit(mode, id){
		var f = document.frm;
		
		if(mode == '1' || mode == '2'){
			f.action ='Mng_edit_meet.php';
		}

		else if(mode == '3'){
			f.action ='Mng_meetinglist.php';
			if(!confirm('会議を削除すると、応募者情報も削除されます。\n会議を削除してもよろしいですか？')){
				return;
			}
			f.mode.value = 'del';
		}
		else if(mode == '5'){
			f.action ='Mng_meetentrant.php';
		}
		
		if(mode == '2' || mode == '3' || mode == '5'){
			f.mid.value = id;
		}

		f.submit();
	}
	
	function f_back(id){
		var f = document.frm;
		
		f.mode.value = 'search';
		f.action = 'index.php';
		f.submit();
	}


	
	function f_allcheck(){
		
		var f = document.frm;
		
		if(f.all.checked == true){
			var exec = true;
		}
		else{
			var exec = false;
		}

      var ElementsCount = f['entry_ids' + '[]'].length; // チェックボックスの数
      for( i=0 ; i<ElementsCount ; i++ ) {
         f['entry_ids' + '[]'][i].checked = exec; // ON・OFFを切り替え
      }

	}
</script>
{/literal}

<div class="ttl">
	<h2>会議管理</h2>
</div>

<br />
<form name="frm" method="post">
{*エラーメッセージ*}
{if $arrErr}
	<div class="errmsg">
		{foreach from=$arrErr item=err}
			<p>{$err|escape}</p>
		{/foreach}
	</div>
{/if}
<table class="listtbl">
	<tr>
		<th>会議名</th>
		<td><input type="text" name="sk_name" size="50" value="{$arrForm.sk_name}" /></td>
	</tr>
	<tr>
		<th>開催日</th>
		<td>
			<select name="sk_oyear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.sk_oyear}
			</select>年
			<select name="sk_omonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.sk_omonth}
			</select>月
			<select name="sk_oday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.sk_oday}
			</select>	
		</td>		
	</tr>
	<tr>
		<th>受付期間</th>
		<td>
			<select name="sk_syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.sk_syear}
			</select>年
			<select name="sk_smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.sk_smonth}
			</select>月
			<select name="sk_sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.sk_sday}
			</select>日～						
			<select name="sk_eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.sk_eyear}
			</select>年
			<select name="sk_emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.sk_emonth}
			</select>月
			<select name="sk_eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.sk_eday}
			</select>日			
		</td>
	</tr>

		
</table>

<div class="btn">
	<input type="button" value="検索" onclick="f_submit();" />
</div>

<input type="hidden" name="mode" value="" />



<br />
<div>
	<input type="button" value="新しい会議の登録" onclick="f_edit('1', '');" />
</div>
<br />
{if $list}



	<table class="listtbl">
		<tr>
			<!--<th><input type="checkbox" name="all" value="" onclick="f_allcheck();" /></th>-->
			<th>会議名</th>
			<th >開催日</th>
			<th >受付期間</th>
			<th>登録日</th>
			<th>更新日</th>
			<th>処理</th>
		</tr>

		{foreach from=$list item=meet}
		<tr>
		<!--
			<td class="c">
				<input type="checkbox" name="entry_ids[]" value="{$entry.entry_id}" />
			</td>
		-->	
			<td>{$meet.title}</td>
			<td>{$meet.open_date|date_format:"%Y-%m-%d"}</td>
			<td>{$meet.reception_date1|date_format:"%Y-%m-%d"}～{$meet.reception_date2|date_format:"%Y-%m-%d"}</td>

			<td>{$meet.rdate}</td>
			<td>{$meet.udate}</td>

		
			<td class="c">
				<input type="button" value="参加者一覧" onclick="f_edit('5','{$meet.mid}');" />
				<input type="button" value="編集" onclick="f_edit('2','{$meet.mid}');" />
				<input type="button" value="削除" onclick="f_edit('3','{$meet.mid}');" />
			</td>
		</tr>			
		{/foreach}
	
	</table>
	<input type="hidden" name="mid" value="" />
	

{/if}
</form>
{include file="include/footer.html"}