{include file="include/header.html" _title="$_title"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.mode.value = 'complete';
		f.action = 'Mng_edit_meet.php';
		f.submit();
	}
	function f_back(){
		var f = document.frm;
		f.action = 'Mng_edit_meet.php';
		f.mode.value = 'back';
		f.submit();		
	}

</script>
{/literal}

<div class="ttl">
	<h2>会議参加フォーム　プレビュー</h2>
</div>



<form name="frm" method="post">

{foreach key=key item=item from=$arrForm}
	<input type="hidden" name="{$key}" value="{$item|escape}">
{/foreach}

<p>※内容をご確認の上、よろしければ「登録」ボタンをクリックしてください。</p>

<div class="c">
	<iframe src="{$preview_url}" width="900" height="700" frameborder="1" readonly="readonly">フォームプレビュー</iframe>	
</div>


	
<input type="hidden" name="mode" value="" />

<br />
<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
	<input type="button" value="登録" onclick="f_submit();" />
</div>




</form>
{include file="include/footer.html"}