{include file="include/header.html" _title="$title"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.act.value = 'complete';
		f.action = 'Mng_meet_plural.php';
		f.submit();
	}
	

	function f_back(id){
		var f = document.frm;
		
		f.act.value = 'search';
		f.action = 'index.php';
		f.submit();
	}

</script>
{/literal}

<div class="ttl">
	<h2>会議参加情報　一括処理（{$exec_name}）</h2>
</div>

<br />
<form name="frm" method="post">

	{foreach key=key item=item from=$arrForm}
		<input type="hidden" name="{$key}" value="{$item|escape}">
	{/foreach}


<br />


	<p>※下記会議参加情報の{$exec_name}処理を行います。<br />内容をご確認の上、よろしければ「{$exec_name}」ボタンをクリックしてください。
	</p>
	<table class="listtbl">
		<tr>

			<th>応募者</th>
			<th>応募者（かな）</th>
			<th>email</th>
			<th>演題</th>
			<th>状態</th>
			<th>受付日</th>

		</tr>

		{foreach from=$list item=entry}
		<tr>
			<td>{$entry.user_name}</td>
			<td>{$entry.user_kname}</td>
			<td>{$entry.email}</td>
			<td>{$entry.item27}</td>
			<td>{$entry.status}</td>
			<td>{$entry.rdate}</td>

		</tr>			
		{/foreach}
	
	</table>
<br />
<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
	<input type="button" value="{$exec_name}" onclick="f_submit();" />
</div>

</form>
{include file="include/footer.html"}