</table>
<table class="listtbl f16mng_schedule">
<tr>
	<th class="iname f16r1">Month / Date</th>
	<th class="iname f16r2">Activity</th>
	<th class="iname f16r3">Hotel</th>
</tr>
{* Schedule最初の行 *}
<tr>
	<td>{$arrData.edata73|cnvDateFormat|date_format:"%d %B"|escape}</td>
	<td>{$arrData.edata157|escape}</td>
	<td>
		<dl class="list">
			<dt>{$formItem[$item_id].item_name|default:$ini.defname}</dt>
			<dd>
				{assign var=key value="edata`$item_id`"}
				{include file="Mng/entry/include_detail.html"
						 val=$arrData[$key]
					     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
				}
			</dd>

			{assign var="item_id"   value=55}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=key 		value="edata`$item_id`"}
			{if $formItem[$item_id].disp != "1"}
			<dt>{$formItem[$item_id].item_name|default:$ini.defname}</dt>
			<dd>
				{include file="Mng/entry/include_detail.html"
						 val=$arrData[$key]
					     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
				}
			</dd>
			{/if}

			{assign var="item_id"   value=56}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=key         value="edata`$item_id`"}
			{if $formItem[$item_id].disp != "1"}
			<dt>{$formItem[$item_id].item_name|default:$ini.defname}</dt>
			<dd>
				{include file="Mng/entry/include_detail.html"
						 val=$arrData[$key]
					     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
				}
			</dd>
			{/if}

			{assign var="item_id"   value=67}
			{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
			{assign var=key 		value="edata`$item_id`"}
			{if $formItem[$item_id].disp != "1"}
			<dt>{$formItem[$item_id].item_name|default:$ini.defname}</dt>
			<dd>
				{include file="Mng/entry/include_detail.html"
						 val=$arrData[$key]
					     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
				}
			</dd>
			{/if}
		</dl>
	</td>


	{assign var="item_id"   value=67}
	{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
	{assign var=edata  		value="edata`$item_id`"}
	{if $_formItem.disp != "1"}
		{* Schedule滞在日数の行 *}
		{section name=cnt start=0 loop=$arrData.edata143}
	    {assign var="index" value=$smarty.section.cnt.index}
	    {assign var="first" value=$smarty.section.cnt.first}
		{assign var="i"     value=$arrData.edata158.$index|form16_dateindex}
		<tr>
			<td>{$arrData.edata158.$index|cnvDateFormat|date_format:"%d %B"|escape}</td>
			<td>
				{assign var="item_id"   value=99}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var=key 		value="edata`$item_id`"}
				{$arrData[$key].$i|nl2br}
			</td>
			<td>
				<dl class="list">
				{* etc7 *}
				{assign var="item_id"   value=100}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var=key 		value="edata`$item_id`"}
				{if $_formItem.disp != "1" && $_formItem.item_type == "4"}
					{assign var="id" value="`$edata`_`$index`"}
					<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
					<dd>
						{if $formItem[$item_id].disp != "1"}
							{include file="Mng/entry/include_detail.html"
									 val=$arrData[$key].$i
								     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
							}
						{/if}
					</dd>
				{/if}

				{* etc8 *}
				{assign var="item_id"   value=101}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var=key 		value="edata`$item_id`"}
				{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
					{assign var="id" value="`$edata`_`$index`"}
					<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
					<dd>
						{if $formItem[$item_id].disp != "1"}
							{include file="Mng/entry/include_detail.html"
									 val=$arrData[$key].$i
								     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
							}
						{/if}
					</dd>
				{/if}

				{* etc9 *}
				{assign var="item_id"   value=102}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var=key 		value="edata`$item_id`"}
				{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
					{assign var="id" value="`$edata`_`$index`"}
					<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
					<dd>
						{if $formItem[$item_id].disp != "1"}
							{include file="Mng/entry/include_detail.html"
									 val=$arrData[$key].$i
								     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
							}
						{/if}
					</dd>
				{/if}

				{* etc10 *}
				{assign var="item_id"   value=103}
				{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
				{assign var=key 		value="edata`$item_id`"}
				{if $_formItem.disp != "1" && $_formItem.item_type == "0"}
					{assign var="id" value="`$edata`_`$index`"}
					<dt>{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}</dt>
					<dd>
						{if $formItem[$item_id].disp != "1"}
							{include file="Mng/entry/include_detail.html"
									 val=$arrData[$key].$i
								     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
							}
						{/if}
					</dd>
				{/if}
				</dl>
			</td>
		</tr>
		{/section}
	{/if}


	{* Schedule最後の行 *}
	<tr>
		<td>{$arrData.edata77|cnvDateFormat|date_format:"%d %B"|escape}</td>
		<td>{$arrData.edata159|escape}</td>
		<td>&nbsp;</td>
	</tr>
</tr>
