<tr>
	<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
	<td>{assign var=key value="edata`$item_id`"}Date
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}&nbsp;

		{assign var="item_id"   value=28}
		{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
		{assign var=key value="edata`$item_id`"}Month
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}&nbsp;

		{assign var="item_id"   value=63}
		{assign var="_formItem" value=$arrItemData.$group_id.$item_id}
		{assign var=key value="edata`$item_id`"}Year
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}&nbsp;
	</td>
</tr>
